<ion-content class="bg-white">
  <ion-list id="list" lines="full">
    <ion-item *ngIf="notiNumber$ | async">
      <ion-thumbnail slot="start" class="p-2">
        <img src="assets/message.svg" />
      </ion-thumbnail>
      <ion-label>
        <h2>
          <strong>
            [<b>{{ category.name }}</b
            >] {{ service.name }}</strong
          >
        </h2>
        <h3>
          <p class="text-secondary">Bạn vừa thanh toán thành công dịch vụ</p>
          <p class="text-secondary">
            Cảm ơn bạn đã sử dụng dịch vụ của Easifix !
          </p>
        </h3>
      </ion-label>
    </ion-item>
    <ion-item
      *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]"
    >
      <ion-thumbnail slot="start" class="p-2">
        <img [src]="i % 6 ? 'assets/giftbox.svg' : 'assets/message.svg'" />
      </ion-thumbnail>
      <ion-label>
        <h2>
          <strong>{{
            i % 6 == 0
              ? 'Bạn nhận được tin nhắn'
              : i % 3 == 0
              ? 'Dùng thử miễn phí'
              : 'Bạn được giảm ' + ((i % 5) + 1) + '0% hóa đơn'
          }}</strong>
        </h2>
        <h3>
          <p class="text-secondary">
            {{
              i % 6 == 0
                ? 'Đoàn Văn Hậu đã nhắn tin cho bạn'
                : i % 3 == 0
                ? 'Dùng thử miễn phí'
                : 'EF40 được giảm 50% phí'
            }}
          </p>
          <p class="text-secondary">sửa chữa trong lần đầu sử dụng ứng dụng</p>
        </h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
