<ion-content color="light">
  <ion-card class="w-90 mx-auto my-2" [routerLink]="['..', 'promotion-detail']">
    <img src="assets/banner-3.jpeg" />
  </ion-card>
  <div class="p-3">
    <h4>
      <b>{{ 'bảo trì sản phẩm - nhập EF123 để áp dụng' | uppercase }}</b>
    </h4>
    <div class="small text-muted text-right">
      Từ ngày 08/10/2020 đến 31/10/2020
    </div>
    <br />
    <br />
    <p>
      Sự đi xuống của ngành công nghiệp không khói kéo theo làn sóng sa sút của
      các dịch vụ phái sinh, ở đây chúng tôi đang nói đến việc đặt phòng nghỉ,
      đặt vé máy bay và các dịch vụ hỗ trợ du lịch…
    </p>

    <p>
      Hơn 30% lượng phòng đặt các khách sạn cao cấp đến từ công ty lữ hành và
      nhà điều hành tour. Xếp thứ hai là các đại lý du lịch trực tuyến (Online
      Travel Agencies – OTAs) đóng góp gần 26%, nhưng tăng khá chậm trong những
      năm gần đây.
    </p>
  </div>
</ion-content>
