.mediaViewInfo {
  --web-view-name: policy-screen;
  --web-view-id: policy-screen;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}

:root {
  --web-view-ids: policy-screen;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

#policy-screen {
  position: absolute;
  width: 360px;
  height: 1115px;
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
  --web-view-name: policy-screen;
  --web-view-id: policy-screen;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}

#Group_9672 {
  position: absolute;
  width: 1129.174px;
  height: 680.36px;
  left: -525.334px;
  top: -469.36px;
  overflow: visible;
}

#Group_9752 {
  position: absolute;
  width: 1129.174px;
  height: 680.36px;
  left: 0px;
  top: 0px;
  overflow: visible;
}

#Background {
  fill: rgba(51, 191, 154, 1);
}

.Background {
  overflow: visible;
  position: absolute;
  width: 1129.174px;
  height: 680.36px;
  transform: translate(0px, 0px) matrix(1, 0, 0, 1, 0, 0) rotate(180deg);
  transform-origin: center;
  left: 0px;
  top: 0px;
}

#Header1 {
  position: absolute;
  width: 335px;
  height: 20px;
  left: 13px;
  top: 20px;
  overflow: visible;
}

#Mask_Group_9877 {
  position: absolute;
  width: 12px;
  height: 20px;
  left: 323px;
  top: 0px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: policy_setting.html;
  cursor: pointer;
}

#Fixing_Time {
  left: 135.914px;
  top: 2px;
  position: absolute;
  overflow: visible;
  width: 63px;
  white-space: nowrap;
  text-align: left;

  font-weight: bold;
  font-size: 13px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 0.7142857360839844px;
  text-transform: uppercase;
}

#back_icon {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0px;
  top: 0px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: setting.html;
  cursor: pointer;
}

#Path_2863 {
  fill: rgba(255, 255, 255, 1);
}

.Path_2863 {
  overflow: visible;
  position: absolute;
  width: 360px;
  height: 732px;
  left: 0px;
  top: 50px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#HoaNT_-_Box-shadow {
  position: absolute;
  width: 360px;
  height: 200px;
  left: 0px;
  top: 50px;
  overflow: visible;
}

#bg {
  position: absolute;
  width: 360px;
  height: 200px;
  left: 0px;
  top: 0px;
  overflow: visible;
}

#iu_khon_s_dng_dch_v {
  left: 119.471px;
  top: 262px;
  position: absolute;
  overflow: visible;
  width: 123px;
  white-space: nowrap;
  line-height: 35px;
  margin-top: -13px;
  text-align: center;

  font-weight: bold;
  font-size: 9px;
  color: rgba(48, 48, 48, 1);
}

#Cc_iu_khon_di_y_iu_khon_iu_chn {
  left: 21px;
  top: 284px;
  position: absolute;
  overflow: visible;
  width: 320px;
  height: 154px;
  line-height: 20px;
  margin-top: -4px;
  text-align: left;

  font-weight: normal;
  font-size: 12px;
  color: rgba(48, 48, 48, 1);
}

#VUI_LNG_C_K_CC_IU_KHON_NY_TRC_ {
  left: 21px;
  top: 458px;
  position: absolute;
  overflow: visible;
  width: 320px;
  height: 35px;
  line-height: 20px;
  margin-top: -4px;
  text-align: left;

  font-weight: bold;
  font-size: 12px;
  color: rgba(48, 48, 48, 1);
}

#iu_1_Ni_dung_dch_v_c_cung_cp_t {
  left: 21px;
  top: 523px;
  position: absolute;
  overflow: visible;
  width: 297px;
  white-space: nowrap;
  text-align: left;

  font-weight: bold;
  font-size: 12px;
  color: rgba(48, 48, 48, 1);
}

#Cng_ty_cung_cp_mt_nn_tng_cng_n {
  left: 20px;
  top: 588px;
  position: absolute;
  overflow: visible;
  width: 320px;
  height: 434px;
  line-height: 20px;
  margin-top: -4px;
  text-align: left;

  font-weight: normal;
  font-size: 12px;
  color: rgba(48, 48, 48, 1);
}
