.mediaViewInfo {
  --web-view-name: store-map-details;
  --web-view-id: store-map-details;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}

:root {
  --web-view-ids: store-map-details;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

#store-map-details {
  position: absolute;
  width: 381px;
  height: 812px;
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
  --web-view-name: store-map-details;
  --web-view-id: store-map-details;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#Screen_Shot_2020-09-27_at_2320 {
  opacity: 0.538;
  position: absolute;
  width: 774px;
  height: 735px;
  left: -151px;
  top: -26px;
  overflow: visible;
}

#info-bg {
  fill: rgba(255, 255, 255, 1);
}

.info-bg {
  overflow: visible;
  position: absolute;
  width: 381px;
  height: 122.474px;
  left: 0px;
  top: 689.271px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#back_icon {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 11px;
  top: 45px;
  overflow: visible;
}

#Group_10337 {
  position: fixed;
  width: 380px;
  height: 70.739px;
  left: 1px;
  top: 741.261px;
  overflow: visible;
}

#Path_3058 {
  opacity: 0.997;
  fill: rgba(247, 247, 247, 1);
}

.Path_3058 {
  filter: drop-shadow(0px -1px 0px rgba(2, 2, 2, 0.4));
  overflow: visible;
  position: absolute;
  width: 380px;
  height: 71.739px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Home_Indicator {
  position: absolute;
  width: 134px;
  height: 5px;
  left: 124px;
  top: 56.739px;
  overflow: visible;
}

#Rectangle_24 {
  fill: rgba(189, 189, 189, 1);
}

.Rectangle_24 {
  position: absolute;
  overflow: visible;
  width: 134px;
  height: 5px;
  left: 0px;
  top: 0px;
}

#Thong_TIn {
  position: absolute;
  width: 35.127px;
  height: 35.976px;
  left: 317px;
  top: 16.739px;
  overflow: visible;
}

#list-symbol-of-three-items-wit {
  position: absolute;
  width: 35.127px;
  height: 24.374px;
  left: 0px;
  top: 0px;
  overflow: visible;
}

#_x33__32_ {
  position: absolute;
  width: 35.127px;
  height: 24.374px;
  left: 0px;
  top: 0px;
  overflow: visible;
}

#Group_10306 {
  position: absolute;
  width: 35.127px;
  height: 24.374px;
  left: 0px;
  top: 0px;
  overflow: visible;
}

#Path_3265 {
  fill: transparent;
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 1.5px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_3265 {
  overflow: visible;
  position: absolute;
  width: 36.627px;
  height: 25.874px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Thng_tin {
  left: 0.743px;
  top: 26.976px;
  position: absolute;
  overflow: visible;
  width: 34px;
  white-space: nowrap;
  line-height: 18px;
  margin-top: -5px;
  text-align: left;
  font-family: Helvetica Neue;

  font-weight: lighter;
  font-size: 8px;
  color: rgba(80, 80, 80, 1);
}

#Thong_Bao {
  position: absolute;
  width: 38px;
  height: 40px;
  left: 222px;
  top: 12.739px;
  overflow: visible;
}

#notification {
  position: absolute;
  width: 25.115px;
  height: 27.398px;
  left: 6.056px;
  top: 0px;
  overflow: visible;
}

#Path_3262 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 1.5px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_3262 {
  overflow: visible;
  position: absolute;
  width: 10.224px;
  height: 4.925px;
  left: 7.222px;
  top: 23.973px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Path_3263 {
  fill: transparent;
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 1.5px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_3263 {
  overflow: visible;
  position: absolute;
  width: 24.364px;
  height: 22.049px;
  left: 0px;
  top: 2.283px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Path_3264 {
  fill: transparent;
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 1.5px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_3264 {
  overflow: visible;
  position: absolute;
  width: 12.916px;
  height: 12.916px;
  left: 13.7px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Thng_bo {
  left: 0px;
  top: 31px;
  position: absolute;
  overflow: visible;
  width: 39px;
  white-space: nowrap;
  line-height: 18px;
  margin-top: -5px;
  text-align: left;
  font-family: Helvetica Neue;

  font-weight: lighter;
  font-size: 8px;
  color: rgba(80, 80, 80, 1);
}

#Lich_Su {
  position: absolute;
  width: 27.895px;
  height: 45px;
  left: 137.959px;
  top: 7.739px;
  overflow: visible;
}

#Path_3261 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07999999821186066px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_3261 {
  overflow: visible;
  position: absolute;
  width: 25.716px;
  height: 31.341px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Lch_s {
  left: 1.895px;
  top: 36px;
  position: absolute;
  overflow: visible;
  width: 27px;
  white-space: nowrap;
  line-height: 18px;
  margin-top: -5px;
  text-align: left;
  font-family: Helvetica Neue;

  font-weight: lighter;
  font-size: 8px;
  color: rgba(80, 80, 80, 1);
}

#Home {
  position: absolute;
  width: 55px;
  height: 45.249px;
  left: 34px;
  top: 7.739px;
  overflow: visible;
}

#house {
  position: absolute;
  width: 25.359px;
  height: 32.685px;
  left: 13px;
  top: 0px;
  overflow: visible;
}

#Group_10261 {
  position: absolute;
  width: 0.792px;
  height: 9.732px;
  left: 8.717px;
  top: 7.121px;
  overflow: visible;
}

#Group_10260 {
  position: absolute;
  width: 0.792px;
  height: 9.732px;
  left: 0px;
  top: 0px;
  overflow: visible;
}

#Path_3238 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_3238 {
  overflow: visible;
  position: absolute;
  width: 0.871px;
  height: 9.811px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Group_10263 {
  position: absolute;
  width: 0.792px;
  height: 9.763px;
  left: 19.812px;
  top: 7.09px;
  overflow: visible;
}

#Group_10262 {
  position: absolute;
  width: 0.792px;
  height: 9.763px;
  left: 0px;
  top: 0px;
  overflow: visible;
}

#Path_3239 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_3239 {
  overflow: visible;
  position: absolute;
  width: 0.871px;
  height: 9.841px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Group_10265 {
  position: absolute;
  width: 7.529px;
  height: 7.15px;
  left: 7.528px;
  top: 0px;
  overflow: visible;
}

#Group_10264 {
  position: absolute;
  width: 7.529px;
  height: 7.15px;
  left: 0px;
  top: 0px;
  overflow: visible;
}

#Path_3240 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_3240 {
  overflow: visible;
  position: absolute;
  width: 7.652px;
  height: 7.229px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Group_10267 {
  position: absolute;
  width: 7.529px;
  height: 7.15px;
  left: 14.264px;
  top: 0px;
  overflow: visible;
}

#Group_10266 {
  position: absolute;
  width: 7.529px;
  height: 7.15px;
  left: 0px;
  top: 0px;
  overflow: visible;
}

#Path_3241 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_3241 {
  overflow: visible;
  position: absolute;
  width: 7.653px;
  height: 7.229px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Group_10269 {
  position: absolute;
  width: 7.529px;
  height: 7.15px;
  left: 7.528px;
  top: 2.043px;
  overflow: visible;
}

#Group_10268 {
  position: absolute;
  width: 7.529px;
  height: 7.15px;
  left: 0px;
  top: 0px;
  overflow: visible;
}

#Path_3242 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_3242 {
  overflow: visible;
  position: absolute;
  width: 7.652px;
  height: 7.229px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Group_10271 {
  position: absolute;
  width: 7.529px;
  height: 7.15px;
  left: 14.264px;
  top: 2.043px;
  overflow: visible;
}

#Group_10270 {
  position: absolute;
  width: 7.529px;
  height: 7.15px;
  left: 0px;
  top: 0px;
  overflow: visible;
}

#Path_3243 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_3243 {
  overflow: visible;
  position: absolute;
  width: 7.653px;
  height: 7.229px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Group_10273 {
  position: absolute;
  width: 0.792px;
  height: 3.064px;
  left: 7.528px;
  top: 6.129px;
  overflow: visible;
}

#Group_10272 {
  position: absolute;
  width: 0.792px;
  height: 3.064px;
  left: 0px;
  top: 0px;
  overflow: visible;
}

#Path_3244 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_3244 {
  overflow: visible;
  position: absolute;
  width: 0.871px;
  height: 3.142px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Group_10275 {
  position: absolute;
  width: 0.792px;
  height: 3.064px;
  left: 21px;
  top: 6.129px;
  overflow: visible;
}

#Group_10274 {
  position: absolute;
  width: 0.792px;
  height: 3.064px;
  left: 0px;
  top: 0px;
  overflow: visible;
}

#Path_3245 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_3245 {
  overflow: visible;
  position: absolute;
  width: 0.87px;
  height: 3.142px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Group_10277 {
  position: absolute;
  width: 3.962px;
  height: 7.66px;
  left: 12.679px;
  top: 9.193px;
  overflow: visible;
}

#Group_10276 {
  position: absolute;
  width: 3.962px;
  height: 7.66px;
  left: 0px;
  top: 0px;
  overflow: visible;
}

#Path_3246 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_3246 {
  overflow: visible;
  position: absolute;
  width: 4.041px;
  height: 7.739px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Group_10279 {
  position: absolute;
  width: 11.887px;
  height: 1.021px;
  left: 8.717px;
  top: 15.832px;
  overflow: visible;
}

#Group_10278 {
  position: absolute;
  width: 11.887px;
  height: 1.021px;
  left: 0px;
  top: 0px;
  overflow: visible;
}

#Path_3247 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_3247 {
  overflow: visible;
  position: absolute;
  width: 11.965px;
  height: 1.099px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Group_10281 {
  position: absolute;
  width: 0.794px;
  height: 1.021px;
  left: 1.991px;
  top: 29.621px;
  overflow: visible;
}

#Group_10280 {
  position: absolute;
  width: 0.794px;
  height: 1.021px;
  left: 0px;
  top: 0px;
  overflow: visible;
}

#Path_3248 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_3248 {
  overflow: visible;
  position: absolute;
  width: 0.873px;
  height: 1.1px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Group_10283 {
  position: absolute;
  width: 2.377px;
  height: 4.834px;
  left: 22.981px;
  top: 20.428px;
  overflow: visible;
}

#Group_10282 {
  position: absolute;
  width: 2.377px;
  height: 4.834px;
  left: 0px;
  top: 0px;
  overflow: visible;
}

#Path_3249 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_3249 {
  overflow: visible;
  position: absolute;
  width: 2.456px;
  height: 4.912px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Group_10285 {
  position: absolute;
  width: 11.491px;
  height: 8.445px;
  left: 13.075px;
  top: 24.24px;
  overflow: visible;
}

#Group_10284 {
  position: absolute;
  width: 11.491px;
  height: 8.445px;
  left: 0px;
  top: 0px;
  overflow: visible;
}

#Path_3250 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_3250 {
  overflow: visible;
  position: absolute;
  width: 11.607px;
  height: 8.525px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Group_10287 {
  position: absolute;
  width: 9.906px;
  height: 2.554px;
  left: 3.962px;
  top: 30.131px;
  overflow: visible;
}

#Group_10286 {
  position: absolute;
  width: 9.906px;
  height: 2.554px;
  left: 0px;
  top: 0px;
  overflow: visible;
}

#Path_3251 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_3251 {
  overflow: visible;
  position: absolute;
  width: 9.989px;
  height: 2.633px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Group_10289 {
  position: absolute;
  width: 4.755px;
  height: 14.81px;
  left: 0px;
  top: 17.364px;
  overflow: visible;
}

#Group_10288 {
  position: absolute;
  width: 4.755px;
  height: 14.81px;
  left: 0px;
  top: 0px;
  overflow: visible;
}

#Path_3252 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_3252 {
  overflow: visible;
  position: absolute;
  width: 4.833px;
  height: 14.888px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Group_10291 {
  position: absolute;
  width: 8.446px;
  height: 2.523px;
  left: 15.057px;
  top: 20.458px;
  overflow: visible;
}

#Group_10290 {
  position: absolute;
  width: 8.446px;
  height: 2.523px;
  left: 0px;
  top: 0px;
  overflow: visible;
}

#Path_3253 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_3253 {
  overflow: visible;
  position: absolute;
  width: 8.531px;
  height: 2.602px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Group_10293 {
  position: absolute;
  width: 2.377px;
  height: 5.076px;
  left: 13.472px;
  top: 19.949px;
  overflow: visible;
}

#Group_10292 {
  position: absolute;
  width: 2.377px;
  height: 5.076px;
  left: 0px;
  top: 0px;
  overflow: visible;
}

#Path_3254 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_3254 {
  overflow: visible;
  position: absolute;
  width: 2.456px;
  height: 5.155px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Group_10295 {
  position: absolute;
  width: 7.009px;
  height: 2.585px;
  left: 7.528px;
  top: 18.385px;
  overflow: visible;
}

#Group_10294 {
  position: absolute;
  width: 7.009px;
  height: 2.585px;
  left: 0px;
  top: 0px;
  overflow: visible;
}

#Path_3255 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_3255 {
  overflow: visible;
  position: absolute;
  width: 7.097px;
  height: 2.664px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Group_10297 {
  position: absolute;
  width: 4.359px;
  height: 1.021px;
  left: 3.962px;
  top: 18.385px;
  overflow: visible;
}

#Group_10296 {
  position: absolute;
  width: 4.359px;
  height: 1.021px;
  left: 0px;
  top: 0px;
  overflow: visible;
}

#Path_3256 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_3256 {
  overflow: visible;
  position: absolute;
  width: 4.437px;
  height: 1.099px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Group_10299 {
  position: absolute;
  width: 5.777px;
  height: 1.521px;
  left: 8.321px;
  top: 23.492px;
  overflow: visible;
}

#Group_10298 {
  position: absolute;
  width: 5.777px;
  height: 1.521px;
  left: 0px;
  top: 0px;
  overflow: visible;
}

#Path_3257 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_3257 {
  overflow: visible;
  position: absolute;
  width: 5.857px;
  height: 1.6px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Group_10301 {
  position: absolute;
  width: 1.063px;
  height: 1.051px;
  left: 22.71px;
  top: 20.428px;
  overflow: visible;
}

#Group_10300 {
  position: absolute;
  width: 1.063px;
  height: 1.051px;
  left: 0px;
  top: 0px;
  overflow: visible;
}

#Path_3258 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_3258 {
  overflow: visible;
  position: absolute;
  width: 1.146px;
  height: 1.129px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Group_10303 {
  position: absolute;
  width: 0.958px;
  height: 1.033px;
  left: 13.306px;
  top: 23.991px;
  overflow: visible;
}

#Group_10302 {
  position: absolute;
  width: 0.958px;
  height: 1.033px;
  left: 0px;
  top: 0px;
  overflow: visible;
}

#Path_3259 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_3259 {
  overflow: visible;
  position: absolute;
  width: 1.038px;
  height: 1.112px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Group_10305 {
  position: absolute;
  width: 0.794px;
  height: 1.021px;
  left: 13.482px;
  top: 12.768px;
  overflow: visible;
}

#Group_10304 {
  position: absolute;
  width: 0.794px;
  height: 1.021px;
  left: 0px;
  top: 0px;
  overflow: visible;
}

#Path_3260 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_3260 {
  overflow: visible;
  position: absolute;
  width: 0.873px;
  height: 1.1px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Mn_hnh_chnh {
  left: 0px;
  top: 36.249px;
  position: absolute;
  overflow: visible;
  width: 56px;
  white-space: nowrap;
  line-height: 18px;
  margin-top: -5px;
  text-align: left;
  font-family: Helvetica Neue;

  font-weight: lighter;
  font-size: 8px;
  color: rgba(80, 80, 80, 1);
}

#info-bg_ex {
  fill: rgba(255, 255, 255, 1);
}

.info-bg_ex {
  overflow: visible;
  position: absolute;
  width: 381px;
  height: 136.623px;
  left: 0px;
  top: 675.122px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Home_Indicator_ey {
  position: absolute;
  width: 134px;
  height: 5px;
  left: 122px;
  top: 798px;
  overflow: visible;
}

#Rectangle_24_ez {
  fill: rgba(189, 189, 189, 1);
}

.Rectangle_24_ez {
  position: absolute;
  overflow: visible;
  width: 134px;
  height: 5px;
  left: 0px;
  top: 0px;
}

#Light_Status_Bar_f {
  position: absolute;
  width: 347.328px;
  height: 16.669px;
  left: 6px;
  top: 14.331px;
  overflow: visible;
}

#Battery_f {
  position: absolute;
  width: 24.328px;
  height: 11.333px;
  left: 323px;
  top: 0.003px;
  overflow: visible;
}

#Border_f {
  fill: rgba(0, 0, 0, 0);
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}

.Border_f {
  position: absolute;
  overflow: visible;
  width: 22px;
  height: 11.333px;
  left: 0px;
  top: 0px;
}

#Cap_ga {
  fill: rgba(255, 255, 255, 1);
}

.Cap_ga {
  overflow: visible;
  position: absolute;
  width: 1.328px;
  height: 4px;
  left: 23px;
  top: 3.667px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Capacity_gb {
  fill: rgba(255, 255, 255, 1);
}

.Capacity_gb {
  position: absolute;
  overflow: visible;
  width: 18px;
  height: 7.333px;
  left: 2px;
  top: 2px;
}

#Wifi_gc {
  opacity: 0.96;
  fill: rgba(255, 255, 255, 1);
}

.Wifi_gc {
  overflow: visible;
  position: absolute;
  width: 15.272px;
  height: 10.966px;
  left: 302.694px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Cellular_Connection_gd {
  fill: rgba(255, 255, 255, 1);
}

.Cellular_Connection_gd {
  overflow: visible;
  position: absolute;
  width: 17px;
  height: 10.667px;
  left: 280.667px;
  top: 0.336px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Time_Style_ge {
  position: absolute;
  width: 54px;
  height: 16px;
  left: 0px;
  top: 0.669px;
  overflow: visible;
}

#_Time_gf {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 55px;
  height: 16px;
  text-align: center;
  font-family: Helvetica Neue;

  font-weight: normal;
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: -0.2px;
}

#Group_10366 {
  position: absolute;
  width: 381px;
  height: 318.877px;
  left: 0px;
  top: 492.867px;
  overflow: visible;
}

#info-bg_fa {
  fill: rgba(255, 255, 255, 1);
}

.info-bg_fa {
  overflow: visible;
  position: absolute;
  width: 381px;
  height: 134.483px;
  left: 0px;
  top: 184.395px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Icon_awesome-chevron-up {
  fill: rgba(255, 255, 255, 1);
}

.Icon_awesome-chevron-up {
  overflow: visible;
  position: absolute;
  width: 27.847px;
  height: 16.9px;
  transform: translate(0px, -492.867px) matrix(1, 0, 0, 1, 176.1527, 492.8669)
    rotate(180deg);
  transform-origin: center;
  left: 0px;
  top: 0px;
}

#Group_10358 {
  position: absolute;
  width: 315px;
  height: 78px;
  left: 24px;
  top: 208.133px;
  overflow: visible;
}

#ID0900_-_2359 {
  left: 137px;
  top: 64px;
  position: absolute;
  overflow: visible;
  width: 72px;
  white-space: nowrap;
  line-height: 16px;
  margin-top: -2px;
  text-align: left;
  font-family: Helvetica Neue;

  font-weight: normal;
  font-size: 12px;
  color: rgba(121, 121, 121, 1);
}

#M_ca {
  left: 72px;
  top: 62px;
  position: absolute;
  overflow: visible;
  width: 54px;
  white-space: nowrap;
  line-height: 35px;
  margin-top: -10.5px;
  text-align: left;
  font-family: Helvetica Neue;

  font-weight: normal;
  font-size: 14px;
  color: rgba(121, 121, 121, 1);
}

#ID999_nh_gi {
  left: 214px;
  top: 45px;
  position: absolute;
  overflow: visible;
  width: 85px;
  white-space: nowrap;
  line-height: 16px;
  margin-top: -2px;
  text-align: left;
  font-family: Helvetica Neue;

  font-weight: normal;
  font-size: 12px;
  color: rgba(121, 121, 121, 1);
}

#ID49 {
  left: 193px;
  top: 45px;
  position: absolute;
  overflow: visible;
  width: 18px;
  white-space: nowrap;
  line-height: 16px;
  margin-top: -2px;
  text-align: left;
  font-family: Helvetica Neue;

  font-weight: normal;
  font-size: 12px;
  color: rgba(121, 121, 121, 1);
}

#LuanNM_sm-rating {
  position: absolute;
  width: 55px;
  height: 10px;
  left: 137px;
  top: 47px;
  overflow: hidden;
}

#LuanNM_sm-rating_0 {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 0px;
  top: 0px;
  overflow: visible;
}

#star_fk {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 0px;
  top: 0px;
  overflow: visible;
}

#star_fk {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 0px;
  top: 0px;
  overflow: visible;
}

#LuanNM_sm-rating_1 {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 11px;
  top: 0px;
  overflow: visible;
}

#star_fn {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 0px;
  top: 0px;
  overflow: visible;
}

#star_fn {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 0px;
  top: 0px;
  overflow: visible;
}

#LuanNM_sm-rating_2 {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 22px;
  top: 0px;
  overflow: visible;
}

#star_fq {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 0px;
  top: 0px;
  overflow: visible;
}

#star_fq {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 0px;
  top: 0px;
  overflow: visible;
}

#LuanNM_sm-rating_3 {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 33px;
  top: 0px;
  overflow: visible;
}

#star_ft {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 0px;
  top: 0px;
  overflow: visible;
}

#star_ft {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 0px;
  top: 0px;
  overflow: visible;
}

#LuanNM_sm-rating_4 {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 44px;
  top: 0px;
  overflow: visible;
}

#star_fw {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 0px;
  top: 0px;
  overflow: visible;
}

#star_fw {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 0px;
  top: 0px;
  overflow: visible;
}

#Vit_Nam {
  left: 72px;
  top: 45px;
  position: absolute;
  overflow: visible;
  width: 50px;
  white-space: nowrap;
  line-height: 16px;
  margin-top: -2px;
  text-align: left;
  font-family: Helvetica Neue;

  font-weight: normal;
  font-size: 12px;
  color: rgba(121, 121, 121, 1);
}

#ID55B_Trn_Quang_Khi_Q1_TP_H_Ch {
  left: 72.5px;
  top: 23.021px;
  position: absolute;
  overflow: visible;
  width: 231px;
  white-space: nowrap;
  line-height: 16px;
  margin-top: -2px;
  text-align: left;
  font-family: Helvetica Neue;

  font-weight: normal;
  font-size: 12px;
  color: rgba(189, 189, 189, 1);
}

#in_lnh_Ton_ng {
  opacity: 0.99;
  left: 102px;
  top: 1px;
  position: absolute;
  overflow: visible;
  width: 169px;
  white-space: nowrap;
  line-height: 35px;
  margin-top: -8.5px;
  text-align: left;
  font-family: Helvetica Neue;

  font-weight: normal;
  font-size: 18px;
  color: rgba(48, 48, 48, 1);
}

#edit_icom {
  position: absolute;
  width: 22px;
  height: 20px;
  left: 73px;
  top: 0px;
  overflow: visible;
}

#Mask_Group_9883 {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 223px;
  top: 65px;
  overflow: visible;
}

#ID7_mins_ {
  left: 234px;
  top: 64px;
  position: absolute;
  overflow: visible;
  width: 42px;
  white-space: nowrap;
  line-height: 13px;
  margin-top: -0.5px;
  text-align: left;
  font-family: Helvetica Neue;

  font-weight: bold;
  font-size: 12px;
  color: rgba(121, 121, 121, 1);
}

#ID22_km {
  left: 278px;
  top: 64px;
  position: absolute;
  overflow: visible;
  width: 38px;
  white-space: nowrap;
  line-height: 13px;
  margin-top: -0.5px;
  text-align: left;
  font-family: Helvetica Neue;

  font-weight: bold;
  font-size: 12px;
  color: rgba(121, 121, 121, 1);
}

#Mask_Group_9885 {
  position: absolute;
  width: 61px;
  height: 67px;
  left: 0px;
  top: 11px;
  overflow: visible;
}

#Icon_material-location-on {
  fill: rgba(223, 47, 69, 1);
}

.Icon_material-location-on {
  overflow: visible;
  position: absolute;
  width: 28.416px;
  height: 37.483px;
  left: 236.5px;
  top: 440.017px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Path_3366 {
  fill: rgba(51, 191, 154, 1);
}

.Path_3366 {
  overflow: visible;
  position: absolute;
  width: 381px;
  height: 82px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Light_Status_Bar_f {
  position: absolute;
  width: 347.328px;
  height: 16.669px;
  left: 6px;
  top: 14.331px;
  overflow: visible;
}

#Battery_f {
  position: absolute;
  width: 24.328px;
  height: 11.333px;
  left: 323px;
  top: 0.003px;
  overflow: visible;
}

#Border_f {
  fill: rgba(0, 0, 0, 0);
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}

.Border_f {
  position: absolute;
  overflow: visible;
  width: 22px;
  height: 11.333px;
  left: 0px;
  top: 0px;
}

#Cap_ga {
  fill: rgba(255, 255, 255, 1);
}

.Cap_ga {
  overflow: visible;
  position: absolute;
  width: 1.328px;
  height: 4px;
  left: 23px;
  top: 3.667px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Capacity_gb {
  fill: rgba(255, 255, 255, 1);
}

.Capacity_gb {
  position: absolute;
  overflow: visible;
  width: 18px;
  height: 7.333px;
  left: 2px;
  top: 2px;
}

#Wifi_gc {
  opacity: 0.96;
  fill: rgba(255, 255, 255, 1);
}

.Wifi_gc {
  overflow: visible;
  position: absolute;
  width: 15.272px;
  height: 10.966px;
  left: 302.694px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Cellular_Connection_gd {
  fill: rgba(255, 255, 255, 1);
}

.Cellular_Connection_gd {
  overflow: visible;
  position: absolute;
  width: 17px;
  height: 10.667px;
  left: 280.667px;
  top: 0.336px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Time_Style_ge {
  position: absolute;
  width: 54px;
  height: 16px;
  left: 0px;
  top: 0.669px;
  overflow: visible;
}

#_Time_gf {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 55px;
  height: 16px;
  text-align: center;
  font-family: Helvetica Neue;

  font-weight: normal;
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: -0.2px;
}

#Header1 {
  position: absolute;
  width: 205px;
  height: 20px;
  left: 16px;
  top: 51px;
  overflow: visible;
}

#Fixing_Time {
  left: 145px;
  top: 1px;
  position: absolute;
  overflow: visible;
  width: 61px;
  white-space: nowrap;
  text-align: left;
  font-family: Helvetica Neue;

  font-weight: bold;
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 0.7142857360839844px;
  text-transform: uppercase;
}

#back_icon_gi {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0px;
  top: 0px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: store_details.html;
  cursor: pointer;
}
