<mat-card class="w-100 h-100">
	<mat-form-field class="example-full-width w-100 px-2">
		<mat-label>Tìm kiếm</mat-label>
		<input type="text" matInput placeholder="Dịch vụ, địa chỉ bạn muốn tìm">
		<mat-icon matSuffix>search</mat-icon>
	</mat-form-field>
	<h4 class="ml-2">Gần bạn</h4>
	<h2 class="my-2 ml-2">Sửa Tivi</h2>
	<div class="d-flex justify-content-between list-horizontal">
		<mat-card *ngFor="let i of [1,2,3,4,5]" class="mx-1 w-5rem">
			<img mat-card-image src="assets/vietlong_e.png"
				alt="Toàn Đặng">
			<mat-card-content>
				<p>Toàn Đặng</p>
			</mat-card-content>
		</mat-card>
	</div>
</mat-card>