<ion-card class="p-2">
  <ion-input
    [formControl]="search"
    class="mx-2"
    placeholder="Tìm kiếm ..."
  ></ion-input>
  <div class="d-flex flex-wrap" id="predictions">
    <ion-button
      fill="outline"
      size="small"
      class="rounded-circle"
      (click)="setSearchValue(item)"
      *ngFor="let item of getPredictions()"
    >
      {{ item }}
    </ion-button>
  </div>

  <ion-button expand="block" class="w-100 mx-auto" (click)="goToSearch()"
    >Tìm kiếm</ion-button
  >
</ion-card>
