<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>notification-screen</title>
    <style id="applicationStylesheet" type="text/css">

    </style>
    <script id="applicationScript">
    </script>
</head>

<body>
    <div id="notification-screen">
        <div id="Group_9752">
            <svg class="Background" viewBox="0 0 1129.174 680.36">
			<path id="Background" d="M 395.06494140625 680.3597412109375 C 395.06494140625 607.4232788085938 -153.3673095703125 618.2490234375 42.11847686767578 288.2914428710938 C 237.604248046875 -41.6683349609375 620.02734375 -107.2796630859375 719.0097045898438 190.3181762695313 C 817.9899291992188 487.9138488769531 1129.173828125 393.8937683105469 1129.173828125 239.3824462890625 L 1129.173828125 680.3597412109375 L 395.06494140625 680.3597412109375 Z">
			</path>
		</svg>
        </div>
        <div id="Header1">
            <div id="Fixing_Time">
                <span>Thông báo</span>
            </div>
        </div>
        <svg class="Path_2863" viewBox="0 0 360 732">
		<path id="Path_2863" d="M 9.600000381469727 0 L 350.3999938964844 0 C 355.7019348144531 0 360.0000305175781 2.971238136291504 360.0000305175781 6.636445999145508 L 360.0000305175781 732 L 0 732 L 0 6.636445999145508 C 0 2.971238136291504 4.298065662384033 0 9.600000381469727 0 Z">
		</path>
	</svg>
        <svg class="Line_78" viewBox="0 0 359.98 1">
		<path id="Line_78" d="M 0 0 L 359.9800109863281 0">
		</path>
	</svg>
        <svg class="Line_77" viewBox="0 0 187 3">
		<path id="Line_77" d="M 0 0 L 187 0">
		</path>
	</svg>
        <div id="Item">
            <div id="Item_ck" class="Item">
                <svg class="Rectangle_2418">
				<rect id="Rectangle_2418" rx="0" ry="0" x="0" y="0" width="360" height="115">
				</rect>
			</svg>
                <div id="Gift">
                    <svg class="Ellipse_504">
					<ellipse id="Ellipse_504" rx="17" ry="17" cx="17" cy="17">
					</ellipse>
				</svg>
                    <img id="gift-box" src="assets/gift-box.png" srcset="assets/gift-box.png 1x, assets/gift-box@2x.png 2x">
                </div>
                <div id="Dng_th_Easifix_nhn_ngay_40k">
                    <span>Dùng thử Easifix nhận ngay 40k</span>
                </div>
                <div id="Mi_bn_dng_th_dch_v_vi_m_khuyn_">
                    <span>Mời bạn dùng thử dịch vụ với mã khuyến mãi EF40 <br/>khi đặt dịch vụ lần đầu.</span>
                </div>
                <div id="Th_2_572020_-_8h45">
                    <span>Thứ 2, 5/7/2020 - 8h45</span>
                </div>
                <svg class="Line_79" viewBox="0 0 277 1">
				<path id="Line_79" d="M 0 0 L 277 0">
				</path>
			</svg>
            </div>
            <div id="Item_ct" class="Item">
                <svg class="Rectangle_2418_cu">
				<rect id="Rectangle_2418_cu" rx="0" ry="0" x="0" y="0" width="360" height="115">
				</rect>
			</svg>
                <div id="Gift_cv">
                    <svg class="Ellipse_504_cw">
					<ellipse id="Ellipse_504_cw" rx="17" ry="17" cx="17" cy="17">
					</ellipse>
				</svg>
                    <img id="gift-box_cx" src="assets/gift-box_cx.png" srcset="assets/gift-box_cx.png 1x, assets/gift-box_cx@2x.png 2x">
                </div>
                <div id="Dng_th_Easifix_nhn_ngay_40k_cy">
                    <span>Dùng thử Easifix nhận ngay 40k</span>
                </div>
                <div id="Mi_bn_dng_th_dch_v_vi_m_khuyn__cz">
                    <span>Mời bạn dùng thử dịch vụ với mã khuyến mãi EF40 <br/>khi đặt dịch vụ lần đầu.</span>
                </div>
                <div id="Th_2_572020_-_8h45_c">
                    <span>Thứ 2, 5/7/2020 - 8h45</span>
                </div>
                <svg class="Line_79_c" viewBox="0 0 277 1">
				<path id="Line_79_c" d="M 0 0 L 277 0">
				</path>
			</svg>
            </div>
            <div id="Item_c" class="Item">
                <svg class="Rectangle_2418_c">
				<rect id="Rectangle_2418_c" rx="0" ry="0" x="0" y="0" width="360" height="115">
				</rect>
			</svg>
                <div id="Gift_c">
                    <svg class="Ellipse_504_c">
					<ellipse id="Ellipse_504_c" rx="17" ry="17" cx="17" cy="17">
					</ellipse>
				</svg>
                    <img id="gift-box_c" src="assets/gift-box_c.png" srcset="assets/gift-box_c.png 1x, assets/gift-box_c@2x.png 2x">
                </div>
                <div id="Dng_th_Easifix_nhn_ngay_40k_c">
                    <span>Dùng thử Easifix nhận ngay 40k</span>
                </div>
                <div id="Mi_bn_dng_th_dch_v_vi_m_khuyn__c">
                    <span>Mời bạn dùng thử dịch vụ với mã khuyến mãi EF40 <br/>khi đặt dịch vụ lần đầu.</span>
                </div>
                <div id="Th_2_572020_-_8h45_da">
                    <span>Thứ 2, 5/7/2020 - 8h45</span>
                </div>
                <svg class="Line_79_da" viewBox="0 0 277 1">
				<path id="Line_79_da" d="M 0 0 L 277 0">
				</path>
			</svg>
            </div>
            <div id="Item_db" class="Item">
                <svg class="Rectangle_2418_dc">
				<rect id="Rectangle_2418_dc" rx="0" ry="0" x="0" y="0" width="360" height="115">
				</rect>
			</svg>
                <div id="Gift_dd">
                    <svg class="Ellipse_504_de">
					<ellipse id="Ellipse_504_de" rx="17" ry="17" cx="17" cy="17">
					</ellipse>
				</svg>
                    <img id="gift-box_df" src="assets/gift-box_df.png" srcset="assets/gift-box_df.png 1x, assets/gift-box_df@2x.png 2x">
                </div>
                <div id="Dng_th_Easifix_nhn_ngay_40k_dg">
                    <span>Dùng thử Easifix nhận ngay 40k</span>
                </div>
                <div id="Mi_bn_dng_th_dch_v_vi_m_khuyn__dh">
                    <span>Mời bạn dùng thử dịch vụ với mã khuyến mãi EF40 <br/>khi đặt dịch vụ lần đầu.</span>
                </div>
                <div id="Th_2_572020_-_8h45_di">
                    <span>Thứ 2, 5/7/2020 - 8h45</span>
                </div>
                <svg class="Line_79_dj" viewBox="0 0 277 1">
				<path id="Line_79_dj" d="M 0 0 L 277 0">
				</path>
			</svg>
            </div>
            <div id="Item_dk" class="Item">
                <svg class="Rectangle_2418_dl">
				<rect id="Rectangle_2418_dl" rx="0" ry="0" x="0" y="0" width="360" height="115">
				</rect>
			</svg>
                <div id="Gift_dm">
                    <svg class="Ellipse_504_dn">
					<ellipse id="Ellipse_504_dn" rx="17" ry="17" cx="17" cy="17">
					</ellipse>
				</svg>
                    <img id="gift-box_do" src="assets/gift-box_do.png" srcset="assets/gift-box_do.png 1x, assets/gift-box_do@2x.png 2x">
                </div>
                <div id="Dng_th_Easifix_nhn_ngay_40k_dp">
                    <span>Dùng thử Easifix nhận ngay 40k</span>
                </div>
                <div id="Mi_bn_dng_th_dch_v_vi_m_khuyn__dq">
                    <span>Mời bạn dùng thử dịch vụ với mã khuyến mãi EF40 <br/>khi đặt dịch vụ lần đầu.</span>
                </div>
                <div id="Th_2_572020_-_8h45_dr">
                    <span>Thứ 2, 5/7/2020 - 8h45</span>
                </div>
                <svg class="Line_79_ds" viewBox="0 0 277 1">
				<path id="Line_79_ds" d="M 0 0 L 277 0">
				</path>
			</svg>
            </div>
            <div id="Item_dt" class="Item">
                <svg class="Rectangle_2418_du">
				<rect id="Rectangle_2418_du" rx="0" ry="0" x="0" y="0" width="360" height="115">
				</rect>
			</svg>
                <div id="Gift_dv">
                    <svg class="Ellipse_504_dw">
					<ellipse id="Ellipse_504_dw" rx="17" ry="17" cx="17" cy="17">
					</ellipse>
				</svg>
                    <img id="gift-box_dx" src="assets/gift-box_dx.png" srcset="assets/gift-box_dx.png 1x, assets/gift-box_dx@2x.png 2x">
                </div>
                <div id="Dng_th_Easifix_nhn_ngay_40k_dy">
                    <span>Dùng thử Easifix nhận ngay 40k</span>
                </div>
                <div id="Mi_bn_dng_th_dch_v_vi_m_khuyn__dz">
                    <span>Mời bạn dùng thử dịch vụ với mã khuyến mãi EF40 <br/>khi đặt dịch vụ lần đầu.</span>
                </div>
                <div id="Th_2_572020_-_8h45_d">
                    <span>Thứ 2, 5/7/2020 - 8h45</span>
                </div>
                <svg class="Line_79_d" viewBox="0 0 277 1">
				<path id="Line_79_d" d="M 0 0 L 277 0">
				</path>
			</svg>
            </div>
        </div>
        <div id="THNG_BO">
            <span>THÔNG BÁO</span>
        </div>
        <div [routerLink]="['..','promotion-screen']" id="KHUYN_MI">
            <span>KHUYẾN MÃI</span>
        </div>
        <app-bottom-bar></app-bottom-bar>
    </div>
</body>

</html>