<div id="notification-screen">
  <div id="Group_9752">
    <svg class="Background" viewBox="0 0 1129.174 680.36">
      <path
        id="Background"
        d="M 395.06494140625 680.3597412109375 C 395.06494140625 607.4232788085938 -153.3673095703125 618.2490234375 42.11847686767578 288.2914428710938 C 237.604248046875 -41.6683349609375 620.02734375 -107.2796630859375 719.0097045898438 190.3181762695313 C 817.9899291992188 487.9138488769531 1129.173828125 393.8937683105469 1129.173828125 239.3824462890625 L 1129.173828125 680.3597412109375 L 395.06494140625 680.3597412109375 Z"
      ></path>
    </svg>
  </div>
  <div id="Header1">
    <div id="Fixing_Time">
      <span>Thông báo</span>
    </div>
  </div>
  <svg class="Path_2863" viewBox="0 0 360 732">
    <path
      id="Path_2863"
      d="M 9.600000381469727 0 L 350.3999938964844 0 C 355.7019348144531 0 360.0000305175781 2.971238136291504 360.0000305175781 6.636445999145508 L 360.0000305175781 732 L 0 732 L 0 6.636445999145508 C 0 2.971238136291504 4.298065662384033 0 9.600000381469727 0 Z"
    ></path>
  </svg>
  <svg class="Line_78" viewBox="0 0 359.98 1">
    <path id="Line_78" d="M 0 0 L 359.9800109863281 0"></path>
  </svg>
  <svg class="Line_77" viewBox="0 0 187 3">
    <path id="Line_77" d="M 0 0 L 187 0"></path>
  </svg>
  <div id="Item">
    <div id="Item_ck" class="Item">
      <svg class="Rectangle_2418">
        <rect
          id="Rectangle_2418"
          rx="0"
          ry="0"
          x="0"
          y="0"
          width="360"
          height="115"
        ></rect>
      </svg>
      <div id="Gift">
        <svg class="Ellipse_504">
          <ellipse id="Ellipse_504" rx="17" ry="17" cx="17" cy="17"></ellipse>
        </svg>
        <img
          id="gift-box"
          src="assets/gift-box.png"
          srcset="assets/gift-box.png 1x, assets/gift-box@2x.png 2x"
        />
      </div>
      <div id="Group_10392">
        <div id="Dng_th_Easifix_nhn_ngay_40k">
          <span>Dùng thử Easifix nhận ngay 40k</span>
        </div>
        <div id="Mi_bn_dng_th_dch_v_vi_m_khuyn_">
          <span
            >Mời bạn dùng thử dịch vụ với mã khuyến mãi <br />EF40 khi đặt dịch
            vụ lần đầu.</span
          >
        </div>
        <div id="Th_2_572020_-_8h45">
          <span>Thứ 2, 5/7/2020 - 8h45</span>
        </div>
      </div>
      <svg class="Line_79" viewBox="0 0 277 1">
        <path id="Line_79" d="M 0 0 L 277 0"></path>
      </svg>
    </div>
    <div id="Item_cu" class="Item">
      <svg class="Rectangle_2418_cv">
        <rect
          id="Rectangle_2418_cv"
          rx="0"
          ry="0"
          x="0"
          y="0"
          width="360"
          height="115"
        ></rect>
      </svg>
      <div id="Gift_cw">
        <svg class="Ellipse_504_cx">
          <ellipse
            id="Ellipse_504_cx"
            rx="17"
            ry="17"
            cx="17"
            cy="17"
          ></ellipse>
        </svg>
        <img
          id="gift-box_cy"
          src="assets/gift-box_cy.png"
          srcset="assets/gift-box_cy.png 1x, assets/gift-box_cy@2x.png 2x"
        />
      </div>
      <div id="Group_10392_cz">
        <div id="Dng_th_Easifix_nhn_ngay_40k_c">
          <span>Dùng thử Easifix nhận ngay 40k</span>
        </div>
        <div id="Mi_bn_dng_th_dch_v_vi_m_khuyn__c">
          <span
            >Mời bạn dùng thử dịch vụ với mã khuyến mãi <br />EF40 khi đặt dịch
            vụ lần đầu.</span
          >
        </div>
        <div id="Th_2_572020_-_8h45_c">
          <span>Thứ 2, 5/7/2020 - 8h45</span>
        </div>
      </div>
      <svg class="Line_79_c" viewBox="0 0 277 1">
        <path id="Line_79_c" d="M 0 0 L 277 0"></path>
      </svg>
    </div>
    <div id="Item_c" class="Item">
      <svg class="Rectangle_2418_c">
        <rect
          id="Rectangle_2418_c"
          rx="0"
          ry="0"
          x="0"
          y="0"
          width="360"
          height="115"
        ></rect>
      </svg>
      <div id="Gift_c">
        <svg class="Ellipse_504_c">
          <ellipse id="Ellipse_504_c" rx="17" ry="17" cx="17" cy="17"></ellipse>
        </svg>
        <img
          id="gift-box_c"
          src="assets/gift-box_c.png"
          srcset="assets/gift-box_c.png 1x, assets/gift-box_c@2x.png 2x"
        />
      </div>
      <div id="Group_10392_c">
        <div id="Dng_th_Easifix_nhn_ngay_40k_da">
          <span>Dùng thử Easifix nhận ngay 40k</span>
        </div>
        <div id="Mi_bn_dng_th_dch_v_vi_m_khuyn__db">
          <span
            >Mời bạn dùng thử dịch vụ với mã khuyến mãi <br />EF40 khi đặt dịch
            vụ lần đầu.</span
          >
        </div>
        <div id="Th_2_572020_-_8h45_dc">
          <span>Thứ 2, 5/7/2020 - 8h45</span>
        </div>
      </div>
      <svg class="Line_79_dd" viewBox="0 0 277 1">
        <path id="Line_79_dd" d="M 0 0 L 277 0"></path>
      </svg>
    </div>
    <div id="Item_de" class="Item">
      <svg class="Rectangle_2418_df">
        <rect
          id="Rectangle_2418_df"
          rx="0"
          ry="0"
          x="0"
          y="0"
          width="360"
          height="115"
        ></rect>
      </svg>
      <div id="Gift_dg">
        <svg class="Ellipse_504_dh">
          <ellipse
            id="Ellipse_504_dh"
            rx="17"
            ry="17"
            cx="17"
            cy="17"
          ></ellipse>
        </svg>
        <img
          id="gift-box_di"
          src="assets/gift-box_di.png"
          srcset="assets/gift-box_di.png 1x, assets/gift-box_di@2x.png 2x"
        />
      </div>
      <div id="Group_10392_dj">
        <div id="Dng_th_Easifix_nhn_ngay_40k_dk">
          <span>Dùng thử Easifix nhận ngay 40k</span>
        </div>
        <div id="Mi_bn_dng_th_dch_v_vi_m_khuyn__dl">
          <span
            >Mời bạn dùng thử dịch vụ với mã khuyến mãi <br />EF40 khi đặt dịch
            vụ lần đầu.</span
          >
        </div>
        <div id="Th_2_572020_-_8h45_dm">
          <span>Thứ 2, 5/7/2020 - 8h45</span>
        </div>
      </div>
      <svg class="Line_79_dn" viewBox="0 0 277 1">
        <path id="Line_79_dn" d="M 0 0 L 277 0"></path>
      </svg>
    </div>
    <div id="Item_do" class="Item">
      <svg class="Rectangle_2418_dp">
        <rect
          id="Rectangle_2418_dp"
          rx="0"
          ry="0"
          x="0"
          y="0"
          width="360"
          height="115"
        ></rect>
      </svg>
      <div id="Gift_dq">
        <svg class="Ellipse_504_dr">
          <ellipse
            id="Ellipse_504_dr"
            rx="17"
            ry="17"
            cx="17"
            cy="17"
          ></ellipse>
        </svg>
        <img
          id="gift-box_ds"
          src="assets/gift-box_ds.png"
          srcset="assets/gift-box_ds.png 1x, assets/gift-box_ds@2x.png 2x"
        />
      </div>
      <div id="Group_10392_dt">
        <div id="Dng_th_Easifix_nhn_ngay_40k_du">
          <span>Dùng thử Easifix nhận ngay 40k</span>
        </div>
        <div id="Mi_bn_dng_th_dch_v_vi_m_khuyn__dv">
          <span
            >Mời bạn dùng thử dịch vụ với mã khuyến mãi <br />EF40 khi đặt dịch
            vụ lần đầu.</span
          >
        </div>
        <div id="Th_2_572020_-_8h45_dw">
          <span>Thứ 2, 5/7/2020 - 8h45</span>
        </div>
      </div>
      <svg class="Line_79_dx" viewBox="0 0 277 1">
        <path id="Line_79_dx" d="M 0 0 L 277 0"></path>
      </svg>
    </div>
    <div id="Item_dy" class="Item">
      <svg class="Rectangle_2418_dz">
        <rect
          id="Rectangle_2418_dz"
          rx="0"
          ry="0"
          x="0"
          y="0"
          width="360"
          height="115"
        ></rect>
      </svg>
      <div id="Gift_d">
        <svg class="Ellipse_504_d">
          <ellipse id="Ellipse_504_d" rx="17" ry="17" cx="17" cy="17"></ellipse>
        </svg>
        <img
          id="gift-box_d"
          src="assets/gift-box_d.png"
          srcset="assets/gift-box_d.png 1x, assets/gift-box_d@2x.png 2x"
        />
      </div>
      <div id="Group_10392_d">
        <div id="Dng_th_Easifix_nhn_ngay_40k_d">
          <span>Dùng thử Easifix nhận ngay 40k</span>
        </div>
        <div id="Mi_bn_dng_th_dch_v_vi_m_khuyn__d">
          <span
            >Mời bạn dùng thử dịch vụ với mã khuyến mãi <br />EF40 khi đặt dịch
            vụ lần đầu.</span
          >
        </div>
        <div id="Th_2_572020_-_8h45_d">
          <span>Thứ 2, 5/7/2020 - 8h45</span>
        </div>
      </div>
      <svg class="Line_79_d" viewBox="0 0 277 1">
        <path id="Line_79_d" d="M 0 0 L 277 0"></path>
      </svg>
    </div>
  </div>
  <div id="THNG_BO">
    <span>THÔNG BÁO</span>
  </div>
  <div [routerLink]="['..', 'promotion-screen']" id="KHUYN_MI">
    <span>KHUYẾN MÃI</span>
  </div>
</div>
<app-bottom-bar></app-bottom-bar>
