ion-avatar {
  height: 4rem;
  width: 4rem;
}

ion-content {
  border-radius: 10px;
}

#momo-button {
  border: 2px solid #ae2070;
  border-radius: 0.5rem;

  img {
    width: 2rem;
    height: 2rem;
  }
  b {
    color: #ae2070 !important;
  }
}
#momo-button.active {
  --background: #ae2070;
  --ion-color-base: #ae2070;
  border: none;
  b {
    color: white !important;
  }
}
