<ion-content color="light">
  <ion-list>
    <ion-item color="light" *ngFor="let i of [1, 2, 3, 4]">
      <img src="assets/ToanDang-logo.png" class="rounded-lg my-3 mx-2" />
      <div class="d-flex flex-column">
        <div>
          <ion-text>
            <h4 class="my-0"><b>Toàn Đặng</b></h4>
          </ion-text>
          <p class="mb-0 small">55B Trần Quang Khải, Q1, Tp.HCM</p>
          <ion-text color="medium">120,000đ</ion-text>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
