.mediaViewInfo {
  --web-view-name: confirm-request-time;
  --web-view-id: confirm-request-time;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
:root {
  --web-view-ids: confirm-request-time;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
#confirm-request-time {
  position: absolute;
  width: 360px;
  height: 1250px;
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
  --web-view-name: confirm-request-time;
  --web-view-id: confirm-request-time;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#Group_9672 {
  position: absolute;
  width: 1129.174px;
  height: 680.36px;
  left: -525.334px;
  top: -469.36px;
  overflow: visible;
}
#Group_9752 {
  position: absolute;
  width: 1129.174px;
  height: 680.36px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Background {
  fill: rgba(51, 191, 154, 1);
}
.Background {
  overflow: visible;
  position: absolute;
  width: 1129.174px;
  height: 680.36px;
  transform: translate(0px, 0px) matrix(1, 0, 0, 1, 0, 0) rotate(180deg);
  transform-origin: center;
  left: 0px;
  top: 0px;
}
#Header1 {
  position: absolute;
  width: 245px;
  height: 20px;
  left: 535.736px;
  top: 489.36px;
  overflow: visible;
}
#Fixing_Time {
  left: 100px;
  top: 2px;
  position: absolute;
  overflow: visible;
  width: 151px;
  white-space: nowrap;
  text-align: left;

  font-weight: bold;
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 0.7142857360839844px;
  text-transform: uppercase;
}
#back_icon {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0px;
  top: 0px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: store_details.html;
  cursor: pointer;
}
#Path_2860 {
  fill: rgba(255, 255, 255, 1);
}
.Path_2860 {
  overflow: visible;
  position: absolute;
  width: 360px;
  height: 1177.982px;
  left: 0px;
  top: 50px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#service {
  position: absolute;
  width: 320px;
  height: 81px;
  left: 20px;
  top: 238px;
  overflow: visible;
}
#choose_heder {
  position: absolute;
  width: 83px;
  height: 20px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Dch_v {
  left: 30px;
  top: 1px;
  position: absolute;
  overflow: visible;
  width: 54px;
  white-space: nowrap;
  line-height: 24px;
  margin-top: -4px;
  text-align: left;

  font-weight: normal;
  font-size: 16px;
  color: rgba(36, 39, 43, 1);
}
#service_icon {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#choose_box {
  position: absolute;
  width: 320px;
  height: 50px;
  left: 0px;
  top: 31px;
  overflow: visible;
}
#Path_2824 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(189, 189, 189, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_2824 {
  overflow: visible;
  position: absolute;
  width: 320px;
  height: 50px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Bo_dng_my_git {
  left: 16px;
  top: 17px;
  position: absolute;
  overflow: visible;
  width: 147px;
  white-space: nowrap;
  line-height: 24px;
  margin-top: -4px;
  text-align: left;

  font-weight: normal;
  font-size: 16px;
  color: rgba(36, 39, 43, 1);
}
#service_cq {
  position: absolute;
  width: 320px;
  height: 180px;
  left: 20px;
  top: 928px;
  overflow: visible;
}
#choose_heder_cr {
  position: absolute;
  width: 139px;
  height: 20px;
  left: 3px;
  top: 0px;
  overflow: visible;
}
#Ghi_ch__M_t {
  left: 31px;
  top: 1px;
  position: absolute;
  overflow: visible;
  width: 109px;
  white-space: nowrap;
  line-height: 24px;
  margin-top: -4px;
  text-align: left;

  font-weight: normal;
  font-size: 16px;
  color: rgba(36, 39, 43, 1);
}
#note_icon {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#choose_box_cu {
  position: absolute;
  width: 320px;
  height: 150px;
  left: 0px;
  top: 30px;
  overflow: visible;
}
#Path_2825 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(189, 189, 189, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_2825 {
  overflow: visible;
  position: absolute;
  width: 320px;
  height: 150px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#TamNT-Calendar {
  position: absolute;
  width: 320px;
  height: 360px;
  left: 20px;
  top: 379px;
  overflow: visible;
}
#Calendar {
  position: absolute;
  width: 334px;
  height: 326px;
  left: -6.5px;
  top: 34px;
  overflow: visible;
}
#Month {
  position: absolute;
  width: 334px;
  height: 289px;
  left: 0px;
  top: 37px;
  overflow: visible;
}
#HoaNT_-_Box-shadow {
  position: absolute;
  width: 334px;
  height: 289px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#bg {
  fill: rgba(255, 255, 255, 1);
}
.bg {
  filter: drop-shadow(0px 5px 15px rgba(48, 48, 48, 0.2));
  position: absolute;
  overflow: visible;
  width: 379px;
  height: 334px;
  left: 0px;
  top: 0px;
}
#Week_5 {
  position: absolute;
  width: 116px;
  height: 26px;
  left: 18px;
  top: 249px;
  overflow: visible;
}
#Day_30 {
  position: absolute;
  width: 20px;
  height: 26px;
  left: 96px;
  top: 0px;
  overflow: visible;
}
#BG_c {
  opacity: 0.5;
  fill: rgba(255, 255, 255, 1);
}
.BG_c {
  display: none;
  position: absolute;
  overflow: visible;
  width: 44px;
  height: 44px;
  left: -12px;
  top: -7px;
}
#ID30 {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 21px;
  white-space: nowrap;
  line-height: 22px;
  margin-top: -1.5px;
  text-align: center;

  font-weight: normal;
  font-size: 19px;
  color: rgba(189, 189, 189, 1);
  letter-spacing: -0.46px;
}
#Day_29 {
  position: absolute;
  width: 20px;
  height: 26px;
  left: 48px;
  top: 0px;
  overflow: visible;
}
#BG_da {
  opacity: 0.5;
  fill: rgba(255, 255, 255, 1);
}
.BG_da {
  display: none;
  position: absolute;
  overflow: visible;
  width: 44px;
  height: 44px;
  left: -12px;
  top: -7px;
}
#ID29 {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 21px;
  white-space: nowrap;
  line-height: 22px;
  margin-top: -1.5px;
  text-align: center;

  font-weight: normal;
  font-size: 19px;
  color: rgba(189, 189, 189, 1);
  letter-spacing: -0.46px;
}
#Day_28 {
  position: absolute;
  width: 20px;
  height: 26px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#BG_db {
  opacity: 0.5;
  fill: rgba(255, 255, 255, 1);
}
.BG_db {
  display: none;
  position: absolute;
  overflow: visible;
  width: 44px;
  height: 44px;
  left: -12px;
  top: -7px;
}
#ID28 {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 21px;
  white-space: nowrap;
  line-height: 22px;
  margin-top: -1.5px;
  text-align: center;

  font-weight: normal;
  font-size: 19px;
  color: rgba(189, 189, 189, 1);
  letter-spacing: -0.46px;
}
#Week_4 {
  position: absolute;
  width: 300px;
  height: 26px;
  left: 18px;
  top: 200px;
  overflow: visible;
}
#Day_27 {
  position: absolute;
  width: 20px;
  height: 26px;
  left: 280px;
  top: 0px;
  overflow: visible;
}
#BG_dd {
  opacity: 0.5;
  fill: rgba(255, 255, 255, 1);
}
.BG_dd {
  display: none;
  position: absolute;
  overflow: visible;
  width: 44px;
  height: 44px;
  left: -12px;
  top: -7px;
}
#ID27 {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 21px;
  white-space: nowrap;
  line-height: 22px;
  margin-top: -1.5px;
  text-align: center;

  font-weight: normal;
  font-size: 19px;
  color: rgba(189, 189, 189, 1);
  letter-spacing: -0.46px;
}
#Day_26 {
  position: absolute;
  width: 20px;
  height: 26px;
  left: 233.032px;
  top: 0px;
  overflow: visible;
}
#BG_dg {
  opacity: 0.5;
  fill: rgba(255, 255, 255, 1);
}
.BG_dg {
  display: none;
  position: absolute;
  overflow: visible;
  width: 44px;
  height: 44px;
  left: -12px;
  top: -7px;
}
#ID26 {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 21px;
  white-space: nowrap;
  line-height: 22px;
  margin-top: -1.5px;
  text-align: center;

  font-weight: normal;
  font-size: 19px;
  color: rgba(189, 189, 189, 1);
  letter-spacing: -0.46px;
}
#Day_25 {
  position: absolute;
  width: 20px;
  height: 26px;
  left: 186.968px;
  top: 0px;
  overflow: visible;
}
#BG_dj {
  opacity: 0.5;
  fill: rgba(255, 255, 255, 1);
}
.BG_dj {
  display: none;
  position: absolute;
  overflow: visible;
  width: 44px;
  height: 44px;
  left: -12px;
  top: -7px;
}
#ID25 {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 21px;
  white-space: nowrap;
  line-height: 22px;
  margin-top: -1.5px;
  text-align: center;

  font-weight: normal;
  font-size: 19px;
  color: rgba(189, 189, 189, 1);
  letter-spacing: -0.46px;
}
#Day_24 {
  position: absolute;
  width: 20px;
  height: 26px;
  left: 140px;
  top: 0px;
  overflow: visible;
}
#BG_dm {
  opacity: 0.5;
  fill: rgba(255, 255, 255, 1);
}
.BG_dm {
  display: none;
  position: absolute;
  overflow: visible;
  width: 44px;
  height: 44px;
  left: -12px;
  top: -7px;
}
#ID24 {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 21px;
  white-space: nowrap;
  line-height: 22px;
  margin-top: -1.5px;
  text-align: center;

  font-weight: normal;
  font-size: 19px;
  color: rgba(189, 189, 189, 1);
  letter-spacing: -0.46px;
}
#Day_23 {
  position: absolute;
  width: 20px;
  height: 26px;
  left: 93.032px;
  top: 0px;
  overflow: visible;
}
#BG_dp {
  opacity: 0.5;
  fill: rgba(255, 255, 255, 1);
}
.BG_dp {
  display: none;
  position: absolute;
  overflow: visible;
  width: 44px;
  height: 44px;
  left: -12px;
  top: -7px;
}
#ID23 {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 21px;
  white-space: nowrap;
  line-height: 22px;
  margin-top: -1.5px;
  text-align: center;

  font-weight: normal;
  font-size: 19px;
  color: rgba(189, 189, 189, 1);
  letter-spacing: -0.46px;
}
#Day_22 {
  position: absolute;
  width: 20px;
  height: 26px;
  left: 46.968px;
  top: 0px;
  overflow: visible;
}
#BG_ds {
  opacity: 0.5;
  fill: rgba(255, 255, 255, 1);
}
.BG_ds {
  display: none;
  position: absolute;
  overflow: visible;
  width: 44px;
  height: 44px;
  left: -12px;
  top: -7px;
}
#ID22 {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 21px;
  white-space: nowrap;
  line-height: 22px;
  margin-top: -1.5px;
  text-align: center;

  font-weight: normal;
  font-size: 19px;
  color: rgba(189, 189, 189, 1);
  letter-spacing: -0.46px;
}
#Day_21 {
  position: absolute;
  width: 20px;
  height: 26px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#BG_dv {
  opacity: 0.5;
  fill: rgba(255, 255, 255, 1);
}
.BG_dv {
  display: none;
  position: absolute;
  overflow: visible;
  width: 44px;
  height: 44px;
  left: -12px;
  top: -7px;
}
#ID21 {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 21px;
  white-space: nowrap;
  line-height: 22px;
  margin-top: -1.5px;
  text-align: center;

  font-weight: normal;
  font-size: 19px;
  color: rgba(189, 189, 189, 1);
  letter-spacing: -0.46px;
}
#Week_3 {
  position: absolute;
  width: 300px;
  height: 26px;
  left: 18px;
  top: 151px;
  overflow: visible;
}
#Day_20 {
  position: absolute;
  width: 20px;
  height: 26px;
  left: 280px;
  top: 0px;
  overflow: visible;
}
#BG_dz {
  opacity: 0.5;
  fill: rgba(255, 255, 255, 1);
}
.BG_dz {
  display: none;
  position: absolute;
  overflow: visible;
  width: 44px;
  height: 44px;
  left: -12px;
  top: -7px;
}
#ID20 {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 21px;
  white-space: nowrap;
  line-height: 22px;
  margin-top: -1.5px;
  text-align: center;

  font-weight: normal;
  font-size: 19px;
  color: rgba(189, 189, 189, 1);
  letter-spacing: -0.46px;
}
#Day_19 {
  position: absolute;
  width: 20px;
  height: 26px;
  left: 233.032px;
  top: 0px;
  overflow: visible;
}
#BG_d {
  opacity: 0.5;
  fill: rgba(255, 255, 255, 1);
}
.BG_d {
  display: none;
  position: absolute;
  overflow: visible;
  width: 44px;
  height: 44px;
  left: -12px;
  top: -7px;
}
#ID19 {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 21px;
  white-space: nowrap;
  line-height: 22px;
  margin-top: -1.5px;
  text-align: center;

  font-weight: normal;
  font-size: 19px;
  color: rgba(189, 189, 189, 1);
  letter-spacing: -0.46px;
}
#Day_18 {
  position: absolute;
  width: 20px;
  height: 26px;
  left: 186.968px;
  top: 0px;
  overflow: visible;
}
#BG_ea {
  opacity: 0.5;
  fill: rgba(255, 255, 255, 1);
}
.BG_ea {
  display: none;
  position: absolute;
  overflow: visible;
  width: 44px;
  height: 44px;
  left: -12px;
  top: -7px;
}
#ID18 {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 21px;
  white-space: nowrap;
  line-height: 22px;
  margin-top: -1.5px;
  text-align: center;

  font-weight: normal;
  font-size: 19px;
  color: rgba(189, 189, 189, 1);
  letter-spacing: -0.46px;
}
#Day_17 {
  position: absolute;
  width: 20px;
  height: 26px;
  left: 140px;
  top: 0px;
  overflow: visible;
}
#BG_eb {
  opacity: 0.5;
  fill: rgba(255, 255, 255, 1);
}
.BG_eb {
  display: none;
  position: absolute;
  overflow: visible;
  width: 44px;
  height: 44px;
  left: -12px;
  top: -7px;
}
#ID17 {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 21px;
  white-space: nowrap;
  line-height: 22px;
  margin-top: -1.5px;
  text-align: center;

  font-weight: normal;
  font-size: 19px;
  color: rgba(189, 189, 189, 1);
  letter-spacing: -0.46px;
}
#Day_16 {
  position: absolute;
  width: 20px;
  height: 26px;
  left: 93.032px;
  top: 0px;
  overflow: visible;
}
#BG_ec {
  opacity: 0.5;
  fill: rgba(255, 255, 255, 1);
}
.BG_ec {
  display: none;
  position: absolute;
  overflow: visible;
  width: 44px;
  height: 44px;
  left: -12px;
  top: -7px;
}
#ID16 {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 21px;
  white-space: nowrap;
  line-height: 22px;
  margin-top: -1.5px;
  text-align: center;

  font-weight: normal;
  font-size: 19px;
  color: rgba(189, 189, 189, 1);
  letter-spacing: -0.46px;
}
#Day_15 {
  position: absolute;
  width: 20px;
  height: 26px;
  left: 46.968px;
  top: 0px;
  overflow: visible;
}
#BG_ee {
  opacity: 0.5;
  fill: rgba(255, 255, 255, 1);
}
.BG_ee {
  display: none;
  position: absolute;
  overflow: visible;
  width: 44px;
  height: 44px;
  left: -12px;
  top: -7px;
}
#ID15 {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 21px;
  white-space: nowrap;
  line-height: 22px;
  margin-top: -1.5px;
  text-align: center;

  font-weight: normal;
  font-size: 19px;
  color: rgba(189, 189, 189, 1);
  letter-spacing: -0.46px;
}
#Day_14 {
  position: absolute;
  width: 20px;
  height: 26px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#BG_eh {
  opacity: 0.5;
  fill: rgba(255, 255, 255, 1);
}
.BG_eh {
  display: none;
  position: absolute;
  overflow: visible;
  width: 44px;
  height: 44px;
  left: -12px;
  top: -7px;
}
#ID14 {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 21px;
  white-space: nowrap;
  line-height: 22px;
  margin-top: -1.5px;
  text-align: center;

  font-weight: normal;
  font-size: 19px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: -0.46px;
}
#Week_2 {
  position: absolute;
  width: 295px;
  height: 44px;
  left: 23px;
  top: 96px;
  overflow: visible;
}
#Day_13 {
  position: absolute;
  width: 20px;
  height: 26px;
  left: 275px;
  top: 6px;
  overflow: visible;
}
#BG_el {
  opacity: 0.5;
  fill: rgba(255, 255, 255, 1);
}
.BG_el {
  display: none;
  position: absolute;
  overflow: visible;
  width: 44px;
  height: 44px;
  left: -12px;
  top: -7px;
}
#ID13 {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 21px;
  white-space: nowrap;
  line-height: 22px;
  margin-top: -1.5px;
  text-align: center;

  font-weight: normal;
  font-size: 19px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: -0.46px;
}
#Day_12 {
  position: absolute;
  width: 20px;
  height: 26px;
  left: 228.115px;
  top: 6px;
  overflow: visible;
}
#BG_eo {
  opacity: 0.5;
  fill: rgba(255, 255, 255, 1);
}
.BG_eo {
  display: none;
  position: absolute;
  overflow: visible;
  width: 44px;
  height: 44px;
  left: -12px;
  top: -7px;
}
#ID12 {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 21px;
  white-space: nowrap;
  line-height: 22px;
  margin-top: -1.5px;
  text-align: center;

  font-weight: normal;
  font-size: 19px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: -0.46px;
}
#Day_11 {
  position: absolute;
  width: 20px;
  height: 26px;
  left: 182.131px;
  top: 6px;
  overflow: visible;
}
#BG_er {
  opacity: 0.5;
  fill: rgba(255, 255, 255, 1);
}
.BG_er {
  display: none;
  position: absolute;
  overflow: visible;
  width: 44px;
  height: 44px;
  left: -12px;
  top: -7px;
}
#ID11 {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 21px;
  white-space: nowrap;
  line-height: 22px;
  margin-top: -1.5px;
  text-align: center;

  font-weight: normal;
  font-size: 19px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: -0.46px;
}
#Day_10 {
  position: absolute;
  width: 20px;
  height: 26px;
  left: 135.246px;
  top: 6px;
  overflow: visible;
}
#BG_eu {
  opacity: 0.5;
  fill: rgba(255, 255, 255, 1);
}
.BG_eu {
  display: none;
  position: absolute;
  overflow: visible;
  width: 44px;
  height: 44px;
  left: -12px;
  top: -7px;
}
#ID10 {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 21px;
  white-space: nowrap;
  line-height: 22px;
  margin-top: -1.5px;
  text-align: center;

  font-weight: normal;
  font-size: 19px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: -0.46px;
}
#Day_9 {
  position: absolute;
  width: 10px;
  height: 26px;
  left: 93.19px;
  top: 6px;
  overflow: visible;
}
#BG_ex {
  opacity: 0.5;
  fill: rgba(255, 255, 255, 1);
}
.BG_ex {
  display: none;
  position: absolute;
  overflow: visible;
  width: 44px;
  height: 44px;
  left: -17px;
  top: -7px;
}
#ID9 {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 11px;
  white-space: nowrap;
  line-height: 22px;
  margin-top: -1.5px;
  text-align: center;

  font-weight: normal;
  font-size: 19px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: -0.46px;
}
#Day_8 {
  position: absolute;
  width: 10px;
  height: 26px;
  left: 48px;
  top: 6px;
  overflow: visible;
}
#BG_e {
  opacity: 0.5;
  fill: rgba(255, 255, 255, 1);
}
.BG_e {
  display: none;
  position: absolute;
  overflow: visible;
  width: 44px;
  height: 44px;
  left: -17px;
  top: -7px;
}
#ID8 {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 11px;
  white-space: nowrap;
  line-height: 22px;
  margin-top: -1.5px;
  text-align: center;

  font-weight: normal;
  font-size: 19px;
  color: rgba(29, 155, 122, 1);
  letter-spacing: -0.46px;
}
#Day_7 {
  position: absolute;
  width: 10px;
  height: 26px;
  left: 0px;
  top: 6px;
  overflow: visible;
}
#BG_fa {
  opacity: 0.5;
  fill: rgba(255, 255, 255, 1);
}
.BG_fa {
  display: none;
  position: absolute;
  overflow: visible;
  width: 44px;
  height: 44px;
  left: -17px;
  top: -7px;
}
#ID7 {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 11px;
  white-space: nowrap;
  line-height: 22px;
  margin-top: -1.5px;
  text-align: center;

  font-weight: normal;
  font-size: 19px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: -0.46px;
}
#Colour {
  opacity: 0.25;
  fill: rgba(51, 191, 154, 1);
}
.Colour {
  overflow: visible;
  position: absolute;
  width: 44px;
  height: 44px;
  left: 31px;
  top: -5px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Week_1 {
  position: absolute;
  width: 250px;
  height: 26px;
  left: 63px;
  top: 53px;
  overflow: visible;
}
#Day_6 {
  position: absolute;
  width: 10px;
  height: 26px;
  left: 240px;
  top: 0px;
  overflow: visible;
}
#BG_fb {
  opacity: 0.5;
  fill: rgba(255, 255, 255, 1);
}
.BG_fb {
  display: none;
  position: absolute;
  overflow: visible;
  width: 44px;
  height: 44px;
  left: -17px;
  top: -7px;
}
#ID6 {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 11px;
  white-space: nowrap;
  line-height: 22px;
  margin-top: -1.5px;
  text-align: center;

  font-weight: normal;
  font-size: 19px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: -0.46px;
}
#Day_5 {
  position: absolute;
  width: 10px;
  height: 26px;
  left: 192px;
  top: 0px;
  overflow: visible;
}
#BG_fc {
  opacity: 0.5;
  fill: rgba(255, 255, 255, 1);
}
.BG_fc {
  display: none;
  position: absolute;
  overflow: visible;
  width: 44px;
  height: 44px;
  left: -17px;
  top: -7px;
}
#ID5 {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 11px;
  white-space: nowrap;
  line-height: 22px;
  margin-top: -1.5px;
  text-align: center;

  font-weight: normal;
  font-size: 19px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: -0.46px;
}
#Day_5_fd {
  position: absolute;
  width: 10px;
  height: 26px;
  left: 144px;
  top: 0px;
  overflow: visible;
}
#BG_fe {
  opacity: 0.5;
  fill: rgba(255, 255, 255, 1);
}
.BG_fe {
  display: none;
  position: absolute;
  overflow: visible;
  width: 44px;
  height: 44px;
  left: -17px;
  top: -7px;
}
#ID4 {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 11px;
  white-space: nowrap;
  line-height: 22px;
  margin-top: -1.5px;
  text-align: center;

  font-weight: normal;
  font-size: 19px;
  color: rgba(51, 191, 154, 1);
  letter-spacing: -0.46px;
}
#Day_5_fg {
  position: absolute;
  width: 1px;
  height: 1px;
  left: -2397.5px;
  top: -186px;
  overflow: visible;
}
#BG_fh {
  opacity: 0.5;
  fill: rgba(255, 255, 255, 1);
}
.BG_fh {
  display: none;
  position: absolute;
  overflow: visible;
  width: 44px;
  height: 44px;
  left: 2538.5px;
  top: 179px;
}
#Day_3 {
  position: absolute;
  width: 10px;
  height: 26px;
  left: 96px;
  top: 0px;
  overflow: visible;
}
#BG_fj {
  opacity: 0.5;
  fill: rgba(255, 255, 255, 1);
}
.BG_fj {
  display: none;
  position: absolute;
  overflow: visible;
  width: 44px;
  height: 44px;
  left: -17px;
  top: -7px;
}
#ID3 {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 11px;
  white-space: nowrap;
  line-height: 22px;
  margin-top: -1.5px;
  text-align: center;

  font-weight: normal;
  font-size: 19px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: -0.46px;
}
#Day_2 {
  position: absolute;
  width: 10px;
  height: 26px;
  left: 48px;
  top: 0px;
  overflow: visible;
}
#BG_fm {
  opacity: 0.5;
  fill: rgba(255, 255, 255, 1);
}
.BG_fm {
  display: none;
  position: absolute;
  overflow: visible;
  width: 44px;
  height: 44px;
  left: -17px;
  top: -7px;
}
#ID2 {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 11px;
  white-space: nowrap;
  line-height: 22px;
  margin-top: -1.5px;
  text-align: center;

  font-weight: normal;
  font-size: 19px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: -0.46px;
}
#Day_1 {
  position: absolute;
  width: 10px;
  height: 26px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#BG_fp {
  opacity: 0.5;
  fill: rgba(255, 255, 255, 1);
}
.BG_fp {
  display: none;
  position: absolute;
  overflow: visible;
  width: 44px;
  height: 44px;
  left: -17px;
  top: -7px;
}
#ID1 {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 11px;
  white-space: nowrap;
  line-height: 22px;
  margin-top: -1.5px;
  text-align: center;

  font-weight: normal;
  font-size: 19px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: -0.46px;
}
#BY {
  left: 293px;
  top: 14px;
  position: absolute;
  overflow: visible;
  width: 25px;
  white-space: nowrap;
  line-height: 22px;
  margin-top: -4.5px;
  text-align: left;

  font-weight: bold;
  font-size: 13px;
  color: rgba(189, 189, 189, 1);
  letter-spacing: 0.06px;
}
#SU {
  left: 247.238px;
  top: 14px;
  position: absolute;
  overflow: visible;
  width: 26px;
  white-space: nowrap;
  line-height: 22px;
  margin-top: -4.5px;
  text-align: left;

  font-weight: bold;
  font-size: 13px;
  color: rgba(189, 189, 189, 1);
  letter-spacing: 0.06px;
}
#NM {
  left: 195.032px;
  top: 14px;
  position: absolute;
  overflow: visible;
  width: 32px;
  white-space: nowrap;
  line-height: 22px;
  margin-top: -4.5px;
  text-align: left;

  font-weight: bold;
  font-size: 13px;
  color: rgba(189, 189, 189, 1);
  letter-spacing: 0.06px;
}
#T {
  left: 156.049px;
  top: 14px;
  position: absolute;
  overflow: visible;
  width: 18px;
  white-space: nowrap;
  line-height: 22px;
  margin-top: -4.5px;
  text-align: left;

  font-weight: bold;
  font-size: 13px;
  color: rgba(189, 189, 189, 1);
  letter-spacing: 0.06px;
}
#BA {
  left: 112.064px;
  top: 14px;
  position: absolute;
  overflow: visible;
  width: 18px;
  white-space: nowrap;
  line-height: 22px;
  margin-top: -4.5px;
  text-align: left;

  font-weight: bold;
  font-size: 13px;
  color: rgba(189, 189, 189, 1);
  letter-spacing: 0.06px;
}
#HAI {
  left: 63px;
  top: 14px;
  position: absolute;
  overflow: visible;
  width: 23px;
  white-space: nowrap;
  line-height: 22px;
  margin-top: -4.5px;
  text-align: left;

  font-weight: bold;
  font-size: 13px;
  color: rgba(189, 189, 189, 1);
  letter-spacing: 0.06px;
}
#CN {
  left: 18px;
  top: 14px;
  position: absolute;
  overflow: visible;
  width: 19px;
  white-space: nowrap;
  line-height: 22px;
  margin-top: -4.5px;
  text-align: left;

  font-weight: bold;
  font-size: 13px;
  color: rgba(189, 189, 189, 1);
  letter-spacing: 0.06px;
}
#Day_4 {
  position: absolute;
  width: 1px;
  height: 1px;
  left: -2334.5px;
  top: -133px;
  overflow: visible;
}
#BG_fz {
  opacity: 0.5;
  fill: rgba(255, 255, 255, 1);
}
.BG_fz {
  display: none;
  position: absolute;
  overflow: visible;
  width: 44px;
  height: 44px;
  left: 2419.219px;
  top: 326px;
}
#Month_and_Year {
  position: absolute;
  width: 135px;
  height: 27px;
  left: 21.369px;
  top: 0px;
  overflow: visible;
}
#Thng_10_2020 {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 136px;
  white-space: nowrap;
  line-height: 22px;
  margin-top: -1px;
  text-align: left;

  font-weight: bold;
  font-size: 20px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.16px;
}
#choose_heder_f {
  position: absolute;
  width: 59px;
  height: 21px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Lch {
  left: 30px;
  top: 4px;
  position: absolute;
  overflow: visible;
  width: 30px;
  white-space: nowrap;
  line-height: 24px;
  margin-top: -4px;
  text-align: left;

  font-weight: normal;
  font-size: 16px;
  color: rgba(36, 39, 43, 1);
}
#Group_9796 {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Mask_Group_1 {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#time {
  position: absolute;
  width: 320px;
  height: 113px;
  left: 20px;
  top: 780px;
  overflow: visible;
}
#choose_heder_ga {
  position: absolute;
  width: 97px;
  height: 20px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#dat_lich {
  line-height: 24px;
  margin-top: -4px;
  text-align: left;

  font-weight: normal;
  font-size: 16px;
  color: rgba(36, 39, 43, 1);
}
.mat-button-toggle-checked {
  color: white;
  background-color: #009688;
}
#Thi_gian {
  left: 30px;
  top: 3px;
  position: absolute;
  overflow: visible;
  width: 68px;
  white-space: nowrap;
  line-height: 24px;
  margin-top: -4px;
  text-align: left;

  font-weight: normal;
  font-size: 16px;
  color: rgba(36, 39, 43, 1);
}
#type_icon {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#choose_box_ga {
  opacity: 0.9;
  position: absolute;
  width: 320px;
  height: 80px;
  left: 0px;
  top: 33px;
  overflow: visible;
}
#HoaNT_-_Box-shadow_gb {
  position: absolute;
  width: 320px;
  height: 80px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#bg_gc {
  fill: rgba(255, 255, 255, 1);
}
.bg_gc {
  filter: drop-shadow(0px 5px 15px rgba(48, 48, 48, 0.2));
  position: absolute;
  overflow: visible;
  width: 365px;
  height: 125px;
  left: 0px;
  top: 0px;
}
#time_edit {
  position: absolute;
  width: 141px;
  height: 20px;
  left: 10px;
  top: 55px;
  overflow: visible;
}
#edit_icom {
  position: absolute;
  width: 22px;
  height: 20px;
  left: 129px;
  top: 10px;
  overflow: visible;
}
#Gi_630_-_830 {
  left: 12px;
  top: 10px;
  position: absolute;
  overflow: visible;
  width: 99px;
  white-space: nowrap;
  line-height: 35px;
  margin-top: -8.5px;
  text-align: left;

  font-weight: normal;
  font-size: 14px;
  color: rgba(48, 48, 48, 1);
}
#Group_9858 {
  position: absolute;
  width: 300px;
  height: 30px;
  left: 10px;
  top: 10px;
  overflow: visible;
}
#morning {
  position: absolute;
  width: 95px;
  height: 30px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Rectangle_2343 {
  fill: rgba(51, 191, 154, 1);
}
.Rectangle_2343 {
  position: absolute;
  overflow: visible;
  width: 95px;
  height: 30px;
  left: 0px;
  top: 0px;
}
#SNG {
  left: 24.5px;
  top: 7px;
  position: absolute;
  overflow: visible;
  width: 47px;
  white-space: nowrap;
  line-height: 24px;
  margin-top: -4px;
  text-align: center;

  font-weight: normal;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
  text-transform: capitalize;
}
#afternoon {
  position: absolute;
  width: 105px;
  height: 30px;
  left: 97.5px;
  top: 0px;
  overflow: visible;
}
#Path_2828 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(189, 189, 189, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_2828 {
  overflow: visible;
  position: absolute;
  width: 105px;
  height: 30px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#TRA {
  left: 29.5px;
  top: 7px;
  position: absolute;
  overflow: visible;
  width: 47px;
  white-space: nowrap;
  line-height: 24px;
  margin-top: -4px;
  text-align: center;

  font-weight: normal;
  font-size: 16px;
  color: rgba(36, 39, 43, 1);
  text-transform: capitalize;
}
#night {
  position: absolute;
  width: 95px;
  height: 30px;
  left: 205px;
  top: 0px;
  overflow: visible;
}
#Path_2829 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(189, 189, 189, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_2829 {
  overflow: visible;
  position: absolute;
  width: 95px;
  height: 30px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#TI {
  left: 35px;
  top: 8px;
  position: absolute;
  overflow: visible;
  width: 27px;
  white-space: nowrap;
  line-height: 24px;
  margin-top: -4px;
  text-align: center;

  font-weight: normal;
  font-size: 16px;
  color: rgba(36, 39, 43, 1);
  text-transform: capitalize;
}
#ButtonRoundedLargeGreen {
  position: absolute;
  width: 319px;
  height: 55px;
  left: 21px;
  top: 1119px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: confirm_request_address.html;
  cursor: pointer;
}
#bg_gr {
  fill: rgba(51, 191, 154, 1);
}
.bg_gr {
  position: absolute;
  overflow: visible;
  width: 319px;
  height: 55px;
  left: 0px;
  top: 0px;
}
#ButtonRoundedLargeGreen_gs {
  position: absolute;
  width: 319px;
  height: 55px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#request-check {
  position: absolute;
  width: 200px;
  height: 20px;
  left: 20px;
  top: 325px;
  overflow: visible;
}
#check-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Icon_awesome-check {
  fill: rgba(51, 191, 154, 1);
}
.Icon_awesome-check {
  overflow: visible;
  position: absolute;
  width: 9.316px;
  height: 7px;
  left: 5.643px;
  top: 6.45px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#marius-ciocirlan-398931-unspla {
  fill: transparent;
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 3px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.marius-ciocirlan-398931-unspla {
  filter: drop-shadow(0px 5px 15px rgba(48, 48, 48, 0.102));
  overflow: visible;
  position: absolute;
  width: 20px;
  height: 20px;
  transform: translate(0px, 0px) matrix(1, 0, 0, 1, 0, 0) rotate(180deg);
  transform-origin: center;
  left: 0px;
  top: 0px;
}
#error_outline-24px {
  fill: rgba(29, 155, 122, 1);
}
.error_outline-24px {
  overflow: visible;
  position: absolute;
  width: 11.453px;
  height: 11.453px;
  left: 161.914px;
  top: 6.837px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#HoaNT_Progress_Bar {
  position: absolute;
  width: 179px;
  height: 21px;
  left: 91.424px;
  top: 60px;
  overflow: visible;
}
#Line_62 {
  fill: transparent;
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_62 {
  overflow: visible;
  position: absolute;
  width: 20.514px;
  height: 1px;
  left: 98.696px;
  top: 10.604px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Line_63 {
  fill: transparent;
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_63 {
  overflow: visible;
  position: absolute;
  width: 20.514px;
  height: 1px;
  left: 139.134px;
  top: 10.374px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Line_66 {
  fill: transparent;
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_66 {
  overflow: visible;
  position: absolute;
  width: 21.242px;
  height: 1.011px;
  left: 59.259px;
  top: 10.489px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Line_67 {
  fill: transparent;
  stroke: rgba(0, 187, 246, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_67 {
  overflow: visible;
  position: absolute;
  width: 19.679px;
  height: 1.011px;
  left: 20.822px;
  top: 10.489px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Ellipse_495 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_495 {
  position: absolute;
  overflow: visible;
  width: 20px;
  height: 21px;
  left: 159px;
  top: 0px;
}
#Ellipse_496 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_496 {
  position: absolute;
  overflow: visible;
  width: 21px;
  height: 21px;
  left: 119px;
  top: 0px;
}
#Group_9920 {
  position: absolute;
  width: 8px;
  height: 9px;
  left: 126px;
  top: 6px;
  overflow: visible;
}
#Path_2965 {
  fill: rgba(121, 121, 121, 1);
}
.Path_2965 {
  overflow: visible;
  position: absolute;
  width: 8px;
  height: 9px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_2966 {
  fill: rgba(121, 121, 121, 1);
}
.Path_2966 {
  overflow: visible;
  position: absolute;
  width: 0.613px;
  height: 0.612px;
  left: 3.694px;
  top: 5.178px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_2967 {
  fill: rgba(121, 121, 121, 1);
}
.Path_2967 {
  overflow: visible;
  position: absolute;
  width: 0.613px;
  height: 1.154px;
  left: 3.694px;
  top: 3.037px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Ellipse_490 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_490 {
  position: absolute;
  overflow: visible;
  width: 20px;
  height: 21px;
  left: 80px;
  top: 0px;
}
#request {
  position: absolute;
  width: 9px;
  height: 9px;
  left: 86px;
  top: 6px;
  overflow: visible;
}
#Path_2864 {
  fill: rgba(121, 121, 121, 1);
}
.Path_2864 {
  overflow: visible;
  position: absolute;
  width: 2.378px;
  height: 0.57px;
  left: 3.256px;
  top: 1.988px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_2865 {
  fill: rgba(121, 121, 121, 1);
}
.Path_2865 {
  overflow: visible;
  position: absolute;
  width: 6.514px;
  height: 9px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_2866 {
  fill: rgba(121, 121, 121, 1);
}
.Path_2866 {
  overflow: visible;
  position: absolute;
  width: 1.933px;
  height: 9px;
  left: 7.067px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_2867 {
  fill: rgba(121, 121, 121, 1);
}
.Path_2867 {
  overflow: visible;
  position: absolute;
  width: 1.842px;
  height: 1.435px;
  left: 1.231px;
  top: 1.491px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_2868 {
  fill: rgba(121, 121, 121, 1);
}
.Path_2868 {
  overflow: visible;
  position: absolute;
  width: 2.378px;
  height: 0.57px;
  left: 3.256px;
  top: 3.58px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_2869 {
  fill: rgba(121, 121, 121, 1);
}
.Path_2869 {
  overflow: visible;
  position: absolute;
  width: 1.842px;
  height: 1.435px;
  left: 1.231px;
  top: 3.069px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_2870 {
  fill: rgba(121, 121, 121, 1);
}
.Path_2870 {
  overflow: visible;
  position: absolute;
  width: 2.378px;
  height: 0.57px;
  left: 3.256px;
  top: 5.172px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_2871 {
  fill: rgba(121, 121, 121, 1);
}
.Path_2871 {
  overflow: visible;
  position: absolute;
  width: 2.378px;
  height: 0.57px;
  left: 3.256px;
  top: 6.824px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_2872 {
  fill: rgba(121, 121, 121, 1);
}
.Path_2872 {
  overflow: visible;
  position: absolute;
  width: 1.842px;
  height: 1.435px;
  left: 1.231px;
  top: 4.646px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Ellipse_493 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_493 {
  position: absolute;
  overflow: visible;
  width: 20px;
  height: 21px;
  left: 40px;
  top: 0px;
}
#Mask_Group_9857 {
  position: absolute;
  width: 10px;
  height: 8px;
  left: 45px;
  top: 7px;
  overflow: visible;
}
#checkline {
  position: absolute;
  width: 10px;
  height: 8px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Group_9847 {
  position: absolute;
  width: 10px;
  height: 8px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Path_2888 {
  fill: rgba(121, 121, 121, 1);
}
.Path_2888 {
  overflow: visible;
  position: absolute;
  width: 10px;
  height: 8px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Ellipse_494 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(0, 187, 246, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_494 {
  position: absolute;
  overflow: visible;
  width: 21px;
  height: 21px;
  left: 0px;
  top: 0px;
}
#menu {
  position: absolute;
  width: 11.077px;
  height: 8px;
  left: 5px;
  top: 7px;
  overflow: visible;
}
#menu_hs {
  position: absolute;
  width: 11.077px;
  height: 8px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Path_2889 {
  fill: rgba(0, 187, 246, 1);
}
.Path_2889 {
  overflow: visible;
  position: absolute;
  width: 11.077px;
  height: 0.923px;
  left: 0px;
  top: 3.539px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_2890 {
  fill: rgba(0, 187, 246, 1);
}
.Path_2890 {
  overflow: visible;
  position: absolute;
  width: 11.077px;
  height: 0.923px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_2891 {
  fill: rgba(0, 187, 246, 1);
}
.Path_2891 {
  overflow: visible;
  position: absolute;
  width: 11.077px;
  height: 0.923px;
  left: 0px;
  top: 7.077px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Icon_metro-money {
  fill: rgba(121, 121, 121, 1);
}
.Icon_metro-money {
  overflow: visible;
  position: absolute;
  width: 5.079px;
  height: 8.975px;
  left: 166px;
  top: 6px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Cam-ket {
  position: absolute;
  width: 320px;
  height: 122px;
  left: 20px;
  top: 94px;
  overflow: visible;
}
#choose_heder_hy {
  position: absolute;
  width: 171px;
  height: 20px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Cam_kt_ca_Easifix {
  left: 30px;
  top: 1px;
  position: absolute;
  overflow: visible;
  width: 142px;
  white-space: nowrap;
  line-height: 24px;
  margin-top: -4px;
  text-align: left;

  font-weight: normal;
  font-size: 16px;
  color: rgba(36, 39, 43, 1);
}
#Mask_Group_5 {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Group_9897 {
  position: absolute;
  width: 320px;
  height: 91px;
  left: 0px;
  top: 31px;
  overflow: visible;
}
#Rectangle_2373 {
  opacity: 0.2;
  fill: rgba(218, 222, 227, 1);
  stroke: rgba(189, 189, 189, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_2373 {
  position: absolute;
  overflow: visible;
  width: 320px;
  height: 91px;
  left: 0px;
  top: 0px;
}
#Group_9891 {
  position: absolute;
  width: 48px;
  height: 81px;
  left: 10px;
  top: 5px;
  overflow: visible;
}
#Ellipse_497 {
  opacity: 0.2;
  fill: rgba(51, 191, 154, 1);
}
.Ellipse_497 {
  position: absolute;
  overflow: visible;
  width: 47px;
  height: 47px;
  left: 0px;
  top: 0px;
}
#warranty {
  position: absolute;
  width: 23.408px;
  height: 24.729px;
  left: 11.331px;
  top: 11.01px;
  overflow: visible;
}
#Group_9898 {
  position: absolute;
  width: 23.408px;
  height: 24.729px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Path_2937 {
  fill: rgba(51, 191, 154, 1);
}
.Path_2937 {
  overflow: visible;
  position: absolute;
  width: 23.408px;
  height: 24.729px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Bo_hnh_dch_v {
  left: 0px;
  top: 52px;
  position: absolute;
  overflow: visible;
  width: 49px;
  height: 29px;
  text-align: center;

  line-height: 12px;
  font-weight: bold;
  font-size: 10px;
  color: rgba(80, 80, 80, 1);
}
#Group_9892 {
  position: absolute;
  width: 65px;
  height: 81px;
  left: 65.167px;
  top: 5px;
  overflow: visible;
}
#Ellipse_497_ia {
  opacity: 0.2;
  fill: rgba(51, 191, 154, 1);
}
.Ellipse_497_ia {
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 47px;
  left: 8px;
  top: 0px;
}
#surface1 {
  position: absolute;
  width: 20.331px;
  height: 23.875px;
  left: 21.449px;
  top: 11.965px;
  overflow: visible;
}
#Path_2935 {
  fill: rgba(51, 191, 154, 1);
}
.Path_2935 {
  overflow: visible;
  position: absolute;
  width: 9.098px;
  height: 9.098px;
  left: 5.616px;
  top: 7.389px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_2936 {
  fill: rgba(51, 191, 154, 1);
}
.Path_2936 {
  overflow: visible;
  position: absolute;
  width: 20.331px;
  height: 23.875px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Bo_him_hng_v_ {
  left: 0px;
  top: 52px;
  position: absolute;
  overflow: visible;
  width: 66px;
  height: 29px;
  text-align: center;

  line-height: 12px;

  font-weight: bold;
  font-size: 10px;
  color: rgba(80, 80, 80, 1);
}
#Group_9893 {
  position: absolute;
  width: 54px;
  height: 81px;
  left: 136.313px;
  top: 5px;
  overflow: visible;
}
#Ellipse_497_ig {
  opacity: 0.2;
  fill: rgba(51, 191, 154, 1);
}
.Ellipse_497_ig {
  position: absolute;
  overflow: visible;
  width: 47px;
  height: 47px;
  left: 0px;
  top: 0px;
}
#peoplechecked {
  position: absolute;
  width: 22.254px;
  height: 23.875px;
  left: 12.331px;
  top: 11.01px;
  overflow: visible;
}
#Path_2932 {
  fill: rgba(51, 191, 154, 1);
}
.Path_2932 {
  overflow: visible;
  position: absolute;
  width: 17.459px;
  height: 23.875px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_2933 {
  fill: rgba(51, 191, 154, 1);
}
.Path_2933 {
  overflow: visible;
  position: absolute;
  width: 3.134px;
  height: 2.984px;
  left: 17.459px;
  top: 20.891px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_2934 {
  fill: rgba(51, 191, 154, 1);
}
.Path_2934 {
  overflow: visible;
  position: absolute;
  width: 11.958px;
  height: 9.421px;
  left: 10.296px;
  top: 14.454px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Nhn_thn_m_bo {
  left: 0px;
  top: 52px;
  position: absolute;
  overflow: visible;
  width: 55px;
  height: 29px;
  text-align: center;

  line-height: 12px;

  font-weight: bold;
  font-size: 10px;
  color: rgba(80, 80, 80, 1);
}
#Group_9894 {
  position: absolute;
  width: 48px;
  height: 81px;
  left: 199.024px;
  top: 5px;
  overflow: visible;
}
#Ellipse_497_in {
  opacity: 0.2;
  fill: rgba(51, 191, 154, 1);
}
.Ellipse_497_in {
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 47px;
  left: 0px;
  top: 0px;
}
#hand-security-shield-protectio {
  position: absolute;
  width: 23.64px;
  height: 23.875px;
  left: 11.795px;
  top: 11.01px;
  overflow: visible;
}
#Path_2938 {
  fill: rgba(51, 191, 154, 1);
}
.Path_2938 {
  overflow: visible;
  position: absolute;
  width: 11.103px;
  height: 14.327px;
  left: 6.406px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_2939 {
  fill: rgba(51, 191, 154, 1);
}
.Path_2939 {
  overflow: visible;
  position: absolute;
  width: 21.078px;
  height: 8.312px;
  left: 2.562px;
  top: 15.563px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_2940 {
  fill: rgba(51, 191, 154, 1);
}
.Path_2940 {
  overflow: visible;
  position: absolute;
  width: 1.708px;
  height: 5.978px;
  left: 0px;
  top: 17.897px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#m_bo_an_ton {
  left: 0px;
  top: 52px;
  position: absolute;
  overflow: visible;
  width: 49px;
  height: 29px;
  text-align: center;

  line-height: 12px;

  font-weight: bold;
  font-size: 10px;
  color: rgba(80, 80, 80, 1);
}
#Group_9895 {
  position: absolute;
  width: 48px;
  height: 81px;
  left: 262px;
  top: 5px;
  overflow: visible;
}
#Ellipse_497_iu {
  opacity: 0.2;
  fill: rgba(51, 191, 154, 1);
}
.Ellipse_497_iu {
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 47px;
  left: 0px;
  top: 0px;
}
#skill {
  position: absolute;
  width: 28.325px;
  height: 24.219px;
  left: 9.5px;
  top: 11.606px;
  overflow: visible;
}
#Group_9900 {
  position: absolute;
  width: 3.09px;
  height: 3.666px;
  left: 20.865px;
  top: 16.662px;
  overflow: visible;
}
#Group_9899 {
  position: absolute;
  width: 3.09px;
  height: 3.666px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Path_2941 {
  fill: rgba(51, 191, 154, 1);
}
.Path_2941 {
  overflow: visible;
  position: absolute;
  width: 3.09px;
  height: 3.666px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Group_9902 {
  position: absolute;
  width: 2.711px;
  height: 3.666px;
  left: 25.614px;
  top: 16.662px;
  overflow: visible;
}
#Group_9901 {
  position: absolute;
  width: 2.711px;
  height: 3.666px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Rectangle_2380 {
  fill: rgba(51, 191, 154, 1);
}
.Rectangle_2380 {
  position: absolute;
  overflow: visible;
  width: 2.711px;
  height: 3.666px;
  left: 0px;
  top: 0px;
}
#Group_9904 {
  position: absolute;
  width: 4.481px;
  height: 3.666px;
  left: 23.844px;
  top: 10.289px;
  overflow: visible;
}
#Group_9903 {
  position: absolute;
  width: 4.481px;
  height: 3.666px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Rectangle_2381 {
  fill: rgba(51, 191, 154, 1);
}
.Rectangle_2381 {
  position: absolute;
  overflow: visible;
  width: 4.481px;
  height: 3.666px;
  left: 0px;
  top: 0px;
}
#Group_9906 {
  position: absolute;
  width: 6.251px;
  height: 3.666px;
  left: 22.073px;
  top: 3.916px;
  overflow: visible;
}
#Group_9905 {
  position: absolute;
  width: 6.251px;
  height: 3.666px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Rectangle_2382 {
  fill: rgba(51, 191, 154, 1);
}
.Rectangle_2382 {
  position: absolute;
  overflow: visible;
  width: 6.251px;
  height: 3.666px;
  left: 0px;
  top: 0px;
}
#Group_9908 {
  position: absolute;
  width: 18.603px;
  height: 16.308px;
  left: 3.581px;
  top: 0px;
  overflow: visible;
}
#Group_9907 {
  position: absolute;
  width: 18.603px;
  height: 16.308px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Path_2942 {
  fill: rgba(51, 191, 154, 1);
}
.Path_2942 {
  overflow: visible;
  position: absolute;
  width: 18.604px;
  height: 16.308px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Group_9910 {
  position: absolute;
  width: 3.864px;
  height: 6.252px;
  left: 8.677px;
  top: 17.967px;
  overflow: visible;
}
#Group_9909 {
  position: absolute;
  width: 3.864px;
  height: 6.252px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Path_2943 {
  fill: rgba(51, 191, 154, 1);
}
.Path_2943 {
  overflow: visible;
  position: absolute;
  width: 3.864px;
  height: 6.252px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Group_9912 {
  position: absolute;
  width: 8.431px;
  height: 10.576px;
  left: 0px;
  top: 13.643px;
  overflow: visible;
}
#Group_9911 {
  position: absolute;
  width: 8.431px;
  height: 10.576px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Path_2944 {
  fill: rgba(51, 191, 154, 1);
}
.Path_2944 {
  overflow: visible;
  position: absolute;
  width: 8.431px;
  height: 10.576px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Group_9914 {
  position: absolute;
  width: 8.431px;
  height: 10.576px;
  left: 12.788px;
  top: 13.644px;
  overflow: visible;
}
#Group_9913 {
  position: absolute;
  width: 8.431px;
  height: 10.576px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Path_2945 {
  fill: rgba(51, 191, 154, 1);
}
.Path_2945 {
  overflow: visible;
  position: absolute;
  width: 8.431px;
  height: 10.576px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Kh_nng_nhn_vin {
  left: 0px;
  top: 52px;
  position: absolute;
  overflow: visible;
  width: 49px;
  height: 29px;
  text-align: center;

  line-height: 12px;

  font-weight: bold;
  font-size: 10px;
  color: rgba(80, 80, 80, 1);
}
