<ion-card class="p-2">
  <h5 class="ml-2">Chi tiết dịch vụ</h5>
  <div>
    <b class="ml-2">Tên hãng sản xuất</b>
  </div>
  <small class="ml-2 mt-3"
    >Mẹo: Chọn hãng sẽ giúp bạn nhân viên chuẩn bị tốt hơn</small
  >
  <ion-input
    [formControl]="search"
    class="mx-2 w-90 border rounded-lg px-2"
    placeholder="Tìm kiếm ..."
  ></ion-input>
  <div class="d-flex flex-wrap ml-2" id="predictions">
    <ion-button
      fill="outline"
      size="small"
      class="rounded-circle"
      (click)="setSearchValue(item)"
      *ngFor="let item of getPredictions()"
    >
      {{ item }}
    </ion-button>
  </div>

  <ion-button expand="block" class="w-100 mx-auto" (click)="goToSearch()"
    >Xác nhận</ion-button
  >
  <p class="w-100 mx-auto text-center">
    <ion-text (click)="goToSearch()">Bỏ qua</ion-text>
  </p>
</ion-card>
