.mediaViewInfo {
  --web-view-name: store-call-details;
  --web-view-id: store-call-details;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}

:root {
  --web-view-ids: store-call-details;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

#store-call-details {
  position: absolute;
  width: 360px;
  height: 760px;
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
  --web-view-name: store-call-details;
  --web-view-id: store-call-details;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}

#Group_9672 {
  position: absolute;
  width: 397.44px;
  height: 896px;
  left: -37.44px;
  top: -387px;
  overflow: visible;
}

#Background_Mask {
  position: absolute;
  width: 397.44px;
  height: 896px;
  left: 0;
  top: 0;
  overflow: visible;
}

#Sign_n {
  left: 129.6px;
  top: 465px;
  position: absolute;
  overflow: visible;
  width: 171px;
  white-space: nowrap;
  text-align: left;

  font-weight: bold;
  font-size: 13px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 0.7142857360839844px;
  text-transform: uppercase;
}

#tam {
  position: absolute;
  width: 145px;
  height: 144px;
  left: 107.5px;
  top: 130px;
  overflow: visible;
}

#ID1_TCWP0EaaIwLg9kT-PrT-HA {
  position: absolute;
  width: 145px;
  height: 144px;
  left: 0;
  top: 0;
  overflow: visible;
}

#Ellipse_52 {
  opacity: 0.941;
  fill: rgba(223, 47, 69, 1);
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: store_details.html;
  cursor: pointer;
}

.Ellipse_52 {
  position: absolute;
  overflow: visible;
  width: 71px;
  height: 71px;
  left: 144.5px;
  top: 561px;
}

#Ellipse_53 {
  opacity: 0.2;
  fill: rgba(51, 191, 154, 1);
}

.Ellipse_53 {
  position: absolute;
  overflow: visible;
  width: 71px;
  height: 71px;
  left: 55.138px;
  top: 415px;
}

#Ellipse_54 {
  opacity: 0.2;
  fill: rgba(51, 191, 154, 1);
}

.Ellipse_54 {
  position: absolute;
  overflow: visible;
  width: 71px;
  height: 71px;
  left: 144.5px;
  top: 415px;
}

#Ellipse_55 {
  opacity: 0.2;
  fill: rgba(51, 191, 154, 1);
}

.Ellipse_55 {
  position: absolute;
  overflow: visible;
  width: 71px;
  height: 71px;
  left: 233.862px;
  top: 415px;
}

#Group_456 {
  opacity: 0.941;
  position: absolute;
  width: 26.035px;
  height: 26.035px;
  left: 166.906px;
  top: 584.428px;
  overflow: visible;
}

#Group_452 {
  position: absolute;
  width: 26.035px;
  height: 26.035px;
  left: 0;
  top: 0;
  overflow: visible;
}

#Icon_ionic-md-call {
  fill: rgba(255, 255, 255, 1);
}

.Icon_ionic-md-call {
  overflow: visible;
  position: absolute;
  width: 26.035px;
  height: 26.035px;
  left: 0;
  top: 0;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Group_2601 {
  position: absolute;
  width: 23.951px;
  height: 23.951px;
  left: 168.503px;
  top: 439.024px;
  overflow: visible;
}

#Group_2599 {
  position: absolute;
  width: 20.957px;
  height: 23.951px;
  left: 260.018px;
  top: 439.024px;
  overflow: visible;
}

#Group_2597 {
  position: absolute;
  width: 19.461px;
  height: 25.95px;
  left: 80.714px;
  top: 437.026px;
  overflow: visible;
}

#ID0504_ {
  left: 150.178px;
  top: 274px;
  position: absolute;
  overflow: visible;
  width: 73px;
  white-space: nowrap;
  text-align: left;

  font-weight: normal;
  font-size: 24px;
  color: rgba(29, 155, 122, 1);
}
