<app-header title="Giao dịch"></app-header>
<ion-content class="mt-2">
    <!-- List of Text Items -->
    <ion-list>
        <ion-item *ngFor="let i of [1, 2, 3, 4]">
            <img src="assets/banner-1.png" class="rounded-lg my-3 mx-2" />
            <div class="d-flex flex-column">
                <div>
                    <ion-text>
                        <h4 class="my-0"><b>Toàn Đặng</b></h4>
                    </ion-text>
                    <p class="mb-0 small">55B Trần Quang Khải, Q1, Tp.HCM</p>
                    <ion-text color="medium">120,000đ</ion-text>
                </div>
                <ion-text color="success"><b>Hoàn thành</b></ion-text>
            </div>
        </ion-item>
    </ion-list>
</ion-content>