<app-header title="Thông tin"> </app-header>
<ion-content>
  <ion-avatar [routerLink]="['..', 'profile']" class="p-1 border mx-auto">
    <img src="assets/avatar.png" />
  </ion-avatar>
  <ion-list class="mt-2">
    <ion-item detail class="center">
      <ion-icon color="primary" size="large" name="help"></ion-icon>
      <ion-label class="pl-1">Câu hỏi thường gặp</ion-label>
    </ion-item>
    <ion-item detail class="center">
      <ion-icon color="primary" name="newspaper"></ion-icon>
      <ion-label class="pl-2">Cam kết của Easy-fix</ion-label>
    </ion-item>
    <ion-item detail class="center">
      <ion-icon color="primary" name="book"></ion-icon>
      <ion-label class="pl-2">Pháp lý</ion-label>
    </ion-item>
    <ion-item detail class="center">
      <ion-icon color="primary" name="thumbs-up"></ion-icon>
      <ion-label class="pl-2">Góp ý</ion-label>
    </ion-item>
    <ion-item detail class="center">
      <ion-icon color="primary" name="call"></ion-icon>
      <ion-label class="pl-2">Liên hệ</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-item lines="none" [routerLink]="['..', 'login']">
  <ion-icon color="primary" name="log-out-outline"></ion-icon>
  <ion-label class="pl-2"> Log out</ion-label>
</ion-item>

<!-- Footer without a border -->
<ion-item color="light" lines="none">
  <ion-label class="pl-1 text-center">Phiên bản 1.0.0 (v01)</ion-label>
</ion-item>
