<div id="setting">
    <div id="Group_9752">
        <svg class="Background" viewBox="0 0 1129.174 603.575">
			<path id="Background" d="M 395.06494140625 603.5745239257813 C 395.06494140625 521.6558837890625 -153.3673095703125 533.8148803710938 42.11847686767578 163.2226867675781 C 98.23765563964844 56.83404541015625 237.5204772949219 1.562225341796875 237.5204772949219 1.562225341796875 L 432.5462646484375 1.562225341796875 C 432.5462646484375 1.562225341796875 465.2982788085938 -1.9527587890625 608.21826171875 1.562225341796875 C 707.1986083984375 335.8070678710938 1129.173828125 281.8300476074219 1129.173828125 108.2904968261719 L 1129.173828125 603.5745239257813 L 395.06494140625 603.5745239257813 Z">
			</path>
		</svg>
    </div>
    <div id="Group_10120">
        <div id="HoaNT_-_Box-shadow" class="HoaNT___Box_shadow">
            <svg class="bg">
				<rect id="bg" rx="12" ry="12" x="0" y="0" width="319" height="630">
				</rect>
			</svg>
        </div>
        <div id="Group_10334">
            <div id="Group_10119">
                <svg class="Rectangle_2400">
					<rect id="Rectangle_2400" rx="0" ry="0" x="0" y="0" width="309" height="52">
					</rect>
				</svg>
                <img id="Mask_Group_9881" src="assets/assets/Mask_Group_9881.png" srcset="assets/Mask_Group_9881.png 1x, assets/Mask_Group_9881@2x.png 2x">

                <div id="Ci_t">
                    <span>Cài đặt</span>
                </div>
                <svg class="Line_72" viewBox="0 0 243 1">
					<path id="Line_72" d="M 0 0 L 243 0">
					</path>
				</svg>
                <div id="icons">
                    <div id="arrow-right">
                        <svg class="Shape" viewBox="0 0 12.438 2">
							<path id="Shape" d="M 0 0 L 12.43847465515137 0">
							</path>
						</svg>
                        <svg class="Shape_cq" viewBox="0 0 4.664 11.819">
							<path id="Shape_cq" d="M 0 0 L 4.6644287109375 5.909292221069336 L 0 11.81858444213867">
							</path>
						</svg>
                    </div>
                </div>
            </div>
            <div id="Group_10315">
                <svg class="Rectangle_2400_cs">
					<rect id="Rectangle_2400_cs" rx="0" ry="0" x="0" y="0" width="309" height="52">
					</rect>
				</svg>
                <img id="Mask_Group_9880" src="assets/Mask_Group_9880.png" srcset="assets/Mask_Group_9880.png 1x, assets/Mask_Group_9880@2x.png 2x">

                <div id="Lin_h">
                    <span>Liên hệ</span>
                </div>
                <svg class="Line_72_cv" viewBox="0 0 243 1">
					<path id="Line_72_cv" d="M 0 0 L 243 0">
					</path>
				</svg>
                <div id="icons_cw">
                    <div id="arrow-right_cx">
                        <svg class="Shape_cy" viewBox="0 0 12.438 2">
							<path id="Shape_cy" d="M 0 0 L 12.43847465515137 0">
							</path>
						</svg>
                        <svg class="Shape_cz" viewBox="0 0 4.664 11.819">
							<path id="Shape_cz" d="M 0 0 L 4.6644287109375 5.909292221069336 L 0 11.81858444213867">
							</path>
						</svg>
                    </div>
                </div>
            </div>
            <div id="Group_10119_c">
                <svg class="Rectangle_2400_c">
					<rect id="Rectangle_2400_c" rx="0" ry="0" x="0" y="0" width="309" height="52">
					</rect>
				</svg>
                <img id="Mask_Group_9879" src="assets/Mask_Group_9879.png" srcset="assets/Mask_Group_9879.png 1x, assets/Mask_Group_9879@2x.png 2x">

                <div id="Gp_">
                    <span>Góp ý</span>
                </div>
                <svg class="Line_72_c" viewBox="0 0 243 1">
					<path id="Line_72_c" d="M 0 0 L 243 0">
					</path>
				</svg>
                <div id="icons_c">
                    <div id="arrow-right_c">
                        <svg class="Shape_c" viewBox="0 0 12.438 2">
							<path id="Shape_c" d="M 0 0 L 12.43847465515137 0">
							</path>
						</svg>
                        <svg class="Shape_da" viewBox="0 0 4.664 11.819">
							<path id="Shape_da" d="M 0 0 L 4.6644287109375 5.909292221069336 L 0 11.81858444213867">
							</path>
						</svg>
                    </div>
                </div>
            </div>
            <div [routerLink]="['..','DESTINATION']" id="Group_10119_da">
                <svg class="Rectangle_2400_da">
					<rect id="Rectangle_2400_da" rx="0" ry="0" x="0" y="0" width="309" height="53">
					</rect>
				</svg>
                <img id="Mask_Group_9878" src="assets/Mask_Group_9878.png" srcset="assets/Mask_Group_9878.png 1x, assets/Mask_Group_9878@2x.png 2x">

                <div id="Php_l">
                    <span>Pháp lý</span>
                </div>
                <svg class="Line_72_dd" viewBox="0 0 228 1">
					<path id="Line_72_dd" d="M 0 0 L 228 0">
					</path>
				</svg>
                <div id="icons_de">
                    <div id="arrow-right_df">
                        <svg class="Shape_dg" viewBox="0 0 12.438 2">
							<path id="Shape_dg" d="M 0 0 L 12.43847465515137 0">
							</path>
						</svg>
                        <svg class="Shape_dh" viewBox="0 0 4.664 11.819">
							<path id="Shape_dh" d="M 0 0 L 4.6644287109375 5.909292221069336 L 0 11.81858444213867">
							</path>
						</svg>
                    </div>
                </div>
            </div>
            <div id="Group_10119_di" [routerLink]="['..','policy-screen']">
                <svg class="Rectangle_2400_dj">
					<rect id="Rectangle_2400_dj" rx="0" ry="0" x="0" y="0" width="309" height="53">
					</rect>
				</svg>
                <img id="Mask_Group_9867" src="assets/Mask_Group_9867.png" srcset="assets/Mask_Group_9867.png 1x, assets/Mask_Group_9867@2x.png 2x">

                <div id="Cam_kt_ca_Easifix">
                    <span>Cam kết của Easifix</span>
                </div>
                <svg class="Line_72_dm" viewBox="0 0 228 1">
					<path id="Line_72_dm" d="M 0 0 L 228 0">
					</path>
				</svg>
                <div id="icons_dn">
                    <div id="arrow-right_do">
                        <svg class="Shape_dp" viewBox="0 0 12.438 2">
							<path id="Shape_dp" d="M 0 0 L 12.43847465515137 0">
							</path>
						</svg>
                        <svg class="Shape_dq" viewBox="0 0 4.664 11.819">
							<path id="Shape_dq" d="M 0 0 L 4.6644287109375 5.909292221069336 L 0 11.81858444213867">
							</path>
						</svg>
                    </div>
                </div>
            </div>
            <div id="Group_10119_dr">
                <svg class="Rectangle_2400_ds">
					<rect id="Rectangle_2400_ds" rx="0" ry="0" x="0" y="0" width="309" height="53">
					</rect>
				</svg>
                <img id="Mask_Group_9867_dt" src="assets/Mask_Group_9867_dt.png" srcset="assets/Mask_Group_9867_dt.png 1x, assets/Mask_Group_9867_dt@2x.png 2x">

                <div id="Cu_hi_thng_gp">
                    <span>Câu hỏi thường gặp</span>
                </div>
                <svg class="Line_72_dv" viewBox="0 0 228 1">
					<path id="Line_72_dv" d="M 0 0 L 228 0">
					</path>
				</svg>
                <div id="icons_dw">
                    <div id="arrow-right_dx">
                        <svg class="Shape_dy" viewBox="0 0 12.438 2">
							<path id="Shape_dy" d="M 0 0 L 12.43847465515137 0">
							</path>
						</svg>
                        <svg class="Shape_dz" viewBox="0 0 4.664 11.819">
							<path id="Shape_dz" d="M 0 0 L 4.6644287109375 5.909292221069336 L 0 11.81858444213867">
							</path>
						</svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="fixer-info">
        <div id="HoaNT_-_Box-shadow_d" class="HoaNT___Box_shadow">
            <svg class="bg_d">
				<rect id="bg_d" rx="12" ry="12" x="0" y="0" width="288" height="90">
				</rect>
			</svg>
        </div>
        <div id="Nguyn_Thanh_Tm">
            <span>Nguyễn Thanh Tâm</span>
        </div>
        <div id="Ngi_dng">
            <span>Người dùng</span>
        </div>
        <img id="tam" src="assets/tam.png" srcset="assets/tam.png 1x, assets/tam@2x.png 2x">
    </div>
    <div id="Phin_bn_10_v1">
        <span>Phiên bản 1.0 (v1)</span>
    </div>
    <div id="Thng_Bao">
        <span>thông tin</span>
    </div>
    <app-bottom-bar></app-bottom-bar>





</div>