.mediaViewInfo {
  --web-view-name: success;
  --web-view-id: success;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}

:root {
  --web-view-ids: success;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

#success {
  position: absolute;
  width: 360px;
  height: 760px;
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
  --web-view-name: success;
  --web-view-id: success;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}

#Home_Indicator {
  position: absolute;
  width: 127px;
  height: 4px;
  left: 117px;
  top: 751px;
}

#Rectangle_24 {
  fill: rgba(189, 189, 189, 1);
}

.Rectangle_24 {
  position: absolute;

  width: 127px;
  height: 4px;
  left: 0;
  top: 0;
}

#top-notibar {
  position: absolute;
  width: 1108.119px;
  height: 640.966px;
  left: -512.223px;
  top: -443.36px;
}

#Group_9752 {
  position: absolute;
  width: 1108.119px;
  height: 640.966px;
  left: 0;
  top: 0;
}

#Background {
  fill: rgba(51, 191, 154, 1);
}

.Background {
  position: absolute;
  width: 1108.119px;
  height: 640.966px;
  transform: translate(0px, 0) matrix(1, 0, 0, 1, 0, 0) rotate(180deg);
  transform-origin: center;
  left: 0;
  top: 0;
}

#Light_Status_Bar {
  position: absolute;
  width: 327.186px;
  height: 15.675px;
  left: 521.223px;
  top: 455.684px;
}

#Battery {
  position: absolute;
  width: 22.919px;
  height: 10.677px;
  left: 304.266px;
  top: 0.003px;
}

#Border {
  fill: rgba(0, 0, 0, 0);
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}

.Border {
  position: absolute;

  width: 20.726px;
  height: 10.677px;
  left: 0;
  top: 0;
}

#Cap {
  fill: rgba(255, 255, 255, 1);
}

.Cap {
  position: absolute;
  width: 1.251px;
  height: 3.768px;
  left: 21.668px;
  top: 3.454px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Capacity {
  fill: rgba(255, 255, 255, 1);
}

.Capacity {
  position: absolute;

  width: 16.958px;
  height: 6.909px;
  left: 1.884px;
  top: 1.884px;
}

#Wifi {
  opacity: 0.96;
  fill: rgba(255, 255, 255, 1);
}

.Wifi {
  position: absolute;
  width: 14.388px;
  height: 10.331px;
  left: 285.136px;
  top: 0;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Cellular_Connection {
  fill: rgba(255, 255, 255, 1);
}

.Cellular_Connection {
  position: absolute;
  width: 16.016px;
  height: 10.049px;
  left: 264.384px;
  top: 0.317px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Time_Style {
  position: absolute;
  width: 51px;
  height: 15px;
  left: 0;
  top: 0.675px;
}

#_Time {
  left: 0;
  top: 0;
  position: absolute;
  overflow: hidden;
  width: 52px;
  height: 15px;
  text-align: center;

  font-weight: normal;
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: -0.2px;
}

#bg {
  fill: rgba(255, 255, 255, 1);
}

.bg {
  filter: drop-shadow(0px 5px 15px rgba(48, 48, 48, 0.2));
  position: absolute;

  width: 399px;
  height: 723px;
  left: 3px;
  top: 87px;
}

#Thng_Bao {
  left: 88px;
  top: 44px;
  position: absolute;

  width: 185px;
  white-space: nowrap;
  text-align: left;

  font-weight: bold;
  font-size: 17px;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
}

#Thng_Bao_cs {
  left: 116px;
  top: 62px;
  position: absolute;

  width: 127px;
  white-space: nowrap;
  line-height: 33px;
  margin-top: -10px;
  text-align: left;

  font-weight: normal;
  font-size: 13px;
  color: rgba(232, 232, 232, 1);
}

#Path_2975 {
  fill: rgba(0, 0, 0, 0);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_2975 {
  position: absolute;
  width: 188.42px;
  height: 1px;
  left: 85.749px;
  top: 200.904px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Thng_Bao_cu {
  left: 139px;
  top: 235px;
  position: absolute;

  width: 80px;
  white-space: nowrap;
  line-height: 32px;
  margin-top: -7px;
  text-align: left;

  font-weight: bold;
  font-size: 18px;
  color: rgba(51, 191, 154, 1);
}

#Rating {
  position: absolute;
  width: 268.537px;
  height: 36.68px;
  left: 53.073px;
  top: 268.206px;
  overflow: hidden;
}

#Rating_0 {
  position: absolute;
  width: 35.75px;
  height: 35.75px;
  left: 0;
  top: 0;
}

#TruongVH_-_Rating {
  position: absolute;
  width: 35.75px;
  height: 35.75px;
  left: 0;
  top: 0;
}

#Path_2087 {
  fill: rgba(51, 191, 154, 1);
}

.Path_2087 {
  position: absolute;
  width: 35.75px;
  height: 35.75px;
  left: 0;
  top: 0;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Rating_1 {
  position: absolute;
  width: 35.75px;
  height: 35.75px;
  left: 56px;
  top: 0;
}

#TruongVH_-_Rating_c {
  position: absolute;
  width: 35.75px;
  height: 35.75px;
  left: 0;
  top: 0;
}

#Path_2087_c {
  fill: rgba(51, 191, 154, 1);
}

.Path_2087_c {
  position: absolute;
  width: 35.75px;
  height: 35.75px;
  left: 0;
  top: 0;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Rating_2 {
  position: absolute;
  width: 35.75px;
  height: 35.75px;
  left: 112px;
  top: 0;
}

#TruongVH_-_Rating_da {
  position: absolute;
  width: 35.75px;
  height: 35.75px;
  left: 0;
  top: 0;
}

#Path_2087_da {
  fill: rgba(51, 191, 154, 1);
}

.Path_2087_da {
  position: absolute;
  width: 35.75px;
  height: 35.75px;
  left: 0;
  top: 0;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Rating_3 {
  position: absolute;
  width: 35.75px;
  height: 35.75px;
  left: 168px;
  top: 0;
}

#TruongVH_-_Rating_db {
  position: absolute;
  width: 35.75px;
  height: 35.75px;
  left: 0;
  top: 0;
}

#Path_2087_db {
  fill: rgba(51, 191, 154, 1);
}

.Path_2087_db {
  position: absolute;
  width: 35.75px;
  height: 35.75px;
  left: 0;
  top: 0;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Rating_4 {
  position: absolute;
  width: 35.75px;
  height: 35.75px;
  left: 224px;
  top: 0;
}

#TruongVH_-_Rating_dc {
  position: absolute;
  width: 35.75px;
  height: 35.75px;
  left: 0;
  top: 0;
}

#Path_2087_dc {
  fill: rgba(51, 191, 154, 1);
}

.Path_2087_dc {
  position: absolute;
  width: 35.75px;
  height: 35.75px;
  left: 0;
  top: 0;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#HoaNT_-_Box-shadow {
  position: absolute;
  width: 316px;
  height: 158px;
  left: 22px;
  top: 316px;
}

#bg_dc {
  fill: rgba(255, 255, 255, 1);
}

.bg_dc {
  filter: drop-shadow(0px 5px 15px rgba(48, 48, 48, 0.2));
  position: absolute;

  width: 361px;
  height: 202px;
  left: 0;
  top: 0;
}

#Thng_thm_cho_th_Khng_bt_buc_ {
  left: 33px;
  top: 336px;
  position: absolute;

  width: 242px;
  white-space: nowrap;
  text-align: left;

  font-size: 13px;
  color: rgba(80, 80, 80, 1);
}

#Bonus {
  position: absolute;
  width: 317px;
  height: 69px;
  left: 21px;
  top: 361px;
  overflow: hidden;
}

#Group_9919 {
  position: absolute;
  width: 94.087px;
  height: 28px;
  left: 0;
  top: 0;
}

#Path_2976 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_2976 {
  position: absolute;
  width: 94.087px;
  height: 28px;
  left: 0;
  top: 0;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#ID5000 {
  opacity: 0.7;
  left: 30px;
  top: 4px;
  position: absolute;

  width: 41px;
  white-space: nowrap;
  line-height: 15px;
  margin-top: -0.5px;
  text-align: center;

  font-weight: bold;
  font-size: 14px;
  color: rgba(51, 191, 154, 1);
  text-transform: capitalize;
}

#Group_9919_di {
  position: absolute;
  width: 94.087px;
  height: 28px;
  left: 110px;
  top: 0;
}

#Path_2976_dj {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_2976_dj {
  position: absolute;
  width: 94.087px;
  height: 28px;
  left: 0;
  top: 0;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#ID10000 {
  opacity: 0.7;
  left: 27px;
  top: 4px;
  position: absolute;

  width: 47px;
  white-space: nowrap;
  line-height: 15px;
  margin-top: -0.5px;
  text-align: center;

  font-weight: bold;
  font-size: 14px;
  color: rgba(51, 191, 154, 1);
  text-transform: capitalize;
}

#Group_9919_dl {
  position: absolute;
  width: 94.087px;
  height: 28px;
  left: 220px;
  top: 0;
}

#Path_2976_dm {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_2976_dm {
  position: absolute;
  width: 94.087px;
  height: 28px;
  left: 0;
  top: 0;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#ID20000 {
  opacity: 0.7;
  left: 26px;
  top: 4px;
  position: absolute;

  width: 49px;
  white-space: nowrap;
  line-height: 15px;
  margin-top: -0.5px;
  text-align: center;

  font-weight: bold;
  font-size: 14px;
  color: rgba(51, 191, 154, 1);
  text-transform: capitalize;
}

#Group_9919_do {
  position: absolute;
  width: 94.087px;
  height: 28px;
  left: 0;
  top: 40px;
}

#Path_2976_dp {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_2976_dp {
  position: absolute;
  width: 94.087px;
  height: 28px;
  left: 0;
  top: 0;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#ID50000 {
  opacity: 0.7;
  left: 25px;
  top: 4px;
  position: absolute;

  width: 51px;
  white-space: nowrap;
  line-height: 15px;
  margin-top: -0.5px;
  text-align: center;

  font-weight: bold;
  font-size: 14px;
  color: rgba(51, 191, 154, 1);
  text-transform: capitalize;
}

#Group_9919_dr {
  position: absolute;
  width: 94.087px;
  height: 28px;
  left: 110px;
  top: 40px;
}

#Path_2976_ds {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_2976_ds {
  position: absolute;
  width: 94.087px;
  height: 28px;
  left: 0;
  top: 0;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#ID75000 {
  opacity: 0.7;
  left: 26px;
  top: 4px;
  position: absolute;

  width: 49px;
  white-space: nowrap;
  line-height: 15px;
  margin-top: -0.5px;
  text-align: center;

  font-weight: bold;
  font-size: 14px;
  color: rgba(51, 191, 154, 1);
  text-transform: capitalize;
}

#Group_9919_du {
  position: absolute;
  width: 94.087px;
  height: 28px;
  left: 220px;
  top: 40px;
}

#Path_2976_dv {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_2976_dv {
  position: absolute;
  width: 94.087px;
  height: 28px;
  left: 0;
  top: 0;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#ID100000 {
  opacity: 0.7;
  left: 23px;
  top: 4px;
  position: absolute;

  width: 55px;
  white-space: nowrap;
  line-height: 15px;
  margin-top: -0.5px;
  text-align: center;

  font-weight: bold;
  font-size: 14px;
  color: rgba(51, 191, 154, 1);
  text-transform: capitalize;
}

#Component_4__34 {
  position: absolute;
  width: 331px;
  height: 38px;
  left: 15px;
  top: 648px;

  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: history_complete.html;
  cursor: pointer;
}

#Rectangle_2309 {
  fill: rgba(51, 191, 154, 1);
}

.Rectangle_2309 {
  position: absolute;

  width: 332px;
  height: 38px;
  left: 0;
  top: 0;
}

#Gi_phn_hi {
  left: 118px;
  top: 11px;
  position: absolute;

  width: 95px;
  white-space: nowrap;
  line-height: 17px;
  margin-top: -2px;
  text-align: center;

  font-weight: bold;
  font-size: 13px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 0.2px;
  text-transform: uppercase;
}

#HoaNT_-_Box-shadow_d {
  position: absolute;
  width: 316px;
  height: 131px;
  left: 22px;
  top: 492px;
}

#bg_d {
  fill: rgba(255, 255, 255, 1);
}

.bg_d {
  filter: drop-shadow(0px 5px 15px rgba(48, 48, 48, 0.2));
  position: absolute;

  width: 361px;
  height: 177px;
  left: 0;
  top: 0;
}

#fixer-info {
  position: absolute;
  width: 316px;
  height: 118px;
  left: 22px;
  top: 96px;
}

#HoaNT_-_Box-shadow_ea {
  position: absolute;
  width: 315px;
  height: 85px;
  left: 1px;
  top: 33px;
}

#bg_ea {
  fill: rgba(255, 255, 255, 1);
}

.bg_ea {
  filter: drop-shadow(0px 5px 15px rgba(48, 48, 48, 0.2));
  position: absolute;

  width: 360px;
  height: 130px;
  left: 0;
  top: 0;
}

#truong {
  position: absolute;
  width: 85px;
  height: 85px;
  left: 0;
  top: 33px;
}

#a_ch__Ca_hng_in_lnh_-_C_Kh_Ton {
  left: 94px;
  top: 74px;
  position: absolute;

  width: 213px;
  height: 43px;
  line-height: 14px;
  margin-top: -2px;
  text-align: left;

  font-size: 10px;
  color: rgba(80, 80, 80, 1);
}

#V_Hu_Trng {
  left: 94px;
  top: 38px;
  position: absolute;

  width: 175px;
  height: 17px;
  line-height: 24px;
  margin-top: -4px;
  text-align: left;

  font-weight: normal;
  font-size: 16px;
  color: rgba(36, 39, 43, 1);
}

#S_in_thoi_0123456789 {
  left: 94px;
  top: 59px;
  position: absolute;

  width: 175px;
  height: 17px;
  line-height: 14px;
  margin-top: -1px;
  text-align: left;

  font-size: 12px;
  color: rgba(80, 80, 80, 1);
}

#info {
  position: absolute;
  width: 106px;
  height: 19px;
  left: 1px;
  top: 0;
}

#Thng_tin_th {
  left: 23px;
  top: 1px;
  position: absolute;

  width: 84px;
  white-space: nowrap;
  line-height: 21px;
  margin-top: -3.5px;
  text-align: left;

  font-weight: normal;
  font-size: 14px;
  color: rgba(36, 39, 43, 1);
}

#Mask_Group_9862 {
  position: absolute;
  width: 19px;
  height: 19px;
  left: 0;
  top: 0;
}

#Line_73 {
  fill: transparent;
  stroke: rgba(218, 222, 227, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Line_73 {
  position: absolute;
  width: 274.748px;
  height: 1px;
  left: 36.922px;
  top: 546.655px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Path_3343 {
  fill: rgba(0, 0, 0, 0);
  stroke: rgba(218, 222, 227, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_3343 {
  position: absolute;
  width: 274.748px;
  height: 1px;
  left: 34.511px;
  top: 574.918px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Line_75 {
  fill: transparent;
  stroke: rgba(218, 222, 227, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Line_75 {
  position: absolute;
  width: 274.748px;
  height: 1px;
  left: 34.511px;
  top: 603.181px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Line_76 {
  fill: transparent;
  stroke: rgba(218, 222, 227, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Line_76 {
  position: absolute;
  width: 274.748px;
  height: 1px;
  left: 36.001px;
  top: 641.807px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#ng_gp__kin_Khng_bt_buc {
  left: 33px;
  top: 508px;
  position: absolute;

  width: 198px;
  white-space: nowrap;
  text-align: left;

  font-size: 13px;
  color: rgba(80, 80, 80, 1);
}

#Rectangle_2445 {
  opacity: 0.25;
  fill: rgba(29, 155, 122, 1);
}

.Rectangle_2445 {
  position: absolute;

  width: 61px;
  height: 55px;
  left: 115px;
  top: 701px;
}

#Group_10337 {
  position: absolute;
  width: 353.287px;
  height: 66.643px;
  left: 4.258px;
  top: 697.165px;
}

#Path_3058 {
  opacity: 0.997;
  fill: rgba(247, 247, 247, 1);
}

.Path_3058 {
  filter: drop-shadow(0px -1px 0 rgba(2, 2, 2, 0.4));

  position: absolute;
  width: 353.287px;
  height: 67.643px;
  left: 0;
  top: 0;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Home_Indicator_ek {
  position: absolute;
  width: 126px;
  height: 4px;
  left: 113.742px;
  top: 53.835px;
}

#Rectangle_24_el {
  fill: rgba(189, 189, 189, 1);
}

.Rectangle_24_el {
  position: absolute;

  width: 126px;
  height: 4px;
  left: 0;
  top: 0;
}

#Thong_TIn {
  position: absolute;
  width: 33.094px;
  height: 32.414px;
  left: 293.935px;
  top: 15.77px;

  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: setting.html;
  cursor: pointer;
}

#list-symbol-of-three-items-wit {
  position: absolute;
  width: 33.094px;
  height: 22.963px;
  left: 0;
  top: 0;
}

#_x33__32_ {
  position: absolute;
  width: 33.094px;
  height: 22.963px;
  left: 0;
  top: 0;
}

#Group_10306 {
  position: absolute;
  width: 33.094px;
  height: 22.963px;
  left: 0;
  top: 0;
}

#Path_3265 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 1.5px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_3265 {
  position: absolute;
  width: 34.594px;
  height: 24.463px;
  left: 0;
  top: 0;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Thng_tin {
  left: 0.7px;
  top: 25.414px;
  position: absolute;

  width: 30px;
  white-space: nowrap;
  line-height: 16px;
  margin-top: -4.5px;
  text-align: left;

  font-size: 7px;
  color: rgba(80, 80, 80, 1);
}

#Thong_Bao {
  position: absolute;
  width: 33px;
  height: 35.833px;
  left: 206.742px;
  top: 12.001px;

  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: notification_screen.html;
  cursor: pointer;
}

#notification {
  position: absolute;
  width: 23.661px;
  height: 25.812px;
  left: 5.048px;
  top: 0;
}

#Path_3262 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 1.5px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_3262 {
  position: absolute;
  width: 9.739px;
  height: 4.726px;
  left: 6.804px;
  top: 22.585px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Path_3263 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 1.5px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_3263 {
  position: absolute;
  width: 23.041px;
  height: 20.859px;
  left: 0;
  top: 2.151px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Path_3264 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 1.5px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_3264 {
  position: absolute;
  width: 12.254px;
  height: 12.255px;
  left: 12.907px;
  top: 0;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Thng_bo {
  left: 0;
  top: 28.833px;
  position: absolute;

  width: 34px;
  white-space: nowrap;
  line-height: 16px;
  margin-top: -4.5px;
  text-align: left;

  font-size: 7px;
  color: rgba(80, 80, 80, 1);
}

#Lich_Su {
  position: absolute;
  width: 24.785px;
  height: 40.916px;
  left: 128.125px;
  top: 7.291px;

  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: history_ongoing.html;
  cursor: pointer;
}

#Path_3261 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07999999821186066px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_3261 {
  position: absolute;
  width: 24.231px;
  height: 29.531px;
  left: 0;
  top: 0;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Lch_s {
  left: 1.785px;
  top: 33.916px;
  position: absolute;

  width: 24px;
  white-space: nowrap;
  line-height: 16px;
  margin-top: -4.5px;
  text-align: left;

  font-size: 7px;
  color: rgba(80, 80, 80, 1);
}

#Home {
  position: absolute;
  width: 48px;
  height: 41.15px;
  left: 32.031px;
  top: 7.291px;

  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: Home.html;
  cursor: pointer;
}

#house {
  position: absolute;
  width: 23.89px;
  height: 30.792px;
  left: 12.247px;
  top: 0;
}

#Group_10261 {
  position: absolute;
  width: 0.747px;
  height: 9.169px;
  left: 8.212px;
  top: 6.709px;
}

#Group_10260 {
  position: absolute;
  width: 0.747px;
  height: 9.169px;
  left: 0;
  top: 0;
}

#Path_3238 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_3238 {
  position: absolute;
  width: 0.825px;
  height: 9.247px;
  left: 0;
  top: 0;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Group_10263 {
  position: absolute;
  width: 0.747px;
  height: 9.198px;
  left: 18.665px;
  top: 6.68px;
}

#Group_10262 {
  position: absolute;
  width: 0.747px;
  height: 9.198px;
  left: 0;
  top: 0;
}

#Path_3239 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_3239 {
  position: absolute;
  width: 0.825px;
  height: 9.276px;
  left: 0;
  top: 0;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Group_10265 {
  position: absolute;
  width: 7.093px;
  height: 6.736px;
  left: 7.093px;
  top: 0;
}

#Group_10264 {
  position: absolute;
  width: 7.093px;
  height: 6.736px;
  left: 0;
  top: 0;
}

#Path_3240 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_3240 {
  position: absolute;
  width: 7.214px;
  height: 6.815px;
  left: 0;
  top: 0;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Group_10267 {
  position: absolute;
  width: 7.093px;
  height: 6.736px;
  left: 13.438px;
  top: 0;
}

#Group_10266 {
  position: absolute;
  width: 7.093px;
  height: 6.736px;
  left: 0;
  top: 0;
}

#Path_3241 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_3241 {
  position: absolute;
  width: 7.214px;
  height: 6.815px;
  left: 0;
  top: 0;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Group_10269 {
  position: absolute;
  width: 7.093px;
  height: 6.736px;
  left: 7.093px;
  top: 1.925px;
}

#Group_10268 {
  position: absolute;
  width: 7.093px;
  height: 6.736px;
  left: 0;
  top: 0;
}

#Path_3242 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_3242 {
  position: absolute;
  width: 7.214px;
  height: 6.815px;
  left: 0;
  top: 0;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Group_10271 {
  position: absolute;
  width: 7.093px;
  height: 6.736px;
  left: 13.438px;
  top: 1.925px;
}

#Group_10270 {
  position: absolute;
  width: 7.093px;
  height: 6.736px;
  left: 0;
  top: 0;
}

#Path_3243 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_3243 {
  position: absolute;
  width: 7.214px;
  height: 6.815px;
  left: 0;
  top: 0;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Group_10273 {
  position: absolute;
  width: 0.747px;
  height: 2.887px;
  left: 7.092px;
  top: 5.774px;
}

#Group_10272 {
  position: absolute;
  width: 0.747px;
  height: 2.887px;
  left: 0;
  top: 0;
}

#Path_3244 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_3244 {
  position: absolute;
  width: 0.825px;
  height: 2.965px;
  left: 0;
  top: 0;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Group_10275 {
  position: absolute;
  width: 0.747px;
  height: 2.887px;
  left: 19.784px;
  top: 5.774px;
}

#Group_10274 {
  position: absolute;
  width: 0.747px;
  height: 2.887px;
  left: 0;
  top: 0;
}

#Path_3245 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_3245 {
  position: absolute;
  width: 0.825px;
  height: 2.965px;
  left: 0;
  top: 0;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Group_10277 {
  position: absolute;
  width: 3.733px;
  height: 7.217px;
  left: 11.945px;
  top: 8.661px;
}

#Group_10276 {
  position: absolute;
  width: 3.733px;
  height: 7.217px;
  left: 0;
  top: 0;
}

#Path_3246 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_3246 {
  position: absolute;
  width: 3.811px;
  height: 7.295px;
  left: 0;
  top: 0;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Group_10279 {
  position: absolute;
  width: 11.199px;
  height: 0.962px;
  left: 8.212px;
  top: 14.915px;
}

#Group_10278 {
  position: absolute;
  width: 11.199px;
  height: 0.962px;
  left: 0;
  top: 0;
}

#Path_3247 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_3247 {
  position: absolute;
  width: 11.277px;
  height: 1.04px;
  left: 0;
  top: 0;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Group_10281 {
  position: absolute;
  width: 0.748px;
  height: 0.962px;
  left: 1.876px;
  top: 27.906px;
}

#Group_10280 {
  position: absolute;
  width: 0.748px;
  height: 0.962px;
  left: 0;
  top: 0;
}

#Path_3248 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_3248 {
  position: absolute;
  width: 0.827px;
  height: 1.04px;
  left: 0;
  top: 0;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Group_10283 {
  position: absolute;
  width: 2.24px;
  height: 4.554px;
  left: 21.651px;
  top: 19.245px;
}

#Group_10282 {
  position: absolute;
  width: 2.24px;
  height: 4.554px;
  left: 0;
  top: 0;
}

#Path_3249 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_3249 {
  position: absolute;
  width: 2.318px;
  height: 4.632px;
  left: 0;
  top: 0;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Group_10285 {
  position: absolute;
  width: 10.825px;
  height: 7.956px;
  left: 12.318px;
  top: 22.837px;
}

#Group_10284 {
  position: absolute;
  width: 10.825px;
  height: 7.956px;
  left: 0;
  top: 0;
}

#Path_3250 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_3250 {
  position: absolute;
  width: 10.94px;
  height: 8.035px;
  left: 0;
  top: 0;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Group_10287 {
  position: absolute;
  width: 9.332px;
  height: 2.406px;
  left: 3.733px;
  top: 28.386px;
}

#Group_10286 {
  position: absolute;
  width: 9.332px;
  height: 2.406px;
  left: 0;
  top: 0;
}

#Path_3251 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_3251 {
  position: absolute;
  width: 9.416px;
  height: 2.485px;
  left: 0;
  top: 0;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Group_10289 {
  position: absolute;
  width: 4.479px;
  height: 13.953px;
  left: 0;
  top: 16.359px;
}

#Group_10288 {
  position: absolute;
  width: 4.479px;
  height: 13.953px;
  left: 0;
  top: 0;
}

#Path_3252 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_3252 {
  position: absolute;
  width: 4.558px;
  height: 14.031px;
  left: 0;
  top: 0;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Group_10291 {
  position: absolute;
  width: 7.957px;
  height: 2.377px;
  left: 14.185px;
  top: 19.274px;
}

#Group_10290 {
  position: absolute;
  width: 7.957px;
  height: 2.377px;
  left: 0;
  top: 0;
}

#Path_3253 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_3253 {
  position: absolute;
  width: 8.042px;
  height: 2.456px;
  left: 0;
  top: 0;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Group_10293 {
  position: absolute;
  width: 2.24px;
  height: 4.782px;
  left: 12.692px;
  top: 18.794px;
}

#Group_10292 {
  position: absolute;
  width: 2.24px;
  height: 4.782px;
  left: 0;
  top: 0;
}

#Path_3254 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_3254 {
  position: absolute;
  width: 2.318px;
  height: 4.861px;
  left: 0;
  top: 0;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Group_10295 {
  position: absolute;
  width: 6.603px;
  height: 2.435px;
  left: 7.092px;
  top: 17.32px;
}

#Group_10294 {
  position: absolute;
  width: 6.603px;
  height: 2.435px;
  left: 0;
  top: 0;
}

#Path_3255 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_3255 {
  position: absolute;
  width: 6.691px;
  height: 2.514px;
  left: 0;
  top: 0;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Group_10297 {
  position: absolute;
  width: 4.106px;
  height: 0.962px;
  left: 3.733px;
  top: 17.321px;
}

#Group_10296 {
  position: absolute;
  width: 4.106px;
  height: 0.962px;
  left: 0;
  top: 0;
}

#Path_3256 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_3256 {
  position: absolute;
  width: 4.185px;
  height: 1.04px;
  left: 0;
  top: 0;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Group_10299 {
  position: absolute;
  width: 5.442px;
  height: 1.433px;
  left: 7.839px;
  top: 22.132px;
}

#Group_10298 {
  position: absolute;
  width: 5.442px;
  height: 1.433px;
  left: 0;
  top: 0;
}

#Path_3257 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_3257 {
  position: absolute;
  width: 5.522px;
  height: 1.512px;
  left: 0;
  top: 0;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Group_10301 {
  position: absolute;
  width: 1.002px;
  height: 0.99px;
  left: 21.396px;
  top: 19.245px;
}

#Group_10300 {
  position: absolute;
  width: 1.002px;
  height: 0.99px;
  left: 0;
  top: 0;
}

#Path_3258 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_3258 {
  position: absolute;
  width: 1.084px;
  height: 1.068px;
  left: 0;
  top: 0;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Group_10303 {
  position: absolute;
  width: 0.903px;
  height: 0.974px;
  left: 12.536px;
  top: 22.602px;
}

#Group_10302 {
  position: absolute;
  width: 0.903px;
  height: 0.974px;
  left: 0;
  top: 0;
}

#Path_3259 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_3259 {
  position: absolute;
  width: 0.982px;
  height: 1.052px;
  left: 0;
  top: 0;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Group_10305 {
  position: absolute;
  width: 0.748px;
  height: 0.962px;
  left: 12.701px;
  top: 12.029px;
}

#Group_10304 {
  position: absolute;
  width: 0.748px;
  height: 0.962px;
  left: 0;
  top: 0;
}

#Path_3260 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_3260 {
  position: absolute;
  width: 0.827px;
  height: 1.04px;
  left: 0;
  top: 0;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Mn_hnh_chnh {
  left: 0;
  top: 34.15px;
  position: absolute;

  width: 49px;
  white-space: nowrap;
  line-height: 16px;
  margin-top: -4.5px;
  text-align: left;

  font-size: 7px;
  color: rgba(80, 80, 80, 1);
}
