<div class="h-100 d-flex justify-content-center align-items-center">
  <div class="border bg-white pb-4" id="body">
    <div class="mt-4">
      <p>
        <strong>{{ 'thất bại' | uppercase }}</strong>
      </p>
    </div>
    <ion-icon
      name="close-circle-outline"
      style="zoom: 10"
      color="danger"
    ></ion-icon>
    <p>Bạn đã thanh toán thất bại!</p>
    <ion-button
      color="danger"
      expand="block"
      class="mt-4 w-90 mx-auto"
      (click)="dismissModal()"
    >
      <ion-title>OK</ion-title>
    </ion-button>
  </div>
</div>
