<div id="order-history-detail">
  <div id="Group_9672">
    <div id="Group_9752">
      <svg
        class="Background"
        viewBox="0 0 1129.174 680.36"
        [routerLink]="['..']"
      >
        <path
          id="Background"
          d="M 395.06494140625 680.3597412109375 C 395.06494140625 607.4232788085938 -153.3673095703125 618.2490234375 42.11847686767578 288.2914428710938 C 237.604248046875 -41.6683349609375 620.02734375 -107.2796630859375 719.0097045898438 190.3181762695313 C 817.9899291992188 487.9138488769531 1129.173828125 393.8937683105469 1129.173828125 239.3824462890625 L 1129.173828125 680.3597412109375 L 395.06494140625 680.3597412109375 Z"
        ></path>
      </svg>
    </div>
  </div>
  <svg class="Path_2863" viewBox="0 0 360 702.201">
    <path
      id="Path_2863"
      d="M 9.600000381469727 -4.935152730922709e-09 L 350.3999938964844 -4.935152730922709e-09 C 355.7019348144531 -4.935152730922709e-09 360.0000305175781 2.850282192230225 360.0000305175781 6.366282939910889 L 360.0000305175781 702.2009887695313 L 0 702.2009887695313 L 0 6.366282939910889 C 0 2.850282192230225 4.298065662384033 -4.935152730922709e-09 9.600000381469727 -4.935152730922709e-09 Z"
    ></path>
  </svg>
  <div id="fixer-info">
    <div id="HoaNT_-_Box-shadow" class="HoaNT___Box_shadow">
      <svg class="bg">
        <rect
          id="bg"
          rx="12"
          ry="12"
          x="0"
          y="0"
          width="317"
          height="90"
        ></rect>
      </svg>
    </div>
    <div id="info">
      <div id="Thng_tin_th">
        <span>Thông tin thợ</span>
      </div>
      <img
        id="service_icon"
        src="assets/service_icon.png"
        srcset="assets/service_icon.png 1x, assets/service_icon@2x.png 2x"
      />
    </div>
    <img
      id="truong"
      src="assets/truong.png"
      srcset="assets/truong.png 1x, assets/truong@2x.png 2x"
    />
    <div id="a_ch__Ca_hng_in_lnh_-_C_Kh_Ton">
      <span
        >Địa chỉ : Cửa hàng Điện lạnh - Cơ Khí Toàn Đặng, 55B Trần Quang Khải,
        Q1, Tp. HCM</span
      >
    </div>
    <div id="V_Hu_Trng">
      <span>Vũ Hữu Trường</span>
    </div>
    <div id="S_in_thoi_0123456789">
      <span>Số điện thoại: 0123456789</span>
    </div>
  </div>
  <div id="service">
    <div id="choose_heder">
      <div id="Dch_V">
        <span>Dịch Vụ</span>
      </div>
      <img
        id="service_icon_ct"
        src="assets/service_icon_ct.png"
        srcset="assets/service_icon_ct.png 1x, assets/service_icon_ct@2x.png 2x"
      />
    </div>
    <div id="choose_box">
      <svg class="Path_2824" viewBox="0 0 320 50">
        <path
          id="Path_2824"
          d="M 9.014083862304688 0 L 310.9859008789063 0 C 315.9642639160156 0 320 4.477152347564697 320 10 L 320 40 C 320 45.52284622192383 315.9642639160156 50 310.9859008789063 50 L 9.014083862304688 50 C 4.03574275970459 50 0 45.52284622192383 0 40 L 0 10 C 0 4.477152347564697 4.03574275970459 0 9.014083862304688 0 Z"
        ></path>
      </svg>
      <div id="Sa_t_lnh">
        <span>Sửa tủ lạnh</span>
      </div>
    </div>
  </div>
  <div id="Header1">
    <div id="Fixing_Time">
      <span>Chi tiết Yêu cầu</span>
    </div>
    <img
      [routerLink]="['..', 'history-ongoing']"
      id="back_icon"
      src="assets/back_icon.png"
      [routerLink]="['..']"
      srcset="assets/back_icon.png 1x, assets/back_icon@2x.png 2x"
    />
  </div>

  <div id="phuKien-Gia">
    <div id="Ph_tng_-_Gi">
      <span>Phụ tùng - Giá</span>
    </div>
    <div id="item1">
      <div id="Ca_t_lnh">
        <span>Cửa tủ lạnh</span>
      </div>
      <div id="ID2000000">
        <span>2,000,000</span>
      </div>
    </div>
    <div id="tiem3">
      <div id="Cng_thay_">
        <span>Công thay: </span>
      </div>
      <div id="ID200000">
        <span>200,000</span>
      </div>
    </div>
  </div>
  <svg class="Line_68" viewBox="0 0 321 1">
    <path id="Line_68" d="M 0 0 L 321 0"></path>
  </svg>
  <div id="price">
    <div id="total-item">
      <div id="Tng_tin_sn_phm">
        <span>Tổng tiền sản phẩm:</span>
      </div>
      <div id="ID2200000">
        <span>2,200,000</span>
      </div>
    </div>
    <div id="giam-khuyen-mai">
      <div id="Khuyn_mi_gim">
        <span>Khuyến mãi giảm:</span>
      </div>
      <div id="minus50000">
        <span>-50,000</span>
      </div>
    </div>
    <div id="total-all">
      <div id="TNG">
        <span>TỔNG</span>
      </div>
      <div id="ID2150000">
        <span>2,150,000</span>
      </div>
    </div>
    <svg class="Line_42" viewBox="0 0 318 1">
      <path id="Line_42" d="M 0 0 L 318 0"></path>
    </svg>
    <div id="ma-khuyen-mai">
      <div id="M_Khuyn_Mi">
        <span>Mã Khuyến Mãi:</span>
      </div>
      <div id="GIAM50K">
        <span>GIAM50K</span>
      </div>
    </div>
  </div>
  <div id="bottom-bar" class="bottom_bar">
    <svg class="home-bg">
      <rect
        id="home-bg"
        rx="0"
        ry="0"
        x="0"
        y="0"
        width="360"
        height="59"
      ></rect>
    </svg>
    <div id="Home" [routerLink]="['..', 'home-search']">
      <svg class="home-component">
        <rect
          id="home-component"
          rx="0"
          ry="0"
          x="0"
          y="0"
          width="90"
          height="59"
        ></rect>
      </svg>
      <img
        id="home-icon"
        src="assets/home-icon.png"
        srcset="assets/home-icon.png 1x, assets/home-icon@2x.png 2x"
      />
    </div>
    <div id="history" [routerLink]="['..', 'history-ongoing']">
      <svg class="history-component">
        <rect
          id="history-component"
          rx="0"
          ry="0"
          x="0"
          y="0"
          width="90"
          height="59"
        ></rect>
      </svg>
      <img
        id="Mask_Group_9887"
        src="assets/Mask_Group_9887.png"
        srcset="assets/Mask_Group_9887.png 1x, assets/Mask_Group_9887@2x.png 2x"
      />
    </div>
    <div id="notify" [routerLink]="['..', 'notification-screen']">
      <svg class="notify-component">
        <rect
          id="notify-component"
          rx="0"
          ry="0"
          x="0"
          y="0"
          width="90"
          height="59"
        ></rect>
      </svg>
      <img
        id="notify-icon"
        src="assets/notify-icon.png"
        srcset="assets/notify-icon.png 1x, assets/notify-icon@2x.png 2x"
      />
    </div>
    <div id="info_dy" [routerLink]="['..', 'setting']">
      <svg class="info-component">
        <rect
          id="info-component"
          rx="0"
          ry="0"
          x="0"
          y="0"
          width="90"
          height="59"
        ></rect>
      </svg>
      <img
        id="Mask_Group_9888"
        src="assets/Mask_Group_9888.png"
        srcset="assets/Mask_Group_9888.png 1x, assets/Mask_Group_9888@2x.png 2x"
      />
    </div>
  </div>
</div>
