.mediaViewInfo {
	--web-view-name: home-search;
	--web-view-id: home-search;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-navigate-on-keypress: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: home-search;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#home-search {
	position: absolute;
	width: 360px;
	height: 710px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: home-search;
	--web-view-id: home-search;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-navigate-on-keypress: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#HoaNT_-_Header_Background {
	position: absolute;
	width: 1129.174px;
	height: 680.36px;
	left: -525.334px;
	top: -469.36px;
	overflow: visible;
}
#Group_9752 {
	position: absolute;
	width: 1129.174px;
	height: 680.36px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Background {
	fill: rgba(51,191,154,1);
}
.Background {
	overflow: visible;
	position: absolute;
	width: 1129.174px;
	height: 680.36px;
	transform: translate(0px, 0px) matrix(1,0,0,1,0,0) rotate(180deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Path_2860 {
	fill: rgba(255,255,255,1);
}
.Path_2860 {
	overflow: visible;
	position: absolute;
	width: 360px;
	height: 710px;
	left: 0px;
	top: 50px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_9773 {
	position: absolute;
	width: 340px;
	height: 38px;
	left: 10px;
	top: 60px;
	overflow: visible;
}
#CTA {
	position: absolute;
	width: 340px;
	height: 38px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_5 {
	fill: rgba(255,255,255,1);
}
.Rectangle_5 {
	filter: drop-shadow(0px 5px 15px rgba(48, 48, 48, 0.102));
	position: absolute;
	overflow: visible;
	width: 385px;
	height: 83px;
	left: 0px;
	top: 0px;
}
#Dch_v_a_ch_bn_mun_tm {
	left: 13px;
	top: 13px;
	position: absolute;
	overflow: visible;
	width: 267px;
	height: 14px;
	line-height: 16px;
	margin-top: -2px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(189,189,189,1);
}
#tam {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 305px;
	top: 4px;
	overflow: visible;
}
#tam_cl {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Repeat_Grid_36 {
	position: absolute;
	width: 360.2px;
	height: 602px;
	left: 0px;
	top: 132.5px;
	overflow: hidden;
}
#Group_10355 {
	position: absolute;
	width: 360px;
	height: 173px;
	left: 0px;
	top: 17.5px;
	overflow: visible;
}
#HoaNT_-_Box-shadow {
	position: absolute;
	width: 360px;
	height: 170px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#bg {
	fill: rgba(255,255,255,1);
}
.bg {
	filter: drop-shadow(0px 5px 15px rgba(48, 48, 48, 0.2));
	position: absolute;
	overflow: visible;
	width: 405px;
	height: 215px;
	left: 0px;
	top: 0px;
}
#Sa_tivi {
	left: 20px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 336px;
	height: 22px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(121,121,121,1);
}
#Repeat_Grid_35 {
	position: absolute;
	width: 340px;
	height: 131px;
	left: 20px;
	top: 42px;
	overflow: hidden;
}
#Group_10354 {
	position: absolute;
	width: 89px;
	height: 104px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_10384 {
	position: absolute;
	width: 89px;
	height: 104px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_2458 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2458 {
	position: absolute;
	overflow: visible;
	width: 89px;
	height: 104px;
	left: 0px;
	top: 0px;
}
#Group_10344 {
	position: absolute;
	width: 62.439px;
	height: 9px;
	left: 10.631px;
	top: 85.047px;
	overflow: visible;
}
#Path_2971 {
	fill: rgba(51,191,154,1);
}
.Path_2971 {
	overflow: visible;
	position: absolute;
	width: 8.859px;
	height: 8.859px;
	left: 0px;
	top: 0.068px;
	transform: matrix(1,0,0,1,0,0);
}
#ID5_pht__16km {
	left: 11.438px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	line-height: 11px;
	margin-top: -1.5px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: lighter;
	font-size: 8px;
	color: rgba(80,80,80,1);
}
#Vit_Long {
	left: 0px;
	top: 66px;
	position: absolute;
	overflow: hidden;
	width: 90px;
	height: 10px;
	line-height: 18px;
	margin-top: -4px;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(121,121,121,1);
}
#ID1 {
	position: absolute;
	width: 49px;
	height: 49px;
	left: 20px;
	top: 9px;
	overflow: visible;
}
#Group_10354_c {
	position: absolute;
	width: 89px;
	height: 104px;
	left: 120px;
	top: 0px;
	overflow: visible;
}
#Group_10384_c {
	position: absolute;
	width: 89px;
	height: 104px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_2458_c {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2458_c {
	position: absolute;
	overflow: visible;
	width: 89px;
	height: 104px;
	left: 0px;
	top: 0px;
}
#Group_10344_c {
	position: absolute;
	width: 62.439px;
	height: 9px;
	left: 10.631px;
	top: 85.047px;
	overflow: visible;
}
#Path_2971_c {
	fill: rgba(51,191,154,1);
}
.Path_2971_c {
	overflow: visible;
	position: absolute;
	width: 8.859px;
	height: 8.859px;
	left: 0px;
	top: 0.068px;
	transform: matrix(1,0,0,1,0,0);
}
#ID5_pht__16km_c {
	left: 11.439px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	line-height: 11px;
	margin-top: -1.5px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: lighter;
	font-size: 8px;
	color: rgba(80,80,80,1);
}
#Nguyn_Kim {
	left: 0px;
	top: 66px;
	position: absolute;
	overflow: hidden;
	width: 90px;
	height: 10px;
	line-height: 18px;
	margin-top: -4px;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(121,121,121,1);
}
#nguyenkim {
	position: absolute;
	width: 49px;
	height: 49px;
	left: 20px;
	top: 9px;
	overflow: visible;
}
#Group_10354_da {
	position: absolute;
	width: 89px;
	height: 104px;
	left: 240px;
	top: 0px;
	overflow: visible;
}
#Group_10384_da {
	position: absolute;
	width: 89px;
	height: 104px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_2458_da {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2458_da {
	position: absolute;
	overflow: visible;
	width: 89px;
	height: 104px;
	left: 0px;
	top: 0px;
}
#Group_10344_db {
	position: absolute;
	width: 62.439px;
	height: 9px;
	left: 10.631px;
	top: 85.047px;
	overflow: visible;
}
#Path_2971_dc {
	fill: rgba(51,191,154,1);
}
.Path_2971_dc {
	overflow: visible;
	position: absolute;
	width: 8.859px;
	height: 8.859px;
	left: 0px;
	top: 0.068px;
	transform: matrix(1,0,0,1,0,0);
}
#ID5_pht__16km_dd {
	left: 11.439px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	line-height: 11px;
	margin-top: -1.5px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: lighter;
	font-size: 8px;
	color: rgba(80,80,80,1);
}
#Hu_Thnh {
	left: 0px;
	top: 66px;
	position: absolute;
	overflow: hidden;
	width: 90px;
	height: 10px;
	line-height: 18px;
	margin-top: -4px;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(121,121,121,1);
}
#website-logo-diencohuuthinh {
	position: absolute;
	width: 49px;
	height: 49px;
	left: 20px;
	top: 9px;
	overflow: visible;
}
#Group_10355_dg {
	position: absolute;
	width: 360px;
	height: 173px;
	left: 0px;
	top: 212.5px;
	overflow: visible;
}
#HoaNT_-_Box-shadow_dh {
	position: absolute;
	width: 360px;
	height: 170px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#bg_di {
	fill: rgba(255,255,255,1);
}
.bg_di {
	filter: drop-shadow(0px 5px 15px rgba(48, 48, 48, 0.2));
	position: absolute;
	overflow: visible;
	width: 405px;
	height: 215px;
	left: 0px;
	top: 0px;
}
#Sa_my_lnh {
	left: 20px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 336px;
	height: 22px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(121,121,121,1);
}
#Repeat_Grid_35_dk {
	position: absolute;
	width: 340px;
	height: 131px;
	left: 20px;
	top: 42px;
	overflow: hidden;
}
#Group_10354_dl {
	position: absolute;
	width: 89px;
	height: 104px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_10384_dm {
	position: absolute;
	width: 89px;
	height: 104px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_2458_dn {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2458_dn {
	position: absolute;
	overflow: visible;
	width: 89px;
	height: 104px;
	left: 0px;
	top: 0px;
}
#Group_10344_do {
	position: absolute;
	width: 62.439px;
	height: 9px;
	left: 10.631px;
	top: 85.047px;
	overflow: visible;
}
#Path_2971_dp {
	fill: rgba(51,191,154,1);
}
.Path_2971_dp {
	overflow: visible;
	position: absolute;
	width: 8.859px;
	height: 8.859px;
	left: 0px;
	top: 0.068px;
	transform: matrix(1,0,0,1,0,0);
}
#ID5_pht__16km_dq {
	left: 11.438px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	line-height: 11px;
	margin-top: -1.5px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: lighter;
	font-size: 8px;
	color: rgba(80,80,80,1);
}
#Vit_Long_dr {
	left: 0px;
	top: 66px;
	position: absolute;
	overflow: hidden;
	width: 90px;
	height: 10px;
	line-height: 18px;
	margin-top: -4px;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(121,121,121,1);
}
#ID1_ds {
	position: absolute;
	width: 49px;
	height: 49px;
	left: 20px;
	top: 9px;
	overflow: visible;
}
#Group_10354_dt {
	position: absolute;
	width: 89px;
	height: 104px;
	left: 120px;
	top: 0px;
	overflow: visible;
}
#Group_10384_du {
	position: absolute;
	width: 89px;
	height: 104px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_2458_dv {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2458_dv {
	position: absolute;
	overflow: visible;
	width: 89px;
	height: 104px;
	left: 0px;
	top: 0px;
}
#Group_10344_dw {
	position: absolute;
	width: 62.439px;
	height: 9px;
	left: 10.631px;
	top: 85.047px;
	overflow: visible;
}
#Path_2971_dx {
	fill: rgba(51,191,154,1);
}
.Path_2971_dx {
	overflow: visible;
	position: absolute;
	width: 8.859px;
	height: 8.859px;
	left: 0px;
	top: 0.068px;
	transform: matrix(1,0,0,1,0,0);
}
#ID5_pht__16km_dy {
	left: 11.439px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	line-height: 11px;
	margin-top: -1.5px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: lighter;
	font-size: 8px;
	color: rgba(80,80,80,1);
}
#Nguyn_Kim_dz {
	left: 0px;
	top: 66px;
	position: absolute;
	overflow: hidden;
	width: 90px;
	height: 10px;
	line-height: 18px;
	margin-top: -4px;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(121,121,121,1);
}
#nguyenkim_d {
	position: absolute;
	width: 49px;
	height: 49px;
	left: 20px;
	top: 9px;
	overflow: visible;
}
#Group_10354_d {
	position: absolute;
	width: 89px;
	height: 104px;
	left: 240px;
	top: 0px;
	overflow: visible;
}
#Group_10384_d {
	position: absolute;
	width: 89px;
	height: 104px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_2458_d {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2458_d {
	position: absolute;
	overflow: visible;
	width: 89px;
	height: 104px;
	left: 0px;
	top: 0px;
}
#Group_10344_d {
	position: absolute;
	width: 62.439px;
	height: 9px;
	left: 10.631px;
	top: 85.047px;
	overflow: visible;
}
#Path_2971_d {
	fill: rgba(51,191,154,1);
}
.Path_2971_d {
	overflow: visible;
	position: absolute;
	width: 8.859px;
	height: 8.859px;
	left: 0px;
	top: 0.068px;
	transform: matrix(1,0,0,1,0,0);
}
#ID5_pht__16km_d {
	left: 11.439px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	line-height: 11px;
	margin-top: -1.5px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: lighter;
	font-size: 8px;
	color: rgba(80,80,80,1);
}
#Hu_Thnh_d {
	left: 0px;
	top: 66px;
	position: absolute;
	overflow: hidden;
	width: 90px;
	height: 10px;
	line-height: 18px;
	margin-top: -4px;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(121,121,121,1);
}
#website-logo-diencohuuthinh_d {
	position: absolute;
	width: 49px;
	height: 49px;
	left: 20px;
	top: 9px;
	overflow: visible;
}
#Group_10355_d {
	position: absolute;
	width: 360px;
	height: 173px;
	left: 0px;
	top: 407.5px;
	overflow: visible;
}
#HoaNT_-_Box-shadow_ea {
	position: absolute;
	width: 360px;
	height: 170px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#bg_eb {
	fill: rgba(255,255,255,1);
}
.bg_eb {
	filter: drop-shadow(0px 5px 15px rgba(48, 48, 48, 0.2));
	position: absolute;
	overflow: visible;
	width: 405px;
	height: 215px;
	left: 0px;
	top: 0px;
}
#Sa_t_lnh {
	left: 20px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 336px;
	height: 22px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(121,121,121,1);
}
#Repeat_Grid_35_ed {
	position: absolute;
	width: 340px;
	height: 131px;
	left: 20px;
	top: 42px;
	overflow: hidden;
}
#Group_10354_ee {
	position: absolute;
	width: 89px;
	height: 104px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_10384_ef {
	position: absolute;
	width: 89px;
	height: 104px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_2458_eg {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2458_eg {
	position: absolute;
	overflow: visible;
	width: 89px;
	height: 104px;
	left: 0px;
	top: 0px;
}
#Group_10344_eh {
	position: absolute;
	width: 62.439px;
	height: 9px;
	left: 10.631px;
	top: 85.047px;
	overflow: visible;
}
#Path_2971_ei {
	fill: rgba(51,191,154,1);
}
.Path_2971_ei {
	overflow: visible;
	position: absolute;
	width: 8.859px;
	height: 8.859px;
	left: 0px;
	top: 0.068px;
	transform: matrix(1,0,0,1,0,0);
}
#ID5_pht__16km_ej {
	left: 11.438px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	line-height: 11px;
	margin-top: -1.5px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: lighter;
	font-size: 8px;
	color: rgba(80,80,80,1);
}
#Vit_Long_ek {
	left: 0px;
	top: 66px;
	position: absolute;
	overflow: hidden;
	width: 90px;
	height: 10px;
	line-height: 18px;
	margin-top: -4px;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(121,121,121,1);
}
#ID1_el {
	position: absolute;
	width: 49px;
	height: 49px;
	left: 20px;
	top: 9px;
	overflow: visible;
}
#Group_10354_em {
	position: absolute;
	width: 89px;
	height: 104px;
	left: 120px;
	top: 0px;
	overflow: visible;
}
#Group_10384_en {
	position: absolute;
	width: 89px;
	height: 104px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_2458_eo {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2458_eo {
	position: absolute;
	overflow: visible;
	width: 89px;
	height: 104px;
	left: 0px;
	top: 0px;
}
#Group_10344_ep {
	position: absolute;
	width: 62.439px;
	height: 9px;
	left: 10.631px;
	top: 85.047px;
	overflow: visible;
}
#Path_2971_eq {
	fill: rgba(51,191,154,1);
}
.Path_2971_eq {
	overflow: visible;
	position: absolute;
	width: 8.859px;
	height: 8.859px;
	left: 0px;
	top: 0.068px;
	transform: matrix(1,0,0,1,0,0);
}
#ID5_pht__16km_er {
	left: 11.439px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	line-height: 11px;
	margin-top: -1.5px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: lighter;
	font-size: 8px;
	color: rgba(80,80,80,1);
}
#Nguyn_Kim_es {
	left: 0px;
	top: 66px;
	position: absolute;
	overflow: hidden;
	width: 90px;
	height: 10px;
	line-height: 18px;
	margin-top: -4px;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(121,121,121,1);
}
#nguyenkim_et {
	position: absolute;
	width: 49px;
	height: 49px;
	left: 20px;
	top: 9px;
	overflow: visible;
}
#Group_10354_eu {
	position: absolute;
	width: 89px;
	height: 104px;
	left: 240px;
	top: 0px;
	overflow: visible;
}
#Group_10384_ev {
	position: absolute;
	width: 89px;
	height: 104px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_2458_ew {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2458_ew {
	position: absolute;
	overflow: visible;
	width: 89px;
	height: 104px;
	left: 0px;
	top: 0px;
}
#Group_10344_ex {
	position: absolute;
	width: 62.439px;
	height: 9px;
	left: 10.631px;
	top: 85.047px;
	overflow: visible;
}
#Path_2971_ey {
	fill: rgba(51,191,154,1);
}
.Path_2971_ey {
	overflow: visible;
	position: absolute;
	width: 8.859px;
	height: 8.859px;
	left: 0px;
	top: 0.068px;
	transform: matrix(1,0,0,1,0,0);
}
#ID5_pht__16km_ez {
	left: 11.439px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	line-height: 11px;
	margin-top: -1.5px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: lighter;
	font-size: 8px;
	color: rgba(80,80,80,1);
}
#Hu_Thnh_e {
	left: 0px;
	top: 66px;
	position: absolute;
	overflow: hidden;
	width: 90px;
	height: 10px;
	line-height: 18px;
	margin-top: -4px;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(121,121,121,1);
}
#website-logo-diencohuuthinh_e {
	position: absolute;
	width: 49px;
	height: 49px;
	left: 20px;
	top: 9px;
	overflow: visible;
}
#Group_10355_e {
	position: absolute;
	width: 375px;
	height: 173px;
	left: 0px;
	top: 602.5px;
	overflow: visible;
}
#HoaNT_-_Box-shadow_e {
	position: absolute;
	width: 375px;
	height: 170px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#bg_e {
	fill: rgba(255,255,255,1);
}
.bg_e {
	filter: drop-shadow(0px 5px 15px rgba(48, 48, 48, 0.2));
	position: absolute;
	overflow: visible;
	width: 420px;
	height: 215px;
	left: 0px;
	top: 0px;
}
#Sa_my_si {
	left: 20px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 336px;
	height: 22px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(121,121,121,1);
}
#Repeat_Grid_35_e {
	position: absolute;
	width: 340px;
	height: 131px;
	left: 20px;
	top: 42px;
	overflow: hidden;
}
#Group_10354_e {
	position: absolute;
	width: 89px;
	height: 104px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_10384_e {
	position: absolute;
	width: 89px;
	height: 104px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_2458_e {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2458_e {
	position: absolute;
	overflow: visible;
	width: 89px;
	height: 104px;
	left: 0px;
	top: 0px;
}
#Group_10344_fa {
	position: absolute;
	width: 62.439px;
	height: 9px;
	left: 10.631px;
	top: 85.047px;
	overflow: visible;
}
#Path_2971_fb {
	fill: rgba(51,191,154,1);
}
.Path_2971_fb {
	overflow: visible;
	position: absolute;
	width: 8.859px;
	height: 8.859px;
	left: 0px;
	top: 0.068px;
	transform: matrix(1,0,0,1,0,0);
}
#ID5_pht__16km_fc {
	left: 11.438px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	line-height: 11px;
	margin-top: -1.5px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: lighter;
	font-size: 8px;
	color: rgba(80,80,80,1);
}
#Vit_Long_fd {
	left: 0px;
	top: 66px;
	position: absolute;
	overflow: hidden;
	width: 90px;
	height: 10px;
	line-height: 18px;
	margin-top: -4px;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(121,121,121,1);
}
#ID1_fe {
	position: absolute;
	width: 49px;
	height: 49px;
	left: 20px;
	top: 9px;
	overflow: visible;
}
#Group_10354_ff {
	position: absolute;
	width: 89px;
	height: 104px;
	left: 120px;
	top: 0px;
	overflow: visible;
}
#Group_10384_fg {
	position: absolute;
	width: 89px;
	height: 104px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_2458_fh {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2458_fh {
	position: absolute;
	overflow: visible;
	width: 89px;
	height: 104px;
	left: 0px;
	top: 0px;
}
#Group_10344_fi {
	position: absolute;
	width: 62.439px;
	height: 9px;
	left: 10.631px;
	top: 85.047px;
	overflow: visible;
}
#Path_2971_fj {
	fill: rgba(51,191,154,1);
}
.Path_2971_fj {
	overflow: visible;
	position: absolute;
	width: 8.859px;
	height: 8.859px;
	left: 0px;
	top: 0.068px;
	transform: matrix(1,0,0,1,0,0);
}
#ID5_pht__16km_fk {
	left: 11.439px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	line-height: 11px;
	margin-top: -1.5px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: lighter;
	font-size: 8px;
	color: rgba(80,80,80,1);
}
#Nguyn_Kim_fl {
	left: 0px;
	top: 66px;
	position: absolute;
	overflow: hidden;
	width: 90px;
	height: 10px;
	line-height: 18px;
	margin-top: -4px;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(121,121,121,1);
}
#nguyenkim_fm {
	position: absolute;
	width: 49px;
	height: 49px;
	left: 20px;
	top: 9px;
	overflow: visible;
}
#Group_10354_fn {
	position: absolute;
	width: 89px;
	height: 104px;
	left: 240px;
	top: 0px;
	overflow: visible;
}
#Group_10384_fo {
	position: absolute;
	width: 89px;
	height: 104px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_2458_fp {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2458_fp {
	position: absolute;
	overflow: visible;
	width: 89px;
	height: 104px;
	left: 0px;
	top: 0px;
}
#Group_10344_fq {
	position: absolute;
	width: 62.439px;
	height: 9px;
	left: 10.631px;
	top: 85.047px;
	overflow: visible;
}
#Path_2971_fr {
	fill: rgba(51,191,154,1);
}
.Path_2971_fr {
	overflow: visible;
	position: absolute;
	width: 8.859px;
	height: 8.859px;
	left: 0px;
	top: 0.068px;
	transform: matrix(1,0,0,1,0,0);
}
#ID5_pht__16km_fs {
	left: 11.439px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	line-height: 11px;
	margin-top: -1.5px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: lighter;
	font-size: 8px;
	color: rgba(80,80,80,1);
}
#Hu_Thnh_ft {
	left: 0px;
	top: 66px;
	position: absolute;
	overflow: hidden;
	width: 90px;
	height: 10px;
	line-height: 18px;
	margin-top: -4px;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(121,121,121,1);
}
#website-logo-diencohuuthinh_fu {
	position: absolute;
	width: 49px;
	height: 49px;
	left: 20px;
	top: 9px;
	overflow: visible;
}
#Gn_bn {
	left: 10px;
	top: 118px;
	position: absolute;
	overflow: visible;
	width: 341px;
	height: 22px;
	line-height: 35px;
	margin-top: -13px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 9px;
	color: rgba(48,48,48,1);
}
#info-bg {
	fill: rgba(0,0,0,0.302);
}
.info-bg {
	overflow: visible;
	position: absolute;
	width: 373.727px;
	height: 762px;
	left: -5.567px;
	top: -2px;
	transform: matrix(1,0,0,1,0,0);
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: home_list_store.html;
	cursor: pointer;
}
#info-bg_fx {
	fill: rgba(255,255,255,1);
}
.info-bg_fx {
	overflow: visible;
	position: absolute;
	width: 301.92px;
	height: 310.082px;
	left: 29.288px;
	top: 197.68px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_9773_fy {
	position: absolute;
	width: 277px;
	height: 38px;
	left: 41px;
	top: 214px;
	overflow: visible;
}
#CTA_fz {
	position: absolute;
	width: 277px;
	height: 38px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_5_f {
	fill: rgba(255,255,255,1);
}
.Rectangle_5_f {
	filter: drop-shadow(0px 5px 15px rgba(48, 48, 48, 0.102));
	position: absolute;
	overflow: visible;
	width: 322px;
	height: 83px;
	left: 0px;
	top: 0px;
}
#Bn_ang_tm_dch_v_g_ {
	left: 13px;
	top: 13px;
	position: absolute;
	overflow: visible;
	width: 267px;
	height: 14px;
	line-height: 16px;
	margin-top: -2px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(189,189,189,1);
}
#Group_10359 {
	position: absolute;
	width: 51px;
	height: 17px;
	left: 41px;
	top: 265px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: list_store.html;
	cursor: pointer;
}
#Rectangle_1950 {
	fill: transparent;
	stroke: rgba(121,121,121,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_1950 {
	position: absolute;
	overflow: visible;
	width: 51px;
	height: 17px;
	left: 0px;
	top: 0px;
}
#My_git {
	left: 7px;
	top: 3px;
	position: absolute;
	overflow: visible;
	width: 39px;
	white-space: nowrap;
	line-height: 18px;
	margin-top: -4px;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(121,121,121,1);
}
#Group_10363 {
	position: absolute;
	width: 56px;
	height: 17px;
	left: 41px;
	top: 287px;
	overflow: visible;
}
#Rectangle_1950_f {
	fill: transparent;
	stroke: rgba(121,121,121,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_1950_f {
	position: absolute;
	overflow: visible;
	width: 56px;
	height: 17px;
	left: 0px;
	top: 0px;
}
#My_sy {
	left: 9px;
	top: 4px;
	position: absolute;
	overflow: visible;
	width: 39px;
	white-space: nowrap;
	line-height: 18px;
	margin-top: -4px;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(121,121,121,1);
}
#Group_10364 {
	position: absolute;
	width: 62px;
	height: 17px;
	left: 99.968px;
	top: 287px;
	overflow: visible;
}
#Rectangle_1950_ga {
	fill: transparent;
	stroke: rgba(121,121,121,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_1950_ga {
	position: absolute;
	overflow: visible;
	width: 62px;
	height: 17px;
	left: 0px;
	top: 0px;
}
#L_vi_sng {
	left: 8px;
	top: 4px;
	position: absolute;
	overflow: visible;
	width: 47px;
	white-space: nowrap;
	line-height: 18px;
	margin-top: -4px;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(121,121,121,1);
}
#Group_10365 {
	position: absolute;
	width: 62px;
	height: 17px;
	left: 166.613px;
	top: 287px;
	overflow: visible;
}
#Rectangle_1950_gc {
	fill: transparent;
	stroke: rgba(121,121,121,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_1950_gc {
	position: absolute;
	overflow: visible;
	width: 62px;
	height: 17px;
	left: 0px;
	top: 0px;
}
#Bp_t {
	left: 16px;
	top: 4px;
	position: absolute;
	overflow: visible;
	width: 31px;
	white-space: nowrap;
	line-height: 18px;
	margin-top: -4px;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(121,121,121,1);
}
#Group_10360 {
	position: absolute;
	width: 51px;
	height: 17px;
	left: 94.417px;
	top: 265px;
	overflow: visible;
}
#Rectangle_1950_gf {
	fill: transparent;
	stroke: rgba(121,121,121,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_1950_gf {
	position: absolute;
	overflow: visible;
	width: 51px;
	height: 17px;
	left: 0px;
	top: 0px;
}
#My_i {
	left: 11px;
	top: 4px;
	position: absolute;
	overflow: visible;
	width: 31px;
	white-space: nowrap;
	line-height: 18px;
	margin-top: -4px;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(121,121,121,1);
}
#Group_10361 {
	position: absolute;
	width: 51px;
	height: 17px;
	left: 149.731px;
	top: 265px;
	overflow: visible;
}
#Rectangle_1950_gi {
	fill: transparent;
	stroke: rgba(121,121,121,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_1950_gi {
	position: absolute;
	overflow: visible;
	width: 51px;
	height: 17px;
	left: 0px;
	top: 0px;
}
#T_lnh {
	left: 9px;
	top: 3px;
	position: absolute;
	overflow: visible;
	width: 35px;
	white-space: nowrap;
	line-height: 18px;
	margin-top: -4px;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(121,121,121,1);
}
#Group_10362 {
	position: absolute;
	width: 79px;
	height: 17px;
	left: 204.105px;
	top: 265px;
	overflow: visible;
}
#Rectangle_1950_gl {
	fill: transparent;
	stroke: rgba(121,121,121,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_1950_gl {
	position: absolute;
	overflow: visible;
	width: 79px;
	height: 17px;
	left: 0px;
	top: 0px;
}
#My_ra_chn {
	left: 9px;
	top: 3px;
	position: absolute;
	overflow: visible;
	width: 63px;
	white-space: nowrap;
	line-height: 18px;
	margin-top: -4px;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(121,121,121,1);
}