.mediaViewInfo {
  --web-view-name: home-search;
  --web-view-id: home-search;
  --web-scale-on-resize: true;
  --web-center-horizontally: true;
  --web-center-vertically: true;
  --web-enable-deep-linking: true;
}
:root {
  --web-view-ids: home-search;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
.home-search_Class {
  position: absolute;
  width: 360px;
  height: 710px;
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
  --web-view-name: home-search;
  --web-view-id: home-search;
  --web-scale-on-resize: true;
  --web-center-horizontally: true;
  --web-center-vertically: true;
  --web-enable-deep-linking: true;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.HoaNT_-_Header_Background_Class {
  position: absolute;
  width: 1129.174px;
  height: 680.36px;
  left: -525.334px;
  top: -469.36px;
  overflow: visible;
}
.Group_9752_Class {
  position: absolute;
  width: 1129.174px;
  height: 680.36px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.Background_Class {
  fill: rgba(51, 191, 154, 1);
}
.Background {
  overflow: visible;
  position: absolute;
  width: 1129.174px;
  height: 680.36px;
  transform: translate(0px, 0px) matrix(1, 0, 0, 1, 0, 0) rotate(180deg);
  transform-origin: center;
  left: 0px;
  top: 0px;
}
.Path_2860_Class {
  fill: rgba(255, 255, 255, 1);
}
.Path_2860 {
  overflow: visible;
  position: absolute;
  width: 360px;
  height: 710px;
  left: 0px;
  top: 50px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.Group_9773_Class {
  position: absolute;
  width: 340px;
  height: 38px;
  left: 10px;
  top: 60px;
  overflow: visible;
}
.CTA_Class {
  position: absolute;
  width: 340px;
  height: 38px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.Rectangle_5_Class {
  fill: rgba(255, 255, 255, 1);
}
.Rectangle_5 {
  filter: drop-shadow(0px 5px 15px rgba(48, 48, 48, 0.102));
  position: absolute;
  overflow: visible;
  width: 385px;
  height: 83px;
  left: 0px;
  top: 0px;
}
.Dch_v_a_ch_bn_mun_tm_Class {
  left: 13px;
  top: 13px;
  position: absolute;
  overflow: visible;
  width: 267px;
  height: 14px;
  line-height: 16px;
  margin-top: -2px;
  text-align: left;
  font-family: Helvetica Neue;

  font-weight: normal;
  font-size: 12px;
  color: rgba(189, 189, 189, 1);
}
.tam_Class {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 305px;
  top: 4px;
  overflow: visible;
}
.tam_cl_Class {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.Repeat_Grid_36_Class {
  position: absolute;
  width: 360.2px;
  height: 628px;
  left: 0px;
  top: 132.5px;
  overflow: hidden;
}
.Group_10355_Class {
  position: absolute;
  width: 360px;
  height: 173px;
  left: 0px;
  top: 17.5px;
  overflow: visible;
}
.HoaNT_-_Box-shadow_Class {
  position: absolute;
  width: 360px;
  height: 170px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.bg_Class {
  fill: rgba(255, 255, 255, 1);
}
.bg {
  filter: drop-shadow(0px 5px 15px rgba(48, 48, 48, 0.2));
  position: absolute;
  overflow: visible;
  width: 405px;
  height: 215px;
  left: 0px;
  top: 0px;
}
.Sa_tivi_Class {
  left: 20px;
  top: 10px;
  position: absolute;
  overflow: visible;
  width: 336px;
  height: 22px;
  text-align: left;
  font-family: Helvetica Neue;

  font-weight: bold;
  font-size: 18px;
  color: rgba(121, 121, 121, 1);
}
.Repeat_Grid_35_Class {
  position: absolute;
  width: 340px;
  height: 131px;
  left: 10px;
  top: 42px;
  overflow: hidden;
}
.Group_10354_Class {
  position: absolute;
  width: 89px;
  height: 104px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.Group_10384_Class {
  position: absolute;
  width: 89px;
  height: 104px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.Rectangle_2458_Class {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_2458 {
  position: absolute;
  overflow: visible;
  width: 89px;
  height: 104px;
  left: 0px;
  top: 0px;
}
.Group_10344_Class {
  position: absolute;
  width: 64px;
  height: 11px;
  left: 13px;
  top: 83.047px;
  overflow: visible;
}
.ID5_pht__16km_Class {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 65px;
  white-space: nowrap;
  line-height: 11px;
  margin-top: -0.5px;
  text-align: left;
  font-family: Helvetica Neue;

  font-weight: lighter;
  font-size: 10px;
  color: rgba(80, 80, 80, 1);
}
.Vit_Long_Class {
  left: 0px;
  top: 66px;
  position: absolute;
  overflow: hidden;
  width: 90px;
  height: 10px;
  line-height: 18px;
  margin-top: -4px;
  text-align: center;
  font-family: Helvetica Neue;

  font-weight: bold;
  font-size: 10px;
  color: rgba(121, 121, 121, 1);
}
.ID1_Class {
  position: absolute;
  width: 49px;
  height: 49px;
  left: 20px;
  top: 9px;
  overflow: visible;
}
.Group_10354_cz_Class {
  position: absolute;
  width: 89px;
  height: 104px;
  left: 120px;
  top: 0px;
  overflow: visible;
}
.Group_10384_c_Class {
  position: absolute;
  width: 89px;
  height: 104px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.Rectangle_2458_c_Class {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_2458_c {
  position: absolute;
  overflow: visible;
  width: 89px;
  height: 104px;
  left: 0px;
  top: 0px;
}
.Group_10344_c_Class {
  position: absolute;
  width: 64px;
  height: 11px;
  left: 13px;
  top: 83.047px;
  overflow: visible;
}
.ID5_pht__16km_c_Class {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 65px;
  white-space: nowrap;
  line-height: 11px;
  margin-top: -0.5px;
  text-align: left;
  font-family: Helvetica Neue;

  font-weight: lighter;
  font-size: 10px;
  color: rgba(80, 80, 80, 1);
}
.Nguyn_Kim_Class {
  left: 0px;
  top: 66px;
  position: absolute;
  overflow: hidden;
  width: 90px;
  height: 10px;
  line-height: 18px;
  margin-top: -4px;
  text-align: center;
  font-family: Helvetica Neue;

  font-weight: bold;
  font-size: 10px;
  color: rgba(121, 121, 121, 1);
}
.nguyenkim_Class {
  position: absolute;
  width: 49px;
  height: 49px;
  left: 20px;
  top: 9px;
  overflow: visible;
}
.Group_10354_c_Class {
  position: absolute;
  width: 89px;
  height: 104px;
  left: 240px;
  top: 0px;
  overflow: visible;
}
.Group_10384_da_Class {
  position: absolute;
  width: 89px;
  height: 104px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.Rectangle_2458_da_Class {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_2458_da {
  position: absolute;
  overflow: visible;
  width: 89px;
  height: 104px;
  left: 0px;
  top: 0px;
}
.Group_10344_da_Class {
  position: absolute;
  width: 64px;
  height: 11px;
  left: 13px;
  top: 83.047px;
  overflow: visible;
}
.ID5_pht__16km_da_Class {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 65px;
  white-space: nowrap;
  line-height: 11px;
  margin-top: -0.5px;
  text-align: left;
  font-family: Helvetica Neue;

  font-weight: lighter;
  font-size: 10px;
  color: rgba(80, 80, 80, 1);
}
.Hu_Thnh_Class {
  left: 0px;
  top: 66px;
  position: absolute;
  overflow: hidden;
  width: 90px;
  height: 10px;
  line-height: 18px;
  margin-top: -4px;
  text-align: center;
  font-family: Helvetica Neue;

  font-weight: bold;
  font-size: 10px;
  color: rgba(121, 121, 121, 1);
}
.website-logo-diencohuuthinh_Class {
  position: absolute;
  width: 49px;
  height: 49px;
  left: 20px;
  top: 9px;
  overflow: visible;
}
.Group_10355_dd_Class {
  position: absolute;
  width: 360px;
  height: 173px;
  left: 0px;
  top: 212.5px;
  overflow: visible;
}
.HoaNT_-_Box-shadow_de_Class {
  position: absolute;
  width: 360px;
  height: 170px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.bg_df_Class {
  fill: rgba(255, 255, 255, 1);
}
.bg_df {
  filter: drop-shadow(0px 5px 15px rgba(48, 48, 48, 0.2));
  position: absolute;
  overflow: visible;
  width: 405px;
  height: 215px;
  left: 0px;
  top: 0px;
}
.Sa_my_lnh_Class {
  left: 20px;
  top: 10px;
  position: absolute;
  overflow: visible;
  width: 336px;
  height: 22px;
  text-align: left;
  font-family: Helvetica Neue;

  font-weight: bold;
  font-size: 18px;
  color: rgba(121, 121, 121, 1);
}
.Repeat_Grid_35_dh_Class {
  position: absolute;
  width: 340px;
  height: 131px;
  left: 10px;
  top: 42px;
  overflow: hidden;
}
.Group_10354_di_Class {
  position: absolute;
  width: 89px;
  height: 104px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.Group_10384_dj_Class {
  position: absolute;
  width: 89px;
  height: 104px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.Rectangle_2458_dk_Class {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_2458_dk {
  position: absolute;
  overflow: visible;
  width: 89px;
  height: 104px;
  left: 0px;
  top: 0px;
}
.Group_10344_dl_Class {
  position: absolute;
  width: 64px;
  height: 11px;
  left: 13px;
  top: 83.047px;
  overflow: visible;
}
.ID5_pht__16km_dm_Class {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 65px;
  white-space: nowrap;
  line-height: 11px;
  margin-top: -0.5px;
  text-align: left;
  font-family: Helvetica Neue;

  font-weight: lighter;
  font-size: 10px;
  color: rgba(80, 80, 80, 1);
}
.Vit_Long_dn_Class {
  left: 0px;
  top: 66px;
  position: absolute;
  overflow: hidden;
  width: 90px;
  height: 10px;
  line-height: 18px;
  margin-top: -4px;
  text-align: center;
  font-family: Helvetica Neue;

  font-weight: bold;
  font-size: 10px;
  color: rgba(121, 121, 121, 1);
}
.ID1_do_Class {
  position: absolute;
  width: 49px;
  height: 49px;
  left: 20px;
  top: 9px;
  overflow: visible;
}
.Group_10354_dp_Class {
  position: absolute;
  width: 89px;
  height: 104px;
  left: 120px;
  top: 0px;
  overflow: visible;
}
.Group_10384_dq_Class {
  position: absolute;
  width: 89px;
  height: 104px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.Rectangle_2458_dr_Class {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_2458_dr {
  position: absolute;
  overflow: visible;
  width: 89px;
  height: 104px;
  left: 0px;
  top: 0px;
}
.Group_10344_ds_Class {
  position: absolute;
  width: 64px;
  height: 11px;
  left: 13px;
  top: 83.047px;
  overflow: visible;
}
.ID5_pht__16km_dt_Class {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 65px;
  white-space: nowrap;
  line-height: 11px;
  margin-top: -0.5px;
  text-align: left;
  font-family: Helvetica Neue;

  font-weight: lighter;
  font-size: 10px;
  color: rgba(80, 80, 80, 1);
}
.Nguyn_Kim_du_Class {
  left: 0px;
  top: 66px;
  position: absolute;
  overflow: hidden;
  width: 90px;
  height: 10px;
  line-height: 18px;
  margin-top: -4px;
  text-align: center;
  font-family: Helvetica Neue;

  font-weight: bold;
  font-size: 10px;
  color: rgba(121, 121, 121, 1);
}
.nguyenkim_dv_Class {
  position: absolute;
  width: 49px;
  height: 49px;
  left: 20px;
  top: 9px;
  overflow: visible;
}
.Group_10354_dw_Class {
  position: absolute;
  width: 89px;
  height: 104px;
  left: 240px;
  top: 0px;
  overflow: visible;
}
.Group_10384_dx_Class {
  position: absolute;
  width: 89px;
  height: 104px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.Rectangle_2458_dy_Class {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_2458_dy {
  position: absolute;
  overflow: visible;
  width: 89px;
  height: 104px;
  left: 0px;
  top: 0px;
}
.Group_10344_dz_Class {
  position: absolute;
  width: 64px;
  height: 11px;
  left: 13px;
  top: 83.047px;
  overflow: visible;
}
.ID5_pht__16km_d_Class {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 65px;
  white-space: nowrap;
  line-height: 11px;
  margin-top: -0.5px;
  text-align: left;
  font-family: Helvetica Neue;

  font-weight: lighter;
  font-size: 10px;
  color: rgba(80, 80, 80, 1);
}
.Hu_Thnh_d_Class {
  left: 0px;
  top: 66px;
  position: absolute;
  overflow: hidden;
  width: 90px;
  height: 10px;
  line-height: 18px;
  margin-top: -4px;
  text-align: center;
  font-family: Helvetica Neue;

  font-weight: bold;
  font-size: 10px;
  color: rgba(121, 121, 121, 1);
}
.website-logo-diencohuuthinh_d_Class {
  position: absolute;
  width: 49px;
  height: 49px;
  left: 20px;
  top: 9px;
  overflow: visible;
}
.Group_10355_d_Class {
  position: absolute;
  width: 360px;
  height: 173px;
  left: 0px;
  top: 407.5px;
  overflow: visible;
}
.HoaNT_-_Box-shadow_d_Class {
  position: absolute;
  width: 360px;
  height: 170px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.bg_d_Class {
  fill: rgba(255, 255, 255, 1);
}
.bg_d {
  filter: drop-shadow(0px 5px 15px rgba(48, 48, 48, 0.2));
  position: absolute;
  overflow: visible;
  width: 405px;
  height: 215px;
  left: 0px;
  top: 0px;
}
.Sa_t_lnh_Class {
  left: 20px;
  top: 10px;
  position: absolute;
  overflow: visible;
  width: 336px;
  height: 22px;
  text-align: left;
  font-family: Helvetica Neue;

  font-weight: bold;
  font-size: 18px;
  color: rgba(121, 121, 121, 1);
}
.Repeat_Grid_35_d_Class {
  position: absolute;
  width: 340px;
  height: 131px;
  left: 10px;
  top: 42px;
  overflow: hidden;
}
.Group_10354_d_Class {
  position: absolute;
  width: 89px;
  height: 104px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.Group_10384_d_Class {
  position: absolute;
  width: 89px;
  height: 104px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.Rectangle_2458_ea_Class {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_2458_ea {
  position: absolute;
  overflow: visible;
  width: 89px;
  height: 104px;
  left: 0px;
  top: 0px;
}
.Group_10344_eb_Class {
  position: absolute;
  width: 64px;
  height: 11px;
  left: 13px;
  top: 83.047px;
  overflow: visible;
}
.ID5_pht__16km_ec_Class {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 65px;
  white-space: nowrap;
  line-height: 11px;
  margin-top: -0.5px;
  text-align: left;
  font-family: Helvetica Neue;

  font-weight: lighter;
  font-size: 10px;
  color: rgba(80, 80, 80, 1);
}
.Vit_Long_ed_Class {
  left: 0px;
  top: 66px;
  position: absolute;
  overflow: hidden;
  width: 90px;
  height: 10px;
  line-height: 18px;
  margin-top: -4px;
  text-align: center;
  font-family: Helvetica Neue;

  font-weight: bold;
  font-size: 10px;
  color: rgba(121, 121, 121, 1);
}
.ID1_ee_Class {
  position: absolute;
  width: 49px;
  height: 49px;
  left: 20px;
  top: 9px;
  overflow: visible;
}
.Group_10354_ef_Class {
  position: absolute;
  width: 89px;
  height: 104px;
  left: 120px;
  top: 0px;
  overflow: visible;
}
.Group_10384_eg_Class {
  position: absolute;
  width: 89px;
  height: 104px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.Rectangle_2458_eh_Class {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_2458_eh {
  position: absolute;
  overflow: visible;
  width: 89px;
  height: 104px;
  left: 0px;
  top: 0px;
}
.Group_10344_ei_Class {
  position: absolute;
  width: 64px;
  height: 11px;
  left: 13px;
  top: 83.047px;
  overflow: visible;
}
.ID5_pht__16km_ej_Class {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 65px;
  white-space: nowrap;
  line-height: 11px;
  margin-top: -0.5px;
  text-align: left;
  font-family: Helvetica Neue;

  font-weight: lighter;
  font-size: 10px;
  color: rgba(80, 80, 80, 1);
}
.Nguyn_Kim_ek_Class {
  left: 0px;
  top: 66px;
  position: absolute;
  overflow: hidden;
  width: 90px;
  height: 10px;
  line-height: 18px;
  margin-top: -4px;
  text-align: center;
  font-family: Helvetica Neue;

  font-weight: bold;
  font-size: 10px;
  color: rgba(121, 121, 121, 1);
}
.nguyenkim_el_Class {
  position: absolute;
  width: 49px;
  height: 49px;
  left: 20px;
  top: 9px;
  overflow: visible;
}
.Group_10354_em_Class {
  position: absolute;
  width: 89px;
  height: 104px;
  left: 240px;
  top: 0px;
  overflow: visible;
}
.Group_10384_en_Class {
  position: absolute;
  width: 89px;
  height: 104px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.Rectangle_2458_eo_Class {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_2458_eo {
  position: absolute;
  overflow: visible;
  width: 89px;
  height: 104px;
  left: 0px;
  top: 0px;
}
.Group_10344_ep_Class {
  position: absolute;
  width: 64px;
  height: 11px;
  left: 13px;
  top: 83.047px;
  overflow: visible;
}
.ID5_pht__16km_eq_Class {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 65px;
  white-space: nowrap;
  line-height: 11px;
  margin-top: -0.5px;
  text-align: left;
  font-family: Helvetica Neue;

  font-weight: lighter;
  font-size: 10px;
  color: rgba(80, 80, 80, 1);
}
.Hu_Thnh_er_Class {
  left: 0px;
  top: 66px;
  position: absolute;
  overflow: hidden;
  width: 90px;
  height: 10px;
  line-height: 18px;
  margin-top: -4px;
  text-align: center;
  font-family: Helvetica Neue;

  font-weight: bold;
  font-size: 10px;
  color: rgba(121, 121, 121, 1);
}
.website-logo-diencohuuthinh_es_Class {
  position: absolute;
  width: 49px;
  height: 49px;
  left: 20px;
  top: 9px;
  overflow: visible;
}
.Group_10355_et_Class {
  position: absolute;
  width: 375px;
  height: 173px;
  left: 0px;
  top: 602.5px;
  overflow: visible;
}
.HoaNT_-_Box-shadow_eu_Class {
  position: absolute;
  width: 375px;
  height: 170px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.bg_ev_Class {
  fill: rgba(255, 255, 255, 1);
}
.bg_ev {
  filter: drop-shadow(0px 5px 15px rgba(48, 48, 48, 0.2));
  position: absolute;
  overflow: visible;
  width: 420px;
  height: 215px;
  left: 0px;
  top: 0px;
}
.Sa_my_si_Class {
  left: 20px;
  top: 10px;
  position: absolute;
  overflow: visible;
  width: 336px;
  height: 22px;
  text-align: left;
  font-family: Helvetica Neue;

  font-weight: bold;
  font-size: 18px;
  color: rgba(121, 121, 121, 1);
}
.Repeat_Grid_35_ex_Class {
  position: absolute;
  width: 340px;
  height: 131px;
  left: 10px;
  top: 42px;
  overflow: hidden;
}
.Group_10354_ey_Class {
  position: absolute;
  width: 89px;
  height: 104px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.Group_10384_ez_Class {
  position: absolute;
  width: 89px;
  height: 104px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.Rectangle_2458_e_Class {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_2458_e {
  position: absolute;
  overflow: visible;
  width: 89px;
  height: 104px;
  left: 0px;
  top: 0px;
}
.Group_10344_e_Class {
  position: absolute;
  width: 64px;
  height: 11px;
  left: 13px;
  top: 83.047px;
  overflow: visible;
}
.ID5_pht__16km_e_Class {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 65px;
  white-space: nowrap;
  line-height: 11px;
  margin-top: -0.5px;
  text-align: left;
  font-family: Helvetica Neue;

  font-weight: lighter;
  font-size: 10px;
  color: rgba(80, 80, 80, 1);
}
.Vit_Long_e_Class {
  left: 0px;
  top: 66px;
  position: absolute;
  overflow: hidden;
  width: 90px;
  height: 10px;
  line-height: 18px;
  margin-top: -4px;
  text-align: center;
  font-family: Helvetica Neue;

  font-weight: bold;
  font-size: 10px;
  color: rgba(121, 121, 121, 1);
}
.ID1_e_Class {
  position: absolute;
  width: 49px;
  height: 49px;
  left: 20px;
  top: 9px;
  overflow: visible;
}
.Group_10354_e_Class {
  position: absolute;
  width: 89px;
  height: 104px;
  left: 120px;
  top: 0px;
  overflow: visible;
}
.Group_10384_e_Class {
  position: absolute;
  width: 89px;
  height: 104px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.Rectangle_2458_fa_Class {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_2458_fa {
  position: absolute;
  overflow: visible;
  width: 89px;
  height: 104px;
  left: 0px;
  top: 0px;
}
.Group_10344_fa_Class {
  position: absolute;
  width: 64px;
  height: 11px;
  left: 13px;
  top: 83.047px;
  overflow: visible;
}
.ID5_pht__16km_fa_Class {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 65px;
  white-space: nowrap;
  line-height: 11px;
  margin-top: -0.5px;
  text-align: left;
  font-family: Helvetica Neue;

  font-weight: lighter;
  font-size: 10px;
  color: rgba(80, 80, 80, 1);
}
.Nguyn_Kim_fa_Class {
  left: 0px;
  top: 66px;
  position: absolute;
  overflow: hidden;
  width: 90px;
  height: 10px;
  line-height: 18px;
  margin-top: -4px;
  text-align: center;
  font-family: Helvetica Neue;

  font-weight: bold;
  font-size: 10px;
  color: rgba(121, 121, 121, 1);
}
.nguyenkim_fb_Class {
  position: absolute;
  width: 49px;
  height: 49px;
  left: 20px;
  top: 9px;
  overflow: visible;
}
.Group_10354_fc_Class {
  position: absolute;
  width: 89px;
  height: 104px;
  left: 240px;
  top: 0px;
  overflow: visible;
}
.Group_10384_fd_Class {
  position: absolute;
  width: 89px;
  height: 104px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.Rectangle_2458_fe_Class {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_2458_fe {
  position: absolute;
  overflow: visible;
  width: 89px;
  height: 104px;
  left: 0px;
  top: 0px;
}
.Group_10344_ff_Class {
  position: absolute;
  width: 64px;
  height: 11px;
  left: 13px;
  top: 83.047px;
  overflow: visible;
}
.ID5_pht__16km_fg_Class {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 65px;
  white-space: nowrap;
  line-height: 11px;
  margin-top: -0.5px;
  text-align: left;
  font-family: Helvetica Neue;

  font-weight: lighter;
  font-size: 10px;
  color: rgba(80, 80, 80, 1);
}
.Hu_Thnh_fh_Class {
  left: 0px;
  top: 66px;
  position: absolute;
  overflow: hidden;
  width: 90px;
  height: 10px;
  line-height: 18px;
  margin-top: -4px;
  text-align: center;
  font-family: Helvetica Neue;

  font-weight: bold;
  font-size: 10px;
  color: rgba(121, 121, 121, 1);
}
.website-logo-diencohuuthinh_fi_Class {
  position: absolute;
  width: 49px;
  height: 49px;
  left: 20px;
  top: 9px;
  overflow: visible;
}
.Gn_bn_Class {
  left: 10px;
  top: 118px;
  position: absolute;
  overflow: visible;
  width: 341px;
  height: 22px;
  line-height: 35px;
  margin-top: -11.5px;
  text-align: left;
  font-family: Helvetica Neue;

  font-weight: bold;
  font-size: 12px;
  color: rgba(48, 48, 48, 1);
}
.Header1_Class {
  position: absolute;
  width: 92px;
  height: 16px;
  left: 134.402px;
  top: 20px;
  overflow: visible;
}
.Fixing_Time_Class {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 93px;
  white-space: nowrap;
  text-align: left;
  font-family: Helvetica Neue;

  font-weight: bold;
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 0.7142857360839844px;
  text-transform: uppercase;
}
.info-bg_Class {
  fill: rgba(0, 0, 0, 0.302);
}
.info-bg {
  overflow: visible;
  position: absolute;
  width: 373.727px;
  height: 762.5px;
  left: -5.567px;
  top: -2px;
  transform: matrix(1, 0, 0, 1, 0, 0);
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: home_list_store.html;
  cursor: pointer;
}
.info-bg_fn_Class {
  fill: rgba(255, 255, 255, 1);
}
.info-bg_fn {
  overflow: visible;
  position: absolute;
  width: 301.92px;
  height: 310.082px;
  left: 29.288px;
  top: 197.68px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.Group_9773_fo_Class {
  position: absolute;
  width: 277px;
  height: 38px;
  left: 41px;
  top: 214px;
  overflow: visible;
}
.CTA_fp_Class {
  position: absolute;
  width: 277px;
  height: 38px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.Rectangle_5_fq_Class {
  fill: rgba(255, 255, 255, 1);
}
.Rectangle_5_fq {
  filter: drop-shadow(0px 5px 15px rgba(48, 48, 48, 0.102));
  position: absolute;
  overflow: visible;
  width: 322px;
  height: 83px;
  left: 0px;
  top: 0px;
}
.Bn_ang_tm_dch_v_g__Class {
  left: 13px;
  top: 13px;
  position: absolute;
  overflow: visible;
  width: 267px;
  height: 14px;
  line-height: 16px;
  margin-top: -2px;
  text-align: left;
  font-family: Helvetica Neue;

  font-weight: normal;
  font-size: 12px;
  color: rgba(189, 189, 189, 1);
}
.Group_10359_Class {
  position: absolute;
  width: 51px;
  height: 17px;
  left: 41px;
  top: 265px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: list_store.html;
  cursor: pointer;
}
.Rectangle_1950_Class {
  fill: transparent;
  stroke: rgba(121, 121, 121, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_1950 {
  position: absolute;
  overflow: visible;
  width: 51px;
  height: 17px;
  left: 0px;
  top: 0px;
}
.My_git_Class {
  left: 7px;
  top: 3px;
  position: absolute;
  overflow: visible;
  width: 39px;
  white-space: nowrap;
  line-height: 18px;
  margin-top: -4px;
  text-align: center;
  font-family: Helvetica Neue;

  font-weight: normal;
  font-size: 10px;
  color: rgba(121, 121, 121, 1);
}
.Group_10363_Class {
  position: absolute;
  width: 56px;
  height: 17px;
  left: 41px;
  top: 287px;
  overflow: visible;
}
.Rectangle_1950_fw_Class {
  fill: transparent;
  stroke: rgba(121, 121, 121, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_1950_fw {
  position: absolute;
  overflow: visible;
  width: 56px;
  height: 17px;
  left: 0px;
  top: 0px;
}
.My_sy_Class {
  left: 9px;
  top: 3px;
  position: absolute;
  overflow: visible;
  width: 39px;
  white-space: nowrap;
  line-height: 18px;
  margin-top: -4px;
  text-align: center;
  font-family: Helvetica Neue;

  font-weight: normal;
  font-size: 10px;
  color: rgba(121, 121, 121, 1);
}
.Group_10364_Class {
  position: absolute;
  width: 62px;
  height: 17px;
  left: 100px;
  top: 287px;
  overflow: visible;
}
.Rectangle_1950_fz_Class {
  fill: transparent;
  stroke: rgba(121, 121, 121, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_1950_fz {
  position: absolute;
  overflow: visible;
  width: 62px;
  height: 17px;
  left: 0px;
  top: 0px;
}
.L_vi_sng_Class {
  left: 8px;
  top: 3px;
  position: absolute;
  overflow: visible;
  width: 47px;
  white-space: nowrap;
  line-height: 18px;
  margin-top: -4px;
  text-align: center;
  font-family: Helvetica Neue;

  font-weight: normal;
  font-size: 10px;
  color: rgba(121, 121, 121, 1);
}
.Group_10365_Class {
  position: absolute;
  width: 52px;
  height: 17px;
  left: 167px;
  top: 287px;
  overflow: visible;
}
.Rectangle_1950_f_Class {
  fill: transparent;
  stroke: rgba(121, 121, 121, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_1950_f {
  position: absolute;
  overflow: visible;
  width: 52px;
  height: 17px;
  left: 0px;
  top: 0px;
}
.Bp_t_Class {
  left: 11px;
  top: 3px;
  position: absolute;
  overflow: visible;
  width: 31px;
  white-space: nowrap;
  line-height: 18px;
  margin-top: -4px;
  text-align: center;
  font-family: Helvetica Neue;

  font-weight: normal;
  font-size: 10px;
  color: rgba(121, 121, 121, 1);
}
.Group_10360_Class {
  position: absolute;
  width: 51px;
  height: 17px;
  left: 94px;
  top: 265px;
  overflow: visible;
}
.Rectangle_1950_ga_Class {
  fill: transparent;
  stroke: rgba(121, 121, 121, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_1950_ga {
  position: absolute;
  overflow: visible;
  width: 51px;
  height: 17px;
  left: 0px;
  top: 0px;
}
.My_i_Class {
  left: 11px;
  top: 3px;
  position: absolute;
  overflow: visible;
  width: 31px;
  white-space: nowrap;
  line-height: 18px;
  margin-top: -4px;
  text-align: center;
  font-family: Helvetica Neue;

  font-weight: normal;
  font-size: 10px;
  color: rgba(121, 121, 121, 1);
}
.Group_10361_Class {
  position: absolute;
  width: 51px;
  height: 17px;
  left: 150px;
  top: 265px;
  overflow: visible;
}
.Rectangle_1950_gb_Class {
  fill: transparent;
  stroke: rgba(121, 121, 121, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_1950_gb {
  position: absolute;
  overflow: visible;
  width: 51px;
  height: 17px;
  left: 0px;
  top: 0px;
}
.T_lnh_Class {
  left: 8px;
  top: 3px;
  position: absolute;
  overflow: visible;
  width: 35px;
  white-space: nowrap;
  line-height: 18px;
  margin-top: -4px;
  text-align: center;
  font-family: Helvetica Neue;

  font-weight: normal;
  font-size: 10px;
  color: rgba(121, 121, 121, 1);
}
.Group_10362_Class {
  position: absolute;
  width: 79px;
  height: 17px;
  left: 204.105px;
  top: 265px;
  overflow: visible;
}
.Rectangle_1950_gc_Class {
  fill: transparent;
  stroke: rgba(121, 121, 121, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_1950_gc {
  position: absolute;
  overflow: visible;
  width: 79px;
  height: 17px;
  left: 0px;
  top: 0px;
}
.My_ra_chn_Class {
  left: 9px;
  top: 3px;
  position: absolute;
  overflow: visible;
  width: 63px;
  white-space: nowrap;
  line-height: 18px;
  margin-top: -4px;
  text-align: center;
  font-family: Helvetica Neue;

  font-weight: normal;
  font-size: 10px;
  color: rgba(121, 121, 121, 1);
}
