<div id="home-search" class="home-search_Class">
	<div class="HoaNT___Header_Background HoaNT_-_Header_Background_Class">
		<div class="Group_9752_Class">
			<svg class="Background" viewBox="0 0 1129.174 680.36">
				<path class="Background_Class" d="M 395.06494140625 680.3597412109375 C 395.06494140625 607.4232788085938 -153.3673095703125 618.2490234375 42.11847686767578 288.2914428710938 C 237.604248046875 -41.6683349609375 620.02734375 -107.2796630859375 719.0097045898438 190.3181762695313 C 817.9899291992188 487.9138488769531 1129.173828125 393.8937683105469 1129.173828125 239.3824462890625 L 1129.173828125 680.3597412109375 L 395.06494140625 680.3597412109375 Z">
				</path>
			</svg>
		</div>
	</div>
	<svg class="Path_2860" viewBox="0 0 360 710">
		<path class="Path_2860_Class" d="M 9.599998474121094 0 L 350.3999938964844 0 C 355.701904296875 0 359.9999694824219 2.881938934326172 359.9999694824219 6.436990261077881 L 359.9999694824219 710 L 0 710 L 0 6.436990261077881 C 0 2.881938934326172 4.298066139221191 0 9.599998474121094 0 Z">
		</path>
	</svg>
	<div class="Group_9773_Class">
		<div class="CTA CTA_Class">
			<svg class="Rectangle_5">
				<rect class="Rectangle_5_Class" rx="6" ry="6" x="0" y="0" width="340" height="38">
				</rect>
			</svg>
			<div class="Dch_v_a_ch_bn_mun_tm_Class">
				<span>Dịch vụ, địa chỉ bạn muốn tìm</span>
			</div>
		</div>
		<div class="tam tam_Class">
			<img class="tam_cl_Class" src="assets/tam_cl.png" srcset="assets/tam_cl.png 1x, assets/tam_cl@2x.png 2x">
		</div>
	</div>
	<div class="Repeat_Grid_36_Class">
		<div class="Group_10355 Group_10355_Class">
			<div class="HoaNT___Box_shadow HoaNT_-_Box-shadow_Class">
				<svg class="bg">
					<rect class="bg_Class" rx="12" ry="12" x="0" y="0" width="360" height="170">
					</rect>
				</svg>
			</div>
			<div class="Sa_tivi_Class">
				<span>Sửa tivi</span>
			</div>
			<div class="Repeat_Grid_35_Class">
				<div class="Group_10354 Group_10354_Class">
					<div class="Group_10384_Class">
						<svg class="Rectangle_2458">
							<rect class="Rectangle_2458_Class" rx="10" ry="10" x="0" y="0" width="89" height="104">
							</rect>
						</svg>
						<div class="Group_10344_Class">
							<div class="ID5_pht__16km_Class">
								<span>5 phút • 1.6km</span>
							</div>
						</div>
						<div class="Vit_Long_Class">
							<span>Việt Long</span>
						</div>
						<img class="ID1_Class" src="assets/ID1.png" srcset="assets/ID1.png 1x, assets/ID1@2x.png 2x">
					</div>
				</div>
				<div class="Group_10354 Group_10354_cz_Class">
					<div class="Group_10384_c_Class">
						<svg class="Rectangle_2458_c">
							<rect class="Rectangle_2458_c_Class" rx="10" ry="10" x="0" y="0" width="89" height="104">
							</rect>
						</svg>
						<div class="Group_10344_c_Class">
							<div class="ID5_pht__16km_c_Class">
								<span>5 phút • 1.6km</span>
							</div>
						</div>
						<div class="Nguyn_Kim_Class">
							<span>Nguyễn Kim</span>
						</div>
						<img class="nguyenkim_Class" src="assets/nguyenkim.png" srcset="assets/nguyenkim.png 1x, assets/nguyenkim@2x.png 2x">
					</div>
				</div>
				<div class="Group_10354 Group_10354_c_Class">
					<div class="Group_10384_da_Class">
						<svg class="Rectangle_2458_da">
							<rect class="Rectangle_2458_da_Class" rx="10" ry="10" x="0" y="0" width="89" height="104">
							</rect>
						</svg>
						<div class="Group_10344_da_Class">
							<div class="ID5_pht__16km_da_Class">
								<span>5 phút • 1.6km</span>
							</div>
						</div>
						<div class="Hu_Thnh_Class">
							<span>Hữu Thịnh</span>
						</div>
						<img class="website-logo-diencohuuthinh_Class" src="assets/website-logo-diencohuuthinh.png" srcset="assets/website-logo-diencohuuthinh.png 1x, assets/website-logo-diencohuuthinh@2x.png 2x">
					</div>
				</div>
			</div>
		</div>
		<div class="Group_10355 Group_10355_dd_Class">
			<div class="HoaNT___Box_shadow HoaNT_-_Box-shadow_de_Class">
				<svg class="bg_df">
					<rect class="bg_df_Class" rx="12" ry="12" x="0" y="0" width="360" height="170">
					</rect>
				</svg>
			</div>
			<div class="Sa_my_lnh_Class">
				<span>Sửa máy lạnh</span>
			</div>
			<div class="Repeat_Grid_35_dh_Class">
				<div class="Group_10354 Group_10354_di_Class">
					<div class="Group_10384_dj_Class">
						<svg class="Rectangle_2458_dk">
							<rect class="Rectangle_2458_dk_Class" rx="10" ry="10" x="0" y="0" width="89" height="104">
							</rect>
						</svg>
						<div class="Group_10344_dl_Class">
							<div class="ID5_pht__16km_dm_Class">
								<span>5 phút • 1.6km</span>
							</div>
						</div>
						<div class="Vit_Long_dn_Class">
							<span>Việt Long</span>
						</div>
						<img class="ID1_do_Class" src="assets/ID1_do.png" srcset="assets/ID1_do.png 1x, assets/ID1_do@2x.png 2x">
					</div>
				</div>
				<div class="Group_10354 Group_10354_dp_Class">
					<div class="Group_10384_dq_Class">
						<svg class="Rectangle_2458_dr">
							<rect class="Rectangle_2458_dr_Class" rx="10" ry="10" x="0" y="0" width="89" height="104">
							</rect>
						</svg>
						<div class="Group_10344_ds_Class">
							<div class="ID5_pht__16km_dt_Class">
								<span>5 phút • 1.6km</span>
							</div>
						</div>
						<div class="Nguyn_Kim_du_Class">
							<span>Nguyễn Kim</span>
						</div>
						<img class="nguyenkim_dv_Class" src="assets/nguyenkim_dv.png" srcset="assets/nguyenkim_dv.png 1x, assets/nguyenkim_dv@2x.png 2x">
					</div>
				</div>
				<div class="Group_10354 Group_10354_dw_Class">
					<div class="Group_10384_dx_Class">
						<svg class="Rectangle_2458_dy">
							<rect class="Rectangle_2458_dy_Class" rx="10" ry="10" x="0" y="0" width="89" height="104">
							</rect>
						</svg>
						<div class="Group_10344_dz_Class">
							<div class="ID5_pht__16km_d_Class">
								<span>5 phút • 1.6km</span>
							</div>
						</div>
						<div class="Hu_Thnh_d_Class">
							<span>Hữu Thịnh</span>
						</div>
						<img class="website-logo-diencohuuthinh_d_Class" src="assets/website-logo-diencohuuthinh_d.png" srcset="assets/website-logo-diencohuuthinh_d.png 1x, assets/website-logo-diencohuuthinh_d@2x.png 2x">
					</div>
				</div>
			</div>
		</div>
		<div class="Group_10355 Group_10355_d_Class">
			<div class="HoaNT___Box_shadow HoaNT_-_Box-shadow_d_Class">
				<svg class="bg_d">
					<rect class="bg_d_Class" rx="12" ry="12" x="0" y="0" width="360" height="170">
					</rect>
				</svg>
			</div>
			<div class="Sa_t_lnh_Class">
				<span>Sửa tủ lạnh</span>
			</div>
			<div class="Repeat_Grid_35_d_Class">
				<div class="Group_10354 Group_10354_d_Class">
					<div class="Group_10384_d_Class">
						<svg class="Rectangle_2458_ea">
							<rect class="Rectangle_2458_ea_Class" rx="10" ry="10" x="0" y="0" width="89" height="104">
							</rect>
						</svg>
						<div class="Group_10344_eb_Class">
							<div class="ID5_pht__16km_ec_Class">
								<span>5 phút • 1.6km</span>
							</div>
						</div>
						<div class="Vit_Long_ed_Class">
							<span>Việt Long</span>
						</div>
						<img class="ID1_ee_Class" src="assets/ID1_ee.png" srcset="assets/ID1_ee.png 1x, assets/ID1_ee@2x.png 2x">
					</div>
				</div>
				<div class="Group_10354 Group_10354_ef_Class">
					<div class="Group_10384_eg_Class">
						<svg class="Rectangle_2458_eh">
							<rect class="Rectangle_2458_eh_Class" rx="10" ry="10" x="0" y="0" width="89" height="104">
							</rect>
						</svg>
						<div class="Group_10344_ei_Class">
							<div class="ID5_pht__16km_ej_Class">
								<span>5 phút • 1.6km</span>
							</div>
						</div>
						<div class="Nguyn_Kim_ek_Class">
							<span>Nguyễn Kim</span>
						</div>
						<img class="nguyenkim_el_Class" src="assets/nguyenkim_el.png" srcset="assets/nguyenkim_el.png 1x, assets/nguyenkim_el@2x.png 2x">
					</div>
				</div>
				<div class="Group_10354 Group_10354_em_Class">
					<div class="Group_10384_en_Class">
						<svg class="Rectangle_2458_eo">
							<rect class="Rectangle_2458_eo_Class" rx="10" ry="10" x="0" y="0" width="89" height="104">
							</rect>
						</svg>
						<div class="Group_10344_ep_Class">
							<div class="ID5_pht__16km_eq_Class">
								<span>5 phút • 1.6km</span>
							</div>
						</div>
						<div class="Hu_Thnh_er_Class">
							<span>Hữu Thịnh</span>
						</div>
						<img class="website-logo-diencohuuthinh_es_Class" src="assets/website-logo-diencohuuthinh_es.png" srcset="assets/website-logo-diencohuuthinh_es.png 1x, assets/website-logo-diencohuuthinh_es@2x.png 2x">
					</div>
				</div>
			</div>
		</div>
		<div class="Group_10355 Group_10355_et_Class">
			<div class="HoaNT___Box_shadow HoaNT_-_Box-shadow_eu_Class">
				<svg class="bg_ev">
					<rect class="bg_ev_Class" rx="12" ry="12" x="0" y="0" width="375" height="170">
					</rect>
				</svg>
			</div>
			<div class="Sa_my_si_Class">
				<span>Sửa máy sưởi</span>
			</div>
			<div class="Repeat_Grid_35_ex_Class">
				<div class="Group_10354 Group_10354_ey_Class">
					<div class="Group_10384_ez_Class">
						<svg class="Rectangle_2458_e">
							<rect class="Rectangle_2458_e_Class" rx="10" ry="10" x="0" y="0" width="89" height="104">
							</rect>
						</svg>
						<div class="Group_10344_e_Class">
							<div class="ID5_pht__16km_e_Class">
								<span>5 phút • 1.6km</span>
							</div>
						</div>
						<div class="Vit_Long_e_Class">
							<span>Việt Long</span>
						</div>
						<img class="ID1_e_Class" src="assets/ID1_e.png" srcset="assets/ID1_e.png 1x, assets/ID1_e@2x.png 2x">
					</div>
				</div>
				<div class="Group_10354 Group_10354_e_Class">
					<div class="Group_10384_e_Class">
						<svg class="Rectangle_2458_fa">
							<rect class="Rectangle_2458_fa_Class" rx="10" ry="10" x="0" y="0" width="89" height="104">
							</rect>
						</svg>
						<div class="Group_10344_fa_Class">
							<div class="ID5_pht__16km_fa_Class">
								<span>5 phút • 1.6km</span>
							</div>
						</div>
						<div class="Nguyn_Kim_fa_Class">
							<span>Nguyễn Kim</span>
						</div>
						<img class="nguyenkim_fb_Class" src="assets/nguyenkim_fb.png" srcset="assets/nguyenkim_fb.png 1x, assets/nguyenkim_fb@2x.png 2x">
					</div>
				</div>
				<div class="Group_10354 Group_10354_fc_Class">
					<div class="Group_10384_fd_Class">
						<svg class="Rectangle_2458_fe">
							<rect class="Rectangle_2458_fe_Class" rx="10" ry="10" x="0" y="0" width="89" height="104">
							</rect>
						</svg>
						<div class="Group_10344_ff_Class">
							<div class="ID5_pht__16km_fg_Class">
								<span>5 phút • 1.6km</span>
							</div>
						</div>
						<div class="Hu_Thnh_fh_Class">
							<span>Hữu Thịnh</span>
						</div>
						<img class="website-logo-diencohuuthinh_fi_Class" src="assets/website-logo-diencohuuthinh_fi.png" srcset="assets/website-logo-diencohuuthinh_fi.png 1x, assets/website-logo-diencohuuthinh_fi@2x.png 2x">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="Gn_bn_Class">
		<span>Gần bạn</span>
	</div>
	<div class="Header1_Class">
		<div class="Fixing_Time_Class">
			<span>Trang chủ</span>
		</div>
	</div>
	<svg class="info-bg" viewBox="-2.35 -3.368 373.727 762.5">
		<path [routerLink]="['..','home-list-store']" class="info-bg_Class" d="M 0.06521618366241455 -0.2145335078239441 L 368.9620056152344 -0.2145335078239441 C 374.3964538574219 -0.2145335078239441 368.9620056152344 -7.310563087463379 368.9620056152344 -0.2145335078239441 L 368.9620056152344 759.1316528320313 L -0.03760403394699097 759.1316528320313 L 0.06521618366241455 -0.2145335078239441 C 0.06521618366241455 -7.310563087463379 -5.36925745010376 -0.2145335078239441 0.06521618366241455 -0.2145335078239441 Z">
		</path>
	</svg>
	<svg class="info-bg_fn" viewBox="0 0 301.92 310.082">
		<path class="info-bg_fn_Class" d="M 8.051205635070801 0 L 293.8690185546875 0 C 298.3155822753906 0 301.9201965332031 2.349042892456055 301.9201965332031 5.246735095977783 L 301.9201965332031 310.08203125 L 0 310.08203125 L 0 5.246735095977783 C 0 2.349042892456055 3.604647636413574 0 8.051205635070801 0 Z">
		</path>
	</svg>
	<div class="Group_9773_fo_Class">
		<div class="CTA CTA_fp_Class">
			<svg class="Rectangle_5_fq">
				<rect class="Rectangle_5_fq_Class" rx="6" ry="6" x="0" y="0" width="277" height="38">
				</rect>
			</svg>
			<div class="Bn_ang_tm_dch_v_g__Class">
				<span>Bạn đang tìm dịch vụ gì ?</span>
			</div>
		</div>
	</div>
	<div [routerLink]="['..','list-store']" class="Group_10359_Class">
		<svg class="Rectangle_1950">
			<rect class="Rectangle_1950_Class" rx="6" ry="6" x="0" y="0" width="51" height="17">
			</rect>
		</svg>
		<div class="My_git_Class">
			<span>Máy giặt</span>
		</div>
	</div>
	<div class="Group_10363_Class">
		<svg class="Rectangle_1950_fw">
			<rect class="Rectangle_1950_fw_Class" rx="6" ry="6" x="0" y="0" width="56" height="17">
			</rect>
		</svg>
		<div class="My_sy_Class">
			<span>Máy sấy</span>
		</div>
	</div>
	<div class="Group_10364_Class">
		<svg class="Rectangle_1950_fz">
			<rect class="Rectangle_1950_fz_Class" rx="6" ry="6" x="0" y="0" width="62" height="17">
			</rect>
		</svg>
		<div class="L_vi_sng_Class">
			<span>Lò vi sóng</span>
		</div>
	</div>
	<div class="Group_10365_Class">
		<svg class="Rectangle_1950_f">
			<rect class="Rectangle_1950_f_Class" rx="6" ry="6" x="0" y="0" width="52" height="17">
			</rect>
		</svg>
		<div class="Bp_t_Class">
			<span>Bếp từ</span>
		</div>
	</div>
	<div class="Group_10360_Class">
		<svg class="Rectangle_1950_ga">
			<rect class="Rectangle_1950_ga_Class" rx="6" ry="6" x="0" y="0" width="51" height="17">
			</rect>
		</svg>
		<div class="My_i_Class">
			<span>Máy ủi</span>
		</div>
	</div>
	<div class="Group_10361_Class">
		<svg class="Rectangle_1950_gb">
			<rect class="Rectangle_1950_gb_Class" rx="6" ry="6" x="0" y="0" width="51" height="17">
			</rect>
		</svg>
		<div class="T_lnh_Class">
			<span>Tủ lạnh</span>
		</div>
	</div>
	<div class="Group_10362_Class">
		<svg class="Rectangle_1950_gc">
			<rect class="Rectangle_1950_gc_Class" rx="6" ry="6" x="0" y="0" width="79" height="17">
			</rect>
		</svg>
		<div class="My_ra_chn_Class">
			<span>Máy rửa chén</span>
		</div>
	</div>
</div>
<app-bottom-bar></app-bottom-bar>