.mediaViewInfo {
  --web-view-name: promotion-screen;
  --web-view-id: promotion-screen;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
:root {
  --web-view-ids: promotion-screen;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
#promotion-screen {
  position: absolute;
  width: 375px;
  height: 915px;
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
  --web-view-name: promotion-screen;
  --web-view-id: promotion-screen;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
#Group_9672 {
  position: absolute;
  width: 1176.223px;
  height: 680.36px;
  left: -547.223px;
  top: -469.36px;
  overflow: visible;
}
#Group_9752 {
  position: absolute;
  width: 1176.223px;
  height: 680.36px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Background {
  fill: rgba(51, 191, 154, 1);
}
.Background {
  overflow: visible;
  position: absolute;
  width: 1176.223px;
  height: 680.36px;
  transform: translate(508.223px, 280.36px)
    matrix(1, 0, 0, 1, -508.2227, -280.3597) rotate(180deg);
  transform-origin: center;
  left: 0px;
  top: 0px;
}
#Light_Status_Bar {
  position: absolute;
  width: 347.328px;
  height: 16.669px;
  left: 553.223px;
  top: 483.69px;
  overflow: visible;
}
#Battery {
  position: absolute;
  width: 24.328px;
  height: 11.333px;
  left: 323px;
  top: 0.003px;
  overflow: visible;
}
#Border {
  fill: rgba(0, 0, 0, 0);
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Border {
  position: absolute;
  overflow: visible;
  width: 22px;
  height: 11.333px;
  left: 0px;
  top: 0px;
}
#Cap {
  fill: rgba(255, 255, 255, 1);
}
.Cap {
  overflow: visible;
  position: absolute;
  width: 1.328px;
  height: 4px;
  left: 23px;
  top: 3.667px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Capacity {
  fill: rgba(255, 255, 255, 1);
}
.Capacity {
  position: absolute;
  overflow: visible;
  width: 18px;
  height: 7.333px;
  left: 2px;
  top: 2px;
}
#Wifi {
  opacity: 0.96;
  fill: rgba(255, 255, 255, 1);
}
.Wifi {
  overflow: visible;
  position: absolute;
  width: 15.272px;
  height: 10.966px;
  left: 302.693px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Cellular_Connection {
  fill: rgba(255, 255, 255, 1);
}
.Cellular_Connection {
  overflow: visible;
  position: absolute;
  width: 17px;
  height: 10.667px;
  left: 280.667px;
  top: 0.336px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Time_Style {
  position: absolute;
  width: 54px;
  height: 16px;
  left: 0px;
  top: 0.669px;
  overflow: visible;
}
#_Time {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 55px;
  height: 16px;
  text-align: center;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: -0.2px;
}
#Header1 {
  position: absolute;
  width: 98px;
  height: 16px;
  left: 686.223px;
  top: 521.36px;
  overflow: visible;
}
#Fixing_Time {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 99px;
  white-space: nowrap;
  text-align: left;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 0.7142857360839844px;
  text-transform: uppercase;
}
#Path_2863 {
  fill: rgba(255, 255, 255, 1);
}
.Path_2863 {
  overflow: visible;
  position: absolute;
  width: 375px;
  height: 732px;
  left: 0px;
  top: 80px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_2974 {
  fill: rgba(218, 222, 227, 1);
  stroke: rgba(218, 222, 227, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_2974 {
  overflow: visible;
  position: absolute;
  width: 1px;
  height: 1px;
  left: 31.5px;
  top: 345.5px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#THNG_BO {
  left: 49px;
  top: 92px;
  position: absolute;
  overflow: visible;
  width: 91px;
  white-space: nowrap;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: notification_screen.html;
  cursor: pointer;
  line-height: 18px;
  margin-top: -1.5px;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: rgba(38, 38, 38, 1);
  letter-spacing: 0.2px;
}
#KHUYN_MI {
  left: 237px;
  top: 92px;
  position: absolute;
  overflow: visible;
  width: 91px;
  white-space: nowrap;
  line-height: 18px;
  margin-top: -1.5px;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: rgba(29, 155, 122, 1);
  letter-spacing: 0.2px;
}
#Line_78 {
  fill: transparent;
  stroke: rgba(218, 222, 227, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_78 {
  overflow: visible;
  position: absolute;
  width: 375px;
  height: 1px;
  left: 0.5px;
  top: 123.5px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Line_77 {
  fill: transparent;
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 3px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_77 {
  overflow: visible;
  position: absolute;
  width: 188.016px;
  height: 4px;
  left: 187.5px;
  top: 122.5px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Repeat_Grid_32 {
  position: absolute;
  width: 379px;
  height: 723px;
  left: -1.5px;
  top: 117.5px;
  overflow: hidden;
}
#Repeat_Grid_32_0 {
  position: absolute;
  width: 334px;
  height: 506px;
  left: 22.5px;
  top: 17.5px;
  overflow: visible;
}
#promotion {
  position: absolute;
  width: 334px;
  height: 152px;
  left: 0px;
  top: 0px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: promotion_detail_screen.html;
  cursor: pointer;
}
#HoaNT_-_Box-shadow {
  position: absolute;
  width: 334px;
  height: 152px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#bg {
  fill: rgba(238, 254, 249, 1);
}
.bg {
  filter: drop-shadow(0px 5px 15px rgba(48, 48, 48, 0.2));
  position: absolute;
  overflow: visible;
  width: 379px;
  height: 197px;
  left: 0px;
  top: 0px;
}
#pro1 {
  position: absolute;
  width: 334px;
  height: 80px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Easifix_-_Sa_cha_d_dng {
  left: 9px;
  top: 84px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 41px;
  line-height: 20px;
  margin-top: -1px;
  text-align: left;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: rgba(51, 191, 154, 1);
}
#T_08102020_n_31102020 {
  left: 11px;
  top: 125px;
  position: absolute;
  overflow: visible;
  width: 314px;
  height: 16px;
  line-height: 35px;
  margin-top: -10.5px;
  text-align: left;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(48, 48, 48, 1);
}
#promotion_c {
  position: absolute;
  width: 334px;
  height: 152px;
  left: 0px;
  top: 177px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: promotion_detail_screen.html;
  cursor: pointer;
}
#HoaNT_-_Box-shadow_c {
  position: absolute;
  width: 334px;
  height: 152px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#bg_c {
  fill: rgba(238, 254, 249, 1);
}
.bg_c {
  filter: drop-shadow(0px 5px 15px rgba(48, 48, 48, 0.2));
  position: absolute;
  overflow: visible;
  width: 379px;
  height: 197px;
  left: 0px;
  top: 0px;
}
#pro1_c {
  position: absolute;
  width: 334px;
  height: 80px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Dng_Easifix_-_Bt_vic_phi_lm {
  left: 9px;
  top: 84px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 41px;
  text-align: left;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: rgba(51, 191, 154, 1);
}
#T_01102020_n_01112020 {
  left: 11px;
  top: 125px;
  position: absolute;
  overflow: visible;
  width: 314px;
  height: 16px;
  line-height: 35px;
  margin-top: -10.5px;
  text-align: left;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(48, 48, 48, 1);
}
#promotion_da {
  position: absolute;
  width: 334px;
  height: 152px;
  left: 0px;
  top: 354px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: promotion_detail_screen.html;
  cursor: pointer;
}
#HoaNT_-_Box-shadow_da {
  position: absolute;
  width: 334px;
  height: 152px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#bg_db {
  fill: rgba(238, 254, 249, 1);
}
.bg_db {
  filter: drop-shadow(0px 5px 15px rgba(48, 48, 48, 0.2));
  position: absolute;
  overflow: visible;
  width: 379px;
  height: 197px;
  left: 0px;
  top: 0px;
}
#pro1_dc {
  position: absolute;
  width: 334px;
  height: 80px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Easifix_gim_gi_cc_mnh {
  left: 9px;
  top: 84px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 41px;
  text-align: left;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: rgba(51, 191, 154, 1);
}
#T_20102020_n_25102020 {
  left: 11px;
  top: 125px;
  position: absolute;
  overflow: visible;
  width: 314px;
  height: 16px;
  line-height: 35px;
  margin-top: -10.5px;
  text-align: left;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(48, 48, 48, 1);
}
#Repeat_Grid_32_1 {
  position: absolute;
  width: 334px;
  height: 506px;
  left: 22.5px;
  top: 552.5px;
  overflow: visible;
}
#promotion_dg {
  position: absolute;
  width: 334px;
  height: 152px;
  left: 0px;
  top: 0px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: promotion_detail_screen.html;
  cursor: pointer;
}
#HoaNT_-_Box-shadow_dh {
  position: absolute;
  width: 334px;
  height: 152px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#bg_di {
  fill: rgba(238, 254, 249, 1);
}
.bg_di {
  filter: drop-shadow(0px 5px 15px rgba(48, 48, 48, 0.2));
  position: absolute;
  overflow: visible;
  width: 379px;
  height: 197px;
  left: 0px;
  top: 0px;
}
#pro1_dj {
  position: absolute;
  width: 334px;
  height: 80px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Qung_gnh_lo_v_vic_sa_cha_cng_E {
  left: 9px;
  top: 84px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 41px;
  line-height: 20px;
  margin-top: -1px;
  text-align: left;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: rgba(51, 191, 154, 1);
}
#T_2092020_n_10102020 {
  left: 11px;
  top: 125px;
  position: absolute;
  overflow: visible;
  width: 314px;
  height: 16px;
  line-height: 35px;
  margin-top: -10.5px;
  text-align: left;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(48, 48, 48, 1);
}
#promotion_dm {
  position: absolute;
  width: 334px;
  height: 152px;
  left: 0px;
  top: 177px;
  overflow: visible;
}
#HoaNT_-_Box-shadow_dn {
  position: absolute;
  width: 334px;
  height: 152px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#bg_do {
  fill: rgba(238, 254, 249, 1);
}
.bg_do {
  filter: drop-shadow(0px 5px 15px rgba(48, 48, 48, 0.2));
  position: absolute;
  overflow: visible;
  width: 379px;
  height: 197px;
  left: 0px;
  top: 0px;
}
#pro1_dp {
  position: absolute;
  width: 334px;
  height: 80px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Dng_Easifix_-_Bt_vic_phi_lm_dq {
  left: 9px;
  top: 84px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 41px;
  text-align: left;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: rgba(51, 191, 154, 1);
}
#T_1__10__2020_n_1__11_2020 {
  left: 11px;
  top: 125px;
  position: absolute;
  overflow: visible;
  width: 314px;
  height: 16px;
  line-height: 35px;
  margin-top: -10.5px;
  text-align: left;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(48, 48, 48, 1);
}
#promotion_ds {
  position: absolute;
  width: 334px;
  height: 152px;
  left: 0px;
  top: 354px;
  overflow: visible;
}
#HoaNT_-_Box-shadow_dt {
  position: absolute;
  width: 334px;
  height: 152px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#bg_du {
  fill: rgba(238, 254, 249, 1);
}
.bg_du {
  filter: drop-shadow(0px 5px 15px rgba(48, 48, 48, 0.2));
  position: absolute;
  overflow: visible;
  width: 379px;
  height: 197px;
  left: 0px;
  top: 0px;
}
#pro1_dv {
  position: absolute;
  width: 334px;
  height: 80px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Easifix_gim_gi_cc_mnh_dw {
  left: 9px;
  top: 84px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 41px;
  text-align: left;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: rgba(51, 191, 154, 1);
}
#T_20__10__2020_n_25__10_2020 {
  left: 11px;
  top: 125px;
  position: absolute;
  overflow: visible;
  width: 314px;
  height: 16px;
  line-height: 35px;
  margin-top: -10.5px;
  text-align: left;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(48, 48, 48, 1);
}
#Group_10326 {
  position: absolute;
  width: 65px;
  height: 30px;
  left: 21px;
  top: 145px;
  overflow: visible;
}
#Rectangle_2424 {
  opacity: 0.9;
  fill: rgba(255, 255, 255, 1);
}
.Rectangle_2424 {
  position: absolute;
  overflow: visible;
  width: 65px;
  height: 30px;
  left: 0px;
  top: 0px;
}
#ID20 {
  left: 17px;
  top: 5px;
  position: absolute;
  overflow: visible;
  width: 37px;
  white-space: nowrap;
  line-height: 20px;
  margin-top: -1px;
  text-align: left;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: rgba(223, 47, 69, 1);
}
#Group_10327 {
  position: absolute;
  width: 53px;
  height: 24px;
  left: 22px;
  top: 498px;
  overflow: visible;
}
#Rectangle_2424_d {
  opacity: 0.9;
  fill: rgba(255, 255, 255, 1);
}
.Rectangle_2424_d {
  position: absolute;
  overflow: visible;
  width: 53px;
  height: 24px;
  left: 0px;
  top: 0px;
}
#ID50 {
  left: 14px;
  top: 4px;
  position: absolute;
  overflow: visible;
  width: 29px;
  white-space: nowrap;
  line-height: 16px;
  margin-top: -1px;
  text-align: left;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: rgba(223, 47, 69, 1);
}
#Group_10328 {
  position: absolute;
  width: 88px;
  height: 24px;
  left: 22px;
  top: 522px;
  overflow: visible;
}
#Rectangle_2424_ea {
  opacity: 0.9;
  fill: rgba(255, 255, 255, 1);
}
.Rectangle_2424_ea {
  position: absolute;
  overflow: visible;
  width: 88px;
  height: 24px;
  left: 0px;
  top: 0px;
}
#Ti_a_50K {
  left: 9px;
  top: 4px;
  position: absolute;
  overflow: visible;
  width: 72px;
  white-space: nowrap;
  line-height: 16px;
  margin-top: -1px;
  text-align: left;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: rgba(223, 47, 69, 1);
}
#Group_10337 {
  position: fixed;
  width: 375px;
  height: 70.739px;
  left: 0px;
  top: 741.261px;
  overflow: visible;
}
#Path_3058 {
  opacity: 0.997;
  fill: rgba(247, 247, 247, 1);
}
.Path_3058 {
  filter: drop-shadow(0px -1px 0px rgba(2, 2, 2, 0.4));
  overflow: visible;
  position: absolute;
  width: 375px;
  height: 71.739px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Home_Indicator {
  position: absolute;
  width: 134px;
  height: 5px;
  left: 121px;
  top: 56.739px;
  overflow: visible;
}
#Rectangle_24 {
  fill: rgba(189, 189, 189, 1);
}
.Rectangle_24 {
  position: absolute;
  overflow: visible;
  width: 134px;
  height: 5px;
  left: 0px;
  top: 0px;
}
#Thong_TIn {
  position: absolute;
  width: 35.127px;
  height: 35.976px;
  left: 312px;
  top: 16.739px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: Settings___1.html;
  cursor: pointer;
}
#list-symbol-of-three-items-wit {
  position: absolute;
  width: 35.127px;
  height: 24.374px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#_x33__32_ {
  position: absolute;
  width: 35.127px;
  height: 24.374px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Group_10306 {
  position: absolute;
  width: 35.127px;
  height: 24.374px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Path_3265 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 1.5px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_3265 {
  overflow: visible;
  position: absolute;
  width: 36.627px;
  height: 25.874px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Thng_tin {
  left: 0.742px;
  top: 26.976px;
  position: absolute;
  overflow: visible;
  width: 34px;
  white-space: nowrap;
  line-height: 18px;
  margin-top: -5px;
  text-align: left;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: lighter;
  font-size: 8px;
  color: rgba(80, 80, 80, 1);
}
#Thong_Bao {
  position: absolute;
  width: 38px;
  height: 40px;
  left: 219px;
  top: 12.739px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: notification_screen.html;
  cursor: pointer;
}
#notification {
  position: absolute;
  width: 25.115px;
  height: 27.398px;
  left: 5.807px;
  top: 0px;
  overflow: visible;
}
#Path_3262 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 1.5px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_3262 {
  overflow: visible;
  position: absolute;
  width: 10.225px;
  height: 4.925px;
  left: 7.223px;
  top: 23.973px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_3263 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 1.5px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_3263 {
  overflow: visible;
  position: absolute;
  width: 24.363px;
  height: 22.048px;
  left: 0.001px;
  top: 2.283px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_3264 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 1.5px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_3264 {
  overflow: visible;
  position: absolute;
  width: 12.916px;
  height: 12.916px;
  left: 13.7px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Thng_bo {
  left: 0px;
  top: 31px;
  position: absolute;
  overflow: visible;
  width: 39px;
  white-space: nowrap;
  line-height: 18px;
  margin-top: -5px;
  text-align: left;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: lighter;
  font-size: 8px;
  color: rgba(80, 80, 80, 1);
}
#Lich_Su {
  position: absolute;
  width: 27.895px;
  height: 45px;
  left: 136px;
  top: 7.739px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: history_ongoing.html;
  cursor: pointer;
}
#Path_3261 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07999999821186066px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_3261 {
  overflow: visible;
  position: absolute;
  width: 25.716px;
  height: 31.341px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Lch_s {
  left: 1.895px;
  top: 36px;
  position: absolute;
  overflow: visible;
  width: 27px;
  white-space: nowrap;
  line-height: 18px;
  margin-top: -5px;
  text-align: left;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: lighter;
  font-size: 8px;
  color: rgba(80, 80, 80, 1);
}
#Home {
  position: absolute;
  width: 55px;
  height: 45.249px;
  left: 34px;
  top: 7.739px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: Home.html;
  cursor: pointer;
}
#house {
  position: absolute;
  width: 25.359px;
  height: 32.685px;
  left: 13px;
  top: 0px;
  overflow: visible;
}
#Group_10261 {
  position: absolute;
  width: 0.792px;
  height: 9.732px;
  left: 8.717px;
  top: 7.121px;
  overflow: visible;
}
#Group_10260 {
  position: absolute;
  width: 0.792px;
  height: 9.732px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Path_3238 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_3238 {
  overflow: visible;
  position: absolute;
  width: 0.871px;
  height: 9.81px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Group_10263 {
  position: absolute;
  width: 0.792px;
  height: 9.763px;
  left: 19.812px;
  top: 7.09px;
  overflow: visible;
}
#Group_10262 {
  position: absolute;
  width: 0.792px;
  height: 9.763px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Path_3239 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_3239 {
  overflow: visible;
  position: absolute;
  width: 0.87px;
  height: 9.841px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Group_10265 {
  position: absolute;
  width: 7.529px;
  height: 7.15px;
  left: 7.528px;
  top: 0px;
  overflow: visible;
}
#Group_10264 {
  position: absolute;
  width: 7.529px;
  height: 7.15px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Path_3240 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_3240 {
  overflow: visible;
  position: absolute;
  width: 7.652px;
  height: 7.229px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Group_10267 {
  position: absolute;
  width: 7.529px;
  height: 7.15px;
  left: 14.264px;
  top: 0px;
  overflow: visible;
}
#Group_10266 {
  position: absolute;
  width: 7.529px;
  height: 7.15px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Path_3241 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_3241 {
  overflow: visible;
  position: absolute;
  width: 7.653px;
  height: 7.229px;
  left: 0.001px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Group_10269 {
  position: absolute;
  width: 7.529px;
  height: 7.15px;
  left: 7.528px;
  top: 2.043px;
  overflow: visible;
}
#Group_10268 {
  position: absolute;
  width: 7.529px;
  height: 7.15px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Path_3242 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_3242 {
  overflow: visible;
  position: absolute;
  width: 7.652px;
  height: 7.229px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Group_10271 {
  position: absolute;
  width: 7.529px;
  height: 7.15px;
  left: 14.264px;
  top: 2.043px;
  overflow: visible;
}
#Group_10270 {
  position: absolute;
  width: 7.529px;
  height: 7.15px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Path_3243 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_3243 {
  overflow: visible;
  position: absolute;
  width: 7.653px;
  height: 7.229px;
  left: 0.001px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Group_10273 {
  position: absolute;
  width: 0.792px;
  height: 3.064px;
  left: 7.528px;
  top: 6.129px;
  overflow: visible;
}
#Group_10272 {
  position: absolute;
  width: 0.792px;
  height: 3.064px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Path_3244 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_3244 {
  overflow: visible;
  position: absolute;
  width: 0.871px;
  height: 3.142px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Group_10275 {
  position: absolute;
  width: 0.792px;
  height: 3.064px;
  left: 21px;
  top: 6.129px;
  overflow: visible;
}
#Group_10274 {
  position: absolute;
  width: 0.792px;
  height: 3.064px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Path_3245 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_3245 {
  overflow: visible;
  position: absolute;
  width: 0.87px;
  height: 3.142px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Group_10277 {
  position: absolute;
  width: 3.962px;
  height: 7.66px;
  left: 12.68px;
  top: 9.193px;
  overflow: visible;
}
#Group_10276 {
  position: absolute;
  width: 3.962px;
  height: 7.66px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Path_3246 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_3246 {
  overflow: visible;
  position: absolute;
  width: 4.04px;
  height: 7.739px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Group_10279 {
  position: absolute;
  width: 11.887px;
  height: 1.021px;
  left: 8.717px;
  top: 15.832px;
  overflow: visible;
}
#Group_10278 {
  position: absolute;
  width: 11.887px;
  height: 1.021px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Path_3247 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_3247 {
  overflow: visible;
  position: absolute;
  width: 11.965px;
  height: 1.1px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Group_10281 {
  position: absolute;
  width: 0.794px;
  height: 1.021px;
  left: 1.991px;
  top: 29.621px;
  overflow: visible;
}
#Group_10280 {
  position: absolute;
  width: 0.794px;
  height: 1.021px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Path_3248 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_3248 {
  overflow: visible;
  position: absolute;
  width: 0.873px;
  height: 1.1px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Group_10283 {
  position: absolute;
  width: 2.377px;
  height: 4.834px;
  left: 22.981px;
  top: 20.428px;
  overflow: visible;
}
#Group_10282 {
  position: absolute;
  width: 2.377px;
  height: 4.834px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Path_3249 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_3249 {
  overflow: visible;
  position: absolute;
  width: 2.455px;
  height: 4.912px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Group_10285 {
  position: absolute;
  width: 11.491px;
  height: 8.445px;
  left: 13.075px;
  top: 24.24px;
  overflow: visible;
}
#Group_10284 {
  position: absolute;
  width: 11.491px;
  height: 8.445px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Path_3250 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_3250 {
  overflow: visible;
  position: absolute;
  width: 11.607px;
  height: 8.524px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Group_10287 {
  position: absolute;
  width: 9.906px;
  height: 2.554px;
  left: 3.962px;
  top: 30.131px;
  overflow: visible;
}
#Group_10286 {
  position: absolute;
  width: 9.906px;
  height: 2.554px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Path_3251 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_3251 {
  overflow: visible;
  position: absolute;
  width: 9.99px;
  height: 2.633px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Group_10289 {
  position: absolute;
  width: 4.755px;
  height: 14.81px;
  left: 0px;
  top: 17.364px;
  overflow: visible;
}
#Group_10288 {
  position: absolute;
  width: 4.755px;
  height: 14.81px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Path_3252 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_3252 {
  overflow: visible;
  position: absolute;
  width: 4.833px;
  height: 14.888px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Group_10291 {
  position: absolute;
  width: 8.446px;
  height: 2.523px;
  left: 15.057px;
  top: 20.459px;
  overflow: visible;
}
#Group_10290 {
  position: absolute;
  width: 8.446px;
  height: 2.523px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Path_3253 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_3253 {
  overflow: visible;
  position: absolute;
  width: 8.531px;
  height: 2.602px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Group_10293 {
  position: absolute;
  width: 2.377px;
  height: 5.076px;
  left: 13.472px;
  top: 19.949px;
  overflow: visible;
}
#Group_10292 {
  position: absolute;
  width: 2.377px;
  height: 5.076px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Path_3254 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_3254 {
  overflow: visible;
  position: absolute;
  width: 2.455px;
  height: 5.155px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Group_10295 {
  position: absolute;
  width: 7.009px;
  height: 2.585px;
  left: 7.528px;
  top: 18.385px;
  overflow: visible;
}
#Group_10294 {
  position: absolute;
  width: 7.009px;
  height: 2.585px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Path_3255 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_3255 {
  overflow: visible;
  position: absolute;
  width: 7.098px;
  height: 2.664px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Group_10297 {
  position: absolute;
  width: 4.359px;
  height: 1.021px;
  left: 3.962px;
  top: 18.385px;
  overflow: visible;
}
#Group_10296 {
  position: absolute;
  width: 4.359px;
  height: 1.021px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Path_3256 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_3256 {
  overflow: visible;
  position: absolute;
  width: 4.437px;
  height: 1.1px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Group_10299 {
  position: absolute;
  width: 5.777px;
  height: 1.521px;
  left: 8.32px;
  top: 23.492px;
  overflow: visible;
}
#Group_10298 {
  position: absolute;
  width: 5.777px;
  height: 1.521px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Path_3257 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_3257 {
  overflow: visible;
  position: absolute;
  width: 5.856px;
  height: 1.6px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Group_10301 {
  position: absolute;
  width: 1.063px;
  height: 1.051px;
  left: 22.71px;
  top: 20.428px;
  overflow: visible;
}
#Group_10300 {
  position: absolute;
  width: 1.063px;
  height: 1.051px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Path_3258 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_3258 {
  overflow: visible;
  position: absolute;
  width: 1.146px;
  height: 1.129px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Group_10303 {
  position: absolute;
  width: 0.958px;
  height: 1.033px;
  left: 13.306px;
  top: 23.991px;
  overflow: visible;
}
#Group_10302 {
  position: absolute;
  width: 0.958px;
  height: 1.033px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Path_3259 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_3259 {
  overflow: visible;
  position: absolute;
  width: 1.038px;
  height: 1.112px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Group_10305 {
  position: absolute;
  width: 0.794px;
  height: 1.021px;
  left: 13.481px;
  top: 12.768px;
  overflow: visible;
}
#Group_10304 {
  position: absolute;
  width: 0.794px;
  height: 1.021px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Path_3260 {
  fill: rgba(51, 191, 154, 1);
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 0.07812418788671494px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_3260 {
  overflow: visible;
  position: absolute;
  width: 0.873px;
  height: 1.1px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Mn_hnh_chnh {
  left: 0px;
  top: 36.249px;
  position: absolute;
  overflow: visible;
  width: 56px;
  white-space: nowrap;
  line-height: 18px;
  margin-top: -5px;
  text-align: left;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: lighter;
  font-size: 8px;
  color: rgba(80, 80, 80, 1);
}
