.mediaViewInfo {
  --web-view-name: promotion-screen;
  --web-view-id: promotion-screen;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
:root {
  --web-view-ids: promotion-screen;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
#promotion-screen {
  position: absolute;
  width: 360px;
  height: 855px;
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
  --web-view-name: promotion-screen;
  --web-view-id: promotion-screen;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}

#Group_9672 {
  position: absolute;
  width: 1129.174px;
  height: 680.36px;
  left: -525.334px;
  top: -469.36px;
  overflow: visible;
}
#Group_9752 {
  position: absolute;
  width: 1129.174px;
  height: 680.36px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Background {
  fill: rgba(51, 191, 154, 1);
}
.Background {
  overflow: visible;
  position: absolute;
  width: 1129.174px;
  height: 680.36px;
  transform: translate(0px, 0px) matrix(1, 0, 0, 1, 0, 0) rotate(180deg);
  transform-origin: center;
  left: 0px;
  top: 0px;
}
#Header1 {
  position: absolute;
  width: 98px;
  height: 16px;
  left: 656.279px;
  top: 489.36px;
  overflow: visible;
}
#Fixing_Time {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 99px;
  white-space: nowrap;
  text-align: left;
  font-family: Helvetica Neue;

  font-weight: bold;
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 0.7142857360839844px;
  text-transform: uppercase;
}
#Path_2863 {
  fill: rgba(255, 255, 255, 1);
}
.Path_2863 {
  overflow: visible;
  position: absolute;
  width: 360px;
  height: 732px;
  left: 0px;
  top: 50px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_2974 {
  fill: rgba(218, 222, 227, 1);
  stroke: rgba(218, 222, 227, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_2974 {
  overflow: visible;
  position: absolute;
  width: 1px;
  height: 1px;
  left: 31.5px;
  top: 345.5px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#THNG_BO {
  left: 49px;
  top: 62px;
  position: absolute;
  overflow: visible;
  width: 91px;
  white-space: nowrap;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: notification_screen.html;
  cursor: pointer;
  line-height: 18px;
  margin-top: -1.5px;
  text-align: center;

  font-weight: normal;
  font-size: 15px;
  color: rgba(38, 38, 38, 1);
  letter-spacing: 0.2px;
}
#KHUYN_MI {
  left: 222px;
  top: 62px;
  position: absolute;
  overflow: visible;
  width: 91px;
  white-space: nowrap;
  line-height: 18px;
  margin-top: -1.5px;
  text-align: center;

  font-weight: normal;
  font-size: 15px;
  color: rgba(29, 155, 122, 1);
  letter-spacing: 0.2px;
}
#Line_78 {
  fill: transparent;
  stroke: rgba(218, 222, 227, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_78 {
  overflow: visible;
  position: absolute;
  width: 359.98px;
  height: 1px;
  left: 0.5px;
  top: 93.5px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Line_77 {
  fill: transparent;
  stroke: rgba(51, 191, 154, 1);
  stroke-width: 3px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_77 {
  overflow: visible;
  position: absolute;
  width: 188.016px;
  height: 4px;
  left: 172.48px;
  top: 92.5px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Repeat_Grid_37 {
  position: absolute;
  width: 379px;
  height: 710px;
  left: -9.44px;
  top: 86.5px;
  overflow: hidden;
}
#Group_10380 {
  position: absolute;
  width: 334px;
  height: 506px;
  left: 22.5px;
  top: 17.5px;
  overflow: visible;
}
#promotion {
  position: absolute;
  width: 334px;
  height: 152px;
  left: 0px;
  top: 0px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: promotion_detail_screen.html;
  cursor: pointer;
}
#HoaNT_-_Box-shadow {
  position: absolute;
  width: 334px;
  height: 152px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#bg {
  fill: rgba(238, 254, 249, 1);
}
.bg {
  filter: drop-shadow(0px 5px 15px rgba(48, 48, 48, 0.2));
  position: absolute;
  overflow: visible;
  width: 379px;
  height: 197px;
  left: 0px;
  top: 0px;
}
#pro1 {
  position: absolute;
  width: 334px;
  height: 80px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Easifix_-_Sa_cha_d_dng {
  left: 9px;
  top: 84px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 41px;
  line-height: 20px;
  margin-top: -1px;
  text-align: left;
  font-family: Helvetica Neue;

  font-weight: bold;
  font-size: 18px;
  color: rgba(51, 191, 154, 1);
}
#T_08102020_n_31102020 {
  left: 11px;
  top: 125px;
  position: absolute;
  overflow: visible;
  width: 314px;
  height: 16px;
  line-height: 35px;
  margin-top: -10.5px;
  text-align: left;
  font-family: Helvetica Neue;

  font-weight: normal;
  font-size: 14px;
  color: rgba(48, 48, 48, 1);
}
#promotion_cv {
  position: absolute;
  width: 334px;
  height: 152px;
  left: 0px;
  top: 177px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: promotion_detail_screen.html;
  cursor: pointer;
}
#HoaNT_-_Box-shadow_cw {
  position: absolute;
  width: 334px;
  height: 152px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#bg_cx {
  fill: rgba(238, 254, 249, 1);
}
.bg_cx {
  filter: drop-shadow(0px 5px 15px rgba(48, 48, 48, 0.2));
  position: absolute;
  overflow: visible;
  width: 379px;
  height: 197px;
  left: 0px;
  top: 0px;
}
#pro1_cy {
  position: absolute;
  width: 334px;
  height: 80px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Dng_Easifix_-_Bt_vic_phi_lm {
  left: 9px;
  top: 84px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 41px;
  text-align: left;
  font-family: Helvetica Neue;

  font-weight: bold;
  font-size: 18px;
  color: rgba(51, 191, 154, 1);
}
#T_01102020_n_01112020 {
  left: 11px;
  top: 125px;
  position: absolute;
  overflow: visible;
  width: 314px;
  height: 16px;
  line-height: 35px;
  margin-top: -10.5px;
  text-align: left;
  font-family: Helvetica Neue;

  font-weight: normal;
  font-size: 14px;
  color: rgba(48, 48, 48, 1);
}
#promotion_c {
  position: absolute;
  width: 334px;
  height: 152px;
  left: 0px;
  top: 354px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: promotion_detail_screen.html;
  cursor: pointer;
}
#HoaNT_-_Box-shadow_c {
  position: absolute;
  width: 334px;
  height: 152px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#bg_c {
  fill: rgba(238, 254, 249, 1);
}
.bg_c {
  filter: drop-shadow(0px 5px 15px rgba(48, 48, 48, 0.2));
  position: absolute;
  overflow: visible;
  width: 379px;
  height: 197px;
  left: 0px;
  top: 0px;
}
#pro1_c {
  position: absolute;
  width: 334px;
  height: 80px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Easifix_gim_gi_cc_mnh {
  left: 9px;
  top: 84px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 41px;
  text-align: left;
  font-family: Helvetica Neue;

  font-weight: bold;
  font-size: 18px;
  color: rgba(51, 191, 154, 1);
}
#T_20102020_n_25102020 {
  left: 11px;
  top: 125px;
  position: absolute;
  overflow: visible;
  width: 314px;
  height: 16px;
  line-height: 35px;
  margin-top: -10.5px;
  text-align: left;
  font-family: Helvetica Neue;

  font-weight: normal;
  font-size: 14px;
  color: rgba(48, 48, 48, 1);
}
#Group_10380_c {
  position: absolute;
  width: 334px;
  height: 506px;
  left: 22.5px;
  top: 543.5px;
  overflow: visible;
}
#promotion_da {
  position: absolute;
  width: 334px;
  height: 152px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#HoaNT_-_Box-shadow_da {
  position: absolute;
  width: 334px;
  height: 152px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#bg_da {
  fill: rgba(238, 254, 249, 1);
}
.bg_da {
  filter: drop-shadow(0px 5px 15px rgba(48, 48, 48, 0.2));
  position: absolute;
  overflow: visible;
  width: 379px;
  height: 197px;
  left: 0px;
  top: 0px;
}
#pro1_db {
  position: absolute;
  width: 334px;
  height: 80px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Easifix_-_Sa_cha_d_dng_dc {
  left: 9px;
  top: 84px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 41px;
  line-height: 20px;
  margin-top: -1px;
  text-align: left;
  font-family: Helvetica Neue;

  font-weight: bold;
  font-size: 18px;
  color: rgba(51, 191, 154, 1);
}
#T_08102020_n_31102020_dd {
  left: 11px;
  top: 125px;
  position: absolute;
  overflow: visible;
  width: 314px;
  height: 16px;
  line-height: 35px;
  margin-top: -10.5px;
  text-align: left;
  font-family: Helvetica Neue;

  font-weight: normal;
  font-size: 14px;
  color: rgba(48, 48, 48, 1);
}
#promotion_de {
  position: absolute;
  width: 334px;
  height: 152px;
  left: 0px;
  top: 177px;
  overflow: visible;
}
#HoaNT_-_Box-shadow_df {
  position: absolute;
  width: 334px;
  height: 152px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#bg_dg {
  fill: rgba(238, 254, 249, 1);
}
.bg_dg {
  filter: drop-shadow(0px 5px 15px rgba(48, 48, 48, 0.2));
  position: absolute;
  overflow: visible;
  width: 379px;
  height: 197px;
  left: 0px;
  top: 0px;
}
#pro1_dh {
  position: absolute;
  width: 334px;
  height: 80px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Dng_Easifix_-_Bt_vic_phi_lm_di {
  left: 9px;
  top: 84px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 41px;
  text-align: left;
  font-family: Helvetica Neue;

  font-weight: bold;
  font-size: 18px;
  color: rgba(51, 191, 154, 1);
}
#T_01102020_n_01112020_dj {
  left: 11px;
  top: 125px;
  position: absolute;
  overflow: visible;
  width: 314px;
  height: 16px;
  line-height: 35px;
  margin-top: -10.5px;
  text-align: left;
  font-family: Helvetica Neue;

  font-weight: normal;
  font-size: 14px;
  color: rgba(48, 48, 48, 1);
}
#promotion_dk {
  position: absolute;
  width: 334px;
  height: 152px;
  left: 0px;
  top: 354px;
  overflow: visible;
}
#HoaNT_-_Box-shadow_dl {
  position: absolute;
  width: 334px;
  height: 152px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#bg_dm {
  fill: rgba(238, 254, 249, 1);
}
.bg_dm {
  filter: drop-shadow(0px 5px 15px rgba(48, 48, 48, 0.2));
  position: absolute;
  overflow: visible;
  width: 379px;
  height: 197px;
  left: 0px;
  top: 0px;
}
#pro1_dn {
  position: absolute;
  width: 334px;
  height: 80px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Easifix_gim_gi_cc_mnh_do {
  left: 9px;
  top: 84px;
  position: absolute;
  overflow: visible;
  width: 316px;
  height: 41px;
  text-align: left;
  font-family: Helvetica Neue;

  font-weight: bold;
  font-size: 18px;
  color: rgba(51, 191, 154, 1);
}
#T_20102020_n_25102020_dp {
  left: 11px;
  top: 125px;
  position: absolute;
  overflow: visible;
  width: 314px;
  height: 16px;
  line-height: 35px;
  margin-top: -10.5px;
  text-align: left;
  font-family: Helvetica Neue;

  font-weight: normal;
  font-size: 14px;
  color: rgba(48, 48, 48, 1);
}
#Group_10326 {
  position: absolute;
  width: 65px;
  height: 30px;
  left: 13px;
  top: 144px;
  overflow: visible;
}
#Rectangle_2424 {
  opacity: 0.9;
  fill: rgba(255, 255, 255, 1);
}
.Rectangle_2424 {
  position: absolute;
  overflow: visible;
  width: 65px;
  height: 30px;
  left: 0px;
  top: 0px;
}
#ID20 {
  left: 17px;
  top: 5px;
  position: absolute;
  overflow: visible;
  width: 37px;
  white-space: nowrap;
  line-height: 20px;
  margin-top: -1px;
  text-align: left;
  font-family: Helvetica Neue;

  font-weight: bold;
  font-size: 18px;
  color: rgba(223, 47, 69, 1);
}
#Group_10327 {
  position: absolute;
  width: 53px;
  height: 24px;
  left: 13px;
  top: 483px;
  overflow: visible;
}
#Rectangle_2424_du {
  opacity: 0.9;
  fill: rgba(255, 255, 255, 1);
}
.Rectangle_2424_du {
  position: absolute;
  overflow: visible;
  width: 53px;
  height: 24px;
  left: 0px;
  top: 0px;
}
#ID50 {
  left: 14px;
  top: 4px;
  position: absolute;
  overflow: visible;
  width: 29px;
  white-space: nowrap;
  line-height: 16px;
  margin-top: -1px;
  text-align: left;
  font-family: Helvetica Neue;

  font-weight: bold;
  font-size: 14px;
  color: rgba(223, 47, 69, 1);
}
#Group_10328 {
  position: absolute;
  width: 88px;
  height: 24px;
  left: 13px;
  top: 507px;
  overflow: visible;
}
#Rectangle_2424_dx {
  opacity: 0.9;
  fill: rgba(255, 255, 255, 1);
}
.Rectangle_2424_dx {
  position: absolute;
  overflow: visible;
  width: 88px;
  height: 24px;
  left: 0px;
  top: 0px;
}
#Ti_a_50K {
  left: 9px;
  top: 4px;
  position: absolute;
  overflow: visible;
  width: 72px;
  white-space: nowrap;
  line-height: 16px;
  margin-top: -1px;
  text-align: left;
  font-family: Helvetica Neue;

  font-weight: bold;
  font-size: 14px;
  color: rgba(223, 47, 69, 1);
}
