<div id="promotion-screen">
	<div id="Group_9672">
		<div id="Group_9752">
			<svg class="Background" viewBox="0 0 1129.174 680.36">
				<path id="Background" d="M 395.06494140625 680.3597412109375 C 395.06494140625 607.4232788085938 -153.3673095703125 618.2490234375 42.11847686767578 288.2914428710938 C 237.604248046875 -41.6683349609375 620.02734375 -107.2796630859375 719.0097045898438 190.3181762695313 C 817.9899291992188 487.9138488769531 1129.173828125 393.8937683105469 1129.173828125 239.3824462890625 L 1129.173828125 680.3597412109375 L 395.06494140625 680.3597412109375 Z">
				</path>
			</svg>
		</div>
		<div id="Header1">
			<div id="Fixing_Time">
				<span>KHUYỄN MÃI</span>
			</div>
		</div>
	</div>
	<svg class="Path_2863" viewBox="0 0 360 732">
		<path id="Path_2863" d="M 9.600000381469727 0 L 350.3999938964844 0 C 355.7019348144531 0 360.0000305175781 2.971238136291504 360.0000305175781 6.636445999145508 L 360.0000305175781 732 L 0 732 L 0 6.636445999145508 C 0 2.971238136291504 4.298065662384033 0 9.600000381469727 0 Z">
		</path>
	</svg>
	<svg class="Path_2974" viewBox="0 0 1 1">
		<path id="Path_2974" d="">
		</path>
	</svg>
	<div [routerLink]="['..','promotion-detail-screen']" id="THNG_BO">
		<span>THÔNG BÁO</span>
	</div>
	<div id="KHUYN_MI">
		<span>KHUYẾN MÃI</span>
	</div>
	<svg class="Line_78" viewBox="0 0 359.98 1">
		<path id="Line_78" d="M 0 0 L 359.9800109863281 0">
		</path>
	</svg>
	<svg class="Line_77" viewBox="0 0 188 1">
		<path id="Line_77" d="M 0 1 L 188 0">
		</path>
	</svg>
	<div id="Repeat_Grid_37">
		<div id="Group_10380" class="Group_10380">
			<div [routerLink]="['..','promotion-detail-screen']" id="promotion">
				<div id="HoaNT_-_Box-shadow" class="HoaNT___Box_shadow">
					<svg class="bg">
						<rect id="bg" rx="12" ry="12" x="0" y="0" width="334" height="152">
						</rect>
					</svg>
				</div>
				<img id="pro1" src="assets/pro1.png" srcset="assets/pro1.png 1x, assets/pro1@2x.png 2x">
				<div id="Easifix_-_Sa_cha_d_dng">
					<span>Easifix - Sữa chữa dễ dàng</span>
				</div>
				<div id="T_08102020_n_31102020">
					<span>Từ 08/10/2020 đến 31/10/2020</span>
				</div>
			</div>
			<div [routerLink]="['..','promotion-detail-screen']" id="promotion_cv">
				<div id="HoaNT_-_Box-shadow_cw" class="HoaNT___Box_shadow">
					<svg class="bg_cx">
						<rect id="bg_cx" rx="12" ry="12" x="0" y="0" width="334" height="152">
						</rect>
					</svg>
				</div>
				<img id="pro1_cy" src="assets/pro1_cy.png" srcset="assets/pro1_cy.png 1x, assets/pro1_cy@2x.png 2x">
				<div id="Dng_Easifix_-_Bt_vic_phi_lm">
					<span>Dùng Easifix - Bớt việc phải làm</span>
				</div>
				<div id="T_01102020_n_01112020">
					<span>Từ 01/10/2020 đến 01/11/2020</span>
				</div>
			</div>
			<div [routerLink]="['..','promotion-detail-screen']" id="promotion_c">
				<div id="HoaNT_-_Box-shadow_c" class="HoaNT___Box_shadow">
					<svg class="bg_c">
						<rect id="bg_c" rx="12" ry="12" x="0" y="0" width="334" height="152">
						</rect>
					</svg>
				</div>
				<img id="pro1_c" src="assets/pro1_c.png" srcset="assets/pro1_c.png 1x, assets/pro1_c@2x.png 2x">
				<div id="Easifix_gim_gi_cc_mnh">
					<span>Easifix giảm giá cực mạnh</span>
				</div>
				<div id="T_20102020_n_25102020">
					<span>Từ 20/10/2020 đến 25/10/2020</span>
				</div>
			</div>
		</div>
		<div id="Group_10380_c" class="Group_10380">
			<div id="promotion_da" [routerLink]="['..','promotion-detail-screen']">
				<div id="HoaNT_-_Box-shadow_da" class="HoaNT___Box_shadow">
					<svg class="bg_da">
						<rect id="bg_da" rx="12" ry="12" x="0" y="0" width="334" height="152">
						</rect>
					</svg>
				</div>
				<img id="pro1_db" src="assets/pro1_db.png" srcset="assets/pro1_db.png 1x, assets/pro1_db@2x.png 2x">
				<div id="Easifix_-_Sa_cha_d_dng_dc">
					<span>Easifix - Sữa chữa dễ dàng</span>
				</div>
				<div id="T_08102020_n_31102020_dd">
					<span>Từ 08/10/2020 đến 31/10/2020</span>
				</div>
			</div>
			<div id="promotion_de">
				<div id="HoaNT_-_Box-shadow_df" class="HoaNT___Box_shadow">
					<svg class="bg_dg">
						<rect id="bg_dg" rx="12" ry="12" x="0" y="0" width="334" height="152">
						</rect>
					</svg>
				</div>
				<img id="pro1_dh" src="assets/pro1_dh.png" srcset="assets/pro1_dh.png 1x, assets/pro1_dh@2x.png 2x">
				<div id="Dng_Easifix_-_Bt_vic_phi_lm_di">
					<span>Dùng Easifix - Bớt việc phải làm</span>
				</div>
				<div id="T_01102020_n_01112020_dj">
					<span>Từ 01/10/2020 đến 01/11/2020</span>
				</div>
			</div>
			<div id="promotion_dk">
				<div id="HoaNT_-_Box-shadow_dl" class="HoaNT___Box_shadow">
					<svg class="bg_dm">
						<rect id="bg_dm" rx="12" ry="12" x="0" y="0" width="334" height="152">
						</rect>
					</svg>
				</div>
				<img id="pro1_dn" src="assets/pro1_dn.png" srcset="assets/pro1_dn.png 1x, assets/pro1_dn@2x.png 2x">
				<div id="Easifix_gim_gi_cc_mnh_do">
					<span>Easifix giảm giá cực mạnh</span>
				</div>
				<div id="T_20102020_n_25102020_dp">
					<span>Từ 20/10/2020 đến 25/10/2020</span>
				</div>
			</div>
		</div>
	</div>
	<div id="Group_10326">
		<svg class="Rectangle_2424">
			<rect id="Rectangle_2424" rx="0" ry="0" x="0" y="0" width="65" height="30">
			</rect>
		</svg>
		<div id="ID20">
			<span>20%</span>
		</div>
	</div>
	<div id="Group_10327">
		<svg class="Rectangle_2424_du">
			<rect id="Rectangle_2424_du" rx="0" ry="0" x="0" y="0" width="53" height="24">
			</rect>
		</svg>
		<div id="ID50">
			<span>50%</span>
		</div>
	</div>
	<div id="Group_10328">
		<svg class="Rectangle_2424_dx">
			<rect id="Rectangle_2424_dx" rx="0" ry="0" x="0" y="0" width="88" height="24">
			</rect>
		</svg>
		<div id="Ti_a_50K">
			<span>Tối đa 50K</span>
		</div>
	</div>
	<app-bottom-bar></app-bottom-bar>
	
</div>