<ion-content class="bg-white">
  <div class="d-flex justify-content-center flex-wrap mx-3" id="list">
    <ion-card
      id="card"
      *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9]"
      class="m-2 category"
      [routerLink]="['..', 'promotion-detail']"
    >
      <div class="img-wrapper">
        <img [src]="'assets/promotion-' + ((i % 3) + 1) + '.png'" />
      </div>
      <div id="info-promo">
        <b
          >{{ 'Bảo trì sản phẩm - nhập' | uppercase }} <code>PASS_HCI</code>
          {{ ' để nhận ưu đãi 50% ngay hôm nay' | uppercase }}</b
        >
        <br />
        <span>Từ ngày 08/10/2020 đến 31/10/2020</span>
      </div>
    </ion-card>
  </div>
</ion-content>
