<app-header title="Phản hồi" [backTo]="backTo"></app-header>
<ion-content>
  <ion-list lines="full" class="mb-2">
    <ion-item *ngFor="let i of [1, 2, 3, 4, 5, 6]" details>
      <!-- <ion-thumbnail slot="start" class="border border-black"> -->
      <img
        src="assets/avatar-{{ i % 3 == 0 ? 6 : i % 2 == 0 ? 4 : 5 }}.png"
        style="width: 5rem; height: 5rem"
      />
      <!-- </ion-thumbnail> -->
      <ion-label class="ml-2 mt-3 pt-1">
        <h2>
          <strong>{{
            i % 3 == 0 ? 'Luân Nguyễn' : i % 2 == 0 ? 'Tâm Nguyễn' : 'Thanh Hòa'
          }}</strong>
        </h2>
        <h2>
          {{
            i % 3 == 0
              ? 'Giá cả hợp lý, thợ sửa thân thiện.'
              : i % 2 == 0
              ? 'Sửa nhiệt tình và nhanh chóng'
              : 'Mình gọi và được nhân viên đến sửa trong chưa đầy 1 giờ'
          }}
        </h2>
        <ion-rating [rate]="getRandom()" [readonly]="true" size="large">
        </ion-rating>
        <br />
        <h4 class="text-right">
          <span class="text-secondary text-right ml-5">20/02/2020</span>
        </h4>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
