#bottom-bar {
  position: fixed;
  width: 360px;
  height: 60px;
  left: 0px;
  bottom: 0px;
  overflow: visible;
}

#home-bg {
  fill: rgba(255, 255, 255, 1);
}

.home-bg {
  filter: drop-shadow(0px -1px 0px rgba(0, 0, 0, 0.702));
  position: absolute;
  overflow: visible;
  width: 360px;
  height: 60px;
  left: 0px;
  top: 1px;
}

#Home {
  position: absolute;
  width: 90px;
  height: 59px;
  left: 0px;
  top: 0px;
  overflow: visible;
}

#home-component {
  opacity: 0.9;
  fill: rgba(255, 255, 255, 1);
}

.home-component {
  position: absolute;
  overflow: visible;
  width: 90px;
  height: 59px;
  left: 0px;
  top: 0px;
}

#home-icon {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 25px;
  top: 9.5px;
  overflow: visible;
}

#history {
  position: absolute;
  width: 90px;
  height: 59px;
  left: 90px;
  top: 0px;
  overflow: visible;
}

#history-component {
  opacity: 0.9;
  fill: rgba(255, 255, 255, 1);
}

.history-component {
  position: absolute;
  overflow: visible;
  width: 90px;
  height: 59px;
  left: 0px;
  top: 0px;
}

#Mask_Group_9887 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 25px;
  top: 9.5px;
  overflow: visible;
}

#notify {
  position: absolute;
  width: 90px;
  height: 59px;
  left: 180px;
  top: 0px;
  overflow: visible;
}

#notify-component {
  opacity: 0.9;
  fill: rgba(255, 255, 255, 1);
}

.notify-component {
  position: absolute;
  overflow: visible;
  width: 90px;
  height: 59px;
  left: 0px;
  top: 0px;
}

#notify-icon {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 25px;
  top: 9.5px;
  overflow: visible;
}

#info_eb {
  position: absolute;
  width: 90px;
  height: 59px;
  left: 270px;
  top: 0px;
  overflow: visible;
}

#info-component {
  opacity: 0.9;
  fill: rgba(255, 255, 255, 1);
}

.info-component {
  position: absolute;
  overflow: visible;
  width: 90px;
  height: 59px;
  left: 0px;
  top: 0px;
}

#Mask_Group_9888 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 25px;
  top: 9.5px;
  overflow: visible;
}
