<div id="bottom-bar" class="bottom_bar">
    <div [routerLink]="['..','home-search']">
        <svg class="home-bg">
    <rect id="home-bg" rx="0" ry="0" x="0" y="0" width="360" height="59">
    </rect>
  </svg>
        <div id="Home">
            <svg class="home-component">
      <rect id="home-component" rx="0" ry="0" x="0" y="0" width="90" height="59">
      </rect>
    </svg>
            <img id="home-icon" src="assets/home-icon.png" srcset="assets/home-icon.png 1x, assets/home-icon@2x.png 2x">

        </div>
    </div>
    <div [routerLink]="['..','history-complete']">
        <div id="history">
            <svg class="history-component">
      <rect id="history-component" rx="0" ry="0" x="0" y="0" width="90" height="59">
      </rect>
    </svg>
            <img id="Mask_Group_9887" src="assets/Mask_Group_9887.png" srcset="assets/Mask_Group_9887.png 1x, assets/Mask_Group_9887@2x.png 2x">

        </div>
    </div>
    <div [routerLink]="['..','notification-screen']">
        <div id="notify">
            <svg class="notify-component">
      <rect id="notify-component" rx="0" ry="0" x="0" y="0" width="90" height="59">
      </rect>
    </svg>
            <img id="notify-icon" src="assets/notify-icon.png" srcset="assets/notify-icon.png 1x, assets/notify-icon@2x.png 2x">

        </div>
    </div>
    <div [routerLink]="['..','setting']">
        <div id="info_eb">
            <svg class="info-component">
      <rect id="info-component" rx="0" ry="0" x="0" y="0" width="90" height="59">
      </rect>
    </svg>
            <img id="Mask_Group_9888" src="assets/Mask_Group_9888.png" srcset="assets/Mask_Group_9888.png 1x, assets/Mask_Group_9888@2x.png 2x">

        </div>
    </div>
</div>