<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label class="small">Trang chủ</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history"
      ><ion-icon name="calendar-outline"></ion-icon>
      <ion-label class="small">Đơn hàng</ion-label>
      <ion-badge
        color="danger"
        *ngIf="processNotiNumber$ | async as processNotiNumber"
        >{{ processNotiNumber }}</ion-badge
      >
    </ion-tab-button>

    <ion-tab-button tab="favorite"
      ><ion-icon name="heart-circle-outline"></ion-icon>
      <ion-label class="small">Quan tâm</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notification"
      ><ion-icon name="notifications-circle-outline"></ion-icon>
      <ion-label class="small">Thông báo</ion-label>
      <ion-badge color="danger" *ngIf="notiNumber$ | async as notiNumber">{{
        notiNumber
      }}</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="setting"
      ><ion-icon name="information-circle-outline"></ion-icon>
      <ion-label class="small">Thông tin</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
