.mediaViewInfo {
  --web-view-name: history-cancel;
  --web-view-id: history-cancel;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
:root {
  --web-view-ids: history-cancel;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
#history-cancel {
  position: absolute;
  width: 360px;
  height: 710px;
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
  --web-view-name: history-cancel;
  --web-view-id: history-cancel;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}

#Group_9672 {
  position: absolute;
  width: 1129.174px;
  height: 680.36px;
  left: -525.334px;
  top: -469.36px;
}
#Group_9752 {
  position: absolute;
  width: 1129.174px;
  height: 680.36px;
  left: 0;
  top: 0;
}
#Background {
  fill: rgba(51, 191, 154, 1);
}
.Background {
  position: absolute;
  width: 1129.174px;
  height: 680.36px;
  transform: translate(0px, 0) matrix(1, 0, 0, 1, 0, 0) rotate(180deg);
  transform-origin: center;
  left: 0;
  top: 0;
}
#Path_2863 {
  fill: rgba(255, 255, 255, 1);
}
.Path_2863 {
  position: absolute;
  width: 360px;
  height: 698.363px;
  left: 0;
  top: 50px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#ang_tin_hnh {
  left: 21px;
  top: 73px;
  position: absolute;

  width: 102px;
  white-space: nowrap;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: history_ongoing.html;
  cursor: pointer;
  line-height: 18px;
  margin-top: -2px;
  text-align: left;

  font-weight: bold;
  font-size: 14px;
  color: rgba(121, 121, 121, 1);
}
#Hon_thnh {
  left: 153px;
  top: 73px;
  position: absolute;

  width: 78px;
  white-space: nowrap;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: history_complete.html;
  cursor: pointer;
  line-height: 18px;
  margin-top: -2px;
  text-align: left;

  font-weight: bold;
  font-size: 14px;
  color: rgba(121, 121, 121, 1);
}
#Rectangle_2364 {
  fill: rgba(218, 222, 227, 1);
}
.Rectangle_2364 {
  filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.161));
  position: absolute;

  width: 405px;
  height: 717px;
  left: 0;
  top: 110px;
}
#Home_Indicator {
  position: absolute;
  width: 112px;
  height: 5px;
  left: 228px;
  top: 105px;
}
#Rectangle_24 {
  fill: rgba(51, 191, 154, 1);
}
.Rectangle_24 {
  position: absolute;

  width: 112px;
  height: 5px;
  left: 0;
  top: 0;
}
#Item {
  position: absolute;
  width: 326.5px;
  height: 348px;
  left: 17px;
  top: 128px;
  overflow: hidden;
}
#Item_cm {
  position: absolute;
  width: 328.329px;
  height: 149px;
  left: 0;
  top: 0;
}
#Group_10383 {
  position: absolute;
  width: 328.329px;
  height: 149px;
  left: 0;
  top: 0;
}
#Path_2873 {
  fill: rgba(255, 255, 255, 1);
}
.Path_2873 {
  position: absolute;
  width: 327.849px;
  height: 149px;
  left: 0;
  top: 0;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Img {
  position: absolute;
  width: 77px;
  height: 74px;
  left: 8px;
  top: 16px;
}
#Rectangle_2365 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_2365 {
  position: absolute;

  width: 77px;
  height: 74px;
  left: 0;
  top: 0;
}
#ID1586340163_logo-01 {
  position: absolute;
  width: 72px;
  height: 72px;
  left: 0;
  top: 0;
}
#in_lnh_Ton_ng {
  left: 106px;
  top: 22.466px;
  position: absolute;

  width: 138px;
  white-space: nowrap;
  text-align: left;

  font-weight: normal;
  font-size: 12px;
  color: rgba(48, 48, 48, 1);
  letter-spacing: 0.7142857360839844px;
}
#ID55B_Trn_Quang_Khi_Q1_Tp_HCM {
  left: 106px;
  top: 45.918px;
  position: absolute;

  width: 128px;
  white-space: nowrap;
  text-align: left;

  font-size: 8px;
  color: rgba(121, 121, 121, 1);
}
#ID50000_-_V_Momo {
  left: 106px;
  top: 66.316px;
  position: absolute;

  width: 78px;
  white-space: nowrap;
  text-align: left;

  font-weight: normal;
  font-size: 8px;
  color: rgba(38, 38, 38, 1);
}
#Path_2876 {
  fill: rgba(0, 0, 0, 1);
  stroke: rgba(218, 222, 227, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_2876 {
  position: absolute;
  width: 327.848px;
  height: 1px;
  left: 0.481px;
  top: 96.328px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Component_4__54 {
  position: absolute;
  width: 77px;
  height: 24px;
  left: 241px;
  top: 108.739px;

  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: order_history_detail.html;
  cursor: pointer;
}
#Rectangle_2309 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_2309 {
  position: absolute;

  width: 77px;
  height: 24px;
  left: 0;
  top: 0;
}
#Chi_tit {
  left: 20px;
  top: 8px;
  position: absolute;

  width: 39px;
  white-space: nowrap;
  line-height: 18px;
  margin-top: -4px;
  text-align: center;

  font-weight: normal;
  font-size: 10px;
  color: rgba(18, 18, 18, 1);
  letter-spacing: 0.2px;
  text-transform: capitalize;
}
#_hy {
  left: 19px;
  top: 111.265px;
  position: absolute;

  width: 41px;
  white-space: nowrap;
  line-height: 18px;
  margin-top: -3px;
  text-align: left;

  font-weight: bold;
  font-size: 12px;
  color: rgba(223, 47, 69, 1);
}
#ID09-05-2020 {
  left: 262px;
  top: 2px;
  position: absolute;

  width: 48px;
  white-space: nowrap;
  text-align: left;

  font-size: 8px;
  color: rgba(121, 121, 121, 1);
}
#Item_c {
  position: absolute;
  width: 328.329px;
  height: 149px;
  left: 0;
  top: 177px;
}
#Group_10383_c {
  position: absolute;
  width: 328.329px;
  height: 149px;
  left: 0;
  top: 0;
}
#Path_2873_c {
  fill: rgba(255, 255, 255, 1);
}
.Path_2873_c {
  position: absolute;
  width: 327.849px;
  height: 149px;
  left: 0;
  top: 0;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Img_c {
  position: absolute;
  width: 77px;
  height: 74px;
  left: 8px;
  top: 16px;
}
#Rectangle_2365_c {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_2365_c {
  position: absolute;

  width: 77px;
  height: 74px;
  left: 0;
  top: 0;
}
#ID1586340163_logo-01_c {
  position: absolute;
  width: 72px;
  height: 72px;
  left: 0;
  top: 0;
}
#in_lnh_Ton_ng_c {
  left: 106px;
  top: 22.466px;
  position: absolute;

  width: 138px;
  white-space: nowrap;
  text-align: left;

  font-weight: normal;
  font-size: 12px;
  color: rgba(48, 48, 48, 1);
  letter-spacing: 0.7142857360839844px;
}
#ID55B_Trn_Quang_Khi_Q1_Tp_HCM_c {
  left: 106px;
  top: 45.918px;
  position: absolute;

  width: 128px;
  white-space: nowrap;
  text-align: left;

  font-size: 8px;
  color: rgba(121, 121, 121, 1);
}
#ID0_-_V_Momo {
  left: 106px;
  top: 63.316px;
  position: absolute;

  width: 69px;
  white-space: nowrap;
  text-align: left;

  font-weight: normal;
  font-size: 10px;
  color: rgba(38, 38, 38, 1);
}
#Path_2876_da {
  fill: rgba(0, 0, 0, 1);
  stroke: rgba(218, 222, 227, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_2876_da {
  position: absolute;
  width: 327.848px;
  height: 1px;
  left: 0.481px;
  top: 96.328px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Component_4__54_db {
  position: absolute;
  width: 80px;
  height: 26px;
  left: 241px;
  top: 108.739px;
}
#Rectangle_2309_dc {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_2309_dc {
  position: absolute;

  width: 80px;
  height: 26px;
  left: 0;
  top: 0;
}
#Chi_tit_dd {
  left: 21px;
  top: 9px;
  position: absolute;

  width: 39px;
  white-space: nowrap;
  line-height: 18px;
  margin-top: -4px;
  text-align: center;

  font-weight: normal;
  font-size: 10px;
  color: rgba(18, 18, 18, 1);
  letter-spacing: 0.2px;
  text-transform: capitalize;
}
#_hy_de {
  left: 19px;
  top: 111.265px;
  position: absolute;

  width: 41px;
  white-space: nowrap;
  line-height: 18px;
  margin-top: -3px;
  text-align: left;

  font-weight: bold;
  font-size: 12px;
  color: rgba(223, 47, 69, 1);
}
#ID09-05-2020_df {
  left: 262px;
  top: 2px;
  position: absolute;

  width: 48px;
  white-space: nowrap;
  text-align: left;

  font-size: 8px;
  color: rgba(121, 121, 121, 1);
}
#Header1 {
  position: absolute;
  width: 64px;
  height: 16px;
  left: 148px;
  top: 22px;
}
#Fixing_Time {
  left: 0;
  top: 0;
  position: absolute;

  width: 65px;
  white-space: nowrap;
  text-align: left;

  font-weight: bold;
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 0.7142857360839844px;
  text-transform: uppercase;
}
#_hy_di {
  left: 260px;
  top: 73px;
  position: absolute;

  width: 48px;
  white-space: nowrap;
  line-height: 18px;
  margin-top: -2px;
  text-align: left;

  font-weight: bold;
  font-size: 14px;
  color: rgba(121, 121, 121, 1);
}
