<div id="welcome">
  <div id="Group_9770">
    <div id="Terms__Conditions">
      <span>Hoặc</span>
    </div>
    <div id="Terms__Conditions_ce" [routerLink]="['..', 'signup']">
      <span>tạo tài khoản mới </span>
    </div>
  </div>
  <div id="Pagination">
    <svg class="Oval">
      <ellipse id="Oval" rx="4.5" ry="4.5" cx="4.5" cy="4.5"></ellipse>
    </svg>
    <svg class="Oval_Copy">
      <ellipse id="Oval_Copy" rx="4.5" ry="4.5" cx="4.5" cy="4.5"></ellipse>
    </svg>
    <svg class="Oval_Copy_2">
      <ellipse id="Oval_Copy_2" rx="4.5" ry="4.5" cx="4.5" cy="4.5"></ellipse>
    </svg>
  </div>
  <div id="Cho_bn_Sa_cha_cha_bao_gi__d_dn">
    <span>Chào mới nhất ,</span><br /><span
      style="font-weight: bold; font-size: 24px"
      >Sửa chữa chưa bao giờ <br />dễ dàng đến thế</span
    >
  </div>
  <div [routerLink]="['..', 'login']" id="Group">
    <div id="ButtonRoundedLargeGreen">
      <svg class="bg">
        <rect id="bg" rx="6" ry="6" x="0" y="0" width="319" height="55"></rect>
      </svg>
      <div id="Group_9672">
        <div id="Register_with_Phone">
          <span>Đăng nhập bằng số điện thoại</span>
        </div>
        <div id="icons">
          <div id="arrow-right">
            <svg class="Shape" viewBox="0 0 21.083 2">
              <path id="Shape" d="M 0 0 L 21.08268356323242 0"></path>
            </svg>
            <svg class="Shape_ct" viewBox="0 0 7.906 19.078">
              <path
                id="Shape_ct"
                d="M 0 0 L 7.906006813049316 9.539046287536621 L 0 19.07809257507324"
              ></path>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img
    id="Image_2"
    src="assets/Image_2.png"
    srcset="assets/Image_2.png 1x, assets/Image_2@2x.png 2x"
  />
</div>
