.mediaViewInfo {
  --web-view-name: welcome;
  --web-view-id: welcome;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
:root {
  --web-view-ids: welcome;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
#welcome {
  position: absolute;
  width: 360px;
  height: 715px;
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
  --web-view-name: welcome;
  --web-view-id: welcome;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}

#Group_9770 {
  position: absolute;
  width: 148px;
  height: 16px;
  left: 21px;
  top: 612px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: signup.html;
  cursor: pointer;
}
#Terms__Conditions {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 33px;
  white-space: nowrap;
  text-align: center;

  font-weight: lighter;
  font-size: 14px;
  color: rgba(80, 80, 80, 1);
}
#Terms__Conditions_ce {
  left: 36px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 113px;
  white-space: nowrap;
  text-align: center;

  font-weight: lighter;
  font-size: 14px;
  color: rgba(51, 191, 154, 1);
}
#Rectangle_2 {
  filter: blur(10px);
  fill: rgba(88, 190, 63, 0);
}
.Rectangle_2 {
  position: absolute;
  overflow: visible;
  width: 210px;
  height: 74px;
  left: 15px;
  top: 613px;
}
#Pagination {
  position: absolute;
  width: 47px;
  height: 9px;
  left: 156.5px;
  top: 488px;
  overflow: visible;
}
#Oval {
  fill: rgba(51, 191, 154, 1);
}
.Oval {
  position: absolute;
  overflow: visible;
  width: 9px;
  height: 9px;
  left: 0px;
  top: 0px;
}
#Oval_Copy {
  opacity: 0.2;
  fill: rgba(189, 189, 189, 1);
}
.Oval_Copy {
  position: absolute;
  overflow: visible;
  width: 9px;
  height: 9px;
  left: 19px;
  top: 0px;
}
#Oval_Copy_2 {
  opacity: 0.2;
  fill: rgba(189, 189, 189, 1);
}
.Oval_Copy_2 {
  position: absolute;
  overflow: visible;
  width: 9px;
  height: 9px;
  left: 38px;
  top: 0px;
}
#Cho_bn_Sa_cha_cha_bao_gi__d_dn {
  left: 20px;
  top: 50px;
  position: absolute;
  overflow: visible;
  width: 280px;
  white-space: nowrap;
  line-height: 35px;
  margin-top: -10.5px;
  text-align: left;

  font-weight: normal;
  font-size: 14px;
  color: rgba(48, 48, 48, 1);
}
#Group {
  position: absolute;
  width: 319px;
  height: 55px;
  left: 21px;
  top: 547px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: login.html;
  cursor: pointer;
}
#ButtonRoundedLargeGreen {
  position: absolute;
  width: 319px;
  height: 55px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#bg {
  fill: rgba(51, 191, 154, 1);
}
.bg {
  position: absolute;
  overflow: visible;
  width: 319px;
  height: 55px;
  left: 0px;
  top: 0px;
}
#Group_9672 {
  position: absolute;
  width: 237.522px;
  height: 19.078px;
  left: 41px;
  top: 18.619px;
  overflow: visible;
}
#Register_with_Phone {
  left: 0px;
  top: 0.587px;
  position: absolute;
  overflow: visible;
  width: 187px;
  white-space: nowrap;
  text-align: center;

  font-weight: bold;
  font-size: 13px;
  color: rgba(255, 255, 255, 1);
}
#icons {
  position: absolute;
  width: 21.083px;
  height: 19.078px;
  left: 216.439px;
  top: 0px;
  overflow: visible;
}
#arrow-right {
  position: absolute;
  width: 21.083px;
  height: 19.078px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Shape {
  fill: rgba(0, 0, 0, 0);
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 2px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Shape {
  overflow: visible;
  position: absolute;
  width: 23.083px;
  height: 2px;
  left: 0px;
  top: 9.539px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Shape_ct {
  fill: rgba(0, 0, 0, 0);
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 2px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Shape_ct {
  overflow: visible;
  position: absolute;
  width: 10.314px;
  height: 21.894px;
  left: 13.177px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Image_2 {
  position: absolute;
  width: 360px;
  height: 290px;
  left: 0px;
  top: 188px;
  overflow: visible;
}
