<!-- <div id="WELCOME">
  <div id="Group_9770" [routerLink]="['..', 'signin']">
    <div id="Terms__Conditions_dc">
      <span>Or </span>
      <b class="text-green">Create My Account</b>
    </div>
  </div>
  <svg class="Rectangle_2_de">
    <rect
      id="Rectangle_2_de"
      rx="0"
      ry="0"
      x="0"
      y="0"
      width="220"
      height="14"
    ></rect>
  </svg>
  <div id="Pagination">
    <svg class="Oval">
      <ellipse id="Oval" rx="4.5" ry="4.5" cx="4.5" cy="4.5"></ellipse>
    </svg>
    <svg class="Oval_Copy">
      <ellipse id="Oval_Copy" rx="4.5" ry="4.5" cx="4.5" cy="4.5"></ellipse>
    </svg>
    <svg class="Oval_Copy_2">
      <ellipse id="Oval_Copy_2" rx="4.5" ry="4.5" cx="4.5" cy="4.5"></ellipse>
    </svg>
  </div>
  <div id="Hello_nice_to_meet_you_Fixing_">
    <span>Hello, nice to meet you!</span><br /><span
      style="font-style: normal; font-weight: bold; font-size: 24px"
      >Fixing easy than ever</span
    >
  </div>
  <div id="Group">
    <button
      [routerLink]="['..', 'login']"
      mat-raised-button
      color="primary"
      class="w-100"
    >
      Login with Phone
    </button>
  </div>
  <img
    id="Image_2"
    src="assets/Image_2.png"
    srcset="assets/Image_2.png 1x, assets/Image_2@2x.png 2x"
  />
</div> -->

<div class="d-flex flex-column justify-content-between py-5">
  <span>Hello, nice to meet you!</span><br /><span
    style="font-style: normal; font-weight: bold; font-size: 24px"
    >Fixing easy than ever</span
  >
  <img src="assets/Image_2.png" class="w-100" />
</div>
