<div class="d-flex flex-column justify-content-around h-100 py-5">
  <div class="px-5">
    <span>Chào bạn,</span><br />
    <b style="font-size: 24px" class="mt-1">
      Sửa chữa chưa bao giờ dễ dàng đến thế</b
    >
  </div>
  <img src="assets/Image_2.png" class="w-100" />
  <div>
    <button
      [routerLink]="['..', 'login']"
      mat-raised-button
      color="primary"
      class="w-100 login-button"
    >
      Login with Phone
    </button>
    <div class="px-5 mt-1">
      <span>Hoặc</span><span class="text-green"> Đăng ký tài khoản mới</span>
    </div>
  </div>
</div>
