<div id="promotion-detail-screen">
	<div id="Group_9672">
		<div id="Group_9752">
			<svg class="Background" viewBox="0 0 1129.174 680.36">
				<path id="Background" d="M 395.0648498535156 680.3597412109375 C 395.0648498535156 607.4232177734375 -153.3674011230469 618.2490234375 42.11838531494141 288.2914123535156 C 237.6041564941406 -41.66836547851563 620.0272216796875 -107.2796936035156 719.0096435546875 190.3181457519531 C 817.9898681640625 487.913818359375 1129.173706054688 393.8937377929688 1129.173706054688 239.3824157714844 L 1129.173706054688 680.3597412109375 L 395.0648498535156 680.3597412109375 Z">
				</path>
			</svg>
		</div>
		<div id="Header1">
			<div id="Fixing_Time">
				<span>chi tiết Khuyến MÃI</span>
			</div>
			<img [routerLink]="['..','promotion-screen']" id="back_icon" src="assets/back_icon.png" srcset="assets/back_icon.png 1x, assets/back_icon@2x.png 2x">
		</div>
	</div>
	<img id="NoPath" src="assets/NoPath.png" srcset="assets/NoPath.png 1x, assets/NoPath@2x.png 2x">
	<div id="Promo_Details">
		<svg class="Rectangle_2443">
			<rect id="Rectangle_2443" rx="0" ry="0" x="0" y="0" width="360" height="383">
			</rect>
		</svg>
		<svg class="Path_2974" viewBox="0 0 1 1">
			<path id="Path_2974" d="">
			</path>
		</svg>
		<div id="__Lu___Thi_gian_08102020_-_311">
      <span>_ </span><span style="color:rgba(223,47,69,1);">Lưu ý:</span><br><span style="font-size:14px;">+ Thời gian: 08/10/2020 - 31/10/2020.<br>
        + Khu vực: Hà Nội, Hồ Chí Minh.<br>
        + Mỗi mã ưu đãi chỉ được sử dụng một lần 
        <br>trong suốt thời gian diễn ra chương trình.</span>
		</div>
		<div id="t_ngay_dch_v_sa_cha_vi_mc__u_i">
			<span>Đặt ngay dịch vụ sửa chữa với mức <br/>ưu đãi  </span><span style="color:rgba(0,187,246,1);">20%</span><span> cho mỗi dịch vụ</span>
		</div>
		<div id="T_08102020_n_31102020">
			<span>Từ 08/10/2020 đến 31/10/2020</span>
		</div>
		<div id="LuanNM_PromoCode" class="LuanNM_PromoCode">
			<svg class="Rectangle_2425">
				<rect id="Rectangle_2425" rx="10" ry="10" x="0" y="0" width="111" height="37">
				</rect>
			</svg>
			<div id="DEDANG">
				<span>DEDANG</span>
			</div>
		</div>
		<div id="Easifix_-_Sa_cha_d_dng">
			<span>Easifix - Sữa chữa dễ dàng</span>
		</div>
	</div>
	<div id="ButtonRoundedLargeGreen" class="Button_Rounded_Large_Green" [routerLink]="['..','home-search']">
		<svg class="bg">
			<rect id="bg" rx="6" ry="6" x="0" y="0" width="317" height="54">
			</rect>
		</svg>
		<img id="ButtonRoundedLargeGreen_cv" src="assets/ButtonRoundedLargeGreen_cv.png" srcset="assets/ButtonRoundedLargeGreen_cv.png 1x, assets/ButtonRoundedLargeGreen_cv@2x.png 2x">
	</div>
  <div id="bottom-bar" class="bottom_bar">
    <svg class="home-bg">
      <rect id="home-bg" rx="0" ry="0" x="0" y="0" width="360" height="59">
      </rect>
    </svg>
    <div id="Home" [routerLink]="['..','home-search']">
      <svg class="home-component">
        <rect id="home-component" rx="0" ry="0" x="0" y="0" width="90" height="59">
        </rect>
      </svg>
      <img id="home-icon" src="assets/home-icon.png" srcset="assets/home-icon.png 1x, assets/home-icon@2x.png 2x">
    </div>
    <div id="history" [routerLink]="['..','history-ongoing']">
      <svg class="history-component">
        <rect id="history-component" rx="0" ry="0" x="0" y="0" width="90" height="59">
        </rect>
      </svg>
      <img id="Mask_Group_9887" src="assets/Mask_Group_9887.png" srcset="assets/Mask_Group_9887.png 1x, assets/Mask_Group_9887@2x.png 2x">
    </div>
    <div id="notify" [routerLink]="['..','notification-screen']">
      <svg class="notify-component">
        <rect id="notify-component" rx="0" ry="0" x="0" y="0" width="90" height="59">
        </rect>
      </svg>
      <img id="notify-icon" src="assets/notify-icon.png" srcset="assets/notify-icon.png 1x, assets/notify-icon@2x.png 2x">
    </div>
    <div id="info" [routerLink]="['..','setting']">
      <svg class="info-component">
        <rect id="info-component" rx="0" ry="0" x="0" y="0" width="90" height="59">
        </rect>
      </svg>
      <img id="Mask_Group_9888" src="assets/Mask_Group_9888.png" srcset="assets/Mask_Group_9888.png 1x, assets/Mask_Group_9888@2x.png 2x">
    </div>
  </div>
</div>