<ion-item
  lines="none"
  detail="false"
  class="pt-3 bg-transparent"
  style="--background: transparent"
>
  <ion-avatar
    slot="start"
    [routerLink]="['..', 'profile']"
    class="p-1 border mr-1"
  >
    <img src="assets/avatar.png" />
  </ion-avatar>
  <ion-card class="p-2 ml-1 w-100">
    <div class="d-flex flex-column">
      <b>Chào Nhi Lê!</b>
      <span>Chúc bạn ngày mới vui vẻ ❤️</span>
    </div>
  </ion-card>
</ion-item>
<ion-content>
  <h4 class="bg-primary">
    Phần 1: chứa calendar full width với 1 vài thông báo trong một số ngày nào
    đó (random)
  </h4>
  <h4 class="bg-light">
    Phần 2: Chứa
    <h3>Danh sách yêu cầu (4 yêu cầu)</h3>
  </h4>

  <pre>
Mỗi yêu cầu (Thiết kế giống phần 
"Gần bạn nhất" trong booking.component.html)
 phải có
  - avatar user
  - tên service
  - brand service
  - thời gian đặt
</pre
  >
</ion-content>
