.mediaViewInfo {
  --web-view-name: pending-after-request2;
  --web-view-id: pending-after-request2;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
:root {
  --web-view-ids: pending-after-request2;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
#pending-after-request2 {
  position: absolute;
  width: 360px;
  height: 760px;
  background-color: rgba(255,255,255,1);
  overflow: hidden;
  --web-view-name: pending-after-request2;
  --web-view-id: pending-after-request2;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
#Group_9672 {
  position: absolute;
  width: 1129.174px;
  height: 680.36px;
  left: -525.334px;
  top: -439.302px;
  overflow: visible;
}
#Group_9752 {
  position: absolute;
  width: 1129.174px;
  height: 680.36px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Background {
  fill: rgba(51,191,154,1);
}
.Background {
  overflow: visible;
  position: absolute;
  width: 1129.174px;
  height: 680.36px;
  transform: translate(0px, 0px) matrix(1,0,0,1,0,0) rotate(180deg);
  transform-origin: center;
  left: 0px;
  top: 0px;
}
#Header1 {
  position: absolute;
  width: 219px;
  height: 20px;
  left: 10px;
  top: 20px;
  overflow: visible;
}
#Fixing_Time {
  left: 122px;
  top: 2px;
  position: absolute;
  overflow: visible;
  width: 98px;
  white-space: nowrap;
  text-align: left;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: rgba(255,255,255,1);
  letter-spacing: 0.7142857360839844px;
  text-transform: uppercase;
}
#back_icon {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Path_2860 {
  fill: rgba(255,255,255,1);
}
.Path_2860 {
  overflow: visible;
  position: absolute;
  width: 360px;
  height: 674px;
  left: 0px;
  top: 50px;
  transform: matrix(1,0,0,1,0,0);
}
#HoaNT_Progress_Bar {
  position: absolute;
  width: 179px;
  height: 21px;
  left: 91.424px;
  top: 60px;
  overflow: visible;
}
#Line_62 {
  fill: transparent;
  stroke: rgba(0,187,246,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_62 {
  overflow: visible;
  position: absolute;
  width: 20.514px;
  height: 1px;
  left: 98.696px;
  top: 10.604px;
  transform: matrix(1,0,0,1,0,0);
}
#Line_63 {
  fill: transparent;
  stroke: rgba(0,187,246,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_63 {
  overflow: visible;
  position: absolute;
  width: 20.514px;
  height: 1px;
  left: 139.134px;
  top: 10.374px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_2968 {
  fill: rgba(0,187,246,1);
  stroke: rgba(0,187,246,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_2968 {
  overflow: visible;
  position: absolute;
  width: 21.242px;
  height: 1.011px;
  left: 59.259px;
  top: 10.489px;
  transform: matrix(1,0,0,1,0,0);
}
#Line_67 {
  fill: transparent;
  stroke: rgba(0,187,246,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_67 {
  overflow: visible;
  position: absolute;
  width: 19.679px;
  height: 1.011px;
  left: 20.822px;
  top: 10.489px;
  transform: matrix(1,0,0,1,0,0);
}
#Ellipse_495 {
  fill: rgba(255,255,255,1);
  stroke: rgba(112,112,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_495 {
  position: absolute;
  overflow: visible;
  width: 20px;
  height: 21px;
  left: 159px;
  top: 0px;
}
#Ellipse_496 {
  fill: rgba(255,255,255,1);
  stroke: rgba(0,187,246,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_496 {
  position: absolute;
  overflow: visible;
  width: 21px;
  height: 21px;
  left: 119px;
  top: 0px;
}
#Group_9920 {
  position: absolute;
  width: 8px;
  height: 9px;
  left: 126px;
  top: 6px;
  overflow: visible;
}
#Path_2965 {
  fill: rgba(0,187,246,1);
}
.Path_2965 {
  overflow: visible;
  position: absolute;
  width: 8px;
  height: 9px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_2966 {
  fill: rgba(0,187,246,1);
}
.Path_2966 {
  overflow: visible;
  position: absolute;
  width: 0.613px;
  height: 0.612px;
  left: 3.694px;
  top: 5.178px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_2967 {
  fill: rgba(0,187,246,1);
}
.Path_2967 {
  overflow: visible;
  position: absolute;
  width: 0.613px;
  height: 1.154px;
  left: 3.694px;
  top: 3.036px;
  transform: matrix(1,0,0,1,0,0);
}
#Ellipse_490 {
  fill: rgba(255,255,255,1);
  stroke: rgba(0,187,246,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_490 {
  position: absolute;
  overflow: visible;
  width: 20px;
  height: 21px;
  left: 80px;
  top: 0px;
}
#request {
  position: absolute;
  width: 9px;
  height: 9px;
  left: 86px;
  top: 6px;
  overflow: visible;
}
#Path_2864 {
  fill: rgba(0,187,246,1);
}
.Path_2864 {
  overflow: visible;
  position: absolute;
  width: 2.378px;
  height: 0.57px;
  left: 3.257px;
  top: 1.988px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_2865 {
  fill: rgba(0,187,246,1);
}
.Path_2865 {
  overflow: visible;
  position: absolute;
  width: 6.514px;
  height: 9px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_2866 {
  fill: rgba(0,187,246,1);
}
.Path_2866 {
  overflow: visible;
  position: absolute;
  width: 1.933px;
  height: 9px;
  left: 7.067px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_2867 {
  fill: rgba(0,187,246,1);
}
.Path_2867 {
  overflow: visible;
  position: absolute;
  width: 1.842px;
  height: 1.435px;
  left: 1.231px;
  top: 1.491px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_2868 {
  fill: rgba(0,187,246,1);
}
.Path_2868 {
  overflow: visible;
  position: absolute;
  width: 2.378px;
  height: 0.57px;
  left: 3.257px;
  top: 3.58px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_2869 {
  fill: rgba(0,187,246,1);
}
.Path_2869 {
  overflow: visible;
  position: absolute;
  width: 1.842px;
  height: 1.435px;
  left: 1.231px;
  top: 3.069px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_2870 {
  fill: rgba(0,187,246,1);
}
.Path_2870 {
  overflow: visible;
  position: absolute;
  width: 2.378px;
  height: 0.57px;
  left: 3.257px;
  top: 5.172px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_2871 {
  fill: rgba(0,187,246,1);
}
.Path_2871 {
  overflow: visible;
  position: absolute;
  width: 2.378px;
  height: 0.57px;
  left: 3.257px;
  top: 6.824px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_2872 {
  fill: rgba(0,187,246,1);
}
.Path_2872 {
  overflow: visible;
  position: absolute;
  width: 1.842px;
  height: 1.435px;
  left: 1.231px;
  top: 4.646px;
  transform: matrix(1,0,0,1,0,0);
}
#Ellipse_493 {
  fill: rgba(255,255,255,1);
  stroke: rgba(0,187,246,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_493 {
  position: absolute;
  overflow: visible;
  width: 20px;
  height: 21px;
  left: 40px;
  top: 0px;
}
#Mask_Group_9857 {
  position: absolute;
  width: 10px;
  height: 8px;
  left: 45px;
  top: 7px;
  overflow: visible;
}
#checkline {
  position: absolute;
  width: 10px;
  height: 8px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Group_9847 {
  position: absolute;
  width: 10px;
  height: 8px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Path_2888 {
  fill: rgba(0,187,246,1);
}
.Path_2888 {
  overflow: visible;
  position: absolute;
  width: 10px;
  height: 8px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Ellipse_494 {
  fill: rgba(255,255,255,1);
  stroke: rgba(0,187,246,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_494 {
  position: absolute;
  overflow: visible;
  width: 21px;
  height: 21px;
  left: 0px;
  top: 0px;
}
#menu {
  position: absolute;
  width: 11.077px;
  height: 8px;
  left: 5px;
  top: 7px;
  overflow: visible;
}
#menu_dc {
  position: absolute;
  width: 11.077px;
  height: 8px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Path_2889 {
  fill: rgba(0,187,246,1);
}
.Path_2889 {
  overflow: visible;
  position: absolute;
  width: 11.077px;
  height: 0.923px;
  left: 0px;
  top: 3.539px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_2890 {
  fill: rgba(0,187,246,1);
}
.Path_2890 {
  overflow: visible;
  position: absolute;
  width: 11.077px;
  height: 0.923px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_2891 {
  fill: rgba(0,187,246,1);
}
.Path_2891 {
  overflow: visible;
  position: absolute;
  width: 11.077px;
  height: 0.923px;
  left: 0px;
  top: 7.077px;
  transform: matrix(1,0,0,1,0,0);
}
#Icon_metro-money {
  fill: rgba(121,121,121,1);
}
.Icon_metro-money {
  overflow: visible;
  position: absolute;
  width: 5.079px;
  height: 8.976px;
  left: 166px;
  top: 6px;
  transform: matrix(1,0,0,1,0,0);
}
#choose_heder {
  position: absolute;
  width: 86px;
  height: 20px;
  left: 20px;
  top: 242.442px;
  overflow: visible;
}
#Dch_V {
  left: 30px;
  top: 1px;
  position: absolute;
  overflow: visible;
  width: 57px;
  white-space: nowrap;
  line-height: 24px;
  margin-top: -4px;
  text-align: left;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(36,39,43,1);
}
#service_icon {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0px;
  top: 0px;
  overflow: visible;
}

#Group_9723 {
  position: absolute;
  width: 162px;
  height: 42px;
  left: 186px;
  top: 638px;
  overflow: visible;
}
#Rectangle_1949 {
  fill: rgba(51,191,154,1);
}
.Rectangle_1949 {
  position: absolute;
  overflow: visible;
  width: 162px;
  height: 42px;
  left: 0px;
  top: 0px;
}
#hu_Yu_Cu {
  left: 37px;
  top: 11px;
  position: absolute;
  overflow: visible;
  width: 89px;
  white-space: nowrap;
  line-height: 15px;
  margin-top: -0.5px;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: rgba(255,255,255,1);
  text-transform: capitalize;
}
#Group_9919 {
  opacity: 0.5;
  position: absolute;
  width: 162px;
  height: 42px;
  left: 13px;
  top: 638px;
  overflow: visible;
}
#Rectangle_1949_d {
  fill: rgba(51,191,154,1);
}
.Rectangle_1949_d {
  position: absolute;
  overflow: visible;
  width: 162px;
  height: 42px;
  left: 0px;
  top: 0px;
}
#Thanh_Ton {
  left: 38px;
  top: 11px;
  position: absolute;
  overflow: visible;
  width: 87px;
  white-space: nowrap;
  line-height: 15px;
  margin-top: -0.5px;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: rgba(255,255,255,1);
  text-transform: capitalize;
}
#Sa_t_lnh_-_in_lnh_Ton_ng {
  left: 116px;
  top: 244.99px;
  position: absolute;
  overflow: visible;
  width: 229px;
  white-space: nowrap;
  line-height: 18px;
  margin-top: -2px;
  text-align: center;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: rgba(64,64,64,1);
}
#Component_4__39 {
  position: absolute;
  width: 285px;
  height: 40px;
  left: 38px;
  top: 279.974px;
  overflow: visible;
}
#Rectangle_2309 {
  fill: rgba(51,191,154,1);
}
.Rectangle_2309 {
  position: absolute;
  overflow: visible;
  width: 285px;
  height: 40px;
  left: 0px;
  top: 0px;
}
#Yu_cu_chi_tit_Dch_V {
  left: 45.5px;
  top: 12px;
  position: absolute;
  overflow: visible;
  width: 195px;
  white-space: nowrap;
  line-height: 18px;
  margin-top: -2px;
  text-align: center;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: rgba(255,255,255,1);
  letter-spacing: 0.2px;
  text-transform: uppercase;
}
#fixer-info {
  position: absolute;
  width: 320px;
  height: 125px;
  left: 21px;
  top: 95.252px;
  overflow: visible;
}
#HoaNT_-_Box-shadow {
  position: absolute;
  width: 319px;
  height: 90px;
  left: 1px;
  top: 35px;
  overflow: visible;
}
#bg {
  fill: rgba(255,255,255,1);
}
.bg {
  filter: drop-shadow(0px 5px 15px rgba(48, 48, 48, 0.2));
  position: absolute;
  overflow: visible;
  width: 364px;
  height: 135px;
  left: 0px;
  top: 0px;
}
#truong {
  position: absolute;
  width: 90px;
  height: 90px;
  left: 0px;
  top: 35px;
  overflow: visible;
}
#info_ec {
  position: absolute;
  width: 119px;
  height: 20px;
  left: 1px;
  top: 0px;
  overflow: visible;
}
#Thng_tin_th {
  left: 24px;
  top: 1px;
  position: absolute;
  overflow: visible;
  width: 96px;
  white-space: nowrap;
  line-height: 24px;
  margin-top: -4px;
  text-align: left;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(36,39,43,1);
}
#Mask_Group_9862 {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#a_ch__Ca_hng_in_lnh_-_C_Kh_Ton {
  left: 100px;
  top: 79px;
  position: absolute;
  overflow: visible;
  width: 211px;
  height: 39.60569763183594px;
  line-height: 14px;
  margin-top: -2px;
  text-align: left;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: lighter;
  font-size: 10px;
  color: rgba(80,80,80,1);
}
#V_Hu_Trng {
  left: 100px;
  top: 45px;
  position: absolute;
  overflow: visible;
  width: 186px;
  height: 18px;
  line-height: 24px;
  margin-top: -4px;
  text-align: left;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(36,39,43,1);
}
#S_in_thoi_0123456789 {
  left: 100px;
  top: 63px;
  position: absolute;
  overflow: visible;
  width: 186px;
  height: 18px;
  line-height: 14px;
  margin-top: -1px;
  text-align: left;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: lighter;
  font-size: 12px;
  color: rgba(80,80,80,1);
}