<app-header title="Thông tin thợ"></app-header>
<ion-content>
    <ion-avatar size="large" class="p-1 border mx-auto">
        <img src="assets/avatar-0.jpg" alt="Lỗi" />
    </ion-avatar>
    <div class="mx-auto">
        <ion-rating [rate]="rate" [readonly]="true" size="default">
        </ion-rating>
    </div>
    <ion-list lines="full" class="mb-2">
        <ion-item color="light">
            <ion-input value="Thông tin" disabled></ion-input>
        </ion-item>
        <ion-item>
            <ion-label><b>Họ tên</b></ion-label>
            <ion-label class="text-right">Trường Vũ</ion-label>
        </ion-item>

        <ion-item>
            <ion-label><b>Số điện thoại</b></ion-label>
            <ion-label class="text-right">0123456789</ion-label>
        </ion-item>

        <ion-item>
            <ion-label><b>Địa chỉ</b></ion-label>
            <ion-label class="text-right">55B Trần Quang Khải,<br> Q1, Tp.HCM</ion-label>
        </ion-item>

    </ion-list>
    <ion-list lines="full" class="mb-2">
        <ion-item color="light">
            <ion-input value="Các dịch vụ" disabled></ion-input>
        </ion-item>
        <div *ngFor="let i of [1,2,3]">
            <ion-list-header><b>Sửa tivi</b></ion-list-header>
            <ion-item *ngFor="let i of [1,2,3]" details>
                <ion-label>Thay màn hình</ion-label>
                <ion-select value="Apple">
                    <ion-select-option value="Apple">Apple</ion-select-option>
                    <ion-select-option value="Samsung">Samsung</ion-select-option>
                    <ion-select-option value="LG">LG</ion-select-option>
                    <ion-select-option value="Sony">Sony</ion-select-option>
                </ion-select>
                <ion-label class="text-right">2.000.000 đ</ion-label>
            </ion-item>
        </div>
    </ion-list>

    <ion-list lines="full" class="mb-2">
        <ion-item color="light">
            <ion-input value="Phản hồi" disabled></ion-input>
        </ion-item>
        <ion-item *ngFor="let i of [1,2,3]" details>
            <ion-thumbnail slot="start" class="p-2">
                <img src="assets/avatar-0.jpg" />
            </ion-thumbnail>
            <ion-label>
                <h2>
                    <strong>Luân Nguyễn</strong>
                </h2>
                <h3>
                    Giá cả hợp lý, thợ sửa thân thiện.
                </h3>
                <ion-rating [rate]="rate" [readonly]="true" size="small">
                </ion-rating>
                <br>
                <h4 class="text-right">
                    <span class="text-secondary text-right ml-5">Ngày: 20/02/2020</span>
                </h4>
            </ion-label>
        </ion-item>
        <ion-item details>
            <ion-label>Xem thêm phản hồi >>></ion-label>
        </ion-item>
    </ion-list>
</ion-content>