<app-header title="Thông tin thợ" [backTo]="backTo"></app-header>
<ion-content>
  <ion-avatar size="large" class="p-1 border mx-auto">
    <img [src]="'assets/' + user.avatar" alt="Lỗi" />
  </ion-avatar>
  <div class="w-100 d-flex justify-content-center">
    <ion-rating [rate]="user.rating" [readonly]="true" size="default">
    </ion-rating>
  </div>
  <ion-list lines="full">
    <ion-item color="light">
      <ion-icon
        name="reader-outline"
        class="mr-1"
        style="color: #929395"
      ></ion-icon>
      <ion-input value="Thông tin" disabled></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Họ tên</ion-label>
      <ion-label class="text-right">{{ user.name }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Số điện thoại</ion-label>
      <ion-label class="text-right">{{ user.phone }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Địa chỉ</ion-label>
      <ion-label class="text-right"
        >{{ user.address }},<br />
        {{ user.province }}</ion-label
      >
    </ion-item>
  </ion-list>
  <ion-list lines="full" class="mb-2">
    <ion-item color="light">
      <ion-icon
        name="add-circle-outline"
        class="mr-1"
        style="color: #929395"
      ></ion-icon>
      <ion-input value="Các dịch vụ" disabled></ion-input>
    </ion-item>
    <div *ngFor="let category of user.categories">
      <ion-list-header class="bg-light h6 d-flex align-items-center">
        <div
          class="w-100 d-flex justify-content-between align-items-center mr-3"
        >
          <span>{{ category.name }}</span>
          <ion-icon
            name="chevron-down-outline"
            (click)="toggleCollapse(category.id)"
          ></ion-icon>
        </div>
      </ion-list-header>
      <ng-container *ngIf="collapsedCategories[category.id]"
        ><ion-item
          *ngFor="let service of category.services"
          class="small"
          [detail]="true"
          (click)="goToBooking(user.id, category.id, service.id)"
        >
          <ion-label>{{ service.name }}</ion-label>
          <ion-select value="Apple" (click)="chooseBrand($event)">
            <ion-select-option value="Apple">Apple</ion-select-option>
            <ion-select-option value="Samsung">Samsung</ion-select-option>
            <ion-select-option value="LG">LG</ion-select-option>
            <ion-select-option value="Sony">Sony</ion-select-option>
          </ion-select>
          <ion-label class="text-right">
            {{ service.price | currency: '':'đ':'4.0-0' }}</ion-label
          >
        </ion-item></ng-container
      >
    </div>
  </ion-list>

  <ion-list lines="full" class="mb-2">
    <ion-item color="light">
      <ion-input value="Phản hồi" disabled></ion-input>
    </ion-item>
    <ion-item *ngFor="let i of [1, 2, 3]" [detail]="true">
      <ion-thumbnail slot="start" class="p-2">
        <img src="assets/avatar-0.jpg" />
      </ion-thumbnail>
      <ion-label>
        <h2>
          <strong>Luân Nguyễn</strong>
        </h2>
        <h3>Giá cả hợp lý, thợ sửa thân thiện.</h3>
        <ion-rating [rate]="3" [readonly]="true" size="small"> </ion-rating>
        <br />
        <h4 class="text-right">
          <span class="text-secondary text-right ml-5">Ngày: 20/02/2020</span>
        </h4>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Xem thêm phản hồi >>></ion-label>
    </ion-item>
  </ion-list>
</ion-content>
