.smaller {
  font-size: 0.85rem !important;
  line-height: 0.8rem;
}
ion-content {
  --background: transparent;
}
.w-90 {
  width: 94%;
}

.my-custom-class .modal-wrapper {
  background: #00000025;
  display: flex;
  justify-content: center;
  align-items: center;
}
