/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  font-family: "Helvetica Neue", "Arial Narrow", Arial, sans-serif !important;
}
.text-green {
  color: #009688;
}

html,
body {
  height: 100%;
}
