@import "~@angular/material/theming";
@include mat-core();

$custom-primary: mat-palette($mat-teal);
$custom-accent: mat-palette($mat-blue-gray);

$custom-success: mat-palette($mat-light-green);

$custom-theme: mat-light-theme($custom-primary, $custom-accent);

$custom-collection: (
  warning: #ffc107,
  success: #28a745,
  danger: #f44336,
  info: #308db8,
  contrast: (
    warning: #ffffff,
    success: #ffffff,
    danger: #ffffff,
    info: #ffffff,
  ),
);

$my-app-custom: mat-palette($custom-collection, custom);

$custom-theme: map_merge(
  $custom-theme,
  (
    custom: $my-app-custom,
  )
);
$custom: map-get($custom-theme, custom);

@include angular-material-theme($custom-theme);

.mat-success {
  background-color: mat-color($custom, success);
  color: mat-color($custom, success-contrast);
}

.mat-danger {
  background-color: mat-color($custom, danger);
  color: mat-color($custom, danger-contrast);
}
.mat-warning {
  background-color: mat-color($custom, warning);
  color: mat-color($custom, warning-contrast);
}
.mat-info {
  background-color: mat-color($custom, info);
  color: mat-color($custom, info-contrast);
}

.text-color-primary {
  color: mat-color($custom-primary) !important;
}
.text-color-accent {
  color: mat-color($custom-accent) !important;
}
.text-color-primary-contrast {
  color: mat-color($custom-primary, default-contrast) !important;
}
.text-color-accent-contrast {
  color: mat-color($custom-accent, default-contrast) !important;
}
