ion-content {
  margin-top: constant(safe-area-inset-top) !important;
  margin-top: env(safe-area-inset-top) !important;
}
#picture {
  width: 3rem;
  height: 3rem;
}

ion-thumbnail {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
ion-slides.services {
  height: 4rem;
}
#predictions {
  height: 4.5rem;
  overflow: hidden;
}
