<ion-content class="bg-white position-relative">
  <div
    class="d-flex justify-content-between align-items-center position-sticky bg-white"
    style="top: 0; z-index: 999999"
  >
    <ion-icon
      name="chevron-back-outline"
      style="zoom: 1.5"
      [routerLink]="['..', 'home']"
      class="p-1"
    ></ion-icon>
    <ion-searchbar
      placeholder="Bạn đang gặp vấn đề gì ?"
      class="mx-auto"
      [formControl]="search"
      #searchBar
    ></ion-searchbar>
  </div>
  <ng-container *ngIf="!searchBar.value">
    <div
      id="content"
      class="text-secondary"
      *ngIf="getSearchHistory()?.length > 0"
    >
      <span class="py-3 ml-3"> Lịch sử tìm kiếm</span>
      <ion-item
        [detail]="false"
        class="center"
        lines="full"
        *ngFor="let item of getSearchHistory()"
        (click)="setSearchValue(item)"
      >
        <ion-label class="pl-1">{{ item }}</ion-label>
        <ion-icon
          slot="end"
          name="close"
          (click)="removeSearchHistory(item)"
        ></ion-icon>
      </ion-item>
    </div>
    <ion-list lines="none" *ngFor="let category of categories">
      <div id="content">
        <div class="ml-4">
          <ion-label class="font-weight-bold">{{ category.name }}</ion-label>
        </div>
        <ion-item slot="end">
          <ion-slides class="nearby" [options]="{ slidesPerView: 1.75 }">
            <ion-slide
              *ngFor="let service of category.services"
              class="border rounded-lg mr-2 pr-1"
            >
              <ng-container *ngIf="nearbyUsers[getRandom()] as user">
                <ion-card class="mx-2">
                  <img [src]="'assets/' + user.avatar" />
                  /></ion-card
                >
                <div
                  class="d-flex flex-column justify-content-start align-items-start text-left small"
                  (click)="goToBooking(user.id, category.id, service.id)"
                >
                  <b>{{ service.name }}</b>
                  <span class="mt-n1 small">{{ user.name }}</span>
                  <span>
                    {{ service.price | currency: '':'VND':'4.0-0' }}
                  </span>
                </div>
              </ng-container>
            </ion-slide>
          </ion-slides>
        </ion-item>
      </div>
    </ion-list>
    <div id="content" class="text-secondary">
      <span class="py-3 ml-3"> Phổ biến</span>
      <ion-list lines="full">
        <ion-item *ngFor="let i of [1, 2, 3, 4, 5]">
          <ion-thumbnail slot="start">
            <img src="assets/avatar-0.jpg" />
          </ion-thumbnail>
          <ion-label>
            <h2>
              <strong>Thay màn hình tivi - Trường Vũ</strong>
            </h2>
            <h3>
              <p class="text-secondary">Sửa nhanh, chất lượng, giá bình dân</p>
              <p class="text-dark">Giá: 500.000 - 2.000.000 (VND)</p>
              <p class="text-secondary">2,6 km - 10 phút</p>
            </h3>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </ng-container>

  <ng-container *ngIf="searchBar.value">
    <!-- Search 2 -->
    <b class="pl-3"> Gần đây: </b>
    <div class="pl-2">
      <ion-slides
        class="mb-1 justify-content-start"
        [options]="{ slidesPerView: 2.9 }"
      >
        <ion-slide class="mr-1" *ngFor="let item of nearby">
          <ion-button
            fill="outline"
            size="small"
            color="primary"
            (click)="setSearchValue(item)"
            >{{ item }}</ion-button
          >
        </ion-slide>
      </ion-slides>
    </div>

    <ng-container *ngFor="let user of users; index as index">
      <ng-container *ngIf="getServices(user) as services"
        ><ion-list lines="none" *ngIf="services?.length > 0">
          <div class="pt-2 bg-light mt-1 border-top">
            <ion-item>
              <ion-thumbnail slot="start" class="rounded-lg">
                <img [src]="'assets/' + user.avatar" />
              </ion-thumbnail>
              <ion-label>
                <h2>
                  <strong>{{ user.name }}</strong>
                </h2>
                <h3>
                  <p class="text-secondary">
                    {{ user.address }}, {{ user.province }}
                  </p>
                  <p class="text-secondary">
                    {{ getKm() }} km - {{ user.id + 10 }} phút
                  </p>
                  <p class="text-secondary">
                    Đánh giá: {{ user.rating }}
                    <ion-icon name="star" style="color: #ffd534"></ion-icon>
                  </p>
                </h3>
              </ion-label>
            </ion-item>

            <ion-item slot="end">
              <ion-slides
                class="mb-1 services"
                [options]="{ slidesPerView: 2.75 }"
              >
                <ion-slide
                  class="border rounded mr-2"
                  *ngFor="let service of services"
                >
                  <div
                    class="px-2"
                    style="line-height: 1rem"
                    (click)="
                      goToBooking(user.id, service.categoryId, service.id)
                    "
                  >
                    <small>
                      <span>{{ service.name }}</span
                      ><br />
                      <span class="text-secondary">
                        {{ service.price | currency: '':'VND':'4.0-0' }}
                      </span>
                    </small>
                  </div>
                </ion-slide>
              </ion-slides>
            </ion-item>
          </div>
        </ion-list>
        <ion-item *ngIf="services.length <= 0 && user.id == '1'"
          >Xin lỗi, chúng tôi hiện chưa hỗ trợ dịch vụ này! Chúng tôi sẽ cố gắng
          cung cấp trong thời gian sớm nhất !</ion-item
        >
      </ng-container>
    </ng-container>
  </ng-container>
</ion-content>
