.mediaViewInfo {
    --web-view-name: success;
    --web-view-id: success;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}

 :root {
    --web-view-ids: success;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

#success {
    position: absolute;
    width: 360px;
    height: 760px;
    background-color: rgba(255, 255, 255, 1);
    overflow: hidden;
    --web-view-name: success;
    --web-view-id: success;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}

#Home_Indicator {
    position: absolute;
    width: 127px;
    height: 4px;
    left: 117px;
    top: 751px;
    overflow: visible;
}

#Rectangle_24 {
    fill: rgba(189, 189, 189, 1);
}

.Rectangle_24 {
    position: absolute;
    overflow: visible;
    width: 127px;
    height: 4px;
    left: 0px;
    top: 0px;
}

#top-notibar {
    position: absolute;
    width: 1108.119px;
    height: 640.966px;
    left: -512.223px;
    top: -443.36px;
    overflow: visible;
}

#Group_9752 {
    position: absolute;
    width: 1108.119px;
    height: 640.966px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#Background {
    fill: rgba(51, 191, 154, 1);
}

.Background {
    overflow: visible;
    position: absolute;
    width: 1108.119px;
    height: 640.966px;
    transform: translate(0px, 0px) matrix(1, 0, 0, 1, 0, 0) rotate(180deg);
    transform-origin: center;
    left: 0px;
    top: 0px;
}

#bg {
    fill: rgba(255, 255, 255, 1);
}

.bg {
    filter: drop-shadow(0px 5px 15px rgba(48, 48, 48, 0.2));
    position: absolute;
    overflow: visible;
    width: 399px;
    height: 723px;
    left: 3px;
    top: 70px;
}

#Group_10389 {
    position: absolute;
    width: 184px;
    height: 33px;
    left: 88px;
    top: 20px;
    overflow: visible;
}

#Thng_Bao {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 185px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
}

#Thng_Bao_ck {
    left: 28px;
    top: 18px;
    position: absolute;
    overflow: visible;
    width: 127px;
    white-space: nowrap;
    line-height: 33px;
    margin-top: -10px;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(232, 232, 232, 1);
}

#Group_10388 {
    position: absolute;
    width: 268.537px;
    height: 69.887px;
    left: 53.073px;
    top: 218px;
    overflow: visible;
}

#Thng_Bao_cm {
    left: 85.927px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 80px;
    white-space: nowrap;
    line-height: 32px;
    margin-top: -7px;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(51, 191, 154, 1);
}

#Rating {
    position: absolute;
    width: 268.537px;
    height: 36.68px;
    left: 0px;
    top: 33.206px;
    overflow: hidden;
}

#Rating_0 {
    position: absolute;
    width: 35.75px;
    height: 35.75px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#TruongVH_-_Rating {
    position: absolute;
    width: 35.75px;
    height: 35.75px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#Path_2087 {
    fill: rgba(51, 191, 154, 1);
}

.Path_2087 {
    overflow: visible;
    position: absolute;
    width: 35.75px;
    height: 35.75px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Rating_1 {
    position: absolute;
    width: 35.75px;
    height: 35.75px;
    left: 56px;
    top: 0px;
    overflow: visible;
}

#TruongVH_-_Rating_cs {
    position: absolute;
    width: 35.75px;
    height: 35.75px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#Path_2087_ct {
    fill: rgba(51, 191, 154, 1);
}

.Path_2087_ct {
    overflow: visible;
    position: absolute;
    width: 35.75px;
    height: 35.75px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Rating_2 {
    position: absolute;
    width: 35.75px;
    height: 35.75px;
    left: 112px;
    top: 0px;
    overflow: visible;
}

#TruongVH_-_Rating_cv {
    position: absolute;
    width: 35.75px;
    height: 35.75px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#Path_2087_cw {
    fill: rgba(51, 191, 154, 1);
}

.Path_2087_cw {
    overflow: visible;
    position: absolute;
    width: 35.75px;
    height: 35.75px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Rating_3 {
    position: absolute;
    width: 35.75px;
    height: 35.75px;
    left: 168px;
    top: 0px;
    overflow: visible;
}

#TruongVH_-_Rating_cy {
    position: absolute;
    width: 35.75px;
    height: 35.75px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#Path_2087_cz {
    fill: rgba(51, 191, 154, 1);
}

.Path_2087_cz {
    overflow: visible;
    position: absolute;
    width: 35.75px;
    height: 35.75px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Rating_4 {
    position: absolute;
    width: 35.75px;
    height: 35.75px;
    left: 224px;
    top: 0px;
    overflow: visible;
}

#TruongVH_-_Rating_c {
    position: absolute;
    width: 35.75px;
    height: 35.75px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#Path_2087_c {
    fill: rgba(51, 191, 154, 1);
}

.Path_2087_c {
    overflow: visible;
    position: absolute;
    width: 35.75px;
    height: 35.75px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Group_10387 {
    position: absolute;
    width: 317px;
    height: 158px;
    left: 21px;
    top: 299px;
    overflow: visible;
}

#HoaNT_-_Box-shadow {
    position: absolute;
    width: 316px;
    height: 158px;
    left: 1px;
    top: 0px;
    overflow: visible;
}

#bg_c {
    fill: rgba(255, 255, 255, 1);
}

.bg_c {
    filter: drop-shadow(0px 5px 15px rgba(48, 48, 48, 0.2));
    position: absolute;
    overflow: visible;
    width: 361px;
    height: 202px;
    left: 0px;
    top: 0px;
}

#Thng_thm_cho_th_Khng_bt_buc_ {
    left: 12px;
    top: 20px;
    position: absolute;
    overflow: visible;
    width: 242px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: lighter;
    font-size: 13px;
    color: rgba(80, 80, 80, 1);
}

#Bonus {
    position: absolute;
    width: 317px;
    height: 69px;
    left: 0px;
    top: 45px;
    overflow: hidden;
}

#Group_9919 {
    position: absolute;
    width: 94.087px;
    height: 28px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#Path_2976 {
    fill: rgba(255, 255, 255, 1);
    stroke: rgba(51, 191, 154, 1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Path_2976 {
    overflow: visible;
    position: absolute;
    width: 94.087px;
    height: 28px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#ID5000 {
    opacity: 0.7;
    left: 30px;
    top: 4px;
    position: absolute;
    overflow: visible;
    width: 41px;
    white-space: nowrap;
    line-height: 15px;
    margin-top: -0.5px;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(51, 191, 154, 1);
    text-transform: capitalize;
}

#Group_9919_db {
    position: absolute;
    width: 94.087px;
    height: 28px;
    left: 110px;
    top: 0px;
    overflow: visible;
}

#Path_2976_dc {
    fill: rgba(255, 255, 255, 1);
    stroke: rgba(51, 191, 154, 1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Path_2976_dc {
    overflow: visible;
    position: absolute;
    width: 94.087px;
    height: 28px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#ID10000 {
    opacity: 0.7;
    left: 27px;
    top: 4px;
    position: absolute;
    overflow: visible;
    width: 47px;
    white-space: nowrap;
    line-height: 15px;
    margin-top: -0.5px;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(51, 191, 154, 1);
    text-transform: capitalize;
}

#Group_9919_de {
    position: absolute;
    width: 94.087px;
    height: 28px;
    left: 220px;
    top: 0px;
    overflow: visible;
}

#Path_2976_df {
    fill: rgba(255, 255, 255, 1);
    stroke: rgba(51, 191, 154, 1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Path_2976_df {
    overflow: visible;
    position: absolute;
    width: 94.087px;
    height: 28px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#ID20000 {
    opacity: 0.7;
    left: 26px;
    top: 4px;
    position: absolute;
    overflow: visible;
    width: 49px;
    white-space: nowrap;
    line-height: 15px;
    margin-top: -0.5px;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(51, 191, 154, 1);
    text-transform: capitalize;
}

#Group_9919_dh {
    position: absolute;
    width: 94.087px;
    height: 28px;
    left: 0px;
    top: 40px;
    overflow: visible;
}

#Path_2976_di {
    fill: rgba(255, 255, 255, 1);
    stroke: rgba(51, 191, 154, 1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Path_2976_di {
    overflow: visible;
    position: absolute;
    width: 94.087px;
    height: 28px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#ID50000 {
    opacity: 0.7;
    left: 25px;
    top: 4px;
    position: absolute;
    overflow: visible;
    width: 51px;
    white-space: nowrap;
    line-height: 15px;
    margin-top: -0.5px;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(51, 191, 154, 1);
    text-transform: capitalize;
}

#Group_9919_dk {
    position: absolute;
    width: 94.087px;
    height: 28px;
    left: 110px;
    top: 40px;
    overflow: visible;
}

#Path_2976_dl {
    fill: rgba(255, 255, 255, 1);
    stroke: rgba(51, 191, 154, 1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Path_2976_dl {
    overflow: visible;
    position: absolute;
    width: 94.087px;
    height: 28px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#ID75000 {
    opacity: 0.7;
    left: 26px;
    top: 4px;
    position: absolute;
    overflow: visible;
    width: 49px;
    white-space: nowrap;
    line-height: 15px;
    margin-top: -0.5px;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(51, 191, 154, 1);
    text-transform: capitalize;
}

#Group_9919_dn {
    position: absolute;
    width: 94.087px;
    height: 28px;
    left: 220px;
    top: 40px;
    overflow: visible;
}

#Path_2976_do {
    fill: rgba(255, 255, 255, 1);
    stroke: rgba(51, 191, 154, 1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Path_2976_do {
    overflow: visible;
    position: absolute;
    width: 94.087px;
    height: 28px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#ID100000 {
    opacity: 0.7;
    left: 23px;
    top: 4px;
    position: absolute;
    overflow: visible;
    width: 55px;
    white-space: nowrap;
    line-height: 15px;
    margin-top: -0.5px;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(51, 191, 154, 1);
    text-transform: capitalize;
}

#Component_4__34 {
    position: absolute;
    width: 331px;
    height: 38px;
    left: 15px;
    top: 642px;
    overflow: visible;
    --web-animation: fadein 0.3s ease-out;
    --web-action-type: page;
    --web-action-target: history_complete.html;
    cursor: pointer;
}

#Rectangle_2309 {
    fill: rgba(51, 191, 154, 1);
}

.Rectangle_2309 {
    position: absolute;
    overflow: visible;
    width: 332px;
    height: 38px;
    left: 0px;
    top: 0px;
}

#Gi_phn_hi {
    left: 118px;
    top: 11px;
    position: absolute;
    overflow: visible;
    width: 95px;
    white-space: nowrap;
    line-height: 17px;
    margin-top: -2px;
    text-align: center;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.2px;
    text-transform: uppercase;
}

#fixer-info {
    position: absolute;
    width: 316px;
    height: 118px;
    left: 22px;
    top: 79px;
    overflow: visible;
}

#HoaNT_-_Box-shadow_du {
    position: absolute;
    width: 315px;
    height: 85px;
    left: 1px;
    top: 33px;
    overflow: visible;
}

#bg_dv {
    fill: rgba(255, 255, 255, 1);
}

.bg_dv {
    filter: drop-shadow(0px 5px 15px rgba(48, 48, 48, 0.2));
    position: absolute;
    overflow: visible;
    width: 360px;
    height: 130px;
    left: 0px;
    top: 0px;
}

#truong {
    position: absolute;
    width: 85px;
    height: 85px;
    left: 0px;
    top: 33px;
    overflow: visible;
}

#a_ch__Ca_hng_in_lnh_-_C_Kh_Ton {
    left: 94px;
    top: 74px;
    position: absolute;
    overflow: visible;
    width: 213px;
    height: 43px;
    line-height: 14px;
    margin-top: -2px;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: lighter;
    font-size: 10px;
    color: rgba(80, 80, 80, 1);
}

#V_Hu_Trng {
    left: 94px;
    top: 38px;
    position: absolute;
    overflow: visible;
    width: 175px;
    height: 17px;
    line-height: 24px;
    margin-top: -4px;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(36, 39, 43, 1);
}

#S_in_thoi_0123456789 {
    left: 94px;
    top: 59px;
    position: absolute;
    overflow: visible;
    width: 175px;
    height: 17px;
    line-height: 14px;
    margin-top: -1px;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: lighter;
    font-size: 12px;
    color: rgba(80, 80, 80, 1);
}

#info {
    position: absolute;
    width: 106px;
    height: 19px;
    left: 1px;
    top: 0px;
    overflow: visible;
}

#Thng_tin_th {
    left: 23px;
    top: 1px;
    position: absolute;
    overflow: visible;
    width: 84px;
    white-space: nowrap;
    line-height: 21px;
    margin-top: -3.5px;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(36, 39, 43, 1);
}

#Mask_Group_9862 {
    position: absolute;
    width: 19px;
    height: 19px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#Group_10386 {
    position: absolute;
    width: 316px;
    height: 131px;
    left: 22px;
    top: 475px;
    overflow: visible;
}

#HoaNT_-_Box-shadow_d {
    position: absolute;
    width: 316px;
    height: 131px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#bg_d {
    fill: rgba(255, 255, 255, 1);
}

.bg_d {
    filter: drop-shadow(0px 5px 15px rgba(48, 48, 48, 0.2));
    position: absolute;
    overflow: visible;
    width: 361px;
    height: 177px;
    left: 0px;
    top: 0px;
}

#Line_73 {
    fill: transparent;
    stroke: rgba(218, 222, 227, 1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Line_73 {
    overflow: visible;
    position: absolute;
    width: 274.748px;
    height: 1px;
    left: 14.922px;
    top: 54.655px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Path_3343 {
    fill: rgba(0, 0, 0, 0);
    stroke: rgba(218, 222, 227, 1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Path_3343 {
    overflow: visible;
    position: absolute;
    width: 274.748px;
    height: 1px;
    left: 12.511px;
    top: 82.918px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Line_75 {
    fill: transparent;
    stroke: rgba(218, 222, 227, 1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Line_75 {
    overflow: visible;
    position: absolute;
    width: 274.748px;
    height: 1px;
    left: 12.511px;
    top: 111.181px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#ng_gp__kin_Khng_bt_buc {
    left: 11px;
    top: 16px;
    position: absolute;
    overflow: visible;
    width: 198px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: lighter;
    font-size: 13px;
    color: rgba(80, 80, 80, 1);
}