<app-header title="Quan tâm"></app-header>
<ion-content>
    <div class="mt-3">
        <b class="ml-3">Yêu thích</b>
        <ion-slides class="nearby" [options]="{slidesPerView: 3}">
            <ion-slide *ngFor="let i of [1, 2, 3, 4, 5]">
                <div class="d-flex flex-column border-top">
                    <ion-card class="mb-0">
                        <img src="assets/avatar.png" />
                    </ion-card>
                    <b class="font-weight-bold mb-0">Toàn Đặng</b>
                    <span class="small mx-2 mb-3">55b Trần Quang Khải, Q1, Tp.HCM</span>
                </div>
            </ion-slide>
        </ion-slides>
    </div>
    <div>
        <b class="ml-3">Xem gần đây</b>
        <ion-slides class="nearby" [options]="{slidesPerView: 3}">
            <ion-slide *ngFor="let i of [1, 2, 3, 4, 5]">
                <div class="d-flex flex-column border-top">
                    <ion-card class="mb-0">
                        <img src="assets/avatar.png" />
                    </ion-card>
                    <b>Toàn Đặng</b>
                    <span class="small mx-2">55b Trần Quang Khải, Q1, Tp.HCM</span>
                </div>
            </ion-slide>
        </ion-slides>
    </div>
</ion-content>