.truncate {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
ion-card {
  width: 6rem;
  height: 6rem;

  img {
    object-fit: cover;
  }
}

.small {
  font-size: 0.8rem;
}
