<ion-item
  lines="none"
  detail="false"
  class="pt-3 bg-transparent"
  style="--background: transparent"
>
  <ion-avatar
    slot="start"
    [routerLink]="['..', 'profile']"
    class="p-1 border mr-1"
  >
    <img src="assets/avatar.png" />
  </ion-avatar>
  <ion-card class="p-2 ml-1 w-100">
    <div class="d-flex flex-column">
      <b>Chào Nhi Lê!</b>
      <span>Chúc bạn ngày mới vui vẻ ❤️</span>
    </div>
  </ion-card>
</ion-item>
<ion-searchbar placeholder="Bạn đang cần gì" class="mx-auto"></ion-searchbar>
<ion-content>
  <ion-slides
    #sliders
    (ionSlidesDidLoad)="afterslidesLoad(sliders)"
    class="promotions"
  >
    <ion-slide
      [routerLink]="['..', 'notification', 'promotions', 'promotion-detail']"
    >
      <img src="assets/promotion-5.jpg" class="rounded-lg" />
    </ion-slide>

    <ion-slide
      [routerLink]="['..', 'notification', 'promotions', 'promotion-detail']"
    >
      <img src="assets/promotion-2.png" class="rounded-lg" />
    </ion-slide>

    <ion-slide
      [routerLink]="['..', 'notification', 'promotions', 'promotion-detail']"
    >
      <img src="assets/promotion-3.png" class="rounded-lg" />
    </ion-slide>
  </ion-slides>
  <div>
    <ion-card class="px-3 py-2">
      <h4>Đã đặt gần đây</h4>
      <ion-slides class="nearby" [options]="{ slidesPerView: 1.75 }">
        <ion-slide
          *ngFor="let item of nearbys"
          class="border rounded-lg mr-2 pr-1"
          routerLink="booking"
        >
          <ion-card class="ml-0 mr-2">
            <img [src]="'assets/' + item.src" class="rounded-lg"
          /></ion-card>
          <div
            class="d-flex flex-column justify-content-start align-items-start small"
          >
            <b>{{ item.title }}</b>
            <span class="mt-n1 small">{{ item.fixer }}</span>
            <span>{{ item.price }}</span>
          </div>
        </ion-slide>
      </ion-slides>
    </ion-card>
    <ion-card class="px-3 py-2">
      <h4>Chúng tôi sẽ giúp bạn</h4>
      <div class="d-flex justify-content-center flex-wrap mb-3">
        <ion-card
          *ngFor="let category of categories"
          class="my-2 mx-1 category"
          routerLink="booking"
        >
          <img [src]="'assets/' + category.src" />
          <div
            [class.badge-danger]="category.badge === 'giảm 50%'"
            class="badge badge-warning"
            *ngIf="category.badge"
          >
            {{ category.badge }}
          </div>
        </ion-card>
      </div>
    </ion-card>
  </div>
</ion-content>
