<app-header></app-header>
<ion-slides>
  <ion-slide>
    <img src="assets/slide-1.png" />
    <h2>Welcome</h2>
  </ion-slide>

  <ion-slide>
    <img src="assets/slide-2.png" />
    <h2>What is Ionic?</h2>
  </ion-slide>

  <ion-slide>
    <img src="assets/slide-3.png" />
    <h2>What is Ionic Appflow?</h2>
  </ion-slide>

  <ion-slide>
    <img src="assets/slide-4.png" />
    <h2>Ready to Play?</h2>
    <ion-button fill="clear"
      >Continue <ion-icon slot="end" name="arrow-forward"></ion-icon
    ></ion-button>
  </ion-slide>
</ion-slides>
<app-bottom-bar></app-bottom-bar>
