ion-avatar {
  width: 4.5rem;
  height: 4.5rem;
}
ion-searchbar {
  width: 90%;
  text-indent: 0.5rem;
  --background: linear-gradient(40deg, rgba(51, 191, 154, 0.4) 36%, rgba(255, 255, 255, 1) 110%);
}
ion-card,
ion-slide {
  img {
    height: 100%;
    object-fit: cover;
  }
}

ion-slides.promotions {
  height: 20vh;
  width: 100%;

  ion-slide {
    height: 100%;
    img {
      max-width: 90%;
    }
  }
}

ion-slides.nearby {
  height: 5rem;

  ion-card {
    width: 4rem;
    height: 4rem;
  }
}

ion-card.category {
  width: 25%;
  height: 6rem;
  min-width: 6rem;
  min-height: 6rem;
}

.badge.badge-warning {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
ion-card {
  img {
    width: 100%;
    height: auto;
  }
}
