<app-header title="Toàn Đặng"></app-header>
<ion-content
  ><div
    class="progress-bar progress-bar-striped"
    role="progressbar"
    style="width: 33%; height: 0.5rem"
  ></div>
  <ion-card id="commitment">
    <h6 class="ml-3 d-flex align-items-center">
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-text class="ml-1"> Cam kết của Easifix </ion-text>
    </h6>
    <div class="mx-auto d-flex justify-content-center">
      <div
        *ngFor="let i of [1, 2, 3, 4, 5]"
        class="mx-1 text-center d-flex flex-column justify-content-center"
      >
        <img
          src="assets/slide-1.png"
          alt=""
          class="rounded-circle overflow-hidden"
        />
        <ion-text class="smallest mt-1">Bảo hành </ion-text>
        <ion-text class="smallest"> dịch vụ</ion-text>
      </div>
    </div>
  </ion-card>
</ion-content>
