<app-header title="Thông tin yêu cầu"></app-header>
<ion-content>
  <ion-card class="py-2">
    <h6 class="ml-3 d-flex align-items-center">
      <ion-icon name="person-outline" style="zoom: 1.3"></ion-icon>
      <ion-text class="ml-1"> Thông tin khách hàng</ion-text>
    </h6>
    <ion-item lines="none">
      <ion-avatar class="mr-1 p-1 border">
        <img src="assets/avatar.png" />
      </ion-avatar>
      <ion-label>
        <h2>Nhi Lê</h2>
        <p class="text-monospace">0123456789</p>
      </ion-label>
      <ion-icon
        name="call"
        color="primary"
        class="p-1 mx-2 border rounded-circle"
      ></ion-icon>
    </ion-item>
  </ion-card>
  <ion-card class="py-2">
    <h6 class="ml-3 d-flex align-items-center">
      <ion-text class="ml-1"> Bản đồ (Vị trí khách hàng)</ion-text>
    </h6>
    <p class="ml-3 mt-n2 mb-0 text-secondary">
      2/2 Phan Văn Trị, Quận Gò Vấp, TP.HCM
    </p>
    <div class="px-3 py-2">
      <img src="assets/map.jpg" id="map" />
    </div>
  </ion-card>
  <ion-card class="py-3">
    <h6 class="ml-3 d-flex align-items-center">
      <ion-icon name="ribbon-outline" style="zoom: 1.3"></ion-icon>
      <ion-text class="ml-1"> Dịch vụ yêu cầu</ion-text>
    </h6>
    <ion-list lines="full">
      <ion-item>
        <ion-label>Sửa tivi </ion-label>
        <ion-badge class="mb-n1">Aqua</ion-badge>
      </ion-item>

      <ion-item class="ml-1 smaller text-secondary">
        <ion-icon name="add-circle-outline"></ion-icon>
        <ion-text class="ml-1"> Kiểm tra dịch vụ </ion-text>
        <ion-text slot="end">{{ 50000 | currency: '':'đ':'4.0-0' }}</ion-text>
      </ion-item>
      <ion-item class="ml-1 smaller text-secondary">
        <ion-icon name="add-circle-outline"></ion-icon>
        <ion-text class="ml-1"> Thay màn hình </ion-text>
        <ion-text slot="end">{{ 650000 | currency: '':'đ':'4.0-0' }}</ion-text>
      </ion-item>
      <ion-item class="ml-4 smaller text-secondary" lines="none">
        <ion-text class="ml-1 text-right" color="danger">
          Mã áp dụng giảm 50%
        </ion-text>
        <ion-text color="danger" slot="end"
          >-{{ 350000 | currency: '':'đ':'4.0-0' }}</ion-text
        >
      </ion-item>
      <ion-item class="smaller" color="primary" lines="none">
        <ion-icon name="calculator-outline"></ion-icon>
        <ion-text class="ml-1"> <b>TỔNG TIỀN</b> </ion-text>
        <ion-text slot="end"
          ><b>{{ 350000 | currency: '':'đ':'4.0-0' }} </b></ion-text
        >
      </ion-item>
      <ion-item lines="none">
        <ion-label><b>Thời gian:</b></ion-label>
        <ion-label class="text-right">14:00 - 15:30</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-button
    expand="block"
    color="danger"
    fill="outline"
    class="w-90 mx-2 mb-1"
    >Hủy</ion-button
  >
</ion-content>
<ion-button expand="block" class="w-90 mx-auto" routerLink="/fixer/home"
  >Hoàn thành</ion-button
>
