.mediaViewInfo {
  --web-view-name: home-list-store;
  --web-view-id: home-list-store;
  --web-scale-on-resize: true;
  --web-center-horizontally: true;
  --web-center-vertically: true;
  --web-enable-deep-linking: true;
}
:root {
  --web-view-ids: home-list-store;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
.home-list-store_Class {
  position: absolute;
  width: 360px;
  height: 1176px;
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
  --web-view-name: home-list-store;
  --web-view-id: home-list-store;
  --web-scale-on-resize: true;
  --web-center-horizontally: true;
  --web-center-vertically: true;
  --web-enable-deep-linking: true;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.HoaNT_-_Header_Background_Class {
  position: absolute;
  width: 1129.174px;
  height: 680.36px;
  left: -525.334px;
  top: -469.36px;
  overflow: visible;
}
.Group_9752_Class {
  position: absolute;
  width: 1129.174px;
  height: 680.36px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.Background_Class {
  fill: rgba(51, 191, 154, 1);
}
.Background {
  overflow: visible;
  position: absolute;
  width: 1129.174px;
  height: 680.36px;
  transform: translate(0px, 0px) matrix(1, 0, 0, 1, 0, 0) rotate(180deg);
  transform-origin: center;
  left: 0px;
  top: 0px;
}
.Path_2860_Class {
  fill: rgba(255, 255, 255, 1);
}
.Path_2860 {
  overflow: visible;
  position: absolute;
  width: 360px;
  height: 1279.322px;
  left: 0px;
  top: 50px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.Home_Indicator_Class {
  position: absolute;
  width: 134px;
  height: 5px;
  left: 113.469px;
  top: 798px;
  overflow: visible;
}
.Rectangle_24_Class {
  fill: rgba(189, 189, 189, 1);
}
.Rectangle_24 {
  position: absolute;
  overflow: visible;
  width: 134px;
  height: 5px;
  left: 0px;
  top: 0px;
}
.Group_9773_Class {
  position: absolute;
  width: 340px;
  height: 38px;
  left: 10px;
  top: 60px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: home_search.html;
  cursor: pointer;
}
.CTA_Class {
  position: absolute;
  width: 340px;
  height: 38px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.Rectangle_5_Class {
  fill: rgba(255, 255, 255, 1);
}
.Rectangle_5 {
  filter: drop-shadow(0px 5px 15px rgba(48, 48, 48, 0.102));
  position: absolute;
  overflow: visible;
  width: 385px;
  height: 83px;
  left: 0px;
  top: 0px;
}
.Dch_v_a_ch_bn_mun_tm_Class {
  left: 13px;
  top: 13px;
  position: absolute;
  overflow: visible;
  width: 267px;
  height: 14px;
  line-height: 16px;
  margin-top: -2px;
  text-align: left;

  font-weight: normal;
  font-size: 12px;
  color: rgba(189, 189, 189, 1);
}
.tam_Class {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 305px;
  top: 4px;
  overflow: visible;
}
.tam_cn_Class {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.Repeat_Grid_36_Class {
  position: absolute;
  width: 403.2px;
  height: 986px;
  left: -21.6px;
  top: 132.5px;
  overflow: hidden;
}
.Group_10355_Class {
  position: absolute;
  width: 360px;
  height: 170px;
  left: 22.5px;
  top: 17.5px;
  overflow: visible;
}
.HoaNT_-_Box-shadow_Class {
  position: absolute;
  width: 360px;
  height: 170px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.bg_Class {
  fill: rgba(255, 255, 255, 1);
}
.bg {
  filter: drop-shadow(0px 5px 15px rgba(48, 48, 48, 0.2));
  position: absolute;
  overflow: visible;
  width: 405px;
  height: 215px;
  left: 0px;
  top: 0px;
}
.Sa_t_lnh_Class {
  left: 20px;
  top: 10px;
  position: absolute;
  overflow: visible;
  width: 336px;
  height: 22px;
  text-align: left;

  font-weight: bold;
  font-size: 18px;
  color: rgba(121, 121, 121, 1);
}
.Repeat_Grid_35_Class {
  position: absolute;
  width: 333px;
  height: 131px;
  left: 13px;
  top: 39px;
  overflow: hidden;
}
.Group_10354_Class {
  position: absolute;
  width: 89px;
  height: 104px;
  left: 0.1px;
  top: 0px;
  overflow: visible;
}
.Group_10385_Class {
  position: absolute;
  width: 89px;
  height: 104px;
  left: 0px;
  top: 0px;
  overflow: visible;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: store_details.html;
  cursor: pointer;
}
.Rectangle_2458_Class {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_2458 {
  position: absolute;
  overflow: visible;
  width: 89px;
  height: 104px;
  left: 0px;
  top: 0px;
}
.Group_10344_Class {
  position: absolute;
  width: 64px;
  height: 11px;
  left: 12px;
  top: 83px;
  overflow: visible;
}
.ID5_pht__16km_Class {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 65px;
  white-space: nowrap;
  line-height: 14px;
  margin-top: -2px;
  text-align: left;

  font-weight: lighter;
  font-size: 10px;
  color: rgba(80, 80, 80, 1);
}
.Vit_Long_Class {
  left: 0px;
  top: 65.802px;
  position: absolute;
  overflow: visible;
  width: 90px;
  height: 11px;
  line-height: 18px;
  margin-top: -4px;
  text-align: center;

  font-weight: bold;
  font-size: 10px;
  color: rgba(121, 121, 121, 1);
}
.ID1_Class {
  position: absolute;
  width: 55px;
  height: 55px;
  left: 17px;
  top: 5px;
  overflow: visible;
}
.Group_10354_c_Class {
  position: absolute;
  width: 89px;
  height: 104px;
  left: 120.1px;
  top: 0px;
  overflow: visible;
}
.Group_10385_c_Class {
  position: absolute;
  width: 89px;
  height: 104px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.Rectangle_2458_c_Class {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_2458_c {
  position: absolute;
  overflow: visible;
  width: 89px;
  height: 104px;
  left: 0px;
  top: 0px;
}
.Group_10344_c_Class {
  position: absolute;
  width: 64px;
  height: 11px;
  left: 12px;
  top: 83px;
  overflow: visible;
}
.ID5_pht__16km_c_Class {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 65px;
  white-space: nowrap;
  line-height: 14px;
  margin-top: -2px;
  text-align: left;

  font-weight: lighter;
  font-size: 10px;
  color: rgba(80, 80, 80, 1);
}
.Nguyn_Kim_Class {
  left: 0px;
  top: 65.802px;
  position: absolute;
  overflow: visible;
  width: 90px;
  height: 11px;
  line-height: 18px;
  margin-top: -4px;
  text-align: center;

  font-weight: bold;
  font-size: 10px;
  color: rgba(121, 121, 121, 1);
}
.nguyenkim_Class {
  position: absolute;
  width: 55px;
  height: 55px;
  left: 17px;
  top: 5px;
  overflow: visible;
}
.Group_10354_da_Class {
  position: absolute;
  width: 89px;
  height: 104px;
  left: 240.1px;
  top: 0px;
  overflow: visible;
}
.Group_10385_da_Class {
  position: absolute;
  width: 89px;
  height: 104px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.Rectangle_2458_da_Class {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_2458_da {
  position: absolute;
  overflow: visible;
  width: 89px;
  height: 104px;
  left: 0px;
  top: 0px;
}
.Group_10344_db_Class {
  position: absolute;
  width: 64px;
  height: 11px;
  left: 12px;
  top: 83px;
  overflow: visible;
}
.ID5_pht__16km_dc_Class {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 65px;
  white-space: nowrap;
  line-height: 14px;
  margin-top: -2px;
  text-align: left;

  font-weight: lighter;
  font-size: 10px;
  color: rgba(80, 80, 80, 1);
}
.Hu_Thnh_Class {
  left: 0px;
  top: 65.802px;
  position: absolute;
  overflow: visible;
  width: 90px;
  height: 11px;
  line-height: 18px;
  margin-top: -4px;
  text-align: center;

  font-weight: bold;
  font-size: 10px;
  color: rgba(121, 121, 121, 1);
}
.website-logo-diencohuuthinh_Class {
  position: absolute;
  width: 55px;
  height: 55px;
  left: 17px;
  top: 5px;
  overflow: visible;
}
.Group_10355_df_Class {
  position: absolute;
  width: 359px;
  height: 170px;
  left: 22.5px;
  top: 212.5px;
  overflow: visible;
}
.HoaNT_-_Box-shadow_dg_Class {
  position: absolute;
  width: 359px;
  height: 170px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.bg_dh_Class {
  fill: rgba(255, 255, 255, 1);
}
.bg_dh {
  filter: drop-shadow(0px 5px 15px rgba(48, 48, 48, 0.2));
  position: absolute;
  overflow: visible;
  width: 404px;
  height: 215px;
  left: 0px;
  top: 0px;
}
.Sa_my_lnh_Class {
  left: 20px;
  top: 10px;
  position: absolute;
  overflow: visible;
  width: 336px;
  height: 22px;
  text-align: left;

  font-weight: bold;
  font-size: 18px;
  color: rgba(121, 121, 121, 1);
}
.Repeat_Grid_35_dj_Class {
  position: absolute;
  width: 333px;
  height: 131px;
  left: 13px;
  top: 39px;
  overflow: hidden;
}
.Group_10354_dk_Class {
  position: absolute;
  width: 89px;
  height: 104px;
  left: 0.1px;
  top: 0px;
  overflow: visible;
}
.Group_10385_dl_Class {
  position: absolute;
  width: 89px;
  height: 104px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.Rectangle_2458_dm_Class {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_2458_dm {
  position: absolute;
  overflow: visible;
  width: 89px;
  height: 104px;
  left: 0px;
  top: 0px;
}
.Group_10344_dn_Class {
  position: absolute;
  width: 64px;
  height: 11px;
  left: 12px;
  top: 83px;
  overflow: visible;
}
.ID5_pht__16km_do_Class {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 65px;
  white-space: nowrap;
  line-height: 14px;
  margin-top: -2px;
  text-align: left;

  font-weight: lighter;
  font-size: 10px;
  color: rgba(80, 80, 80, 1);
}
.Vit_Long_dp_Class {
  left: 0px;
  top: 65.802px;
  position: absolute;
  overflow: visible;
  width: 90px;
  height: 11px;
  line-height: 18px;
  margin-top: -4px;
  text-align: center;

  font-weight: bold;
  font-size: 10px;
  color: rgba(121, 121, 121, 1);
}
.ID1_dq_Class {
  position: absolute;
  width: 55px;
  height: 55px;
  left: 17px;
  top: 5px;
  overflow: visible;
}
.Group_10354_dr_Class {
  position: absolute;
  width: 89px;
  height: 104px;
  left: 120.1px;
  top: 0px;
  overflow: visible;
}
.Group_10385_ds_Class {
  position: absolute;
  width: 89px;
  height: 104px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.Rectangle_2458_dt_Class {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_2458_dt {
  position: absolute;
  overflow: visible;
  width: 89px;
  height: 104px;
  left: 0px;
  top: 0px;
}
.Group_10344_du_Class {
  position: absolute;
  width: 64px;
  height: 11px;
  left: 12px;
  top: 83px;
  overflow: visible;
}
.ID5_pht__16km_dv_Class {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 65px;
  white-space: nowrap;
  line-height: 14px;
  margin-top: -2px;
  text-align: left;

  font-weight: lighter;
  font-size: 10px;
  color: rgba(80, 80, 80, 1);
}
.Nguyn_Kim_dw_Class {
  left: 0px;
  top: 65.802px;
  position: absolute;
  overflow: visible;
  width: 90px;
  height: 11px;
  line-height: 18px;
  margin-top: -4px;
  text-align: center;

  font-weight: bold;
  font-size: 10px;
  color: rgba(121, 121, 121, 1);
}
.nguyenkim_dx_Class {
  position: absolute;
  width: 55px;
  height: 55px;
  left: 17px;
  top: 5px;
  overflow: visible;
}
.Group_10354_dy_Class {
  position: absolute;
  width: 89px;
  height: 104px;
  left: 240.1px;
  top: 0px;
  overflow: visible;
}
.Group_10385_dz_Class {
  position: absolute;
  width: 89px;
  height: 104px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.Rectangle_2458_d_Class {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_2458_d {
  position: absolute;
  overflow: visible;
  width: 89px;
  height: 104px;
  left: 0px;
  top: 0px;
}
.Group_10344_d_Class {
  position: absolute;
  width: 64px;
  height: 11px;
  left: 12px;
  top: 83px;
  overflow: visible;
}
.ID5_pht__16km_d_Class {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 65px;
  white-space: nowrap;
  line-height: 14px;
  margin-top: -2px;
  text-align: left;

  font-weight: lighter;
  font-size: 10px;
  color: rgba(80, 80, 80, 1);
}
.Hu_Thnh_d_Class {
  left: 0px;
  top: 65.802px;
  position: absolute;
  overflow: visible;
  width: 90px;
  height: 11px;
  line-height: 18px;
  margin-top: -4px;
  text-align: center;

  font-weight: bold;
  font-size: 10px;
  color: rgba(121, 121, 121, 1);
}
.website-logo-diencohuuthinh_d_Class {
  position: absolute;
  width: 55px;
  height: 55px;
  left: 17px;
  top: 5px;
  overflow: visible;
}
.Group_10355_d_Class {
  position: absolute;
  width: 360px;
  height: 170px;
  left: 22.5px;
  top: 407.5px;
  overflow: visible;
}
.HoaNT_-_Box-shadow_d_Class {
  position: absolute;
  width: 360px;
  height: 170px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.bg_d_Class {
  fill: rgba(255, 255, 255, 1);
}
.bg_d {
  filter: drop-shadow(0px 5px 15px rgba(48, 48, 48, 0.2));
  position: absolute;
  overflow: visible;
  width: 405px;
  height: 215px;
  left: 0px;
  top: 0px;
}
.Sa_t_lnh_d_Class {
  left: 20px;
  top: 10px;
  position: absolute;
  overflow: visible;
  width: 336px;
  height: 22px;
  text-align: left;

  font-weight: bold;
  font-size: 18px;
  color: rgba(121, 121, 121, 1);
}
.Repeat_Grid_35_d_Class {
  position: absolute;
  width: 333px;
  height: 131px;
  left: 13px;
  top: 39px;
  overflow: hidden;
}
.Group_10354_ea_Class {
  position: absolute;
  width: 89px;
  height: 104px;
  left: 0.1px;
  top: 0px;
  overflow: visible;
}
.Group_10385_eb_Class {
  position: absolute;
  width: 89px;
  height: 104px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.Rectangle_2458_ec_Class {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_2458_ec {
  position: absolute;
  overflow: visible;
  width: 89px;
  height: 104px;
  left: 0px;
  top: 0px;
}
.Group_10344_ed_Class {
  position: absolute;
  width: 64px;
  height: 11px;
  left: 12px;
  top: 83px;
  overflow: visible;
}
.ID5_pht__16km_ee_Class {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 65px;
  white-space: nowrap;
  line-height: 14px;
  margin-top: -2px;
  text-align: left;

  font-weight: lighter;
  font-size: 10px;
  color: rgba(80, 80, 80, 1);
}
.Vit_Long_ef_Class {
  left: 0px;
  top: 65.802px;
  position: absolute;
  overflow: visible;
  width: 90px;
  height: 11px;
  line-height: 18px;
  margin-top: -4px;
  text-align: center;

  font-weight: bold;
  font-size: 10px;
  color: rgba(121, 121, 121, 1);
}
.ID1_eg_Class {
  position: absolute;
  width: 55px;
  height: 55px;
  left: 17px;
  top: 5px;
  overflow: visible;
}
.Group_10354_eh_Class {
  position: absolute;
  width: 89px;
  height: 104px;
  left: 120.1px;
  top: 0px;
  overflow: visible;
}
.Group_10385_ei_Class {
  position: absolute;
  width: 89px;
  height: 104px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.Rectangle_2458_ej_Class {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_2458_ej {
  position: absolute;
  overflow: visible;
  width: 89px;
  height: 104px;
  left: 0px;
  top: 0px;
}
.Group_10344_ek_Class {
  position: absolute;
  width: 64px;
  height: 11px;
  left: 12px;
  top: 83px;
  overflow: visible;
}
.ID5_pht__16km_el_Class {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 65px;
  white-space: nowrap;
  line-height: 14px;
  margin-top: -2px;
  text-align: left;

  font-weight: lighter;
  font-size: 10px;
  color: rgba(80, 80, 80, 1);
}
.Nguyn_Kim_em_Class {
  left: 0px;
  top: 65.802px;
  position: absolute;
  overflow: visible;
  width: 90px;
  height: 11px;
  line-height: 18px;
  margin-top: -4px;
  text-align: center;

  font-weight: bold;
  font-size: 10px;
  color: rgba(121, 121, 121, 1);
}
.nguyenkim_en_Class {
  position: absolute;
  width: 55px;
  height: 55px;
  left: 17px;
  top: 5px;
  overflow: visible;
}
.Group_10354_eo_Class {
  position: absolute;
  width: 89px;
  height: 104px;
  left: 240.1px;
  top: 0px;
  overflow: visible;
}
.Group_10385_ep_Class {
  position: absolute;
  width: 89px;
  height: 104px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.Rectangle_2458_eq_Class {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_2458_eq {
  position: absolute;
  overflow: visible;
  width: 89px;
  height: 104px;
  left: 0px;
  top: 0px;
}
.Group_10344_er_Class {
  position: absolute;
  width: 64px;
  height: 11px;
  left: 12px;
  top: 83px;
  overflow: visible;
}
.ID5_pht__16km_es_Class {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 65px;
  white-space: nowrap;
  line-height: 14px;
  margin-top: -2px;
  text-align: left;

  font-weight: lighter;
  font-size: 10px;
  color: rgba(80, 80, 80, 1);
}
.Hu_Thnh_et_Class {
  left: 0px;
  top: 65.802px;
  position: absolute;
  overflow: visible;
  width: 90px;
  height: 11px;
  line-height: 18px;
  margin-top: -4px;
  text-align: center;

  font-weight: bold;
  font-size: 10px;
  color: rgba(121, 121, 121, 1);
}
.website-logo-diencohuuthinh_eu_Class {
  position: absolute;
  width: 55px;
  height: 55px;
  left: 17px;
  top: 5px;
  overflow: visible;
}
.Group_10355_ev_Class {
  position: absolute;
  width: 359px;
  height: 170px;
  left: 22.5px;
  top: 602.5px;
  overflow: visible;
}
.HoaNT_-_Box-shadow_ew_Class {
  position: absolute;
  width: 359px;
  height: 170px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.bg_ex_Class {
  fill: rgba(255, 255, 255, 1);
}
.bg_ex {
  filter: drop-shadow(0px 5px 15px rgba(48, 48, 48, 0.2));
  position: absolute;
  overflow: visible;
  width: 404px;
  height: 215px;
  left: 0px;
  top: 0px;
}
.Sa_my_si_Class {
  left: 20px;
  top: 10px;
  position: absolute;
  overflow: visible;
  width: 336px;
  height: 22px;
  text-align: left;

  font-weight: bold;
  font-size: 18px;
  color: rgba(121, 121, 121, 1);
}
.Repeat_Grid_35_ez_Class {
  position: absolute;
  width: 333px;
  height: 131px;
  left: 13px;
  top: 39px;
  overflow: hidden;
}
.Group_10354_e_Class {
  position: absolute;
  width: 89px;
  height: 104px;
  left: 0.1px;
  top: 0px;
  overflow: visible;
}
.Group_10385_e_Class {
  position: absolute;
  width: 89px;
  height: 104px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.Rectangle_2458_e_Class {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_2458_e {
  position: absolute;
  overflow: visible;
  width: 89px;
  height: 104px;
  left: 0px;
  top: 0px;
}
.Group_10344_e_Class {
  position: absolute;
  width: 64px;
  height: 11px;
  left: 12px;
  top: 83px;
  overflow: visible;
}
.ID5_pht__16km_e_Class {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 65px;
  white-space: nowrap;
  line-height: 14px;
  margin-top: -2px;
  text-align: left;

  font-weight: lighter;
  font-size: 10px;
  color: rgba(80, 80, 80, 1);
}
.Vit_Long_e_Class {
  left: 0px;
  top: 65.802px;
  position: absolute;
  overflow: visible;
  width: 90px;
  height: 11px;
  line-height: 18px;
  margin-top: -4px;
  text-align: center;

  font-weight: bold;
  font-size: 10px;
  color: rgba(121, 121, 121, 1);
}
.ID1_e_Class {
  position: absolute;
  width: 55px;
  height: 55px;
  left: 17px;
  top: 5px;
  overflow: visible;
}
.Group_10354_fa_Class {
  position: absolute;
  width: 89px;
  height: 104px;
  left: 120.1px;
  top: 0px;
  overflow: visible;
}
.Group_10385_fa_Class {
  position: absolute;
  width: 89px;
  height: 104px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.Rectangle_2458_fa_Class {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_2458_fa {
  position: absolute;
  overflow: visible;
  width: 89px;
  height: 104px;
  left: 0px;
  top: 0px;
}
.Group_10344_fa_Class {
  position: absolute;
  width: 64px;
  height: 11px;
  left: 12px;
  top: 83px;
  overflow: visible;
}
.ID5_pht__16km_fb_Class {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 65px;
  white-space: nowrap;
  line-height: 14px;
  margin-top: -2px;
  text-align: left;

  font-weight: lighter;
  font-size: 10px;
  color: rgba(80, 80, 80, 1);
}
.Nguyn_Kim_fc_Class {
  left: 0px;
  top: 65.802px;
  position: absolute;
  overflow: visible;
  width: 90px;
  height: 11px;
  line-height: 18px;
  margin-top: -4px;
  text-align: center;

  font-weight: bold;
  font-size: 10px;
  color: rgba(121, 121, 121, 1);
}
.nguyenkim_fd_Class {
  position: absolute;
  width: 55px;
  height: 55px;
  left: 17px;
  top: 5px;
  overflow: visible;
}
.Group_10354_fe_Class {
  position: absolute;
  width: 89px;
  height: 104px;
  left: 240.1px;
  top: 0px;
  overflow: visible;
}
.Group_10385_ff_Class {
  position: absolute;
  width: 89px;
  height: 104px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.Rectangle_2458_fg_Class {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_2458_fg {
  position: absolute;
  overflow: visible;
  width: 89px;
  height: 104px;
  left: 0px;
  top: 0px;
}
.Group_10344_fh_Class {
  position: absolute;
  width: 64px;
  height: 11px;
  left: 12px;
  top: 83px;
  overflow: visible;
}
.ID5_pht__16km_fi_Class {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 65px;
  white-space: nowrap;
  line-height: 14px;
  margin-top: -2px;
  text-align: left;

  font-weight: lighter;
  font-size: 10px;
  color: rgba(80, 80, 80, 1);
}
.Hu_Thnh_fj_Class {
  left: 0px;
  top: 65.802px;
  position: absolute;
  overflow: visible;
  width: 90px;
  height: 11px;
  line-height: 18px;
  margin-top: -4px;
  text-align: center;

  font-weight: bold;
  font-size: 10px;
  color: rgba(121, 121, 121, 1);
}
.website-logo-diencohuuthinh_fk_Class {
  position: absolute;
  width: 55px;
  height: 55px;
  left: 17px;
  top: 5px;
  overflow: visible;
}
.Group_10355_fl_Class {
  position: absolute;
  width: 359px;
  height: 170px;
  left: 22.5px;
  top: 797.5px;
  overflow: visible;
}
.HoaNT_-_Box-shadow_fm_Class {
  position: absolute;
  width: 359px;
  height: 170px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.bg_fn_Class {
  fill: rgba(255, 255, 255, 1);
}
.bg_fn {
  filter: drop-shadow(0px 5px 15px rgba(48, 48, 48, 0.2));
  position: absolute;
  overflow: visible;
  width: 404px;
  height: 215px;
  left: 0px;
  top: 0px;
}
.Sa_my_ra_chn_Class {
  left: 20px;
  top: 10px;
  position: absolute;
  overflow: visible;
  width: 336px;
  height: 22px;
  text-align: left;

  font-weight: bold;
  font-size: 18px;
  color: rgba(121, 121, 121, 1);
}
.Repeat_Grid_35_fp_Class {
  position: absolute;
  width: 333px;
  height: 131px;
  left: 13px;
  top: 39px;
  overflow: hidden;
}
.Group_10354_fq_Class {
  position: absolute;
  width: 89px;
  height: 104px;
  left: 0.1px;
  top: 0px;
  overflow: visible;
}
.Group_10385_fr_Class {
  position: absolute;
  width: 89px;
  height: 104px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.Rectangle_2458_fs_Class {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_2458_fs {
  position: absolute;
  overflow: visible;
  width: 89px;
  height: 104px;
  left: 0px;
  top: 0px;
}
.Group_10344_ft_Class {
  position: absolute;
  width: 64px;
  height: 11px;
  left: 12px;
  top: 83px;
  overflow: visible;
}
.ID5_pht__16km_fu_Class {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 65px;
  white-space: nowrap;
  line-height: 14px;
  margin-top: -2px;
  text-align: left;

  font-weight: lighter;
  font-size: 10px;
  color: rgba(80, 80, 80, 1);
}
.Vit_Long_fv_Class {
  left: 0px;
  top: 65.802px;
  position: absolute;
  overflow: visible;
  width: 90px;
  height: 11px;
  line-height: 18px;
  margin-top: -4px;
  text-align: center;

  font-weight: bold;
  font-size: 10px;
  color: rgba(121, 121, 121, 1);
}
.ID1_fw_Class {
  position: absolute;
  width: 55px;
  height: 55px;
  left: 17px;
  top: 5px;
  overflow: visible;
}
.Group_10354_fx_Class {
  position: absolute;
  width: 89px;
  height: 104px;
  left: 120.1px;
  top: 0px;
  overflow: visible;
}
.Group_10385_fy_Class {
  position: absolute;
  width: 89px;
  height: 104px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.Rectangle_2458_fz_Class {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_2458_fz {
  position: absolute;
  overflow: visible;
  width: 89px;
  height: 104px;
  left: 0px;
  top: 0px;
}
.Group_10344_f_Class {
  position: absolute;
  width: 64px;
  height: 11px;
  left: 12px;
  top: 83px;
  overflow: visible;
}
.ID5_pht__16km_f_Class {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 65px;
  white-space: nowrap;
  line-height: 14px;
  margin-top: -2px;
  text-align: left;

  font-weight: lighter;
  font-size: 10px;
  color: rgba(80, 80, 80, 1);
}
.Nguyn_Kim_f_Class {
  left: 0px;
  top: 65.802px;
  position: absolute;
  overflow: visible;
  width: 90px;
  height: 11px;
  line-height: 18px;
  margin-top: -4px;
  text-align: center;

  font-weight: bold;
  font-size: 10px;
  color: rgba(121, 121, 121, 1);
}
.nguyenkim_f_Class {
  position: absolute;
  width: 55px;
  height: 55px;
  left: 17px;
  top: 5px;
  overflow: visible;
}
.Group_10354_f_Class {
  position: absolute;
  width: 89px;
  height: 104px;
  left: 240.1px;
  top: 0px;
  overflow: visible;
}
.Group_10385_f_Class {
  position: absolute;
  width: 89px;
  height: 104px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.Rectangle_2458_f_Class {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_2458_f {
  position: absolute;
  overflow: visible;
  width: 89px;
  height: 104px;
  left: 0px;
  top: 0px;
}
.Group_10344_ga_Class {
  position: absolute;
  width: 64px;
  height: 11px;
  left: 12px;
  top: 83px;
  overflow: visible;
}
.ID5_pht__16km_ga_Class {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 65px;
  white-space: nowrap;
  line-height: 14px;
  margin-top: -2px;
  text-align: left;

  font-weight: lighter;
  font-size: 10px;
  color: rgba(80, 80, 80, 1);
}
.Hu_Thnh_f_Class {
  left: 0px;
  top: 65.802px;
  position: absolute;
  overflow: visible;
  width: 90px;
  height: 11px;
  line-height: 18px;
  margin-top: -4px;
  text-align: center;

  font-weight: bold;
  font-size: 10px;
  color: rgba(121, 121, 121, 1);
}
.website-logo-diencohuuthinh_ga_Class {
  position: absolute;
  width: 55px;
  height: 55px;
  left: 17px;
  top: 5px;
  overflow: visible;
}
.Group_10355_gb_Class {
  position: absolute;
  width: 375px;
  height: 170px;
  left: 22.5px;
  top: 992.5px;
  overflow: visible;
}
.HoaNT_-_Box-shadow_gc_Class {
  position: absolute;
  width: 375px;
  height: 170px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.bg_gd_Class {
  fill: rgba(255, 255, 255, 1);
}
.bg_gd {
  filter: drop-shadow(0px 5px 15px rgba(48, 48, 48, 0.2));
  position: absolute;
  overflow: visible;
  width: 420px;
  height: 215px;
  left: 0px;
  top: 0px;
}
.Sa_my_ra_chn_ge_Class {
  left: 20px;
  top: 10px;
  position: absolute;
  overflow: visible;
  width: 336px;
  height: 22px;
  text-align: left;

  font-weight: bold;
  font-size: 18px;
  color: rgba(121, 121, 121, 1);
}
.Repeat_Grid_35_gf_Class {
  position: absolute;
  width: 333px;
  height: 131px;
  left: 13px;
  top: 39px;
  overflow: hidden;
}
.Group_10354_gg_Class {
  position: absolute;
  width: 89px;
  height: 104px;
  left: 0.1px;
  top: 0px;
  overflow: visible;
}
.Group_10385_gh_Class {
  position: absolute;
  width: 89px;
  height: 104px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.Rectangle_2458_gi_Class {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_2458_gi {
  position: absolute;
  overflow: visible;
  width: 89px;
  height: 104px;
  left: 0px;
  top: 0px;
}
.Group_10344_gj_Class {
  position: absolute;
  width: 64px;
  height: 11px;
  left: 12px;
  top: 83px;
  overflow: visible;
}
.ID5_pht__16km_gk_Class {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 65px;
  white-space: nowrap;
  line-height: 14px;
  margin-top: -2px;
  text-align: left;

  font-weight: lighter;
  font-size: 10px;
  color: rgba(80, 80, 80, 1);
}
.Vit_Long_gl_Class {
  left: 0px;
  top: 65.802px;
  position: absolute;
  overflow: visible;
  width: 90px;
  height: 11px;
  line-height: 18px;
  margin-top: -4px;
  text-align: center;

  font-weight: bold;
  font-size: 10px;
  color: rgba(121, 121, 121, 1);
}
.ID1_gm_Class {
  position: absolute;
  width: 55px;
  height: 55px;
  left: 17px;
  top: 5px;
  overflow: visible;
}
.Group_10354_gn_Class {
  position: absolute;
  width: 89px;
  height: 104px;
  left: 120.1px;
  top: 0px;
  overflow: visible;
}
.Group_10385_go_Class {
  position: absolute;
  width: 89px;
  height: 104px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.Rectangle_2458_gp_Class {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_2458_gp {
  position: absolute;
  overflow: visible;
  width: 89px;
  height: 104px;
  left: 0px;
  top: 0px;
}
.Group_10344_gq_Class {
  position: absolute;
  width: 64px;
  height: 11px;
  left: 12px;
  top: 83px;
  overflow: visible;
}
.ID5_pht__16km_gr_Class {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 65px;
  white-space: nowrap;
  line-height: 14px;
  margin-top: -2px;
  text-align: left;

  font-weight: lighter;
  font-size: 10px;
  color: rgba(80, 80, 80, 1);
}
.Nguyn_Kim_gs_Class {
  left: 0px;
  top: 65.802px;
  position: absolute;
  overflow: visible;
  width: 90px;
  height: 11px;
  line-height: 18px;
  margin-top: -4px;
  text-align: center;

  font-weight: bold;
  font-size: 10px;
  color: rgba(121, 121, 121, 1);
}
.nguyenkim_gt_Class {
  position: absolute;
  width: 55px;
  height: 55px;
  left: 17px;
  top: 5px;
  overflow: visible;
}
.Group_10354_gu_Class {
  position: absolute;
  width: 89px;
  height: 104px;
  left: 240.1px;
  top: 0px;
  overflow: visible;
}
.Group_10385_gv_Class {
  position: absolute;
  width: 89px;
  height: 104px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.Rectangle_2458_gw_Class {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_2458_gw {
  position: absolute;
  overflow: visible;
  width: 89px;
  height: 104px;
  left: 0px;
  top: 0px;
}
.Group_10344_gx_Class {
  position: absolute;
  width: 64px;
  height: 11px;
  left: 12px;
  top: 83px;
  overflow: visible;
}
.ID5_pht__16km_gy_Class {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 65px;
  white-space: nowrap;
  line-height: 14px;
  margin-top: -2px;
  text-align: left;

  font-weight: lighter;
  font-size: 10px;
  color: rgba(80, 80, 80, 1);
}
.Hu_Thnh_gz_Class {
  left: 0px;
  top: 65.802px;
  position: absolute;
  overflow: visible;
  width: 90px;
  height: 11px;
  line-height: 18px;
  margin-top: -4px;
  text-align: center;

  font-weight: bold;
  font-size: 10px;
  color: rgba(121, 121, 121, 1);
}
.website-logo-diencohuuthinh_g_Class {
  position: absolute;
  width: 55px;
  height: 55px;
  left: 17px;
  top: 5px;
  overflow: visible;
}
.Gn_bn_Class {
  left: 15px;
  top: 118px;
  position: absolute;
  overflow: visible;
  width: 112px;
  height: 22px;
  line-height: 35px;
  margin-top: -11.5px;
  text-align: left;

  font-weight: bold;
  font-size: 12px;
  color: rgba(48, 48, 48, 1);
}
.Header1_Class {
  position: absolute;
  width: 92px;
  height: 16px;
  left: 134.402px;
  top: 20px;
  overflow: visible;
}
.Fixing_Time_Class {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 93px;
  white-space: nowrap;
  text-align: left;

  font-weight: bold;
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 0.7142857360839844px;
  text-transform: uppercase;
}
