<div id="home-list-store" class="home-list-store_Class">
	<div class="HoaNT___Header_Background HoaNT_-_Header_Background_Class">
		<div class="Group_9752_Class">
			<svg class="Background" viewBox="0 0 1129.174 680.36">
				<path class="Background_Class" d="M 395.06494140625 680.3597412109375 C 395.06494140625 607.4232788085938 -153.3673095703125 618.2490234375 42.11847686767578 288.2914428710938 C 237.604248046875 -41.6683349609375 620.02734375 -107.2796630859375 719.0097045898438 190.3181762695313 C 817.9899291992188 487.9138488769531 1129.173828125 393.8937683105469 1129.173828125 239.3824462890625 L 1129.173828125 680.3597412109375 L 395.06494140625 680.3597412109375 Z">
				</path>
			</svg>
		</div>
	</div>
	<svg class="Path_2860" viewBox="0 0 360 1279.322">
		<path class="Path_2860_Class" d="M 9.599998474121094 0 L 350.3999938964844 0 C 355.701904296875 0 359.9999694824219 5.192857265472412 359.9999694824219 11.59857082366943 L 359.9999694824219 1279.322265625 L 0 1279.322265625 L 0 11.59857082366943 C 0 5.192857265472412 4.298066139221191 0 9.599998474121094 0 Z">
		</path>
	</svg>
	<div class="Home_Indicator_Class">
		<svg class="Rectangle_24">
			<rect class="Rectangle_24_Class" rx="2.5" ry="2.5" x="0" y="0" width="134" height="5">
			</rect>
		</svg>
	</div>
	<div [routerLink]="['..','home-search']" class="Group_9773_Class">
		<div class="CTA CTA_Class">
			<svg class="Rectangle_5">
				<rect class="Rectangle_5_Class" rx="6" ry="6" x="0" y="0" width="340" height="38">
				</rect>
			</svg>
			<div class="Dch_v_a_ch_bn_mun_tm_Class">
				<span>Dịch vụ, địa chỉ bạn muốn tìm</span>
			</div>
		</div>
		<div class="tam tam_Class">
			<img class="tam_cn_Class" src="assets/tam_cn.png" srcset="assets/tam_cn.png 1x">
		</div>
	</div>
	<div class="Repeat_Grid_36_Class">
		<div class="Group_10355 Group_10355_Class">
			<div class="HoaNT___Box_shadow HoaNT_-_Box-shadow_Class">
				<svg class="bg">
					<rect class="bg_Class" rx="12" ry="12" x="0" y="0" width="360" height="170">
					</rect>
				</svg>
			</div>
			<div class="Sa_t_lnh_Class">
				<span>Sửa tủ lạnh</span>
			</div>
			<div class="Repeat_Grid_35_Class">
				<div class="Group_10354 Group_10354_Class">
					<div [routerLink]="['..','store-details']" class="Group_10385_Class">
						<svg class="Rectangle_2458">
							<rect class="Rectangle_2458_Class" rx="10" ry="10" x="0" y="0" width="89" height="104">
							</rect>
						</svg>
						<div class="Group_10344_Class">
							<div class="ID5_pht__16km_Class">
								<span>5 phút • 1.6km</span>
							</div>
						</div>
						<div class="Vit_Long_Class">
							<span>Việt Long</span>
						</div>
						<img class="ID1_Class" src="assets/ID1.png" srcset="assets/ID1.png 1x">
					</div>
				</div>
				<div class="Group_10354 Group_10354_c_Class">
					<div class="Group_10385_c_Class">
						<svg class="Rectangle_2458_c">
							<rect class="Rectangle_2458_c_Class" rx="10" ry="10" x="0" y="0" width="89" height="104">
							</rect>
						</svg>
						<div class="Group_10344_c_Class">
							<div class="ID5_pht__16km_c_Class">
								<span>5 phút • 1.6km</span>
							</div>
						</div>
						<div class="Nguyn_Kim_Class">
							<span>Nguyễn Kim</span>
						</div>
						<img class="nguyenkim_Class" src="assets/nguyenkim.png" srcset="assets/nguyenkim.png 1x">
					</div>
				</div>
				<div class="Group_10354 Group_10354_da_Class">
					<div class="Group_10385_da_Class">
						<svg class="Rectangle_2458_da">
							<rect class="Rectangle_2458_da_Class" rx="10" ry="10" x="0" y="0" width="89" height="104">
							</rect>
						</svg>
						<div class="Group_10344_db_Class">
							<div class="ID5_pht__16km_dc_Class">
								<span>5 phút • 1.6km</span>
							</div>
						</div>
						<div class="Hu_Thnh_Class">
							<span>Hữu Thịnh</span>
						</div>
						<img class="website-logo-diencohuuthinh_Class" src="assets/website-logo-diencohuuthinh.png" srcset="assets/website-logo-diencohuuthinh.png 1x">
					</div>
				</div>
			</div>
		</div>
		<div class="Group_10355 Group_10355_df_Class">
			<div class="HoaNT___Box_shadow HoaNT_-_Box-shadow_dg_Class">
				<svg class="bg_dh">
					<rect class="bg_dh_Class" rx="12" ry="12" x="0" y="0" width="359" height="170">
					</rect>
				</svg>
			</div>
			<div class="Sa_my_lnh_Class">
				<span>Sửa máy lạnh</span>
			</div>
			<div class="Repeat_Grid_35_dj_Class">
				<div class="Group_10354 Group_10354_dk_Class">
					<div class="Group_10385_dl_Class">
						<svg class="Rectangle_2458_dm">
							<rect class="Rectangle_2458_dm_Class" rx="10" ry="10" x="0" y="0" width="89" height="104">
							</rect>
						</svg>
						<div class="Group_10344_dn_Class">
							<div class="ID5_pht__16km_do_Class">
								<span>5 phút • 1.6km</span>
							</div>
						</div>
						<div class="Vit_Long_dp_Class">
							<span>Việt Long</span>
						</div>
						<img class="ID1_dq_Class" src="assets/ID1_dq.png" srcset="assets/ID1_dq.png 1x">
					</div>
				</div>
				<div class="Group_10354 Group_10354_dr_Class">
					<div class="Group_10385_ds_Class">
						<svg class="Rectangle_2458_dt">
							<rect class="Rectangle_2458_dt_Class" rx="10" ry="10" x="0" y="0" width="89" height="104">
							</rect>
						</svg>
						<div class="Group_10344_du_Class">
							<div class="ID5_pht__16km_dv_Class">
								<span>5 phút • 1.6km</span>
							</div>
						</div>
						<div class="Nguyn_Kim_dw_Class">
							<span>Nguyễn Kim</span>
						</div>
						<img class="nguyenkim_dx_Class" src="assets/nguyenkim_dx.png" srcset="assets/nguyenkim_dx.png 1x">
					</div>
				</div>
				<div class="Group_10354 Group_10354_dy_Class">
					<div class="Group_10385_dz_Class">
						<svg class="Rectangle_2458_d">
							<rect class="Rectangle_2458_d_Class" rx="10" ry="10" x="0" y="0" width="89" height="104">
							</rect>
						</svg>
						<div class="Group_10344_d_Class">
							<div class="ID5_pht__16km_d_Class">
								<span>5 phút • 1.6km</span>
							</div>
						</div>
						<div class="Hu_Thnh_d_Class">
							<span>Hữu Thịnh</span>
						</div>
						<img class="website-logo-diencohuuthinh_d_Class" src="assets/website-logo-diencohuuthinh_d.png" srcset="assets/website-logo-diencohuuthinh_d.png 1x">
					</div>
				</div>
			</div>
		</div>
		<div class="Group_10355 Group_10355_d_Class">
			<div class="HoaNT___Box_shadow HoaNT_-_Box-shadow_d_Class">
				<svg class="bg_d">
					<rect class="bg_d_Class" rx="12" ry="12" x="0" y="0" width="360" height="170">
					</rect>
				</svg>
			</div>
			<div class="Sa_t_lnh_d_Class">
				<span>Sửa tủ lạnh</span>
			</div>
			<div class="Repeat_Grid_35_d_Class">
				<div class="Group_10354 Group_10354_ea_Class">
					<div class="Group_10385_eb_Class">
						<svg class="Rectangle_2458_ec">
							<rect class="Rectangle_2458_ec_Class" rx="10" ry="10" x="0" y="0" width="89" height="104">
							</rect>
						</svg>
						<div class="Group_10344_ed_Class">
							<div class="ID5_pht__16km_ee_Class">
								<span>5 phút • 1.6km</span>
							</div>
						</div>
						<div class="Vit_Long_ef_Class">
							<span>Việt Long</span>
						</div>
						<img class="ID1_eg_Class" src="assets/ID1_eg.png" srcset="assets/ID1_eg.png 1x">
					</div>
				</div>
				<div class="Group_10354 Group_10354_eh_Class">
					<div class="Group_10385_ei_Class">
						<svg class="Rectangle_2458_ej">
							<rect class="Rectangle_2458_ej_Class" rx="10" ry="10" x="0" y="0" width="89" height="104">
							</rect>
						</svg>
						<div class="Group_10344_ek_Class">
							<div class="ID5_pht__16km_el_Class">
								<span>5 phút • 1.6km</span>
							</div>
						</div>
						<div class="Nguyn_Kim_em_Class">
							<span>Nguyễn Kim</span>
						</div>
						<img class="nguyenkim_en_Class" src="assets/nguyenkim_en.png" srcset="assets/nguyenkim_en.png 1x">
					</div>
				</div>
				<div class="Group_10354 Group_10354_eo_Class">
					<div class="Group_10385_ep_Class">
						<svg class="Rectangle_2458_eq">
							<rect class="Rectangle_2458_eq_Class" rx="10" ry="10" x="0" y="0" width="89" height="104">
							</rect>
						</svg>
						<div class="Group_10344_er_Class">
							<div class="ID5_pht__16km_es_Class">
								<span>5 phút • 1.6km</span>
							</div>
						</div>
						<div class="Hu_Thnh_et_Class">
							<span>Hữu Thịnh</span>
						</div>
						<img class="website-logo-diencohuuthinh_eu_Class" src="assets/website-logo-diencohuuthinh_eu.png" srcset="assets/website-logo-diencohuuthinh_eu.png 1x">
					</div>
				</div>
			</div>
		</div>
		<div class="Group_10355 Group_10355_ev_Class">
			<div class="HoaNT___Box_shadow HoaNT_-_Box-shadow_ew_Class">
				<svg class="bg_ex">
					<rect class="bg_ex_Class" rx="12" ry="12" x="0" y="0" width="359" height="170">
					</rect>
				</svg>
			</div>
			<div class="Sa_my_si_Class">
				<span>Sửa máy sưởi</span>
			</div>
			<div class="Repeat_Grid_35_ez_Class">
				<div class="Group_10354 Group_10354_e_Class">
					<div class="Group_10385_e_Class">
						<svg class="Rectangle_2458_e">
							<rect class="Rectangle_2458_e_Class" rx="10" ry="10" x="0" y="0" width="89" height="104">
							</rect>
						</svg>
						<div class="Group_10344_e_Class">
							<div class="ID5_pht__16km_e_Class">
								<span>5 phút • 1.6km</span>
							</div>
						</div>
						<div class="Vit_Long_e_Class">
							<span>Việt Long</span>
						</div>
						<img class="ID1_e_Class" src="assets/ID1_e.png" srcset="assets/ID1_e.png 1x">
					</div>
				</div>
				<div class="Group_10354 Group_10354_fa_Class">
					<div class="Group_10385_fa_Class">
						<svg class="Rectangle_2458_fa">
							<rect class="Rectangle_2458_fa_Class" rx="10" ry="10" x="0" y="0" width="89" height="104">
							</rect>
						</svg>
						<div class="Group_10344_fa_Class">
							<div class="ID5_pht__16km_fb_Class">
								<span>5 phút • 1.6km</span>
							</div>
						</div>
						<div class="Nguyn_Kim_fc_Class">
							<span>Nguyễn Kim</span>
						</div>
						<img class="nguyenkim_fd_Class" src="assets/nguyenkim_fd.png" srcset="assets/nguyenkim_fd.png 1x">
					</div>
				</div>
				<div class="Group_10354 Group_10354_fe_Class">
					<div class="Group_10385_ff_Class">
						<svg class="Rectangle_2458_fg">
							<rect class="Rectangle_2458_fg_Class" rx="10" ry="10" x="0" y="0" width="89" height="104">
							</rect>
						</svg>
						<div class="Group_10344_fh_Class">
							<div class="ID5_pht__16km_fi_Class">
								<span>5 phút • 1.6km</span>
							</div>
						</div>
						<div class="Hu_Thnh_fj_Class">
							<span>Hữu Thịnh</span>
						</div>
						<img class="website-logo-diencohuuthinh_fk_Class" src="assets/website-logo-diencohuuthinh_fk.png" srcset="assets/website-logo-diencohuuthinh_fk.png 1x">
					</div>
				</div>
			</div>
		</div>
		<div class="Group_10355 Group_10355_fl_Class">
			<div class="HoaNT___Box_shadow HoaNT_-_Box-shadow_fm_Class">
				<svg class="bg_fn">
					<rect class="bg_fn_Class" rx="12" ry="12" x="0" y="0" width="359" height="170">
					</rect>
				</svg>
			</div>
			<div class="Sa_my_ra_chn_Class">
				<span>Sửa máy rửa chén</span>
			</div>
			<div class="Repeat_Grid_35_fp_Class">
				<div class="Group_10354 Group_10354_fq_Class">
					<div class="Group_10385_fr_Class">
						<svg class="Rectangle_2458_fs">
							<rect class="Rectangle_2458_fs_Class" rx="10" ry="10" x="0" y="0" width="89" height="104">
							</rect>
						</svg>
						<div class="Group_10344_ft_Class">
							<div class="ID5_pht__16km_fu_Class">
								<span>5 phút • 1.6km</span>
							</div>
						</div>
						<div class="Vit_Long_fv_Class">
							<span>Việt Long</span>
						</div>
						<img class="ID1_fw_Class" src="assets/ID1_fw.png" srcset="assets/ID1_fw.png 1x">
					</div>
				</div>
				<div class="Group_10354 Group_10354_fx_Class">
					<div class="Group_10385_fy_Class">
						<svg class="Rectangle_2458_fz">
							<rect class="Rectangle_2458_fz_Class" rx="10" ry="10" x="0" y="0" width="89" height="104">
							</rect>
						</svg>
						<div class="Group_10344_f_Class">
							<div class="ID5_pht__16km_f_Class">
								<span>5 phút • 1.6km</span>
							</div>
						</div>
						<div class="Nguyn_Kim_f_Class">
							<span>Nguyễn Kim</span>
						</div>
						<img class="nguyenkim_f_Class" src="assets/nguyenkim_f.png" srcset="assets/nguyenkim_f.png 1x">
					</div>
				</div>
				<div class="Group_10354 Group_10354_f_Class">
					<div class="Group_10385_f_Class">
						<svg class="Rectangle_2458_f">
							<rect class="Rectangle_2458_f_Class" rx="10" ry="10" x="0" y="0" width="89" height="104">
							</rect>
						</svg>
						<div class="Group_10344_ga_Class">
							<div class="ID5_pht__16km_ga_Class">
								<span>5 phút • 1.6km</span>
							</div>
						</div>
						<div class="Hu_Thnh_f_Class">
							<span>Hữu Thịnh</span>
						</div>
						<img class="website-logo-diencohuuthinh_ga_Class" src="assets/website-logo-diencohuuthinh_ga.png" srcset="assets/website-logo-diencohuuthinh_ga.png 1x">
					</div>
				</div>
			</div>
		</div>
		<div class="Group_10355 Group_10355_gb_Class">
			<div class="HoaNT___Box_shadow HoaNT_-_Box-shadow_gc_Class">
				<svg class="bg_gd">
					<rect class="bg_gd_Class" rx="12" ry="12" x="0" y="0" width="375" height="170">
					</rect>
				</svg>
			</div>
			<div class="Sa_my_ra_chn_ge_Class">
				<span>Sửa máy rửa chén</span>
			</div>
			<div class="Repeat_Grid_35_gf_Class">
				<div class="Group_10354 Group_10354_gg_Class">
					<div class="Group_10385_gh_Class">
						<svg class="Rectangle_2458_gi">
							<rect class="Rectangle_2458_gi_Class" rx="10" ry="10" x="0" y="0" width="89" height="104">
							</rect>
						</svg>
						<div class="Group_10344_gj_Class">
							<div class="ID5_pht__16km_gk_Class">
								<span>5 phút • 1.6km</span>
							</div>
						</div>
						<div class="Vit_Long_gl_Class">
							<span>Việt Long</span>
						</div>
						<img class="ID1_gm_Class" src="assets/ID1_gm.png" srcset="assets/ID1_gm.png 1x">
					</div>
				</div>
				<div class="Group_10354 Group_10354_gn_Class">
					<div class="Group_10385_go_Class">
						<svg class="Rectangle_2458_gp">
							<rect class="Rectangle_2458_gp_Class" rx="10" ry="10" x="0" y="0" width="89" height="104">
							</rect>
						</svg>
						<div class="Group_10344_gq_Class">
							<div class="ID5_pht__16km_gr_Class">
								<span>5 phút • 1.6km</span>
							</div>
						</div>
						<div class="Nguyn_Kim_gs_Class">
							<span>Nguyễn Kim</span>
						</div>
						<img class="nguyenkim_gt_Class" src="assets/nguyenkim_gt.png" srcset="assets/nguyenkim_gt.png 1x">
					</div>
				</div>
				<div class="Group_10354 Group_10354_gu_Class">
					<div class="Group_10385_gv_Class">
						<svg class="Rectangle_2458_gw">
							<rect class="Rectangle_2458_gw_Class" rx="10" ry="10" x="0" y="0" width="89" height="104">
							</rect>
						</svg>
						<div class="Group_10344_gx_Class">
							<div class="ID5_pht__16km_gy_Class">
								<span>5 phút • 1.6km</span>
							</div>
						</div>
						<div class="Hu_Thnh_gz_Class">
							<span>Hữu Thịnh</span>
						</div>
						<img class="website-logo-diencohuuthinh_g_Class" src="assets/website-logo-diencohuuthinh_g.png" srcset="assets/website-logo-diencohuuthinh_g.png 1x">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="Gn_bn_Class">
		<span>Gần bạn</span>
	</div>
	<div class="Header1_Class">
		<div class="Fixing_Time_Class">
			<span>Trang chủ</span>
		</div>
	</div>
</div>
<app-bottom-bar></app-bottom-bar>